.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

#login-form {
  display: none; }

.authentication-form-wrap {
  background: #fff;
  padding: 40px;
  font-family: "Montserrat", sans-serif; }
  .authentication-form-wrap a {
    text-decoration: underline; }
  .authentication-form-wrap p.form-group a {
    text-decoration: none; }
  .authentication-form-wrap .form-title {
    padding: 0 15px 20px; }
    .authentication-form-wrap .form-title h3 {
      float: left;
      margin-bottom: 0;
      font-weight: 400; }
    .authentication-form-wrap .form-title p {
      float: right;
      font-size: 0.875em;
      line-height: 2;
      font-weight: 500; }
    .authentication-form-wrap .form-title a {
      color: #337ab7; }
  .authentication-form-wrap form p {
    font-size: 0.75em;
    color: #777777;
    text-transform: uppercase; }
  .authentication-form-wrap .or {
    position: relative;
    text-align: center;
    margin-top: 30px; }
    .authentication-form-wrap .or:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      border-top: 1px solid #ccc; }
    .authentication-form-wrap .or span {
      display: inline-block;
      padding: 0 20px;
      background: #fff;
      position: relative;
      z-index: 2; }
  .authentication-form-wrap .sign-social {
    text-align: center;
    padding: 20px 0; }
    .authentication-form-wrap .sign-social a {
      width: 150px;
      line-height: 40px;
      color: #fff;
      font-size: 0.625em;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      display: inline-block;
      text-decoration: none;
      font-weight: 700;
      margin: 0 2px; }
      .authentication-form-wrap .sign-social a.fb {
        background: #225b99; }
        .authentication-form-wrap .sign-social a.fb:hover {
          background: #19426f; }
      .authentication-form-wrap .sign-social a.tw {
        background: #00adf2; }
        .authentication-form-wrap .sign-social a.tw:hover {
          background: #0089bf; }
      .authentication-form-wrap .sign-social a.google {
        background: #dc4d2d; }
        .authentication-form-wrap .sign-social a.google:hover {
          background: #b73b1f; }
      .authentication-form-wrap .sign-social a i {
        margin-right: 10px; }
  .authentication-form-wrap .checkbox-wrap,
  .authentication-form-wrap .checkbox-wrap span,
  .authentication-form-wrap .checkbox-wrap input {
    width: 22px;
    height: 22px; }
  .authentication-form-wrap .checkbox-wrap {
    margin-right: 5px;
    top: 6px; }
    .authentication-form-wrap .checkbox-wrap span {
      background: #eeeeee;
      border: none; }
      .authentication-form-wrap .checkbox-wrap span:after {
        line-height: 22px;
        color: #1f2f3e;
        font-size: 18px; }
    .authentication-form-wrap .checkbox-wrap input:checked + .checkbox-icon {
      background: #eeeeee; }
