.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex, .price-plans-wrap .plans-label li,
.price-plans-wrap .plan-content li,
.price-plans-wrap .plan-icon-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.single-page h4 a {
  color: inherit; }

.price-plans-wrap {
  display: inline-block;
  width: 100%;
  padding-bottom: 50px; }
  .price-plans-wrap .btn-order {
    background-color: #a1b1bc;
    color: #fff;
    margin: 15px 0; }
  .price-plans-wrap .plans-label,
  .price-plans-wrap .plan-item {
    width: 25%;
    float: left;
    position: relative; }
  .price-plans-wrap .plans-label {
    padding-top: 151px; }
  .price-plans-wrap .plans-label li,
  .price-plans-wrap .plan-content li {
    border-top: 1px solid #f8f8f8;
    min-height: 40px;
    padding: 0 7px; }
    .price-plans-wrap .plans-label li:nth-child(2n),
    .price-plans-wrap .plan-content li:nth-child(2n) {
      background: #f8f8f8; }
  .price-plans-wrap .plans-label li,
  .price-plans-wrap .plan-content li,
  .price-plans-wrap .plan-icon-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .price-plans-wrap .plan-content ul:not(.visible-xs) li,
  .price-plans-wrap .plan-icon-wrap {
    text-align: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .price-plans-wrap .plan-item {
    border: 1px solid #fff;
    text-align: center;
    /*cursor: pointer;*/
    position: relative; }
    .price-plans-wrap .plan-item:before {
      content: "";
      position: absolute;
      top: -3px;
      bottom: 0;
      left: -3px;
      right: -3px;
      border: 2px solid #167609;
      opacity: 0; }
    .price-plans-wrap .plan-item:hover:before {
      opacity: 1;
      z-index: 2; }
    .price-plans-wrap .plan-item + .plan-item {
      left: -1px; }
      .price-plans-wrap .plan-item + .plan-item + .plan-item {
        left: -2px; }
    .price-plans-wrap .plan-item.basic-plan .plan-header {
      background: #2ecc71; }
      .price-plans-wrap .plan-item.basic-plan .plan-header .plan-icon {
        border-color: #27ae60;
        color: #27ae60; }
      .price-plans-wrap .plan-item.basic-plan .plan-header .plan-name {
        background: #27ae60; }
    .price-plans-wrap .plan-item.lead-plan .plan-header {
      background: #3498db; }
      .price-plans-wrap .plan-item.lead-plan .plan-header .plan-icon {
        border-color: #2980b9;
        color: #2980b9; }
      .price-plans-wrap .plan-item.lead-plan .plan-header .plan-name {
        background: #2980b9; }
    .price-plans-wrap .plan-item.monthly-plan .plan-header {
      background: #e74c3c; }
      .price-plans-wrap .plan-item.monthly-plan .plan-header .plan-icon {
        border-color: #c0392b;
        color: #c0392b; }
      .price-plans-wrap .plan-item.monthly-plan .plan-header .plan-name {
        background: #c0392b; }
    .price-plans-wrap .plan-item .plan-header {
      background-size: cover;
      height: 150px;
      position: relative; }
      .price-plans-wrap .plan-item .plan-header .plan-icon-wrap {
        width: 100%;
        height: 120px; }
        .price-plans-wrap .plan-item .plan-header .plan-icon-wrap .plan-icon {
          width: 80px;
          height: 80px;
          border-radius: 40px;
          background: #fff;
          border-width: 2px;
          border-style: solid;
          text-align: center;
          line-height: 76px;
          font-size: 30px; }
      .price-plans-wrap .plan-item .plan-header .plan-name {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        padding: 5px 10px;
        z-index: 2;
        font-size: 0.875em;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 0.1em; }
