.font-awesome, .caret:after,
header .menus-wrap .drop-btn:after,
.advanced-options .checkbox-content:after,
.slick-prev:before,
.slick-next:before,
.dealer-form-wrap .form-item.search-icon:after,
.filters-wrap .checkbox-wrap .checkbox-icon:after,
.check-list li:before,
.accordion-content .drop-btn:after,
.mobile-socials .like-btn:after, .checkbox-wrap .checkbox-icon:after, .single-page .yes:before,
.single-page .no:before {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex, .car-logos a, .car-logos .icon-wrap, .car-logos .logo-wrap, .single-page .article-banner, .single-page-title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

body {
  font-family: "Open Sans", sans-serif;
  color: #2c3e50;
  font-size: 16px; }

/***** MAIN COLORS *****/
.manufacturer-color,
.manufacturer .manufacturer-color,
.result-filters .manufacturer-border:hover,
.manufacturer-item .marker,
.manufacturer-check li:before {
  color: #1abc90; }

.manufacturer,
.car-logos:before,
.car-logos:after,
.btn.manufacturer-color:hover,
header nav .manufacturer-color a:hover {
  background-color: #1abc90; }

.manufacturer-border,
.result-container .manufacturer-item,
.manufacturer-item .request-text,
.dashboard-content .manufacturer-item + .calculator-item {
  border-color: #1abc90; }

.result-container .manufacturer-item:hover,
.manufacturer-item .request-text {
  background-color: rgba(26, 188, 144, 0.1); }

.dealer-color,
.dealer .dealer-color,
.result-filters .dealer-border:hover,
.dealer-item .marker,
.dealer-check li:before {
  color: #1e8bc3; }

.dealer,
.btn.dealer-color:hover,
header nav .dealer-color a:hover {
  background-color: #1e8bc3; }

.dealer-border,
.result-container .dealer-item,
.dealer-item .request-text,
.dashboard-content .dealer-item + .calculator-item {
  border-color: #1e8bc3; }

.result-container .dealer-item:hover,
.dealer-item .request-text {
  background-color: rgba(30, 139, 195, 0.1); }

.rental-color,
.rental .rental-color,
.result-filters .rental-border:hover,
.rental-item .marker,
.rental-check li:before {
  color: #f39c12; }

.rental,
.btn.rental-color:hover,
header nav .rental-color a:hover {
  background-color: #f39c12; }

.rental-border,
.result-container .rental-item,
.rental-item .request-text,
.dashboard-content .rental-item + .calculator-item {
  border-color: #f39c12; }

.result-container .rental-item:hover,
.rental-item .request-text {
  background-color: rgba(243, 156, 18, 0.1); }

/***** H group *****/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0; }

h1 {
  font-size: 2em;
  font-weight: 600; }

h2 {
  font-size: 1.6em;
  margin-bottom: 15px; }

h3 {
  text-transform: none;
  font-weight: 300;
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5,
h6,
p {
  font-size: 1em; }

/***** CUSTOM CLASSES/ELEMENTS *****/
*,
a, input, button, input:hover, button:hover, input:focus, button:focus, .bootstrap-select .dropdown-toggle:focus {
  outline: none !important; }

a:hover,
a:focus {
  color: #337ab7; }

a:active,
a:focus {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

.m-top-100 {
  margin-top: 100px; }

.m-top-30 {
  margin-top: 30px; }

.open > .dropdown-toggle.btn-default:hover,
.btn-group .dropdown-toggle,
.btn-group.open .dropdown-toggle,
.bootstrap-select .dropdown-toggle:hover,
.bootstrap-select .dropdown-toggle:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  background: #fff !important; }

a,
button,
input[type=submit],
header nav a:after,
header .menus-wrap .drop-btn:after,
.search-wrap .advanced-options .checkbox-content:after,
.car-logos a:after,
.rental-cars-item:after,
.news-item:after,
.filters-wrap .color .checkbox-over:after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

select {
  max-width: 100% !important; }

.dark-blue-bg {
  background-color: #1f2f3e; }

.btn {
  border-radius: 27px;
  display: inline-block;
  height: inherit;
  padding: 7px 30px;
  font-size: 0.875em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }
  .btn.btn-green {
    color: white;
    background: #167609; }
    .btn.btn-green:hover {
      background: #0d4705; }
  .btn.btn-blue {
    color: #fff;
    background: #009ffe;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: none; }
    .btn.btn-blue:hover {
      background: #007fcb; }
  .btn.btn-light-green {
    color: #fff;
    background: #1b9337; }
    .btn.btn-light-green:hover {
      background: #136827; }
  .btn.btn-white {
    background: #fff;
    border: 2px solid #fff; }
    .btn.btn-white:hover {
      color: white; }
  .btn.btn-white-green {
    background: #fff;
    border: 2px solid #167609;
    color: #167609; }
    .btn.btn-white-green:hover {
      background: #167609;
      color: #fff; }
  .btn.btn-white-blue {
    background: #fff;
    border-color: #1f2f3e;
    color: #1f2f3e; }
    .btn.btn-white-blue:hover {
      background: #e7e7e7; }
  .btn.btn-white-light-blue {
    background-color: #fff;
    border-color: #009ffe;
    color: #009ffe;
    border-width: 2px;
    border-radius: 4px;
    font-weight: 500; }
    .btn.btn-white-light-blue:hover {
      background-color: #009ffe;
      color: #fff; }
  .btn.btn-grey {
    background: #1f2f3e;
    color: white; }
    .btn.btn-grey:hover {
      background: #0e151c; }
  .btn.btn-light-grey {
    background: #999999;
    color: white; }
    .btn.btn-light-grey:hover {
      background: gray; }
  .btn.btn-orange {
    background-color: #f39c12;
    color: #fff; }
    .btn.btn-orange:hover {
      background-color: #c87f0a; }
  .btn.btn-red {
    background-color: #f8423b;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .btn.btn-red:hover {
      background-color: #f6130a; }
  .btn.btn-pink {
    background-color: #e82d52;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .btn.btn-pink:hover {
      background-color: #cc163a; }
  .btn.btn-smaller {
    padding: 3px 15px;
    font-size: 0.813em; }
  .btn.small-btn {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 0.7em;
    padding-left: 10px;
    padding-right: 10px; }
  .btn.pull-right {
    margin-left: 15px; }
  .btn.pull-left {
    margin-right: 15px; }

.blue-color {
  color: #1b6fb7; }

input {
  height: 44px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: none;
  background-color: white;
  font-family: inherit;
  font-size: inherit;
  padding: 0 25px;
  color: #a1b1bc;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -webkit-box-shadow: none !important; }

.button-wrap {
  text-align: center; }

.form-item {
  display: inline-block; }

.form-item > input,
.form-item .bootstrap-select {
  width: 100% !important; }

.caret {
  width: 11px;
  height: 8px;
  position: relative;
  border: none; }

.caret:after {
  content: "\f078";
  line-height: 5px;
  font-size: 0.65em;
  position: absolute;
  top: 0;
  left: 0; }

.dropup .caret {
  border: none; }

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  top: 50%;
  margin-top: -5px; }

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px; }

#wrap .bootstrap-select > .dropdown-menu {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-bottom: 0;
  border: none;
  margin: 0;
  padding: 0; }

#wrap .dropdown-menu.inner {
  padding-top: 5px;
  background: transparent; }

.dropdown-menu.inner,
.drop-main-menu {
  border-radius: 3px !important;
  border-bottom: 1px solid #d7d7d7 !important; }

.dropdown-menu li,
.drop-main-menu li {
  border-top: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  background: #fff; }

.dropdown-menu li:first-child,
.drop-main-menu li:first-child {
  border-radius: 3px 3px 0 0;
  position: relative; }

.dropdown-menu li:last-child,
.drop-main-menu li:last-child {
  border-radius: 0 0 3px 3px;
  overflow: hidden; }

.dropdown-menu > li > a,
.drop-main-menu li a {
  padding: 15px 12px;
  font-size: 0.90em; }

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #1f2f3e;
  color: white; }

header .drop-main-menu:before,
header .account-detail-list .drop-content:before,
.dropdown-menu.inner li:first-child:before,
header .drop-main-menu:after,
header .account-detail-list .drop-content:after,
.dropdown-menu.inner li:first-child:after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50%;
  margin-left: -8px;
  border-bottom: 4px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent; }

header .drop-main-menu:before,
header .account-detail-list .drop-content:before,
.dropdown-menu.inner li:first-child:before {
  top: -5px;
  border-bottom: 4px solid #d7d7d7;
  z-index: 1; }

header .drop-main-menu:after,
header .account-detail-list .drop-content:after {
  top: -3px; }

header .drop-main-menu:before,
header .account-detail-list .drop-content:before {
  top: -4px; }

header .drop-main-menu:after,
header .account-detail-list .drop-content:after,
.dropdown-menu.inner li:first-child:after {
  z-index: 2; }

.dropdown-menu.open > .dropdown-menu {
  top: 0; }

.bootstrap-select > div.dropdown-menu {
  background: transparent; }

.bootstrap-select ul.dropdown-menu {
  position: relative !important;
  padding-top: 5px; }

.search-wrap .bootstrap-select > div.dropdown-menu {
  padding-top: 18px; }

.dealer-form-wrap .bootstrap-select > div.dropdown-menu {
  padding-top: 5px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type='number'] {
  -moz-appearance: textfield !important; }

/***** HEADER *****/
header {
  padding-top: 10px;
  padding-bottom: 10px; }
  header .container {
    position: relative; }
  @media screen and (min-width: 768px) {
    header .logo {
      display: inline-block; } }
  @media screen and (min-width: 1200px) {
    header .logo {
      margin-bottom: -25px; } }
  header .logo img {
    width: 270px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      header .logo img {
        width: 200px; } }
  header .menus-wrap {
    /*position: relative;*/
    padding-top: 20px;
    margin-bottom: -10px; }
  header .menus-wrap,
  header .menus-wrap ul {
    float: right;
    clear: right; }
  header .menus-wrap li {
    float: left; }
  header .menus-wrap a,
  header .menus-wrap span,
  header .saved-list .title {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.04em; }
  header .menus-wrap nav > ul > li > a,
  header .menus-wrap nav span {
    font-size: 0.90em; }
  header .top-menu {
    position: absolute;
    top: 0px;
    right: 0; }
    header .top-menu > li + li {
      padding-left: 43px;
      position: relative; }
      header .top-menu > li + li:before {
        content: "|";
        position: absolute;
        top: 5px;
        left: 22px;
        color: #919ea7;
        font-size: 0.6em; }
    header .top-menu a,
    header .top-menu span {
      color: #919ea7;
      font-size: 0.77em;
      cursor: pointer; }
    header .top-menu span {
      text-transform: none; }
  header nav > ul {
    margin-top: 23px; }
    header nav > ul > li + li {
      margin-left: 35px; }
  header nav a,
  header nav span {
    color: #1f2f3e;
    position: relative;
    line-height: 1;
    padding-bottom: 16px;
    display: block;
    cursor: pointer; }
    header nav a:hover, header nav a:focus,
    header nav span:hover,
    header nav span:focus {
      text-decoration: none;
      color: inherit; }
  header nav a:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background: #1f2f3e;
    opacity: 0; }
  header nav a:hover:after {
    opacity: 1; }
  header .drop-wrap {
    position: relative; }
    header .drop-wrap .drop-btn:after {
      content: '\f054';
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      line-height: 18px;
      font-size: 0.80em;
      float: right;
      position: relative;
      margin-left: 10px;
      top: -1px; }
    header .drop-wrap .drop-content {
      display: none;
      position: absolute;
      top: 36px;
      left: 0;
      right: 0;
      z-index: 99;
      font-size: 0.90em; }
      header .drop-wrap .drop-content a {
        color: #1f2f3e;
        display: block; }
        header .drop-wrap .drop-content a:hover {
          background-color: #1f2f3e;
          color: #fff; }
  header nav .drop-content:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -8px;
    height: 10px; }
  header .menus-wrap .drop-main-menu {
    background: white; }
    header .menus-wrap .drop-main-menu li {
      width: 100%; }
      header .menus-wrap .drop-main-menu li a {
        line-height: 1.48;
        letter-spacing: 0; }
        header .menus-wrap .drop-main-menu li a:after {
          display: none; }
  header .account-detail-list {
    /*em {
			@include border-radius(13px);
			color: $white-color;
			background: $logo-green-color;
			height: 25px;
			min-width: 25px;
			line-height: 24px;
			padding: 0 3px;
			margin: -8px 0;
			font-style: normal;
			display: inline-block;
			text-align: center;
			margin-left: 10px;
			font-size: 0.85em;
			position: relative;
			top: -1px;
		}*/ }
    header .account-detail-list:after {
      content: "";
      display: inline-block;
      width: 100%; }
    header .account-detail-list.content-opened .drop-btn {
      text-decoration: none; }
    header .account-detail-list .drop-btn:after {
      top: 4px; }
    header .account-detail-list .drop-content {
      top: 25px;
      background: #fff;
      border: 1px solid #d7d7d7;
      width: 175px; }
      header .account-detail-list .drop-content li {
        width: 100%; }
        header .account-detail-list .drop-content li + li {
          border-top: 1px solid #d7d7d7; }
      header .account-detail-list .drop-content a {
        position: relative;
        z-index: 5;
        font-size: 0.9em;
        font-weight: 400;
        padding: 15px 12px; }
        header .account-detail-list .drop-content a:hover {
          text-decoration: none; }
  header #google_translate_element {
    position: relative;
    padding-top: 2px; }
    header #google_translate_element:before {
      content: "";
      width: 20px;
      height: 20px;
      display: inline-block;
      background-image: url(../img/globe.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      float: left;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -10px;
      z-index: 1; }
  header .goog-te-gadget-simple {
    border: none !important; }
  header .goog-te-gadget-simple img,
  header .goog-te-menu-value img,
  header .goog-te-menu-value span {
    display: none !important; }
  header .goog-te-menu-value {
    padding-left: 23px;
    position: relative;
    line-height: 20px;
    display: inline-block;
    z-index: 2; }
    header .goog-te-menu-value > span:first-child {
      display: inline-block !important;
      text-transform: none;
      font-size: 14px; }

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  header .menus-wrap {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; }
  header .menus-wrap nav ul,
  header .menus-wrap nav ul li {
    float: none;
    display: inline-block; }
  header nav > ul > li + li {
    margin-left: 0; }
  header .menus-wrap nav > ul > li > a,
  header .menus-wrap nav span {
    font-size: 0.65em;
    padding-bottom: 0;
    margin-bottom: 5px; }
  header nav .drop-wrap .drop-btn:after {
    top: -3px; }
  header .top-menu {
    top: 15px; }
  header .top-menu > li + li {
    padding-left: 15px; }
    header .top-menu > li + li:before {
      display: none; }
  header .top-menu li a {
    font-size: 0.65em; }
  header .menus-wrap nav a:after {
    display: none; } }

@media only screen and (max-width: 767px) {
  header .top-menu > li + li:before {
    display: none; }
  header .goog-te-gadget-simple {
    width: 100%; }
    header .goog-te-gadget-simple > span {
      padding: 0 !important;
      border-bottom: none !important; }
  header .goog-te-menu-value {
    padding: 0 !important;
    margin-left: 0;
    margin-right: 0; }
    header .goog-te-menu-value > span:first-child {
      width: 100%;
      border-bottom: none; }
  header #google_translate_element {
    min-height: 20px; }
    header #google_translate_element:before {
      left: 15px; }
    header #google_translate_element span {
      padding: 0 !important; }
    header #google_translate_element .goog-te-menu-value {
      padding: 15px 15px 15px 40px !important; } }

/*****  CONTENT *****/
#content.inner-page, #content.detailed-page, #content.border-top-page {
  background: #ECECEC;
  border-top: 1px solid #d8d8d9; }
  #content.inner-page h2, #content.detailed-page h2, #content.border-top-page h2 {
    text-align: left; }
    #content.inner-page h2 .change-link, #content.detailed-page h2 .change-link, #content.border-top-page h2 .change-link {
      text-transform: none;
      font-family: "Open Sans", sans-serif;
      font-size: 0.5em;
      display: inline-block; }

#content.single-page {
  padding-top: 45px;
  padding-bottom: 90px;
  background: #ECECEC; }
  #content.single-page .container {
    padding-top: 30px; }

#content.dashboard-content {
  padding-top: 0;
  padding-bottom: 0; }
  #content.dashboard-content .title-wrap .container {
    padding-top: 0;
    padding-bottom: 0;
    background: transparent; }

#content .container {
  padding-top: 25px;
  padding-bottom: 55px; }

#content h2 {
  text-align: center; }
  #content h2 + p {
    text-align: center;
    font-size: 1em;
    line-height: 1.8; }
    #content h2 + p a {
      color: white;
      text-decoration: underline; }

.dark-blue-bg,
.dark-blue-bg a {
  color: white; }

/* slider arrwos */
.slick-prev,
.slick-next {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 23px;
  height: 46px;
  padding: 0;
  /*margin-top: -23px;*/
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 5; }

.slick-prev {
  left: -50px; }

.slick-next {
  right: -50px; }

.slick-prev:before {
  content: '\f053'; }

.slick-next:before {
  content: '\f054'; }

.slick-prev:before,
.slick-next:before {
  font-size: 33px;
  line-height: 46px;
  opacity: .5;
  color: white; }

.slick-prev:hover:before,
.slick-next:hover:before {
  opacity: 1; }

.car-logos {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%; }
  .car-logos .logos-row {
    float: left;
    width: 100%; }
    .car-logos .logos-row + .logos-row li {
      border-top: 1px solid #1dd2a1; }
    .car-logos .logos-row li {
      float: left; }
      .car-logos .logos-row li + li {
        border-left: 1px solid #1dd2a1; }
  .car-logos a {
    padding: 15px 0 15px;
    text-align: center;
    height: 140px;
    position: relative;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -webkit-flex-flow: column wrap;
    -webkit-box-orient: vertical;
    flex-direction: column; }
    @media (max-width: 767px) {
      .car-logos a {
        height: 136px; } }
    .car-logos a:hover {
      text-decoration: none; }
    .car-logos a:hover:after {
      opacity: 0.5; }
  .car-logos .icon-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 66px;
    width: 100%;
    margin-bottom: 8px; }
    .car-logos .icon-wrap img {
      max-height: 100%;
      width: auto; }
  .car-logos .logo-wrap {
    padding: 0 10px;
    height: 110px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center; }
    @media only screen and (max-width: 767px) {
      .car-logos .logo-wrap img {
        margin: 0 auto;
        max-height: 100%; } }

/* car logos */
.car-logos .icon {
  display: inline-block;
  background-image: url(../img/logos-sprite.png);
  background-repeat: no-repeat;
  -ms-transform: scale(0.75);
  -webkit-transform: scale(0.75);
  transform: scale(0.75); }

.icon.acura {
  width: 50px;
  height: 48px;
  background-position: 0 0; }

.icon.audi {
  width: 59px;
  height: 22px;
  background-position: -52px 0; }

.icon.bmw {
  width: 48px;
  height: 47px;
  background-position: -113px 0; }

.icon.bulick {
  width: 50px;
  height: 49px;
  background-position: -163px 0; }

.icon.cadillac {
  width: 51px;
  height: 47px;
  background-position: -215px 0; }

.icon.chevrolet {
  width: 78px;
  height: 22px;
  background-position: -268px 0; }

.icon.chrysler {
  width: 96px;
  height: 16px;
  background-position: -348px 0; }

.icon.dodge {
  width: 99px;
  height: 14px;
  background-position: -446px 0; }

.icon.fiat {
  width: 48px;
  height: 48px;
  background-position: -547px 0; }

.icon.ford {
  width: 72px;
  height: 28px;
  background-position: -597px 0; }

.icon.gmc {
  width: 68px;
  height: 16px;
  background-position: -671px 0; }

.icon.honda {
  width: 42px;
  height: 38px;
  background-position: -741px 0; }

.icon.hyundai {
  width: 59px;
  height: 31px;
  background-position: -785px 0; }

.icon.infiniti {
  width: 56px;
  height: 28px;
  background-position: -846px 0; }

.icon.jaguar {
  width: 72px;
  height: 26px;
  background-position: -904px 0; }

.icon.jeep {
  width: 68px;
  height: 27px;
  background-position: -978px 0; }

.icon.kia {
  width: 62px;
  height: 31px;
  background-position: -1048px 0; }

.icon.land-rover {
  width: 62px;
  height: 33px;
  background-position: -1112px 0; }

.icon.lexus {
  width: 49px;
  height: 35px;
  background-position: -1176px 0; }

.icon.lincoln {
  width: 29px;
  height: 66px;
  background-position: -1227px 0; }

.icon.mercedes {
  width: 43px;
  height: 43px;
  background-position: -1258px 0; }

.icon.mini {
  width: 72px;
  height: 30px;
  background-position: -1303px 0; }

.icon.mitsubishi {
  width: 46px;
  height: 40px;
  background-position: -1377px 0; }

.icon.mazda {
  width: 50px;
  height: 40px;
  background-position: -1425px 0; }

.icon.nissan {
  width: 46px;
  height: 40px;
  background-position: -1477px 0; }

.icon.porsche {
  width: 30px;
  height: 39px;
  background-position: -1525px 0; }

.icon.ram {
  width: 34px;
  height: 36px;
  background-position: -1557px 0; }

.single-page .icon.ram {
  background-position: -1845px 0; }

.icon.scion {
  width: 53px;
  height: 37px;
  background-position: -1593px 0; }

.icon.subaru {
  width: 56px;
  height: 31px;
  background-position: -1648px 0; }

.icon.toyota {
  width: 54px;
  height: 34px;
  background-position: -1706px 0; }

.icon.volkswagen {
  width: 36px;
  height: 37px;
  background-position: -1762px 0; }

.icon.volvo {
  width: 42px;
  height: 39px;
  background-position: -1800px 0; }

/* breadcrumb */
.breadcrumb-wrap {
  margin-bottom: 20px;
  font-size: 0.8em; }
  .breadcrumb-wrap li {
    display: inline-block; }

/* filters */
.filters-wrap .filter-row .dropdown-toggle,
.filters-wrap .filter-row .dropdown-toggle:hover,
.filters-wrap .filter-row.zip-input input {
  background-color: #edf1f4 !important;
  padding: 0 20px;
  text-transform: none;
  height: 35px;
  color: #1f2f3e; }

.filters-wrap .filter-row .dropdown-toggle:hover,
.filters-wrap .filter-row.zip-input input:hover {
  color: rgba(31, 47, 62, 0.8); }

.filters-wrap .dropdown-toggle.disabled {
  color: #b6b6b6 !important; }

.filters-wrap .filter-row .bootstrap-select.btn-group {
  width: 100%;
  border-radius: 25px; }

.filters-wrap .filter-row.zip-input input {
  font-size: 0.875em; }

.filters-wrap .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  padding-right: 8px; }

.filters-wrap .filter-row.zip-input .dropdown-toggle .filter-option {
  font-size: 0.9em;
  line-height: 2; }

.filters-wrap .filter-row.zip-input input {
  font-family: 'Montserrat', sans-serif;
  width: 100%; }

.filters-wrap .filter-row.zip-input > * {
  float: left; }

.filters-wrap .filter-row input[type=submit] {
  width: 100%;
  margin-top: 10px; }

.filters-wrap .filter-row {
  display: inline-block;
  width: 100%;
  margin-top: 7px;
  position: relative; }
  .filters-wrap .filter-row .half-item {
    width: 49%;
    float: left;
    margin-bottom: -4px; }
    .filters-wrap .filter-row .half-item + .half-item {
      margin-left: 2%; }
    .filters-wrap .filter-row .half-item option[disabled=disabled],
    .filters-wrap .filter-row .half-item .dropdown-menu .disabled {
      display: none; }

/* strars */
.stars-wrap .star {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  color: #f6b63a;
  background-image: url(../img/starts-sprite.png);
  background-repeat: no-repeat; }

.stars-wrap .star.star50 {
  background-position: 50% 0; }

.stars-wrap .star.star0 {
  background-position: 100% 0; }

/*.stars-wrap .star {
	display: inline-block;
	width: 14px;
	height: 14px;
	position: relative;
	color: #f6b63a;
	&:after {
		@extend .font-awesome;
		content: "\f005";
	}
}
.stars-wrap .star.star50 {
	&:after {
		content: "\f089";
	}
}
.stars-wrap .star.star0 {
	&:after {
		content: "\f006";
	}
}*/
/* price detail */
/*.detailed-page {
	.price-detail  {
		float: right;
		margin-right: 25%;
	}
}*/
.price-detail .price {
  display: inline-block;
  width: 100%;
  font-weight: 700; }
  .price-detail .price .price-view {
    background-color: #167609;
    color: #fff;
    padding: 9px 40px;
    line-height: 1;
    font-size: 1em;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: inline-block; }

.detailed-page .price-detail .price {
  font-size: 1.8em;
  color: #2c3e50; }

.badge {
  background: #2c3e50;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 0 9px;
  line-height: 2;
  margin: -5px 0 0 5px; }

.price-detail .fee {
  line-height: 1;
  font-size: 0.95em;
  margin-top: 10px; }

/* vew/photo-count/save-wrap */
.result-container .item-img .view-wrap,
.photo-count,
.result-container .save-wrap {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  line-height: 23px;
  padding: 0 7px;
  color: #2c3e50;
  font-size: 0.875em;
  font-weight: 600;
  left: 5px; }

/* custom checkbox */
.checkbox-wrap {
  position: relative;
  margin-bottom: 0;
  width: 100%;
  font-weight: 500;
  color: #4e6777; }
  .checkbox-wrap input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }
  .checkbox-wrap span {
    cursor: pointer;
    float: left; }
  .checkbox-wrap .checkbox-icon {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #bfc5ca;
    display: inline-block;
    margin-right: 9px;
    line-height: 1em; }
    .checkbox-wrap .checkbox-icon:after {
      content: "\f00c";
      font-size: 0.5em;
      line-height: 14px;
      position: absolute;
      color: #fff;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      opacity: 0; }
  .checkbox-wrap input:checked + .checkbox-icon {
    background: #2c3e50;
    border-color: #2c3e50; }
    .checkbox-wrap input:checked + .checkbox-icon:after {
      opacity: 1; }
  .checkbox-wrap .name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    font-size: 0.90em;
    line-height: 1.1;
    width: calc(100% - 25px); }

/* result pagination */
.result-pagination {
  text-align: right;
  margin-top: 25px; }
  .result-pagination li {
    display: inline-block; }
  .result-pagination a {
    font-size: 0.9em;
    display: inline-block;
    border-radius: 4px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #e0e5e7;
    box-shadow: 0 0 1px #eff1f3; }
  .result-pagination a {
    color: #4e6777; }
  .result-pagination i {
    font-size: 0.5em;
    line-height: 2;
    position: relative;
    top: -2px; }
  .result-pagination a:hover,
  .result-pagination a.curent-page {
    text-decoration: none;
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50; }

.accordion-content {
  margin-top: 20px;
  line-height: 2; }
  .accordion-content h6 {
    text-transform: none;
    margin-top: 30px;
    margin-bottom: 15px; }
  .accordion-content .drop-wrap {
    border: 1px solid #e8e8e9;
    padding: 0 30px;
    background: rgba(255, 255, 255, 0.5); }
    .accordion-content .drop-wrap.content-opened, .accordion-content .drop-wrap:hover {
      background: white; }
    .accordion-content .drop-wrap + .drop-wrap {
      margin-top: 2px; }
    .accordion-content .drop-wrap .drop-btn {
      display: block;
      font-size: 1em;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      padding: 12px 0;
      cursor: pointer;
      position: relative; }
      .accordion-content .drop-wrap .drop-btn:after {
        content: "\f067";
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -7px;
        height: 14px;
        line-height: 14px;
        color: #bcc9d1; }
    .accordion-content .drop-wrap.content-opened .drop-btn:after {
      content: "\f068"; }
    .accordion-content .drop-wrap .drop-content {
      padding-bottom: 40px;
      display: none; }

/*----- Single page ----*/
.single-page h3 {
  font-weight: 400;
  padding-bottom: 15px;
  line-height: 1.6em;
  font-family: "Montserrat", sans-serif; }
  .single-page h3 a {
    color: inherit; }

.single-page h4 {
  text-transform: none;
  padding-top: 10px; }

.single-page h4,
.single-page h5 {
  padding-bottom: 25px; }

.single-page .right-sidebar h5 {
  line-height: 2.2; }

.single-page .container {
  background: #fff;
  padding-left: 30px;
  padding-right: 30px; }

.single-page .border-bottom {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d2d2d2; }

.single-page .clearfix {
  margin-bottom: 20px; }

.single-page p,
.single-page li {
  font-size: 0.9em;
  line-height: 1.8; }
  .single-page p li,
  .single-page li li {
    font-size: 1em; }
  .single-page p .sub-list,
  .single-page li .sub-list {
    padding-left: 20px; }

.single-page p {
  text-align: justify; }

.single-page .meta {
  color: #999999;
  font-size: 0.875em; }

.single-page .article-banner {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background: #ECECEC; }
  .single-page .article-banner p {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
    padding-left: 30px;
    text-align: left;
    margin: 10px; }
  .single-page .article-banner img {
    max-width: 30%; }
  .single-page .article-banner.article-cpo-banner img {
    min-width: 300px;
    max-width: inherit; }

.single-page .video-wrap {
  display: inline-block;
  width: 100%; }
  .single-page .video-wrap .video {
    margin-left: 30px;
    margin-bottom: 20px;
    width: 57%; }
  .single-page .video-wrap + p {
    margin-top: 20px; }
  .single-page .video-wrap ul {
    display: table-cell; }

.single-page img.pull-left {
  margin-bottom: 15px;
  margin-top: 5px;
  margin-right: 15px;
  max-width: 50%; }

.single-page img.pull-right {
  margin-bottom: 15px;
  margin-top: 5px;
  margin-left: 15px;
  max-width: 50%; }

.single-page img.full-width {
  width: 100%;
  margin-bottom: 15px; }

.single-page p + ul {
  margin-top: -25px;
  padding-left: 18px;
  display: inline-block; }
  .single-page p + ul li {
    list-style-type: disc; }

.single-page ul.upper-alpha-list {
  padding-left: 60px; }
  .single-page ul.upper-alpha-list > li {
    list-style-type: upper-alpha !important; }
    .single-page ul.upper-alpha-list > li ul,
    .single-page ul.upper-alpha-list > li ol {
      padding-left: 60px; }
      .single-page ul.upper-alpha-list > li ul li,
      .single-page ul.upper-alpha-list > li ol li {
        padding: 5px 0; }

.single-page ol {
  padding-left: 15px; }
  .single-page ol li {
    list-style-type: decimal; }

.single-page .small ol {
  margin-bottom: 25px; }

.single-page ul.check-list span.bold {
  display: inline-block;
  width: 165px; }

.single-page .yes,
.single-page .no {
  position: relative;
  text-align: center; }

.single-page .yes:before {
  content: "\f00c";
  color: #7bc200; }

.single-page .no:before {
  content: "\f00d";
  color: #ef584d; }

.single-page .faqs-wrap {
  margin-top: 50px; }

.single-page select.simple-select {
  font-size: 0.813em;
  padding: 5px 10px 5px 5px; }

.single-page iframe {
  max-width: 100%; }

.single-page-title {
  color: #fff;
  text-align: left;
  background: url(../img/single-top-page-bg.jpg) no-repeat 50% 0;
  background-size: cover;
  padding: 0 15px;
  height: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .single-page-title h2 {
    margin-bottom: 0;
    text-transform: none; }
    .single-page-title h2 + a {
      text-transform: uppercase;
      font-size: 0.875em; }
  .single-page-title a {
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: -25px; }

.filters-wrap + .testimonials,
.filters-wrap + .line-up {
  margin-top: 60px; }

.testimonials .testimonials-item,
.line-up .testimonials-item {
  font-size: 0.875em;
  line-height: 1.7; }

.testimonials .testimonials-text,
.line-up .testimonials-text {
  border: 1px solid #e4e8ed;
  padding: 25px;
  position: relative; }
  .testimonials .testimonials-text:before, .testimonials .testimonials-text:after,
  .line-up .testimonials-text:before,
  .line-up .testimonials-text:after {
    content: "";
    position: absolute;
    left: 30px;
    bottom: -11px;
    border-top: 11px solid #e4e8ed;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent; }
  .testimonials .testimonials-text:after,
  .line-up .testimonials-text:after {
    border-top: 11px solid #fff;
    bottom: -10px; }

.testimonials .testimonials-author,
.line-up .testimonials-author {
  margin-top: 20px;
  padding-left: 10px; }

.line-up li {
  line-height: 1.2; }

.line-up li + li {
  padding-top: 15px; }

.custom-label,
.contact-form-wrap label,
.authentication-form-wrap label {
  font-weight: 600;
  font-size: 0.813em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

.contact-form-wrap input,
.authentication-form-wrap input {
  height: 40px; }

.contact-form-wrap .form-group,
.authentication-form-wrap .form-group {
  margin-bottom: 30px; }

.contact-form-wrap .btn-group.bootstrap-select,
.authentication-form-wrap .btn-group.bootstrap-select {
  height: 40px; }

.contact-form-wrap .btn-group.bootstrap-select .btn,
.authentication-form-wrap .btn-group.bootstrap-select .btn {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 12px;
  line-height: 38px;
  text-transform: none; }

.contact-form-wrap .form-control.bootstrap-select,
.authentication-form-wrap .form-control.bootstrap-select {
  font-size: inherit; }

.contact-form-wrap .dropdown-menu > li > a,
.authentication-form-wrap .dropdown-menu > li > a {
  font-size: 1em; }

.contact-form-wrap .requare label,
.authentication-form-wrap .requare label {
  position: relative; }
  .contact-form-wrap .requare label:after,
  .authentication-form-wrap .requare label:after {
    content: "*";
    color: red;
    margin-left: 3px;
    font-size: 1.25em; }
  .contact-form-wrap .requare label .requare-double,
  .authentication-form-wrap .requare label .requare-double {
    position: absolute;
    left: 0;
    bottom: 0px;
    font-weight: 300;
    font-size: 0.75em;
    text-transform: none;
    line-height: 1; }
    .contact-form-wrap .requare label .requare-double:after,
    .authentication-form-wrap .requare label .requare-double:after {
      content: "**";
      color: red;
      margin-left: 3px;
      font-size: 1.25em; }

.contact-form-wrap .recaptcha-wrap,
.authentication-form-wrap .recaptcha-wrap {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px; }

#wrap .contact-form-wrap .bootstrap-select > .dropdown-menu {
  margin-top: 5px; }

.right-sidebar .dropdown-menu > li > a {
  font-size: 1em; }

.check-list > li {
  padding-left: 30px;
  position: relative; }

.check-list > li:before {
  content: "\f00c";
  position: absolute;
  left: 0;
  top: 0;
  color: #1abc90; }

.register label {
  padding-bottom: 10px; }

.owner-reviews span.number {
  font-size: 1.25em;
  color: #919ea7;
  font-weight: 600;
  padding-right: 12px;
  margin-right: 10px;
  position: relative; }
  .owner-reviews span.number:after {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: '|';
    position: absolute;
    top: 50%;
    right: -1px;
    font-weight: 400; }

.view-phone {
  color: #1b6fb7; }
  .view-phone em {
    font-style: normal;
    cursor: pointer; }
  .view-phone a {
    display: none; }
  .view-phone.link-active em {
    display: none; }
  .view-phone.link-active a {
    display: inline-block; }

.mailto-btn {
  display: inline-block;
  width: 100%;
  padding: 12px 30px;
  color: #2c3e50;
  border: 1px solid #e8e8e9;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }
  .mailto-btn:hover {
    text-decoration: none; }
  .mailto-btn + .mailto-btn {
    margin-top: 5px; }

.mobile-request-form .close-modal {
  position: absolute;
  z-index: 999;
  right: 20px;
  top: 15px;
  width: 22px;
  cursor: pointer; }

/****** FOOTER ******/
footer {
  padding: 33px 0 15px;
  font-size: 0.9em;
  padding-bottom: 0;
  background-color: #393939;
  color: #fff; }
  footer .copy {
    background-color: #2d2d2d;
    padding: 25px 0 15px;
    margin-top: 40px; }
  footer .col-md-3 {
    min-height: 65px; }
  footer .col-md-2 {
    border-left: 1px solid #252525; }
  footer li {
    margin-bottom: 15px; }
  footer a {
    color: #fff; }
    footer a:hover {
      color: #fff;
      text-decoration: none; }
    footer a img {
      margin-right: 10px; }

footer p {
  font-size: 0.875em;
  position: relative; }

footer .btn {
  font-size: 1em;
  padding: 10px;
  width: 100%;
  max-width: 265px; }

.dealer-portal footer {
  padding: 0; }

.dealer-portal footer .copy {
  background-color: transparent;
  text-align: center;
  margin-top: 0; }

/*------------------- UPDATED STYLES ----------------*/
/***** Modal *****/
.exclusive-price-modal {
  font-family: "Montserrat", sans-serif; }
  .exclusive-price-modal .close-modal {
    position: absolute;
    top: 12px;
    right: 15px;
    line-height: 1;
    z-index: 10;
    opacity: 0.5;
    cursor: pointer; }
    .exclusive-price-modal .close-modal:hover {
      opacity: 1; }
  .exclusive-price-modal h4 {
    font-weight: 400;
    text-transform: none; }
  .exclusive-price-modal strong {
    font-weight: 400; }
  .exclusive-price-modal p {
    line-height: 1.15; }
  .exclusive-price-modal .modal-dialog {
    max-width: 900px;
    width: 100%; }
  .exclusive-price-modal .modal-content {
    padding: 30px;
    background-color: #ececec; }
  .exclusive-price-modal .car-details {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0; }
    .exclusive-price-modal .car-details .car-img img {
      width: 100%; }
    .exclusive-price-modal .car-details p {
      font-size: 0.9em;
      margin-bottom: 0; }
      .exclusive-price-modal .car-details p.certified {
        color: #167609;
        padding: 3px 0; }
        .exclusive-price-modal .car-details p.certified img {
          position: relative;
          top: -2px; }
    .exclusive-price-modal .car-details .car-desc {
      padding: 10px; }
  .exclusive-price-modal .contact-dealer-form {
    padding-bottom: 60px; }
  .exclusive-price-modal .contact-dealer-form h3 {
    font-weight: 700;
    margin-bottom: 10px; }
  .exclusive-price-modal .contact-dealer-form p {
    font-size: 1.25em; }
  .exclusive-price-modal .contact-dealer-form form {
    margin-top: 25px; }
  .exclusive-price-modal .dealer-form-fields input:not(.btn) {
    width: 49%;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px; }
  .exclusive-price-modal .dealer-form-fields input + input {
    margin-left: 2%; }
  .exclusive-price-modal .get-price-btn {
    position: absolute;
    bottom: 0;
    right: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 1.1em;
    padding: 11px 15px; }
