.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.compare-table-wrap {
  margin-top: 75px;
  padding: 0 15px; }
  .compare-table-wrap table {
    background: #f7f7f7;
    border-collapse: collapse; }
    .compare-table-wrap table th,
    .compare-table-wrap table td {
      width: 27%;
      font-size: 0.875em;
      border: 1px solid #fff; }
    .compare-table-wrap table th {
      padding: 0; }
    .compare-table-wrap table td {
      padding: 10px 20px;
      vertical-align: top; }
      .compare-table-wrap table td.sub-title {
        background: #1f2f3e;
        text-align: center;
        font-size: 0.95em;
        color: #fff; }
    .compare-table-wrap table th:first-child,
    .compare-table-wrap table td:first-child {
      width: 19%;
      background: #fff;
      text-align: right;
      font-size: 0.95em;
      padding-left: 0;
      padding-right: 15px; }
    .compare-table-wrap table th:nth-child(3),
    .compare-table-wrap table td:nth-child(3) {
      background: #ededed; }
      .compare-table-wrap table th:nth-child(3) .head-car-logo,
      .compare-table-wrap table td:nth-child(3) .head-car-logo {
        border-top-color: #d9d9d9; }
  .compare-table-wrap .table-head {
    position: relative;
    text-align: center; }
    .compare-table-wrap .table-head .sponsored-program {
      background: #167609;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 32px;
      position: absolute;
      left: 0;
      right: 0;
      top: -32px; }
    .compare-table-wrap .table-head .select-wrap {
      padding: 30px 15px 14px; }
      .compare-table-wrap .table-head .select-wrap select {
        width: 100%;
        height: 35px;
        border: 1px solid #c7c9cb;
        font-size: inherit;
        color: #1f2f3e;
        padding: 0 15px;
        background: #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='4' fill='$dark-blue-color'><polygon points='0,0 8,0 4,4'/></svg>") no-repeat 95% 50% !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        outline: none !important; }
        .compare-table-wrap .table-head .select-wrap select::-ms-expand {
          border: none;
          background: none; }
    .compare-table-wrap .table-head.sponsored .select-wrap {
      padding-top: 22px;
      padding-bottom: 22px; }
    .compare-table-wrap .table-head .head-car-logo {
      height: 85px;
      line-height: 55px;
      padding: 15px;
      border-top: 1px solid #eeeded;
      position: relative; }
      .compare-table-wrap .table-head .head-car-logo img {
        max-height: 55px;
        width: auto; }
  .compare-table-wrap ul li:before {
    content: "\2022";
    color: #2c3e50;
    padding-right: 3px; }
  .compare-table-wrap .btn {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 0; }
  .compare-table-wrap .owner-reviews span.number:after {
    right: -4px;
    top: 44%; }

.car-logos {
  background-color: transparent; }
  .car-logos li {
    border-color: rgba(153, 153, 153, 0.2) !important; }
    .car-logos li:hover {
      background: #ECECEC; }

.border-bottom > h3 {
  padding-bottom: 0;
  float: left; }

.border-bottom .btn {
  float: right; }

.single-page .car-logos {
  padding-top: 20px;
  padding-bottom: 20px; }

.single-page .car-logos .slick-next:before,
.single-page .car-logos .slick-prev:before {
  color: #919ea7; }

.single-page .car-logos .slick-dots li button {
  background: #919ea7;
  border-color: #919ea7; }

.single-page .car-logos .slick-dots li.slick-active button {
  background: transparent; }
