.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.mailto-btn {
  display: inline-block;
  width: 100%;
  padding: 12px 30px;
  color: #2c3e50;
  border: 1px solid #e8e8e9;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }
  .mailto-btn:hover {
    text-decoration: none; }
  .mailto-btn + .mailto-btn {
    margin-top: 5px; }
