.font-awesome, .search-form-wrap .form-elements-wrap .btn-form-item:after {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.cpo-program .article .text-center > img {
  max-width: 300px;
  margin-bottom: 15px; }
  @media only screen and (max-width: 479px) {
    .cpo-program .article .text-center > img {
      max-width: 200px; } }

.single-page.cpo-program-reviews .cpo-program-reviews-banner {
  display: inline-block;
  width: 100%; }
  .single-page.cpo-program-reviews .cpo-program-reviews-banner img {
    max-width: 30%; }

.single-page.cpo-program-reviews .cpo-raiting-detail {
  float: right;
  font-family: "Montserrat", sans-serif; }
  .single-page.cpo-program-reviews .cpo-raiting-detail p {
    margin-bottom: 0;
    text-align: right;
    line-height: 1.35; }
    .single-page.cpo-program-reviews .cpo-raiting-detail p span,
    .single-page.cpo-program-reviews .cpo-raiting-detail p strong {
      text-transform: uppercase;
      font-size: 0.831em; }
      .single-page.cpo-program-reviews .cpo-raiting-detail p span.number,
      .single-page.cpo-program-reviews .cpo-raiting-detail p strong.number {
        font-size: 1.25em; }

.single-page.cpo-program-reviews .number {
  position: relative;
  color: #919ea7; }
  .single-page.cpo-program-reviews .number:after {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: '|';
    position: absolute;
    top: 50%;
    right: -1px;
    font-weight: 400; }

.reviews-wrap {
  margin-top: 30px; }
  .reviews-wrap .review-item {
    border-top: 1px solid #d2d2d2;
    margin-top: 15px;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    position: relative; }
    .reviews-wrap .review-item p {
      margin-bottom: 0 !important; }
    .reviews-wrap .review-item .review-meta {
      width: 25%;
      float: left; }
      .reviews-wrap .review-item .review-meta p {
        text-align: center;
        line-height: 1.5; }
        .reviews-wrap .review-item .review-meta p em {
          font-size: 1.2em; }
        .reviews-wrap .review-item .review-meta p strong {
          text-transform: uppercase;
          font-size: 0.875em; }
    .reviews-wrap .review-item .review-body {
      width: 75%;
      float: left; }
      .reviews-wrap .review-item .review-body .drop-btn {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.813em; }
        .reviews-wrap .review-item .review-body .drop-btn:hover, .reviews-wrap .review-item .review-body .drop-btn:focus, .reviews-wrap .review-item .review-body .drop-btn:active {
          text-decoration: none; }
      .reviews-wrap .review-item .review-body .drop-content {
        display: none; }
      .reviews-wrap .review-item .review-body .employees-detail {
        margin-top: 20px;
        position: relative;
        text-transform: uppercase;
        font-size: 0.8em; }
        .reviews-wrap .review-item .review-body .employees-detail .empl-photo {
          width: 50px;
          height: 50px;
          border: 1px solid #337ab7;
          background: #d2d2d2; }
        .reviews-wrap .review-item .review-body .employees-detail .empl-rating {
          position: absolute;
          left: 60px;
          bottom: -3px;
          line-height: 1; }
          .reviews-wrap .review-item .review-body .employees-detail .empl-rating .name {
            display: block;
            color: #337ab7;
            font-size: 0.9em;
            font-weight: 600; }
          .reviews-wrap .review-item .review-body .employees-detail .empl-rating .number {
            padding-right: 5px;
            margin-right: 5px;
            display: inline-block;
            font-weight: bold; }
            .reviews-wrap .review-item .review-body .employees-detail .empl-rating .number:after {
              top: 40%;
              right: -5px; }
          .reviews-wrap .review-item .review-body .employees-detail .empl-rating .star {
            width: 10px;
            height: 10px;
            background-size: auto 10px; }
  .reviews-wrap .helpful {
    border: 1px solid;
    padding: 5px 15px !important;
    line-height: 1;
    position: absolute;
    height: inherit;
    right: 0;
    bottom: 0; }
    .reviews-wrap .helpful:hover, .reviews-wrap .helpful:focus {
      color: #337ab7; }
    .reviews-wrap .helpful i {
      margin-right: 5px; }
    .reviews-wrap .helpful.clicked {
      background-color: #337ab7;
      color: #fff; }

.cpo-program .check-list,
.cpo-program-reviews .check-list {
  float: left;
  width: 50%; }
  .cpo-program .check-list.has-sub-list span.bold,
  .cpo-program-reviews .check-list.has-sub-list span.bold {
    float: left;
    width: 150px; }
  .cpo-program .check-list.has-sub-list .sub-list,
  .cpo-program-reviews .check-list.has-sub-list .sub-list {
    display: inline-block; }

.cpo-program .sub-list li,
.cpo-program-reviews .sub-list li {
  list-style-type: disc; }

.search-form-wrap {
  margin: 10px 0 25px; }
  .search-form-wrap .form-elements-wrap {
    background: #1f2f3e;
    padding: 10px;
    border-radius: 5px; }
    .search-form-wrap .form-elements-wrap input,
    .search-form-wrap .form-elements-wrap select,
    .search-form-wrap .form-elements-wrap > .btn-form-item .btn,
    .search-form-wrap .form-elements-wrap .btn-group .dropdown-toggle {
      height: 45px;
      border-radius: 3px;
      font-weight: 600;
      padding-left: 20px; }
    .search-form-wrap .form-elements-wrap .form-item + .form-item,
    .search-form-wrap .form-elements-wrap .btn-form-item {
      padding-left: 12px; }
    .search-form-wrap .form-elements-wrap .btn-form-item {
      position: relative;
      overflow: hidden; }
      .search-form-wrap .form-elements-wrap .btn-form-item:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 45px;
        border-left: 1px solid #125e07; }
      .search-form-wrap .form-elements-wrap .btn-form-item:after {
        content: "\f105";
        font-size: 25px;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 45px;
        line-height: 45px;
        border-left: 1px solid #1a8e0b;
        text-align: center; }
    .search-form-wrap .form-elements-wrap > .btn-form-item .btn {
      font-size: 1.125em;
      text-align: left;
      font-weight: 400;
      padding: 0 0 0 16px;
      margin-top: 0; }
    .search-form-wrap .form-elements-wrap .disabled {
      opacity: 1;
      color: #919ea7; }
    .search-form-wrap .form-elements-wrap .bootstrap-select > .dropdown-toggle.bs-placeholder,
    .search-form-wrap .form-elements-wrap .zip-input input {
      color: #1f2f3e; }
    .search-form-wrap .form-elements-wrap .zip-input input {
      font-size: 0.875em;
      font-family: "Montserrat", sans-serif; }
      .search-form-wrap .form-elements-wrap .zip-input input::-webkit-input-placeholder {
        color: #1f2f3e; }
      .search-form-wrap .form-elements-wrap .zip-input input::-moz-placeholder {
        color: #1f2f3e; }
      .search-form-wrap .form-elements-wrap .zip-input input:-ms-input-placeholder {
        color: #1f2f3e; }
      .search-form-wrap .form-elements-wrap .zip-input input:-moz-placeholder {
        color: #1f2f3e; }
  .search-form-wrap .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    padding-right: 5px; }
