.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex, .login-wrap .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

html,
body {
  height: 100%; }

#wrap {
  min-height: 100%;
  padding-top: 30px;
  padding-bottom: 60px; }

body {
  background: #ECECEC; }

.dealer-portal-login-wrap {
  width: 100%;
  max-width: 600px;
  padding: 30px 0;
  background: #fff;
  box-shadow: 0 2px 3px #ccc;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.login-wrap p {
  font-size: 0.875em; }

.login-wrap .btn {
  height: 35px; }

.login-wrap .col-sm-7 {
  border-left: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px; }

.login-wrap .row {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .login-wrap .row > div {
    padding-left: 30px;
    padding-right: 30px; }

.login-wrap p:last-child {
  margin-bottom: 0; }

.login-wrap label {
  font-weight: 600;
  font-size: 0.813em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

.login-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  color: #919ea7;
  font-size: 0.813em; }
  .login-footer div {
    font-size: 0.875em; }

@media only screen and (max-width: 767px) {
  .dealer-portal-login-wrap {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    margin: 0 auto;
    max-width: 90%; }
  .login-wrap .col-sm-7 {
    border-left: none; }
  .login-wrap .row {
    display: block; }
  .login-wrap .logo {
    margin: 0 auto;
    width: 250px;
    display: block;
    margin-bottom: 30px; }
  .login-wrap .btn {
    float: right; } }

@media only screen and (max-width: 479px) {
  .login-footer {
    bottom: -75px; }
  .login-footer > div {
    width: 100%;
    text-align: center;
    padding: 5px 15px; }
  .login-wrap .row > div {
    padding-left: 15px;
    padding-right: 15px; } }
