.font-awesome, .dashboard-content .settings-form-wrap .phone-icon:before, .dashboard-content .settings-form-wrap .user-icon:before, .dashboard-content .settings-form-wrap .web-icon:before {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

html,
body {
  height: 100%; }

#wrap.dealer-portal {
  background: #ECECEC;
  min-height: 100%;
  position: relative;
  padding-bottom: 78px; }
  #wrap.dealer-portal header {
    background: #fff; }
  #wrap.dealer-portal footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }

.modal-content {
  font-size: 0.813em; }

.dashboard-title {
  background: #167609;
  color: #fff;
  padding: 20px 0 5px; }
  .dashboard-title h3 {
    float: left;
    font-weight: 400; }
  .dashboard-title .tabs-wrap {
    position: relative; }
  .dashboard-title .settings-tabs {
    float: right;
    /*position: absolute;
		right: 0;
		top: 0;*/ }
    .dashboard-title .settings-tabs li + li {
      padding-left: 25px; }
    .dashboard-title .settings-tabs li > a {
      text-transform: uppercase;
      font-size: 0.813em;
      padding: 0; }
      .dashboard-title .settings-tabs li > a i {
        margin-right: 5px; }
  .dashboard-title .main-tabs {
    display: inline-block;
    width: 100%;
    margin-top: 20px; }
    @media screen and (min-width: 768px) {
      .dashboard-title .main-tabs {
        display: inline-block !important; } }
    .dashboard-title .main-tabs ul {
      /*margin-right: -15px;
			margin-left: -15px;*/ }
    .dashboard-title .main-tabs li {
      border-radius: 4px;
      position: relative; }
      .dashboard-title .main-tabs li.active, .dashboard-title .main-tabs li:hover {
        background: #21a50e;
        border-color: #21a50e; }
        .dashboard-title .main-tabs li.active + li:before, .dashboard-title .main-tabs li.active:before, .dashboard-title .main-tabs li:hover + li:before, .dashboard-title .main-tabs li:hover:before {
          opacity: 0; }
      .dashboard-title .main-tabs li + li:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 0;
        height: 25px;
        margin-top: -12px;
        border-left: 1px solid rgba(255, 255, 255, 0.5); }
      .dashboard-title .main-tabs li > a {
        line-height: 1;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 0.875em; }
  .dashboard-title .nav-tabs {
    border-bottom: none; }
    .dashboard-title .nav-tabs > li > a {
      color: #fff;
      font-family: "Montserrat", sans-serif;
      opacity: 0.75; }
      .dashboard-title .nav-tabs > li > a:hover {
        color: #fff;
        opacity: 1;
        background: transparent;
        border-color: transparent; }
    .dashboard-title .nav-tabs > li.active > a,
    .dashboard-title .nav-tabs > li.active > a:focus,
    .dashboard-title .nav-tabs > li.active > a:hover {
      color: #fff;
      opacity: 1;
      background: transparent;
      border-color: transparent; }

#market-analysis .border-bottom {
  margin-bottom: 0; }

.dashboard-content {
  /*.calendar-wrap {
		cursor: pointer;
	    .monthpicker {
	    	max-width: 120px;
	    	margin-left: 3px;
	    	height: 20px;
	    	line-height: 1;
	    	padding: 0;
	    	border-radius: 0;
	    	color: inherit;
	    }
	}*/ }
  .dashboard-content .title-wrap {
    background: #2c3e50;
    margin-top: 2px;
    border-top: 1px solid #1f2f3e;
    border-bottom: 1px solid #1f2f3e;
    color: #fff;
    padding: 17px 0; }
    .dashboard-content .title-wrap h3 {
      font-weight: 400;
      padding-bottom: 0;
      font-size: 1em; }
    .dashboard-content .title-wrap + .container {
      margin-top: 30px; }
    .dashboard-content .title-wrap .btn {
      margin-bottom: -2px; }
    .dashboard-content .title-wrap .nav-tabs a:not(.btn):hover {
      color: #e7e7e7;
      text-decoration: none; }
  .dashboard-content h2 {
    text-align: left !important;
    text-transform: none;
    font-weight: 300; }
  .dashboard-content .tab-pane .filters-body h5 {
    padding-bottom: 0; }
  .dashboard-content .nav-tabs {
    border-bottom: none; }
  .dashboard-content .tab-pane {
    padding-bottom: 30px; }
    .dashboard-content .tab-pane .tab-pane {
      padding-bottom: 0; }
    .dashboard-content .tab-pane .container {
      padding-left: 15px;
      padding-right: 15px; }
  .dashboard-content .dropdown-menu li {
    font-size: 1em; }
  .dashboard-content .filters-wrap .filters {
    margin-top: 0; }
  .dashboard-content table {
    width: 100%;
    font-size: 0.875em; }
    .dashboard-content table th,
    .dashboard-content table td {
      text-align: center;
      padding: 10px;
      border: 1px solid #f7f7f7; }
      .dashboard-content table th.text-left,
      .dashboard-content table td.text-left {
        text-align: left; }
    .dashboard-content table.stripped-table tbody tr:nth-child(2n+1) {
      background: #ECECEC; }
    .dashboard-content table.stripped-table th,
    .dashboard-content table.stripped-table td {
      border-left: none;
      border-right: none;
      text-align: left; }
    .dashboard-content table.stripped-table .up {
      color: #1abc90; }
    .dashboard-content table.stripped-table .down {
      color: #ef584d; }
  .dashboard-content .settings-detail h5 {
    padding-bottom: 15px; }
  .dashboard-content .settings-detail .light-grey-bg {
    padding: 15px; }
  .dashboard-content .settings-detail .btn {
    position: absolute;
    top: 15px;
    right: 30px; }
  .dashboard-content .settings-detail .property {
    display: inline-block;
    width: 160px; }
  .dashboard-content .map-wrap {
    margin-top: 30px; }
    .dashboard-content .map-wrap #map {
      width: 100%;
      height: 300px; }
  .dashboard-content .settings-form-wrap {
    display: none; }
    .dashboard-content .settings-form-wrap form div {
      position: relative;
      padding-left: 175px; }
      .dashboard-content .settings-form-wrap form div + div {
        margin-top: 15px; }
      .dashboard-content .settings-form-wrap form div label {
        position: absolute;
        left: 0;
        top: 0;
        line-height: 34px;
        font-weight: 400;
        font-size: 0.875em;
        text-align: right;
        width: 160px; }
      .dashboard-content .settings-form-wrap form div.request label:after {
        content: "*";
        color: red;
        margin-left: 5px; }
    .dashboard-content .settings-form-wrap select {
      max-width: 400px !important; }
    .dashboard-content .settings-form-wrap .phone-icon,
    .dashboard-content .settings-form-wrap .mail-icon,
    .dashboard-content .settings-form-wrap .user-icon,
    .dashboard-content .settings-form-wrap .web-icon {
      position: relative; }
      .dashboard-content .settings-form-wrap .phone-icon:before,
      .dashboard-content .settings-form-wrap .mail-icon:before,
      .dashboard-content .settings-form-wrap .user-icon:before,
      .dashboard-content .settings-form-wrap .web-icon:before {
        position: absolute;
        bottom: 0;
        left: 175px;
        width: 35px;
        height: 34px;
        text-align: center;
        line-height: 35px;
        border-right: 1px solid #ccc;
        color: #ccc; }
      .dashboard-content .settings-form-wrap .phone-icon input,
      .dashboard-content .settings-form-wrap .mail-icon input,
      .dashboard-content .settings-form-wrap .user-icon input,
      .dashboard-content .settings-form-wrap .web-icon input {
        padding-left: 45px; }
    .dashboard-content .settings-form-wrap .phone-icon:before {
      content: "\f095"; }
    .dashboard-content .settings-form-wrap .mail-icon:before {
      content: "@";
      font-family: "Montserrat", sans-serif; }
    .dashboard-content .settings-form-wrap .user-icon:before {
      content: "\f007"; }
    .dashboard-content .settings-form-wrap .web-icon:before {
      content: "\f0ac"; }
    .dashboard-content .settings-form-wrap .hours-wrap {
      padding-left: 0; }
      .dashboard-content .settings-form-wrap .hours-wrap .hour-item {
        padding-left: 0;
        padding-bottom: 10px;
        margin-top: 0;
        display: inline-block;
        width: 100%; }
      .dashboard-content .settings-form-wrap .hours-wrap select {
        width: 32%;
        float: left; }
        .dashboard-content .settings-form-wrap .hours-wrap select + select {
          margin-left: 2%; }
      .dashboard-content .settings-form-wrap .hours-wrap .btn.btn-smaller {
        margin-top: 3px; }
      .dashboard-content .settings-form-wrap .hours-wrap .btn.disabled {
        background-color: #999999; }
    .dashboard-content .settings-form-wrap input[type='submit'] {
      height: inherit; }
  .dashboard-content .result-container.view-list .item-desc {
    max-width: 80%; }
    .dashboard-content .result-container.view-list .item-desc .price-detail {
      min-height: inherit; }
  .dashboard-content .edit-btn {
    clear: right; }
  .dashboard-content .result-container .result-item {
    cursor: default; }
    .dashboard-content .result-container .result-item:hover {
      background: transparent; }
  .dashboard-content .result-container .result-item:before {
    display: none; }
  .dashboard-content .result-container .item-logos {
    z-index: 2;
    right: 10px; }
  .dashboard-content .edit-form-wrap .form-row {
    margin-top: 15px; }
  .dashboard-content .edit-form-wrap .form-control[readonly] {
    background: #ECECEC; }
  .dashboard-content .edit-form-wrap .form-control {
    padding: 6px 12px; }
  .dashboard-content .edit-form-wrap .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .dashboard-content .edit-form-wrap .inputfile + label {
    color: #fff;
    background-color: #167609;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    line-height: 40px;
    padding: 0 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    position: relative;
    font-weight: 400; }
    .dashboard-content .edit-form-wrap .inputfile + label i {
      position: absolute;
      right: 15px;
      line-height: 40px; }
  .dashboard-content .edit-form-wrap .inputfile:focus + label,
  .dashboard-content .edit-form-wrap .inputfile + label:hover {
    background-color: #0d4705; }
  .dashboard-content .edit-form-wrap #file-image-preview .img-item {
    width: 30%;
    height: 75px;
    float: left;
    padding-top: 10px;
    position: relative;
    text-align: center; }
    .dashboard-content .edit-form-wrap #file-image-preview .img-item:nth-child(3n + 2) {
      margin-left: 5%;
      margin-right: 5%; }
    .dashboard-content .edit-form-wrap #file-image-preview .img-item em {
      position: absolute;
      top: 12px;
      right: 5px;
      font-style: normal;
      font-size: 1.5em;
      z-index: 5;
      line-height: 1;
      cursor: pointer;
      color: #1f2f3e;
      opacity: 1; }
    .dashboard-content .edit-form-wrap #file-image-preview .img-item img {
      max-height: 100%; }
  .dashboard-content .billing-table-wrap {
    display: inline-block;
    width: 100%; }
    .dashboard-content .billing-table-wrap table tbody tr:hover {
      background-color: rgba(236, 236, 236, 0.5); }
    .dashboard-content .billing-table-wrap table th {
      width: 20%; }
    .dashboard-content .billing-table-wrap table th:first-child,
    .dashboard-content .billing-table-wrap table td:first-child {
      text-align: left; }
      .dashboard-content .billing-table-wrap table th:first-child strong,
      .dashboard-content .billing-table-wrap table td:first-child strong {
        display: block;
        text-transform: uppercase;
        font-size: 1.1em; }
    .dashboard-content .billing-table-wrap table .unpaid-row td {
      background-color: rgba(243, 156, 18, 0.25); }
    .dashboard-content .billing-table-wrap table .paid-row td {
      background-color: #e2fbdf; }
    .dashboard-content .billing-table-wrap table .status.processing {
      color: #3498db; }
    .dashboard-content .billing-table-wrap table .status.paid {
      color: #7bc200; }
    .dashboard-content .billing-table-wrap + div .view-bills {
      margin-top: 15px; }
      .dashboard-content .billing-table-wrap + div .view-bills i {
        font-size: 1.1em; }
    .dashboard-content .billing-table-wrap + div h6 {
      font-weight: 400; }
  .dashboard-content .dashboard-item + .dashboard-item {
    margin-top: 15px; }
  .dashboard-content .dashboard-item .tile_stats_count {
    border: 1px dotted #ddd;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 15px;
    height: 66px; }
  .dashboard-content .dashboard-item .tile_count {
    padding-top: 15px; }
  .dashboard-content .dashboard-item .x-title h5 {
    display: block; }
  .dashboard-content .dashboard-item .x-title input {
    text-transform: uppercase; }
  .dashboard-content .dashboard-item .tile_count .tile_stats_count .count,
  .dashboard-content .dashboard-item .tile_count .tile_stats_count .count-time {
    font-size: 1.5em;
    line-height: 1.4;
    font-weight: 600; }
  .dashboard-content .dashboard-item .tile_count .tile_stats_count .count-time em {
    font-style: normal; }
  .dashboard-content .dashboard-item .tile_count .tile_stats_count .count_bottom {
    font-size: 0.813em; }
  .dashboard-content .dashboard-item .progress-wrap {
    padding-left: 125px; }
  .dashboard-content .dashboard-item .progress-item-wrap {
    position: relative;
    border-left: 1px solid #1f2f3e;
    padding: 10px 0; }
    .dashboard-content .dashboard-item .progress-item-wrap .progress {
      margin-bottom: 0;
      height: 10px;
      border-radius: 0; }
    .dashboard-content .dashboard-item .progress-item-wrap .progress-bar {
      background-color: #167609; }
    .dashboard-content .dashboard-item .progress-item-wrap > span {
      position: absolute;
      width: 120px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 0.813em;
      top: 0;
      left: -125px;
      text-align: right;
      display: inline-block;
      line-height: 27px; }
  .dashboard-content .dashboard-item .circle-carts-wrap {
    text-align: center; }
    .dashboard-content .dashboard-item .circle-carts-wrap p {
      text-align: center; }
    .dashboard-content .dashboard-item .circle-carts-wrap .chart {
      position: relative;
      display: inline-block; }
    .dashboard-content .dashboard-item .circle-carts-wrap .percent-wrap {
      line-height: 150px;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 0.875em;
      font-weight: 700; }
  .dashboard-content #piechart_3d {
    width: 100%;
    height: 300px;
    background-color: #dddddd; }
  .dashboard-content #MobileUsageBarChart,
  .dashboard-content #BrowserUsageBarChart {
    width: 100%;
    height: 150px; }
  .dashboard-content .pricing-strategy {
    padding: 15px 30px;
    font-size: 0.875em; }
    .dashboard-content .pricing-strategy span {
      display: inline-block;
      width: 150px; }
    .dashboard-content .pricing-strategy .row + .row {
      margin-top: 10px; }
    .dashboard-content .pricing-strategy select + .btn,
    .dashboard-content .pricing-strategy .btn-wrap .btn {
      margin-left: 10px;
      margin-right: 10px; }
    .dashboard-content .pricing-strategy select + select {
      margin-left: 10px; }
    .dashboard-content .pricing-strategy .small {
      font-size: 0.875em;
      color: #999; }
    .dashboard-content .pricing-strategy .btn-wrap {
      display: inline-block; }
      .dashboard-content .pricing-strategy .btn-wrap .btn {
        position: relative;
        top: -1px; }
  .dashboard-content .additional-info {
    padding: 15px 20px;
    width: 300px; }
    .dashboard-content .additional-info .checkbox-wrap .name {
      font-size: 1em;
      line-height: 1.15; }
    .dashboard-content .additional-info .drop-btn {
      cursor: pointer; }
      .dashboard-content .additional-info .drop-btn .icon {
        font-size: 1.2em;
        padding-right: 5px;
        width: 15px;
        display: inline-block; }
    .dashboard-content .additional-info .drop-content {
      display: none;
      padding-top: 15px; }
  .dashboard-content .calculator-item {
    border: 2px solid;
    border-top-color: #e7e7e7 !important;
    border-radius: 0 0 5px 5px;
    margin: -5px 0 15px;
    position: relative;
    z-index: 2;
    padding: 15px 10px;
    background: #ECECEC;
    font-size: 0.875em; }
    .dashboard-content .calculator-item input {
      height: 25px;
      line-height: 25px;
      border-radius: 0;
      padding: 0;
      width: 50px;
      border: 1px solid #999999; }
    .dashboard-content .calculator-item p:last-child {
      margin-bottom: 0; }
    .dashboard-content .calculator-item label {
      font-weight: 400;
      margin-bottom: 0; }
    .dashboard-content .calculator-item .range-slider-wrap {
      padding: 0 10px; }
      .dashboard-content .calculator-item .range-slider-wrap .slider-track {
        left: -10px;
        right: -10px;
        background: #b0b1b1; }
      .dashboard-content .calculator-item .range-slider-wrap .slider-handle {
        top: -1px; }
    .dashboard-content .calculator-item .slider.slider-horizontal {
      width: 100%; }
  .dashboard-content .col-sm-6 {
    margin-top: 10px; }
  .dashboard-content .badge {
    margin: 5px 0 0; }
  .dashboard-content .price-wrap {
    margin-top: 15px; }
  .dashboard-content .searches-wrap {
    margin-top: 10px; }
    .dashboard-content .searches-wrap select {
      width: 35%; }
  .dashboard-content .leads-title select {
    height: 25px;
    line-height: 25px;
    font-size: 0.9em;
    width: 220px; }
  .dashboard-content .leads-title .select-item {
    font-size: 0.9em;
    display: inline-block; }
    .dashboard-content .leads-title .select-item + .select-item {
      padding-left: 15px; }
  .dashboard-content .report-box {
    margin: 30px 0 0; }
    .dashboard-content .report-box .widget-body {
      border: 1px solid #d2d2d2;
      max-height: 300px;
      overflow-y: auto; }
    .dashboard-content .report-box table {
      font-size: 0.75em;
      table-layout: fixed; }
      .dashboard-content .report-box table td,
      .dashboard-content .report-box table th {
        text-align: left; }
      .dashboard-content .report-box table th {
        /*white-space: nowrap;
    			word-wrap: normal;*/ }
      .dashboard-content .report-box table td {
        word-wrap: break-word; }

@media only screen and (max-width: 1199px) {
  .dashboard-title .main-tabs ul {
    /*margin-left: -10px;
		margin-right: -10px;*/ }
  .dashboard-title .main-tabs li > a {
    font-size: 0.9em;
    /*padding-left: 10px;
		padding-right: 10px;*/ }
  .dashboard-content .searches-wrap select {
    width: auto; }
  .dashboard-content .report-box table {
    table-layout: inherit; } }

@media only screen and (max-width: 991px) {
  .dashboard-title .settings-tabs ul {
    margin-top: 3px; }
  .dashboard-title .settings-tabs li > a {
    font-size: 0.75em; }
  .dashboard-title .main-tabs ul {
    /*margin-left: -7px;
		margin-right: -7px;*/ }
  .dashboard-title .main-tabs li > a {
    font-size: 0.75em;
    /*padding-left: 6px;
		padding-right: 6px;*/ }
  .dashboard-title .main-tabs li + li:before {
    height: 18px;
    margin-top: -9px; }
  #content.single-page.dashboard-content {
    padding-top: 0;
    padding-bottom: 0; }
  .dashboard-content .filters-wrap h5 {
    padding: 0; }
  .dashboard-content .edit-form-wrap {
    margin-top: 15px; }
  .dashboard-content .pricing-strategy .btn-wrap {
    width: 100%;
    padding-top: 17px; }
  .dashboard-content .pricing-strategy .btn-wrap .btn {
    margin: 0; } }

@media only screen and (max-width: 767px) {
  header .mobile-btn {
    margin-top: 20px; }
  .dealer-portal {
    overflow: hidden;
    position: relative; }
  .dashboard-title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; }
  .dashboard-title h3,
  .dashboard-title .settings-tabs {
    float: none;
    display: block; }
  /*later*/
  /*.dashboard-title .tabs-wrap {
		position: absolute;
		right: -100%;
		top: 130px;
		width: 60%;
		background-color: #167609;
		z-index: 99;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	.dashboard-title .tabs-wrap.opened {
		right: 0;
	}*/
  .dashboard-title .settings-tabs {
    text-align: center;
    position: relative; }
  .dashboard-title .settings-tabs ul {
    display: inline-block;
    margin-top: 15px; }
  .dashboard-title .main-tabs {
    margin-top: 10px; }
  /*.dashboard-title .main-tabs li,
	.dashboard-title .settings-tabs li {
		width: 100%;
		border-radius: 0;
		text-align: left;
		border-top: 1px solid #21a50e;
	}
	.dashboard-title .main-tabs li:first-child {
		border-top: none;
	}
	.dashboard-title .settings-tabs li + li {
		padding-left: 0;
	}*/
  .dashboard-title .main-tabs li + li:before {
    display: none; }
  /*.dashboard-title .tabs-wrap li.active {
		background-color: #21a50e;
	}*/
  .dashboard-title .main-tabs ul {
    text-align: center; }
  .dashboard-title .main-tabs li {
    float: none;
    display: inline-block; }
  .dashboard-title .main-tabs li > a {
    font-size: 0.9em;
    line-height: 1.4;
    /*text-transform: none;
		padding: 10px;*/ }
  .dashboard-title .settings-tabs li > a i {
    display: none; }
  .dashboard-content .title-wrap {
    padding-left: 15px;
    padding-right: 15px; }
  .dashboard-content .dealer-table-wrap table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    width: 100%; }
  .dashboard-content .dealer-table-wrap thead {
    display: block;
    float: left; }
  .dashboard-content .dealer-table-wrap tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap; }
  .dashboard-content table th,
  .dashboard-content table td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .dashboard-content .dealer-table-wrap thead tr {
    display: block; }
  .dashboard-content .dealer-table-wrap tbody tr {
    display: inline-block;
    margin-left: -5px; }
  .dashboard-content .dealer-table-wrap th {
    width: auto !important;
    display: block;
    height: 42px;
    text-align: right; }
  .dashboard-content .dealer-table-wrap td {
    display: block;
    height: 42px;
    text-align: left; }
  .dashboard-content .settings-form-wrap select {
    max-width: 100% !important; }
  .dashboard-content .settings-form-wrap form div {
    padding-left: 0; }
  .dashboard-content .settings-form-wrap form div label {
    position: relative;
    display: block;
    text-align: left; }
  .dashboard-content .settings-form-wrap .phone-icon:before,
  .dashboard-content .settings-form-wrap .mail-icon:before {
    left: 0; }
  .single-page.dashboard-content .clearfix {
    margin-bottom: 10px; }
  .edit-form-wrap .form-row {
    margin-top: 15px; }
  .dashboard-content .title-wrap .btn {
    margin-top: -2px; }
  .dashboard-content .billing-table-wrap table {
    font-size: 0.8em; }
  .dashboard-content .billing-table-wrap table td {
    padding: 10px 8px; }
  .dashboard-content .billing-table-wrap table .status {
    width: 100px; }
  .billing-table-wrap .btn {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 27px;
    height: 27px; }
  .dashboard-content .billing-table-wrap + div .view-bills {
    margin-left: 15px; }
  .dashboard-content .dashboard-item .circle-carts-wrap {
    margin-top: 15px; }
  .dashboard-content .result-container.view-list .item-desc {
    max-width: 100%; }
  .dashboard-content .col-sm-7 .search-result-table-wrap {
    margin-bottom: 25px; }
  .dashboard-content .search-result-table-wrap {
    width: 100%;
    overflow: auto; }
  .dashboard-content .calendar-wrap .monthpicker {
    width: 100px; }
  .dashboard-content .prices-wrap {
    display: block; }
  .dashboard-content .calculator-item .property,
  .dashboard-content .calculator-item .value {
    width: 100%; }
  .dashboard-content .badge {
    right: 10px;
    left: auto;
    bottom: auto;
    top: 0; }
  .dashboard-content .calculator-item .property .visible-xs {
    display: inline !important; }
  .dashboard-content .calculator-item .value {
    padding: 15px 15px 0; }
  .dashboard-content .additional-info {
    width: 100%; }
  /*.dashboard-content .leads-title {
		padding-right: 0;
	}

	.dashboard-content .leads-title > a.btn {
		position: relative;
		top: 0;
		margin: 15px 0 0;
	}

	.dashboard-content .dataTable .emailRow  > td {
		white-space: normal !important;
	}
	.dashboard-content .dataTable .rowCond input, 
	.dashboard-content .dataTable .rowCond select,
	.dashboard-content .dataTable .emailRow input:not([type='checkbox']),
	.dashboard-content .dataTable .emailRow select,
	.dashboard-content .dataTable .emailRow label:not(.checkbox-wrap) {
		width: 150px;
	}

	/*.dashboard-content .leads-content-view table.dataTable {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	.dashboard-content .dataTables_wrapper + .leads-title {
		margin-top: 40px;
	}*/
  .mailto-btn {
    padding-left: 15px;
    padding-right: 15px; }
  .dashboard-content .leads-title select {
    width: 205px; } }

@media only screen and (max-width: 479px) {
  /*.dashboard-title .tabs-wrap {
		top: 108px;
	}*/
  .dashboard-title .settings-tabs li + li {
    padding-left: 10px; }
  .dashboard-title .settings-tabs li > a {
    font-size: 0.7em; }
  .dashboard-title .main-tabs li > a {
    padding: 5px; }
  .dashboard-content .billing-table-wrap {
    width: 100%;
    overflow-x: scroll; }
  .dashboard-content .billing-table-wrap table {
    width: 600px; }
  .dashboard-content .dashboard-item .tile_count .tile_stats_count .count,
  .dashboard-content .dashboard-item .tile_count .tile_stats_count .count-time {
    font-size: 1.5em; }
  .dashboard-content .pricing-strategy span {
    width: 130px; }
  .dashboard-content .pricing-strategy .btn {
    padding-left: 20px;
    padding-right: 20px; }
  .dashboard-content .pricing-strategy .row > * {
    float: left; }
  .dashboard-content .pricing-strategy select + .btn {
    margin-left: 0;
    clear: left; }
  .dashboard-content .pricing-strategy select + .btn,
  .dashboard-content .pricing-strategy select + .btn + .btn {
    margin-top: 10px; }
  .dashboard-content .calculator-item .property {
    padding-top: 25px; }
  .dashboard-content .light-grey-bg .btn {
    position: relative;
    top: 0;
    right: 0;
    float: right; }
  .dashboard-content .settings-detail h5 {
    display: inline-block;
    width: 100%;
    margin-top: 10px; }
  .dashboard-content .settings-form-wrap .hours-wrap .hour-item + .hour-item {
    margin-top: 15px; }
  .dashboard-content .settings-form-wrap .hours-wrap select {
    width: 100%; }
  .dashboard-content .settings-form-wrap .hours-wrap select + select {
    margin-left: 0;
    margin-top: 10px; }
  /*.dashboard-content .leads-title span {
		display: block;
	}
	.dashboard-content .leads-title input {
		width: 47%;
	}*/
  .dashboard-content .leads-title .select-item {
    width: 100%; }
  .dashboard-content .leads-title .select-item + .select-item {
    padding: 20px 0 0; }
  .dashboard-content .leads-title select {
    width: 220px;
    float: right; } }

@media only screen and (max-width: 320px) {
  .dashboard-title .main-tabs li > a {
    font-size: 0.75em; } }
