.font-awesome, .caret:after,
header .menus-wrap .drop-btn:after,
.advanced-options .checkbox-content:after,
.slick-prev:before,
.slick-next:before,
.dealer-form-wrap .form-item.search-icon:after,
.filters-wrap .checkbox-wrap .checkbox-icon:after,
.check-list li:before,
.accordion-content .drop-btn:after,
.mobile-socials .like-btn:after {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

body {
  font-family: "Open Sans", sans-serif;
  color: #2c3e50;
  font-size: 16px; }

/***** MAIN COLORS *****/
.manufacturer-color,
.manufacturer .manufacturer-color,
.result-filters .manufacturer-border:hover,
.manufacturer-item .marker,
.manufacturer-check li:before {
  color: #1abc90; }

.manufacturer,
.car-logos:before,
.car-logos:after,
.btn.manufacturer-color:hover,
header nav .manufacturer-color a:hover {
  background-color: #1abc90; }

.manufacturer-border,
.result-container .manufacturer-item,
.manufacturer-item .request-text,
.dashboard-content .manufacturer-item + .calculator-item {
  border-color: #1abc90; }

.result-container .manufacturer-item:hover,
.manufacturer-item .request-text {
  background-color: rgba(26, 188, 144, 0.1); }

.dealer-color,
.dealer .dealer-color,
.result-filters .dealer-border:hover,
.dealer-item .marker,
.dealer-check li:before {
  color: #1e8bc3; }

.dealer,
.btn.dealer-color:hover,
header nav .dealer-color a:hover {
  background-color: #1e8bc3; }

.dealer-border,
.result-container .dealer-item,
.dealer-item .request-text,
.dashboard-content .dealer-item + .calculator-item {
  border-color: #1e8bc3; }

.result-container .dealer-item:hover,
.dealer-item .request-text {
  background-color: rgba(30, 139, 195, 0.1); }

.rental-color,
.rental .rental-color,
.result-filters .rental-border:hover,
.rental-item .marker,
.rental-check li:before {
  color: #f39c12; }

.rental,
.btn.rental-color:hover,
header nav .rental-color a:hover {
  background-color: #f39c12; }

.rental-border,
.result-container .rental-item,
.rental-item .request-text,
.dashboard-content .rental-item + .calculator-item {
  border-color: #f39c12; }

.result-container .rental-item:hover,
.rental-item .request-text {
  background-color: rgba(243, 156, 18, 0.1); }

/***** H group *****/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0; }

h1 {
  font-size: 2em;
  font-weight: 600; }

h2 {
  font-size: 1.6em;
  margin-bottom: 15px; }

h3 {
  text-transform: none;
  font-weight: 300;
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5,
h6,
p {
  font-size: 1em; }

/***** CUSTOM CLASSES/ELEMENTS *****/
*,
a, input, button, input:hover, button:hover, input:focus, button:focus, .bootstrap-select .dropdown-toggle:focus {
  outline: none !important; }

a:hover,
a:focus {
  color: #337ab7; }

a:active,
a:focus {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

.m-top-100 {
  margin-top: 100px; }

.m-top-30 {
  margin-top: 30px; }

.open > .dropdown-toggle.btn-default:hover,
.btn-group .dropdown-toggle,
.btn-group.open .dropdown-toggle,
.bootstrap-select .dropdown-toggle:hover,
.bootstrap-select .dropdown-toggle:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  background: #fff !important; }

a,
button,
input[type=submit],
header nav a:after,
header .menus-wrap .drop-btn:after,
.search-wrap .advanced-options .checkbox-content:after,
.car-logos a:after,
.rental-cars-item:after,
.news-item:after,
.filters-wrap .color .checkbox-over:after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

select {
  max-width: 100% !important; }

.dark-blue-bg {
  background-color: #1f2f3e; }

.btn {
  border-radius: 27px;
  display: inline-block;
  height: inherit;
  padding: 7px 30px;
  font-size: 0.875em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }
  .btn.btn-green {
    color: white;
    background: #167609; }
    .btn.btn-green:hover {
      background: #0d4705; }
  .btn.btn-blue {
    color: #fff;
    background: #009ffe;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: none; }
    .btn.btn-blue:hover {
      background: #007fcb; }
  .btn.btn-light-green {
    color: #fff;
    background: #1b9337; }
    .btn.btn-light-green:hover {
      background: #136827; }
  .btn.btn-white {
    background: #fff;
    border: 2px solid #fff; }
    .btn.btn-white:hover {
      color: white; }
  .btn.btn-white-green {
    background: #fff;
    border: 2px solid #167609;
    color: #167609; }
    .btn.btn-white-green:hover {
      background: #167609;
      color: #fff; }
  .btn.btn-white-blue {
    background: #fff;
    border-color: #1f2f3e;
    color: #1f2f3e; }
    .btn.btn-white-blue:hover {
      background: #e7e7e7; }
  .btn.btn-white-light-blue {
    background-color: #fff;
    border-color: #009ffe;
    color: #009ffe;
    border-width: 2px;
    border-radius: 4px;
    font-weight: 500; }
    .btn.btn-white-light-blue:hover {
      background-color: #009ffe;
      color: #fff; }
  .btn.btn-grey {
    background: #1f2f3e;
    color: white; }
    .btn.btn-grey:hover {
      background: #0e151c; }
  .btn.btn-light-grey {
    background: #999999;
    color: white; }
    .btn.btn-light-grey:hover {
      background: gray; }
  .btn.btn-orange {
    background-color: #f39c12;
    color: #fff; }
    .btn.btn-orange:hover {
      background-color: #c87f0a; }
  .btn.btn-red {
    background-color: #f8423b;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .btn.btn-red:hover {
      background-color: #f6130a; }
  .btn.btn-pink {
    background-color: #e82d52;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .btn.btn-pink:hover {
      background-color: #cc163a; }
  .btn.btn-smaller {
    padding: 3px 15px;
    font-size: 0.813em; }
  .btn.small-btn {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 0.7em;
    padding-left: 10px;
    padding-right: 10px; }
  .btn.pull-right {
    margin-left: 15px; }
  .btn.pull-left {
    margin-right: 15px; }

.blue-color {
  color: #1b6fb7; }

input {
  height: 44px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: none;
  background-color: white;
  font-family: inherit;
  font-size: inherit;
  padding: 0 25px;
  color: #a1b1bc;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -webkit-box-shadow: none !important; }

.button-wrap {
  text-align: center; }

.form-item {
  display: inline-block; }

.form-item > input,
.form-item .bootstrap-select {
  width: 100% !important; }

.caret {
  width: 11px;
  height: 8px;
  position: relative;
  border: none; }

.caret:after {
  content: "\f078";
  line-height: 5px;
  font-size: 0.65em;
  position: absolute;
  top: 0;
  left: 0; }

.dropup .caret {
  border: none; }

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  top: 50%;
  margin-top: -5px; }

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px; }

#wrap .bootstrap-select > .dropdown-menu {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-bottom: 0;
  border: none;
  margin: 0;
  padding: 0; }

#wrap .dropdown-menu.inner {
  padding-top: 5px;
  background: transparent; }

.dropdown-menu.inner,
.drop-main-menu {
  border-radius: 3px !important;
  border-bottom: 1px solid #d7d7d7 !important; }

.dropdown-menu li,
.drop-main-menu li {
  border-top: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  background: #fff; }

.dropdown-menu li:first-child,
.drop-main-menu li:first-child {
  border-radius: 3px 3px 0 0;
  position: relative; }

.dropdown-menu li:last-child,
.drop-main-menu li:last-child {
  border-radius: 0 0 3px 3px;
  overflow: hidden; }

.dropdown-menu > li > a,
.drop-main-menu li a {
  padding: 15px 12px;
  font-size: 0.90em; }

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #1f2f3e;
  color: white; }

header .drop-main-menu:before,
header .account-detail-list .drop-content:before,
.dropdown-menu.inner li:first-child:before,
header .drop-main-menu:after,
header .account-detail-list .drop-content:after,
.dropdown-menu.inner li:first-child:after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50%;
  margin-left: -8px;
  border-bottom: 4px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent; }

header .drop-main-menu:before,
header .account-detail-list .drop-content:before,
.dropdown-menu.inner li:first-child:before {
  top: -5px;
  border-bottom: 4px solid #d7d7d7;
  z-index: 1; }

header .drop-main-menu:after,
header .account-detail-list .drop-content:after {
  top: -3px; }

header .drop-main-menu:before,
header .account-detail-list .drop-content:before {
  top: -4px; }

header .drop-main-menu:after,
header .account-detail-list .drop-content:after,
.dropdown-menu.inner li:first-child:after {
  z-index: 2; }

.dropdown-menu.open > .dropdown-menu {
  top: 0; }

.bootstrap-select > div.dropdown-menu {
  background: transparent; }

.bootstrap-select ul.dropdown-menu {
  position: relative !important;
  padding-top: 5px; }

.search-wrap .bootstrap-select > div.dropdown-menu {
  padding-top: 18px; }

.dealer-form-wrap .bootstrap-select > div.dropdown-menu {
  padding-top: 5px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type='number'] {
  -moz-appearance: textfield !important; }
