.font-awesome, .detailed-page .like-btn:after {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex, .car-photos .car-photo-buttons, .popups-wrap .popups-content .popup-item-head, .buy-online-form .estimate-step, .finance-form-wrap .popup-price-detail, .finance-form-wrap .popup-price-detail .popup-price {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/***** DETAILEAD PAGE *****/
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .detail header .container {
    width: 1140px; }
  .detail .col-md-8 {
    width: 60%; }
  .detail .col-md-4 {
    width: 40%; } }

@media only screen and (min-width: 1441px) {
  .detail .container {
    width: 1430px; }
  .detail header .container {
    width: 1400px; }
  .lg-outer .lg-image {
    width: 900px !important; } }

@media only screen and (min-width: 1441px) and (max-height: 900px) {
  .detail header .container {
    width: 1140px; }
  .detail .container {
    width: 1170px; }
  .detail .col-md-8 {
    width: 60%; }
  .detail .col-md-4 {
    width: 40%; } }

@media only screen and (min-width: 768px) {
  .row-overflow {
    bottom: -2px;
    top: 88px;
    left: 0;
    right: 0;
    z-index: 998;
    background: #ececec; }
    .row-overflow.fixed {
      position: fixed; }
      .row-overflow.fixed .row-overflow-scroll {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
        padding-top: 25px; }
      .row-overflow.fixed .popups-wrap {
        box-shadow: none; }
      .row-overflow.fixed .popups-wrap .popups-container.visible,
      .row-overflow.fixed .buy-online-container {
        bottom: auto;
        min-height: calc(100% + 25px);
        padding-bottom: 25px;
        background-color: transparent; }
        .row-overflow.fixed .popups-wrap .popups-container.visible:before,
        .row-overflow.fixed .buy-online-container:before {
          bottom: 25px;
          opacity: 1; }
      .row-overflow.fixed .popups-wrap .popups-container.visible {
        box-shadow: -10px -10px 10px -12px rgba(0, 0, 0, 0.25), 10px -10px 10px -12px rgba(0, 0, 0, 0.25); }
    .row-overflow.transparent {
      background: transparent; } }

.btn.active {
  -webkit-box-shadow: none;
  box-shadow: none; }

.slick-slide {
  outline: none; }

body.overflow {
  overflow: hidden;
  height: 100%; }

header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 1001;
  height: 88px;
  border-bottom: 1px solid #d8d8d9; }

header .drop-wrap .drop-content {
  z-index: 1002; }

#content.detailed-page {
  background: #ececec;
  padding-top: 113px;
  border-top: none;
  padding-bottom: 55px; }
  #content.detailed-page p,
  #content.detailed-page .accordion-content li {
    font-size: 0.9em; }
  #content.detailed-page .price-detail {
    float: right;
    margin-right: 25%; }
  #content.detailed-page .container {
    padding-top: 0;
    padding-bottom: 0; }
  #content.detailed-page .number {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    display: inline-block;
    font-size: 0.813em; }

.car-photos {
  padding: 0;
  background: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .car-photos .main-photo-wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    cursor: pointer; }
    @media only screen and (min-width: 768px) {
      .car-photos .main-photo-wrap {
        height: 300px; }
        .car-photos .main-photo-wrap .video-wrap {
          height: 300px; } }
    @media only screen and (min-width: 991px) {
      .car-photos .main-photo-wrap {
        height: 460px; }
        .car-photos .main-photo-wrap .video-wrap {
          height: 460px; } }
    @media only screen and (min-width: 1200px) {
      .car-photos .main-photo-wrap {
        height: 502px; }
        .car-photos .main-photo-wrap .video-wrap {
          height: 502px; } }
    @media only screen and (min-width: 1441px) {
      .car-photos .main-photo-wrap {
        height: 690px; }
        .car-photos .main-photo-wrap .video-wrap {
          height: 690px; } }
    @media only screen and (min-width: 1441px) and (max-height: 900px) {
      .car-photos .main-photo-wrap {
        height: 524px; }
        .car-photos .main-photo-wrap .video-wrap {
          height: 524px; } }
    .car-photos .main-photo-wrap img {
      width: 100%;
      height: 100%;
      max-width: inherit;
      object-fit: cover;
      position: relative;
      top: 0;
      left: 0; }
    .car-photos .main-photo-wrap .photo-count {
      color: #2c3e50;
      background: none;
      position: absolute;
      text-align: center;
      top: 20px;
      left: 5px;
      font-size: 1em;
      line-height: 30px;
      height: 30px;
      padding: 0 10px;
      width: auto; }
      .car-photos .main-photo-wrap .photo-count img {
        width: 25px;
        object-fit: none;
        position: relative;
        top: -2px; }
    .car-photos .main-photo-wrap .share-btn {
      position: absolute;
      top: 18px;
      display: inline-block;
      right: 50px;
      z-index: 9; }
      .car-photos .main-photo-wrap .share-btn img {
        width: 35px; }
    .car-photos .main-photo-wrap .main-photo-slider {
      display: none; }
      .car-photos .main-photo-wrap .main-photo-slider.slick-initialized {
        display: block; }
      .car-photos .main-photo-wrap .main-photo-slider .slick-arrow {
        width: 50px;
        top: 0;
        bottom: 0;
        height: inherit;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        z-index: 5; }
        .car-photos .main-photo-wrap .main-photo-slider .slick-arrow:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
        .car-photos .main-photo-wrap .main-photo-slider .slick-arrow:after {
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -24px 0 0 -13px;
          width: 26px;
          height: 48px;
          z-index: 2; }
        .car-photos .main-photo-wrap .main-photo-slider .slick-arrow:hover:before {
          opacity: 1; }
      .car-photos .main-photo-wrap .main-photo-slider .slick-prev {
        left: 0; }
        .car-photos .main-photo-wrap .main-photo-slider .slick-prev:after {
          content: url(../img/arrow_slider.svg);
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg); }
        .car-photos .main-photo-wrap .main-photo-slider .slick-prev:before {
          background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
          background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
          background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, transparent 100%); }
      .car-photos .main-photo-wrap .main-photo-slider .slick-next {
        right: 0; }
        .car-photos .main-photo-wrap .main-photo-slider .slick-next:after {
          content: url(../img/arrow_slider.svg); }
        .car-photos .main-photo-wrap .main-photo-slider .slick-next:before {
          background: -moz-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
          background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
          background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.4) 100%); }
  .car-photos--avis-background {
    background: url(../img/avis_bg_stock2.png) no-repeat 50% 0;
    background-size: cover;
    overflow: visible;
    padding-bottom: 120px; }
    @media only screen and (max-width: 1440px) {
      .car-photos--avis-background {
        padding-bottom: 100px; } }
    @media only screen and (max-width: 1279px) {
      .car-photos--avis-background {
        padding-bottom: 80px; } }
    @media only screen and (max-width: 991px) {
      .car-photos--avis-background {
        padding-bottom: 60px; } }
    .car-photos--avis-background .main-photo-wrap {
      overflow: hidden; }
      @media only screen and (min-width: 768px) {
        .car-photos--avis-background .main-photo-wrap {
          height: 235px;
          min-height: inherit !important; }
          .car-photos--avis-background .main-photo-wrap .video-wrap,
          .car-photos--avis-background .main-photo-wrap .main-slide-item {
            height: 235px; } }
      @media only screen and (min-width: 991px) {
        .car-photos--avis-background .main-photo-wrap {
          height: 394px; }
          .car-photos--avis-background .main-photo-wrap .video-wrap,
          .car-photos--avis-background .main-photo-wrap .main-slide-item {
            height: 394px; } }
      @media only screen and (min-width: 1200px) {
        .car-photos--avis-background .main-photo-wrap {
          height: 402px; }
          .car-photos--avis-background .main-photo-wrap .video-wrap,
          .car-photos--avis-background .main-photo-wrap .main-slide-item {
            height: 402px; } }
      @media only screen and (min-width: 1441px) {
        .car-photos--avis-background .main-photo-wrap {
          height: 570px; }
          .car-photos--avis-background .main-photo-wrap .video-wrap,
          .car-photos--avis-background .main-photo-wrap .main-slide-item {
            height: 570px; } }
      @media only screen and (min-width: 1441px) and (max-height: 900px) {
        .car-photos--avis-background .main-photo-wrap {
          height: 404px; }
          .car-photos--avis-background .main-photo-wrap .video-wrap,
          .car-photos--avis-background .main-photo-wrap .main-slide-item {
            height: 404px; } }
  .car-photos .car-photo-buttons {
    position: absolute;
    z-index: 99;
    bottom: 0;
    height: 120px; }
    @media only screen and (max-width: 1440px) {
      .car-photos .car-photo-buttons {
        height: 100px; } }
    @media only screen and (max-width: 1279px) {
      .car-photos .car-photo-buttons {
        height: 80px; } }
    @media only screen and (max-width: 991px) {
      .car-photos .car-photo-buttons {
        height: 60px; } }
    @media only screen and (max-width: 767px) {
      .car-photos .car-photo-buttons {
        height: inherit; } }
    @media only screen and (min-width: 1280px) {
      .car-photos .car-photo-buttons a:hover {
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.05);
        transform: scale(1.05); } }
    .car-photos .car-photo-buttons a img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-width: auto; }
  .car-photos .nav-main-photo-slider-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; }
    .car-photos .nav-main-photo-slider-wrap .slider-action-btn {
      position: absolute;
      background: url(../img/thumbnails_down.svg) no-repeat 50% 50%;
      width: 50px;
      height: 30px;
      display: inline-block;
      top: -29px;
      left: 50%;
      text-align: center;
      margin-left: -25px;
      cursor: pointer; }
    .car-photos .nav-main-photo-slider-wrap.closed .slider-action-btn {
      background-image: url(../img/thumbnails_up.svg); }
  .car-photos .nav-main-photo-slider {
    margin-top: 0;
    padding: 5px 33px;
    background: rgba(0, 0, 0, 0.4);
    height: 80px; }
    .car-photos .nav-main-photo-slider.slick-initialized .main-slide-item {
      display: block; }
    .car-photos .nav-main-photo-slider .main-slide-item {
      padding: 0 5px;
      position: relative;
      cursor: pointer;
      width: 80px !important;
      height: 70px;
      overflow: hidden;
      float: left;
      display: none;
      text-align: center; }
      .car-photos .nav-main-photo-slider .main-slide-item img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        max-width: inherit; }
      .car-photos .nav-main-photo-slider .main-slide-item.slick-current img {
        opacity: 0.5; }
    .car-photos .nav-main-photo-slider .slick-prev:before {
      content: '\f104'; }
    .car-photos .nav-main-photo-slider .slick-next:before {
      content: '\f105'; }
  .car-photos .slick-prev:before,
  .car-photos .slick-next:before {
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px; }
  .car-photos .slick-prev {
    left: 5px; }
  .car-photos .slick-next {
    right: 5px; }

.car-details {
  background-color: #fff;
  padding: 8px 15px 5px;
  font-family: "Montserrat", sans-serif;
  min-height: 90px;
  font-weight: 500; }
  .car-details .display-flex, .car-details .car-photos .car-photo-buttons, .car-photos .car-details .car-photo-buttons, .car-details .popups-wrap .popups-content .popup-item-head, .popups-wrap .popups-content .car-details .popup-item-head, .car-details .buy-online-form .estimate-step, .buy-online-form .car-details .estimate-step, .car-details .finance-form-wrap .popup-price-detail, .finance-form-wrap .car-details .popup-price-detail, .car-details .finance-form-wrap .popup-price-detail .popup-price, .finance-form-wrap .popup-price-detail .car-details .popup-price {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .car-details h1 {
    font-weight: 400;
    font-size: 1.75em;
    margin-bottom: 3px;
    padding-right: 150px; }
  .car-details p {
    font-size: 0.9em;
    margin: 0;
    line-height: 1.2; }
    .car-details p + p {
      margin-top: 5px; }
  .car-details strong {
    color: #167609;
    font-weight: 400;
    line-height: 1;
    font-size: 0.9em; }
  .car-details.exclusive-price .price {
    color: #e7244a; }
    .car-details.exclusive-price .price .old-price {
      display: inline-block; }
  .car-details .price {
    font-size: 1.4em;
    line-height: 1.1;
    position: relative;
    display: inline-block; }
    .car-details .price .old-price {
      position: absolute;
      right: 0;
      top: -20px;
      color: #1f2f3e;
      font-size: 0.65em;
      display: none;
      white-space: nowrap; }
      .car-details .price .old-price:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #e82d52;
        top: 48%; }
    .car-details .price .est-price {
      font-size: 0.65em;
      display: block; }

.mobile-networks .jssocials-shares .jssocials-share-link,
.socials-wrap .jssocials-shares .jssocials-share-link,
.socials-wrap .print {
  display: inline-block;
  width: 44px;
  height: 26px;
  text-align: center;
  border: 1px solid #ebeced;
  border-radius: 4px;
  background-color: #fff;
  color: #072a47;
  padding: 0;
  line-height: 22px; }

.socials-wrap {
  font-size: 12px;
  display: inline-block;
  width: 50%; }
  .socials-wrap .print {
    margin-left: 0.6em;
    line-height: 32px; }
    .socials-wrap .print i {
      font-size: 1.5em; }
  .socials-wrap .jssocials-shares {
    margin: 0;
    float: left; }
    .socials-wrap .jssocials-shares .jssocials-share {
      margin-top: 0;
      margin-bottom: 0; }
      .socials-wrap .jssocials-shares .jssocials-share.jssocials-share-twitter .jssocials-share-link {
        color: #1da1f2; }
      .socials-wrap .jssocials-shares .jssocials-share.jssocials-share-facebook .jssocials-share-link {
        color: #3b5998; }
      .socials-wrap .jssocials-shares .jssocials-share.jssocials-share-googleplus .jssocials-share-link {
        color: #dd4b39; }
      .socials-wrap .jssocials-shares .jssocials-share.jssocials-share-whatsapp .jssocials-share-link {
        color: #177709; }
  .socials-wrap a.print {
    color: #072a47; }

.price-detail a {
  margin-top: 5px;
  font-size: 0.9em;
  display: inline-block; }

.price-detail .get-price-wrapper .btn.btn-orange {
  position: absolute; }

.price-detail .get-price-wrapper .scroll-down {
  padding-top: 40px; }

.result-sorting label {
  border-bottom: 0;
  font-weight: 400;
  font-size: 0.9em;
  color: #909090; }

.request-text {
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding: 25px 15px 15px; }
  .request-text h3 {
    text-transform: uppercase;
    font-weight: 500; }
    .request-text h3 + p {
      text-transform: uppercase;
      font-size: 0.825em;
      font-family: "Montserrat", sans-serif;
      margin-top: 10px; }

.detail-section {
  margin-top: 30px; }
  .detail-section.carfax-wrap {
    margin-top: 15px; }
  .detail-section.divider a {
    display: inline-block;
    width: 80%;
    max-width: 400px; }
    .detail-section.divider a:hover {
      box-shadow: 0 10px 10px -9px rgba(0, 0, 0, 0.5);
      -webkit-transform: scale(1.05);
      transform: scale(1.05); }
  .detail-section.divider img {
    width: 100%; }

.detailed-page h3 {
  font-weight: 500;
  margin-bottom: 15px;
  color: #167609; }

.detailed-page .vehicle-overview h3 {
  text-transform: none; }

.detailed-page .drop-content {
  display: none; }

.dealer-info {
  overflow: hidden;
  font-size: 0.9em; }
  .dealer-info h3 {
    margin-bottom: 20px; }
  .dealer-info .col-md-4 {
    position: relative;
    padding-left: 40px;
    margin-bottom: 25px; }
  .dealer-info .dealer-info-icon {
    position: absolute;
    left: 15px;
    top: 2px; }
  .dealer-info a {
    color: #009ffe; }

.listing-summary {
  border-bottom: 1px solid #d2dbe0; }
  .listing-summary ul {
    overflow: hidden;
    padding-top: 10px; }
    .listing-summary ul li {
      float: left;
      width: 33.33%;
      margin-bottom: 25px;
      min-height: 40px; }
      @media only screen and (min-width: 768px) {
        .listing-summary ul li:nth-child(3n):after {
          content: "";
          height: 0;
          width: 300%;
          display: table;
          float: right; } }
      .listing-summary ul li h6 {
        color: #167609;
        letter-spacing: 0.1em;
        font-size: 0.75em;
        font-weight: 400; }
      .listing-summary ul li span {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        font-size: 0.9em; }

.vehicle-overview {
  line-height: 1.7; }
  .vehicle-overview .accordion-content .drop-wrap {
    border: none; }
  .vehicle-overview .accordion-content .drop-wrap + .drop-wrap {
    margin-top: 20px; }
  .vehicle-overview .accordion-content .drop-wrap .drop-btn {
    color: #167609;
    font-size: 1.375em;
    padding: 7px 0; }
  .vehicle-overview .accordion-content .drop-wrap .drop-btn:after {
    font-size: 0.75em; }

.chart-wrap {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #d2dbe0; }
  .chart-wrap .chart {
    border: 1px solid #e8e8e9;
    background: #fff; }

#map {
  width: 100%;
  height: 440px; }

.detailed-inner-container {
  max-width: 960px;
  margin: 0 auto; }

.carfax-snapshot-embedded {
  width: 100%; }

.buy-online-content {
  width: 100%;
  z-index: 9999;
  position: fixed;
  left: 100%;
  background: rgba(0, 0, 0, 0.71);
  color: #000; }

.close-frame {
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 36px;
  background-color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  z-index: 10; }
  .close-frame:hover {
    cursor: pointer; }
  .close-frame img {
    width: 20px; }

.dealer-form-fields p {
  margin-bottom: 14px; }
  .dealer-form-fields p:nth-child(2) {
    margin-bottom: 30px; }

.detailed-page .like-btn {
  position: absolute;
  top: 20px;
  right: 15px;
  color: white;
  width: 24px;
  height: 25px;
  text-align: center;
  font-size: 1.35em;
  z-index: 9; }

.detailed-page .like-btn:after {
  content: "\f004";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 28px;
  transition: all 0.3s; }

.detailed-page .liked .like-btn:after {
  color: #ef1b61; }

.graph-wrapper h2 {
  margin-left: 15px; }

.other-cars-slider-row {
  padding-top: 50px; }
  .other-cars-slider-row .other-cars-slider {
    display: none;
    margin-left: -8px;
    margin-right: -8px; }
    .other-cars-slider-row .other-cars-slider.slick-initialized {
      display: block; }
    .other-cars-slider-row .other-cars-slider a {
      color: #1f2f3e; }
      .other-cars-slider-row .other-cars-slider a:hover {
        text-decoration: none; }
  .other-cars-slider-row .slide-item {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px; }
    .other-cars-slider-row .slide-item h4 {
      text-transform: none; }
  .other-cars-slider-row .slide-img {
    position: relative;
    overflow: hidden;
    max-height: 232px; }
    .other-cars-slider-row .slide-img img {
      width: 100%; }
    .other-cars-slider-row .slide-img .like-btn {
      top: 5px;
      right: 10px; }
  .other-cars-slider-row .slide-desc {
    background-color: #fff;
    padding: 10px; }
    .other-cars-slider-row .slide-desc p {
      margin-bottom: 0;
      margin-top: 3px; }
  .other-cars-slider-row .slick-prev:before,
  .other-cars-slider-row .slick-next:before {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 25px;
    height: 41px;
    display: inline-block; }
  .other-cars-slider-row .slick-prev:before {
    content: "";
    background-image: url(../img/arrow_slider-grey.svg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .other-cars-slider-row .slick-next:before {
    content: "";
    background-image: url(../img/arrow_slider-grey.svg); }

.mobile-networks {
  display: none; }

/*------ Popups styles -----*/
/*--- animations ---*/
@-webkit-keyframes rotateImg {
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotateImg {
  100% {
    -moz-transform: rotate(360deg); } }

@-ms-keyframes rotateImg {
  100% {
    -ms-transform: rotate(360deg); } }

@keyframes rotateImg {
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes scaleImg {
  50% {
    -webkit-transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes scaleImg {
  50% {
    -webkit-transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1); } }

@-ms-keyframes scaleImg {
  50% {
    -webkit-transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1); } }

@keyframes scaleImg {
  50% {
    -webkit-transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1); } }

@-webkit-keyframes moveImg {
  33% {
    top: 60%; }
  66% {
    top: 40%; } }

@-moz-keyframes moveImg {
  33% {
    top: 60%; }
  66% {
    top: 40%; } }

@-ms-keyframes moveImg {
  33% {
    top: 60%; }
  66% {
    top: 40%; } }

@keyframes moveImg {
  33% {
    top: 60%; }
  66% {
    top: 40%; } }

@-webkit-keyframes moveLeftImg {
  20% {
    left: 15px; }
  40% {
    left: 35px; }
  60% {
    left: 20px; }
  80% {
    left: 30px; }
  100% {
    left: 25px; } }

@-moz-keyframes moveLeftImg {
  20% {
    left: 15px; }
  40% {
    left: 35px; }
  60% {
    left: 20px; }
  80% {
    left: 30px; }
  100% {
    left: 25px; } }

@-ms-keyframes moveLeftImg {
  20% {
    left: 15px; }
  40% {
    left: 35px; }
  60% {
    left: 20px; }
  80% {
    left: 30px; }
  100% {
    left: 25px; } }

@keyframes moveLeftImg {
  20% {
    left: 15px; }
  40% {
    left: 35px; }
  60% {
    left: 20px; }
  80% {
    left: 30px; }
  100% {
    left: 25px; } }

@-webkit-keyframes changeWhiteColor {
  25% {
    background-color: #167609;
    color: #fff; }
  75% {
    background-color: #167609;
    color: #fff; }
  100% {
    background-color: #fff;
    color: #167609; } }

@keyframes changeWhiteColor {
  25% {
    background-color: #167609;
    color: #fff; }
  75% {
    background-color: #167609;
    color: #fff; }
  100% {
    background-color: #fff;
    color: #167609; } }

@-webkit-keyframes changeGreenColor {
  25% {
    background-color: #fff;
    color: #167609; }
  75% {
    background-color: #fff;
    color: #167609; }
  100% {
    background-color: #167609;
    color: #fff; } }

@keyframes changeGreenColor {
  25% {
    background-color: #fff;
    color: #167609; }
  75% {
    background-color: #fff;
    color: #167609; }
  100% {
    background-color: #167609;
    color: #fff; } }

@-webkit-keyframes changeCarImage {
  25% {
    background-image: url(../img/test_drive.svg); }
  75% {
    background-image: url(../img/test_drive.svg); }
  100% {
    background-image: url(../img/floating_2.svg); } }

@keyframes changeCarImage {
  25% {
    background-image: url(../img/test_drive.svg); }
  75% {
    background-image: url(../img/test_drive.svg); }
  100% {
    background-image: url(../img/floating_2.svg); } }

@-webkit-keyframes changeInfoImage {
  25% {
    background-image: url(../img/contact_dealer.svg); }
  75% {
    background-image: url(../img/contact_dealer.svg); }
  100% {
    background-image: url(../img/floating_1.svg); } }

@keyframes changeInfoImage {
  25% {
    background-image: url(../img/contact_dealer.svg); }
  75% {
    background-image: url(../img/contact_dealer.svg); }
  100% {
    background-image: url(../img/floating_1.svg); } }

/*--- enf of animations ---*/
#error-message {
  padding-bottom: 20px;
  font-weight: 500;
  color: rgba(239, 88, 77, 0.75); }

.popup-btns {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ececec;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .popup-btns {
      z-index: 999;
      max-width: 282px; } }
  @media only screen and (min-width: 992px) {
    .popup-btns {
      max-width: 293px; } }
  @media only screen and (min-width: 1200px) {
    .popup-btns {
      max-width: 438px; } }
  @media only screen and (min-width: 1441px) {
    .popup-btns {
      max-width: 446px; } }
  .popup-btns.affix, .popup-btns.affix-bottom {
    top: 113px;
    position: fixed !important;
    z-index: 999;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden; }
    .popup-btns.affix .btn.exclusive-price-btn:before, .popup-btns.affix-bottom .btn.exclusive-price-btn:before {
      opacity: 0; }
    @media only screen and (min-width: 992px) {
      .popup-btns.affix .btn, .popup-btns.affix-bottom .btn {
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 0.9em; } }
    @media only screen and (min-width: 1200px) {
      .popup-btns.affix .btn, .popup-btns.affix-bottom .btn {
        font-size: 1.375em; } }
  .popup-btns .btn + .btn {
    margin-top: 14px; }
    @media only screen and (min-width: 768px) and (max-width: 1440px) {
      .popup-btns .btn + .btn {
        margin-top: 10px; } }
  .popup-btns > .btn:not(.exclusive-price-btn) {
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #167609;
    border: 3px solid transparent;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }
    .popup-btns > .btn:not(.exclusive-price-btn):before, .popup-btns > .btn:not(.exclusive-price-btn):after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -16px;
      opacity: 0;
      width: 25px;
      height: 25px;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .popup-btns > .btn:not(.exclusive-price-btn):before {
      left: -3px;
      background-color: #167609;
      box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.05); }
    .popup-btns > .btn:not(.exclusive-price-btn):after {
      left: 1px;
      background-color: #fff; }
    .popup-btns > .btn:not(.exclusive-price-btn):hover {
      border-color: #167609; }
    .popup-btns > .btn:not(.exclusive-price-btn).active {
      border-color: #167609; }
      .popup-btns > .btn:not(.exclusive-price-btn).active:before, .popup-btns > .btn:not(.exclusive-price-btn).active:after {
        opacity: 1; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .popup-btns > .btn:not(.exclusive-price-btn):before, .popup-btns > .btn:not(.exclusive-price-btn):after {
        width: 18px;
        height: 18px;
        margin-top: -12px; } }
    .popup-btns > .btn:not(.exclusive-price-btn) span {
      font-size: 0.68em;
      text-transform: capitalize;
      display: inline-block;
      padding-top: 6px;
      letter-spacing: 0.5px; }
  .popup-btns > .btn {
    position: relative;
    text-align: left;
    font-size: 1.375em;
    font-weight: 500;
    width: 100%;
    padding: 18px 20px 18px 80px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .popup-btns > .btn {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1em; } }
    @media only screen and (min-width: 992px) {
      .popup-btns > .btn {
        padding-top: 16px;
        padding-bottom: 16px; } }
    @media only screen and (min-width: 1200px) {
      .popup-btns > .btn {
        padding-top: 20px;
        padding-bottom: 20px; } }
    @media only screen and (min-width: 1441px) {
      .popup-btns > .btn {
        padding-top: 34px;
        padding-bottom: 34px; } }
    @media only screen and (min-width: 1441px) and (max-height: 900px) {
      .popup-btns > .btn {
        padding-top: 21px;
        padding-bottom: 21px; } }
    @media only screen and (min-width: 768px) {
      .popup-btns > .btn.btn-contact .popup-btn-icon {
        -webkit-animation-name: scaleImg;
        -moz-animation-name: scaleImg;
        -ms-animation-name: scaleImg;
        animation-name: scaleImg; } }
    @media only screen and (max-width: 767px) {
      .popup-btns > .btn.btn-contact .popup-btn-icon.animation {
        -webkit-animation-name: scaleImg;
        -moz-animation-name: scaleImg;
        -ms-animation-name: scaleImg;
        animation-name: scaleImg; } }
    @media only screen and (min-width: 768px) {
      .popup-btns > .btn.btn-trade-value .popup-btn-icon {
        -webkit-animation-name: rotateImg;
        -moz-animation-name: rotateImg;
        -ms-animation-name: rotateImg;
        animation-name: rotateImg; } }
    @media only screen and (max-width: 767px) {
      .popup-btns > .btn.btn-trade-value .popup-btn-icon.animation {
        -webkit-animation-name: rotateImg;
        -moz-animation-name: rotateImg;
        -ms-animation-name: rotateImg;
        animation-name: rotateImg; } }
    @media only screen and (min-width: 768px) {
      .popup-btns > .btn.btn-finance .popup-btn-icon {
        -webkit-animation-name: moveImg;
        -moz-animation-name: moveImg;
        -ms-animation-name: moveImg;
        animation-name: moveImg; } }
    @media only screen and (max-width: 767px) {
      .popup-btns > .btn.btn-finance .popup-btn-icon.animation {
        -webkit-animation-name: moveImg;
        -moz-animation-name: moveImg;
        -ms-animation-name: moveImg;
        animation-name: moveImg; } }
    @media only screen and (min-width: 768px) {
      .popup-btns > .btn.btn-buy-online .popup-btn-icon {
        -webkit-animation-name: rotateImg;
        -moz-animation-name: rotateImg;
        -ms-animation-name: rotateImg;
        animation-name: rotateImg; } }
    @media only screen and (max-width: 767px) {
      .popup-btns > .btn.btn-buy-online .popup-btn-icon.animation {
        -webkit-animation-name: moveLeftImg;
        -moz-animation-name: rmoveLeftImg;
        -ms-animation-name: moveLeftImg;
        animation-name: moveLeftImg; } }
    .popup-btns > .btn.btn-buy-online-iframe {
      background-image: url(../img/buy_online.svg); }
    .popup-btns > .btn.btn-test-drive {
      color: #fff;
      background-color: #167609; }
      .popup-btns > .btn.btn-test-drive:after {
        display: none; }
      @media only screen and (min-width: 768px) {
        .popup-btns > .btn.btn-test-drive:hover {
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          -webkit-transform: scale(1.05);
          transform: scale(1.05); } }
      @media only screen and (min-width: 768px) {
        .popup-btns > .btn.btn-test-drive .popup-btn-icon {
          -webkit-animation-name: moveLeftImg;
          -moz-animation-name: rmoveLeftImg;
          -ms-animation-name: moveLeftImg;
          animation-name: moveLeftImg; } }
      @media only screen and (max-width: 767px) {
        .popup-btns > .btn.btn-test-drive .popup-btn-icon.animation {
          -webkit-animation-name: moveLeftImg;
          -moz-animation-name: rmoveLeftImg;
          -ms-animation-name: moveLeftImg;
          animation-name: moveLeftImg; } }
    .popup-btns > .btn.exclusive-price-btn {
      line-height: 1.1;
      background-color: #e82d52;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      color: #fff;
      border: 3px solid transparent;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .popup-btns > .btn.exclusive-price-btn:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;
        margin-top: -18px;
        border-top: 18px solid transparent;
        border-right: 18px solid #E82D52;
        border-bottom: 18px solid transparent;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0; }
        @media only screen and (min-width: 1441px) {
          .popup-btns > .btn.exclusive-price-btn:before {
            top: 44%; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .popup-btns > .btn.exclusive-price-btn:before {
            border-width: 15px;
            left: -15px;
            top: 75%; } }
      .popup-btns > .btn.exclusive-price-btn.active:before, .popup-btns > .btn.exclusive-price-btn.with-arrow:before {
        opacity: 1; }
      @media only screen and (min-width: 1200px) {
        .popup-btns > .btn.exclusive-price-btn:hover {
          background-color: #cc163a; }
          .popup-btns > .btn.exclusive-price-btn:hover:before {
            border-right-color: #cc163a; } }
  .popup-btns .popup-btn-icon {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    height: 25px;
    width: auto;
    left: 25px;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-duration: 4s;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear; }
    @media only screen and (min-width: 768px) {
      .popup-btns .popup-btn-icon {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        -ms-animation-delay: 1s;
        animation-delay: 1s; } }

.popups-wrap {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }
  @media only screen and (min-width: 768px) {
    .popups-wrap {
      z-index: 999; } }
  .popups-wrap.carfax-form {
    background-color: #fff; }
    .popups-wrap.carfax-form .green-bg {
      background-color: rgba(22, 118, 9, 0.75);
      color: #fff;
      padding: 15px;
      margin-bottom: 40px; }
    .popups-wrap.carfax-form .popups-header {
      margin-left: 25px;
      margin-right: 25px;
      padding-top: 40px;
      padding-left: 0;
      padding-right: 0; }
    .popups-wrap.carfax-form .popups-content {
      padding-top: 40px;
      padding-bottom: 40px; }
  .popups-wrap .popups-container {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    background: #fff;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .popups-wrap .popups-container.visible {
      opacity: 1;
      z-index: 2; }
    .popups-wrap .popups-container:before {
      content: "";
      position: absolute;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #fff;
      z-index: -1;
      opacity: 0; }
    .popups-wrap .popups-container h3 {
      color: #167609;
      margin-bottom: 5px; }
  .popups-wrap .popups-header {
    background: #fff;
    border-bottom: 2px solid #ececec;
    padding: 17px 25px 16px;
    position: relative; }
    .popups-wrap .popups-header .display-flex, .popups-wrap .popups-header .car-photos .car-photo-buttons, .car-photos .popups-wrap .popups-header .car-photo-buttons, .popups-wrap .popups-header .popups-content .popup-item-head, .popups-wrap .popups-content .popups-header .popup-item-head, .popups-wrap .popups-header .buy-online-form .estimate-step, .buy-online-form .popups-wrap .popups-header .estimate-step, .popups-wrap .popups-header .finance-form-wrap .popup-price-detail, .finance-form-wrap .popups-wrap .popups-header .popup-price-detail, .popups-wrap .popups-header .finance-form-wrap .popup-price-detail .popup-price, .finance-form-wrap .popup-price-detail .popups-wrap .popups-header .popup-price {
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center; }
      .popups-wrap .popups-header .display-flex.row, .popups-wrap .popups-header .car-photos .row.car-photo-buttons, .car-photos .popups-wrap .popups-header .row.car-photo-buttons, .popups-wrap .popups-header .popups-content .row.popup-item-head, .popups-wrap .popups-content .popups-header .row.popup-item-head, .popups-wrap .popups-header .buy-online-form .row.estimate-step, .buy-online-form .popups-wrap .popups-header .row.estimate-step, .popups-wrap .popups-header .finance-form-wrap .row.popup-price-detail, .finance-form-wrap .popups-wrap .popups-header .row.popup-price-detail, .popups-wrap .popups-header .finance-form-wrap .popup-price-detail .row.popup-price, .finance-form-wrap .popup-price-detail .popups-wrap .popups-header .row.popup-price {
        -webkit-box-align: flex-end;
        -webkit-align-items: flex-end;
        align-items: flex-end; }
    .popups-wrap .popups-header .car-photo {
      width: 60px;
      height: 60px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      display: inline-block;
      background-color: #ccc;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover; }
    .popups-wrap .popups-header .car-info {
      padding-left: 12px; }
      .popups-wrap .popups-header .car-info > * {
        text-align: left !important; }
    .popups-wrap .popups-header h2 {
      font-weight: 400;
      margin-bottom: 0; }
    .popups-wrap .popups-header p {
      font-weight: 500;
      margin-bottom: 0; }
    .popups-wrap .popups-header .price {
      font-size: 1.4em;
      position: relative; }
      .popups-wrap .popups-header .price .old-price {
        position: absolute;
        font-size: 0.6em;
        right: 0;
        top: -15px;
        color: #1f2f3e;
        text-decoration: line-through; }
    .popups-wrap .popups-header .exclusive-price .price {
      color: #E82D52;
      font-weight: 500; }
  .popups-wrap .popups-close {
    color: #167609;
    font-weight: 500;
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 1;
    cursor: pointer;
    z-index: 11; }
    .popups-wrap .popups-close img {
      width: 15px;
      float: right;
      margin-left: 5px; }
  .popups-wrap .popups-content {
    padding: 15px 25px; }
    .popups-wrap .popups-content h3 {
      width: 50%; }
    .popups-wrap .popups-content .popup-item-head {
      padding-bottom: 20px;
      width: 100%; }
    .popups-wrap .popups-content .btn {
      margin-bottom: 20px;
      text-transform: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
    .popups-wrap .popups-content .small {
      font-size: 0.813em;
      line-height: 1.5; }
  .popups-wrap .popups-content-item {
    display: none; }
  .popups-wrap .check-icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: -2px; }

/*-------------------------*/
.close-frame {
  width: 30px;
  height: 30px;
  line-height: 26px;
  top: 10px;
  right: 10px; }
  .close-frame img {
    width: 15px; }

.modal-backdrop.in {
  filter: alpha(opacity=60);
  opacity: .6; }

.detailed-popup,
.popups-content,
.buy-online-form {
  font-family: "Montserrat", sans-serif; }
  .detailed-popup .modal-header,
  .popups-content .modal-header,
  .buy-online-form .modal-header {
    padding: 30px 50px 0;
    border-bottom: none; }
    .detailed-popup .modal-header h3,
    .popups-content .modal-header h3,
    .buy-online-form .modal-header h3 {
      color: #167609;
      margin-bottom: 0;
      padding-bottom: 20px;
      width: 50%; }
  .detailed-popup .modal-body,
  .popups-content .modal-body,
  .buy-online-form .modal-body {
    padding: 0 50px 40px; }
  .detailed-popup .modal-mobile-title,
  .popups-content .modal-mobile-title,
  .buy-online-form .modal-mobile-title {
    display: none; }
  .detailed-popup .btn,
  .popups-content .btn,
  .buy-online-form .btn {
    font-size: 1em;
    padding-top: 18px;
    padding-bottom: 18px; }
    .detailed-popup .btn.btn-green,
    .popups-content .btn.btn-green,
    .buy-online-form .btn.btn-green {
      min-width: 240px; }
    .detailed-popup .btn[disabled],
    .popups-content .btn[disabled],
    .buy-online-form .btn[disabled] {
      background-color: #9c9c9c;
      color: #fff; }
  .detailed-popup a,
  .popups-content a,
  .buy-online-form a {
    color: #009ffe; }
  .detailed-popup .close,
  .popups-content .close,
  .buy-online-form .close {
    color: #167609;
    opacity: 1;
    font-size: 1.5em;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10; }
  .detailed-popup .row-bottom,
  .popups-content .row-bottom,
  .buy-online-form .row-bottom {
    margin-top: 20px; }
  .detailed-popup input[type='text'],
  .detailed-popup input[type='tel'],
  .detailed-popup input[type='email'],
  .detailed-popup textarea,
  .detailed-popup select:not(.simple-select),
  .detailed-popup .bootstrap-select > .dropdown-toggle,
  .popups-content input[type='text'],
  .popups-content input[type='tel'],
  .popups-content input[type='email'],
  .popups-content textarea,
  .popups-content select:not(.simple-select),
  .popups-content .bootstrap-select > .dropdown-toggle,
  .buy-online-form input[type='text'],
  .buy-online-form input[type='tel'],
  .buy-online-form input[type='email'],
  .buy-online-form textarea,
  .buy-online-form select:not(.simple-select),
  .buy-online-form .bootstrap-select > .dropdown-toggle {
    border: 3px solid #e4e4e4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
    color: #167609; }
    .detailed-popup input[type='text'].error,
    .detailed-popup input[type='tel'].error,
    .detailed-popup input[type='email'].error,
    .detailed-popup textarea.error,
    .detailed-popup select:not(.simple-select).error,
    .detailed-popup .bootstrap-select > .dropdown-toggle.error,
    .popups-content input[type='text'].error,
    .popups-content input[type='tel'].error,
    .popups-content input[type='email'].error,
    .popups-content textarea.error,
    .popups-content select:not(.simple-select).error,
    .popups-content .bootstrap-select > .dropdown-toggle.error,
    .buy-online-form input[type='text'].error,
    .buy-online-form input[type='tel'].error,
    .buy-online-form input[type='email'].error,
    .buy-online-form textarea.error,
    .buy-online-form select:not(.simple-select).error,
    .buy-online-form .bootstrap-select > .dropdown-toggle.error {
      border: 3px solid rgba(239, 88, 77, 0.5); }
  .detailed-popup .error .bootstrap-select > .dropdown-toggle,
  .popups-content .error .bootstrap-select > .dropdown-toggle,
  .buy-online-form .error .bootstrap-select > .dropdown-toggle {
    border: 3px solid rgba(239, 88, 77, 0.5); }
  .detailed-popup .bootstrap-select > .dropdown-toggle:hover,
  .detailed-popup .bootstrap-select > .dropdown-toggle:focus,
  .popups-content .bootstrap-select > .dropdown-toggle:hover,
  .popups-content .bootstrap-select > .dropdown-toggle:focus,
  .buy-online-form .bootstrap-select > .dropdown-toggle:hover,
  .buy-online-form .bootstrap-select > .dropdown-toggle:focus {
    border: 3px solid #e4e4e4; }
  .detailed-popup input[type='text']:focus,
  .detailed-popup input[type='tel']:focus,
  .detailed-popup input[type='email']:focus,
  .detailed-popup textarea:focus,
  .detailed-popup select:not(.simple-select):focus,
  .popups-content input[type='text']:focus,
  .popups-content input[type='tel']:focus,
  .popups-content input[type='email']:focus,
  .popups-content textarea:focus,
  .popups-content select:not(.simple-select):focus,
  .buy-online-form input[type='text']:focus,
  .buy-online-form input[type='tel']:focus,
  .buy-online-form input[type='email']:focus,
  .buy-online-form textarea:focus,
  .buy-online-form select:not(.simple-select):focus {
    border: 3px solid #167609; }
  .detailed-popup input[type='text'],
  .detailed-popup input[type='tel'],
  .detailed-popup input[type='email'],
  .popups-content input[type='text'],
  .popups-content input[type='tel'],
  .popups-content input[type='email'],
  .buy-online-form input[type='text'],
  .buy-online-form input[type='tel'],
  .buy-online-form input[type='email'] {
    height: 60px; }
  .detailed-popup select:not(.simple-select),
  .detailed-popup .bootstrap-select > .dropdown-toggle,
  .popups-content select:not(.simple-select),
  .popups-content .bootstrap-select > .dropdown-toggle,
  .buy-online-form select:not(.simple-select),
  .buy-online-form .bootstrap-select > .dropdown-toggle {
    height: 60px !important; }
  .detailed-popup textarea,
  .popups-content textarea,
  .buy-online-form textarea {
    padding-top: 17px;
    padding-right: 17px;
    height: 110px; }
  .detailed-popup input::-webkit-input-placeholder,
  .detailed-popup textarea::-webkit-input-placeholder,
  .popups-content input::-webkit-input-placeholder,
  .popups-content textarea::-webkit-input-placeholder,
  .buy-online-form input::-webkit-input-placeholder,
  .buy-online-form textarea::-webkit-input-placeholder {
    color: #9c9c9c; }
  .detailed-popup input::-moz-placeholder,
  .detailed-popup textarea::-moz-placeholder,
  .popups-content input::-moz-placeholder,
  .popups-content textarea::-moz-placeholder,
  .buy-online-form input::-moz-placeholder,
  .buy-online-form textarea::-moz-placeholder {
    color: #9c9c9c; }
  .detailed-popup input:-ms-input-placeholder,
  .detailed-popup textarea:-ms-input-placeholder,
  .popups-content input:-ms-input-placeholder,
  .popups-content textarea:-ms-input-placeholder,
  .buy-online-form input:-ms-input-placeholder,
  .buy-online-form textarea:-ms-input-placeholder {
    color: #9c9c9c; }
  .detailed-popup input:-moz-placeholder,
  .detailed-popup textarea:-moz-placeholder,
  .popups-content input:-moz-placeholder,
  .popups-content textarea:-moz-placeholder,
  .buy-online-form input:-moz-placeholder,
  .buy-online-form textarea:-moz-placeholder {
    color: #9c9c9c; }
  .detailed-popup label,
  .popups-content label,
  .buy-online-form label {
    font-weight: normal;
    color: #9c9c9c; }
  .detailed-popup .header-add-info,
  .popups-content .header-add-info,
  .buy-online-form .header-add-info {
    width: 50%;
    text-align: right;
    padding-top: 5px; }
    .detailed-popup .header-add-info p,
    .popups-content .header-add-info p,
    .buy-online-form .header-add-info p {
      font-size: 1.1em;
      margin-bottom: 0; }
  .detailed-popup .simple-select,
  .popups-content .simple-select,
  .buy-online-form .simple-select {
    border: none;
    color: #167609;
    background: #fff url(../img/select-arrow-green.png) no-repeat 100% 50%;
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none !important;
    appearance: none !important; }
  .detailed-popup .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn),
  .popups-content .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn),
  .buy-online-form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%; }
  .detailed-popup div.dropdown-menu,
  .popups-content div.dropdown-menu,
  .buy-online-form div.dropdown-menu {
    top: 57px; }
  .detailed-popup ul.dropdown-menu,
  .popups-content ul.dropdown-menu,
  .buy-online-form ul.dropdown-menu {
    padding: 0;
    box-shadow: none;
    margin-top: 0;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    border: 3px solid #e4e4e4 !important;
    border-top-color: #fff !important; }
  .detailed-popup .dropdown-menu li,
  .popups-content .dropdown-menu li,
  .buy-online-form .dropdown-menu li {
    border: none;
    font-size: 1.1em;
    font-family: "Montserrat", sans-serif; }
    .detailed-popup .dropdown-menu li > a,
    .popups-content .dropdown-menu li > a,
    .buy-online-form .dropdown-menu li > a {
      font-weight: 500;
      padding: 10px 20px;
      color: #999; }
      .detailed-popup .dropdown-menu li > a:hover, .detailed-popup .dropdown-menu li > a:focus,
      .popups-content .dropdown-menu li > a:hover,
      .popups-content .dropdown-menu li > a:focus,
      .buy-online-form .dropdown-menu li > a:hover,
      .buy-online-form .dropdown-menu li > a:focus {
        color: #fff;
        background-color: #167609; }
  .detailed-popup .dropdown-menu li:first-child,
  .popups-content .dropdown-menu li:first-child,
  .buy-online-form .dropdown-menu li:first-child {
    border-radius: 0; }
  .detailed-popup .dropdown-menu li:first-child:before,
  .detailed-popup .dropdown-menu li:first-child:after,
  .popups-content .dropdown-menu li:first-child:before,
  .popups-content .dropdown-menu li:first-child:after,
  .buy-online-form .dropdown-menu li:first-child:before,
  .buy-online-form .dropdown-menu li:first-child:after {
    display: none; }
  .detailed-popup .filter-option,
  .popups-content .filter-option,
  .buy-online-form .filter-option {
    color: #999; }
  .detailed-popup .selected .filter-option,
  .popups-content .selected .filter-option,
  .buy-online-form .selected .filter-option {
    color: #167609; }
  .detailed-popup .full-width,
  .popups-content .full-width,
  .buy-online-form .full-width {
    width: 100%; }

.contact-dealer-form > p {
  margin-bottom: 15px; }

.test-drive-form-wrap .btn-wrap {
  padding-top: 10px; }
  .test-drive-form-wrap .btn-wrap .btn {
    background: #9c9c9c;
    color: #fff; }
    .test-drive-form-wrap .btn-wrap .btn.active {
      background-color: #009ffe;
      box-shadow: none; }

.test-drive-form-wrap .btn {
  text-transform: none; }

.test-drive-form-wrap .bootstrap-select.btn-group .dropdown-toggle .caret:after {
  content: ""; }

.test-drive-form-wrap .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  padding-right: 0; }

.test-drive-form-wrap .bootstrap-select.btn-group {
  width: auto;
  display: block; }

.test-drive-form-wrap .bootstrap-select.btn-group.select-day .btn,
.test-drive-form-wrap .bootstrap-select.btn-group.select-time .btn {
  background-color: #fff;
  background-repeat: no-repeat  !important;
  background-position: 92% 50%  !important; }

.test-drive-form-wrap .bootstrap-select.btn-group.select-day .btn {
  background-image: url(../img/date_picker.svg) !important; }

.test-drive-form-wrap .bootstrap-select.btn-group.select-time .btn {
  background-image: url(../img/time_picker.svg) !important; }

.test-drive-form-wrap .selected .bootstrap-select.btn-group.select-day .btn {
  background-image: url(../img/date_picker_active.svg) !important; }

.test-drive-form-wrap .selected .bootstrap-select.btn-group.select-time .btn {
  background-image: url(../img/time_picker_active.svg) !important; }

.excusive-price-modal {
  padding-top: 15px; }
  .excusive-price-modal .car-details {
    padding-right: 0;
    padding-left: 15px; }
  .excusive-price-modal .car-desc {
    padding: 15px;
    background-color: #ececec; }
    .excusive-price-modal .car-desc h3 {
      color: #1f2f3e;
      font-size: 1.2em;
      width: 100%; }
    .excusive-price-modal .car-desc h4 {
      text-transform: none;
      margin: 14px 0; }
    .excusive-price-modal .car-desc .m-top-15 {
      margin-top: 15px; }
    .excusive-price-modal .car-desc strong {
      font-weight: normal; }
    .excusive-price-modal .car-desc .certified {
      color: #167609;
      font-weight: 500; }
  .excusive-price-modal .contact-dealer-form h3 {
    width: 100%;
    color: #e82d52;
    font-weight: 700;
    margin-bottom: 20px; }
  .excusive-price-modal .contact-dealer-form .btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    margin-top: 40px; }

.trade-value-form-wrap .caret,
.finance-form-wrap .caret,
.buy-online-form .caret {
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent; }
  .trade-value-form-wrap .caret:after,
  .finance-form-wrap .caret:after,
  .buy-online-form .caret:after {
    display: none; }

.buy-online-form .estimate-step {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #e4e4e4; }
  @media only screen and (min-width: 1400px) and (max-height: 900px) {
    .buy-online-form .estimate-step {
      padding-top: 15px;
      padding-bottom: 15px; } }
  .buy-online-form .estimate-step .dol {
    position: absolute;
    top: 0;
    line-height: 40px;
    left: 0; }
  .buy-online-form .estimate-step input[type=tel],
  .buy-online-form .estimate-step select,
  .buy-online-form .estimate-step .bootstrap-select > .dropdown-toggle {
    height: 40px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0; }

#main-search {
  border: 1px solid red;
  max-width: 100%; }

.finance-form-wrap .col-term {
  width: 25%;
  padding-right: 15px;
  padding-left: 15px;
  float: left; }

.finance-form-wrap .estimate-step {
  padding-top: 20px;
  padding-bottom: 20px; }
  @media only screen and (min-width: 1400px) and (max-height: 900px) {
    .finance-form-wrap .estimate-step {
      padding-top: 15px;
      padding-bottom: 15px; } }
  .finance-form-wrap .estimate-step + .estimate-step {
    border-top: 1px solid #e4e4e4; }
  .finance-form-wrap .estimate-step h4 {
    margin-bottom: 10px; }

.finance-form-wrap .space-around {
  padding-top: 20px;
  padding-bottom: 10px; }

.finance-form-wrap h4 {
  text-transform: none; }

.finance-form-wrap .range-slider-wrap .slider.slider-horizontal {
  width: 94%;
  display: block;
  margin: 0 auto; }

.finance-form-wrap .range-slider-wrap .slider.slider-horizontal .slider-track {
  background-color: #d8d8d8;
  height: 8px; }

.finance-form-wrap .range-slider-wrap .slider-selection {
  background-image: none;
  background-color: #167609; }

.finance-form-wrap .range-slider-wrap .slider-handle {
  width: 26px;
  height: 26px;
  background-image: none;
  background-color: #167609;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-top: -9px; }

.finance-form-wrap .slider-val-wrap {
  position: relative;
  margin-top: 10px;
  padding-left: 15px; }
  .finance-form-wrap .slider-val-wrap:before {
    content: "$";
    position: absolute;
    left: 0;
    top: 0;
    line-height: 32px;
    font-weight: bold; }

.finance-form-wrap .slider-val {
  border: 3px solid #d8d8d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 30px;
  font-size: 0.9em;
  display: inline-block;
  width: 65px !important;
  height: 35px !important;
  color: #1f2f3e !important;
  padding: 0 !important;
  margin-bottom: 0 !important;
  text-align: center;
  position: relative;
  top: 5px; }

.finance-form-wrap .popup-price-detail {
  background-color: #ececec;
  overflow: hidden;
  width: 100%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  .finance-form-wrap .popup-price-detail > div {
    padding: 15px 25px; }
  .finance-form-wrap .popup-price-detail p {
    margin-bottom: 0;
    line-height: 1.25;
    font-weight: normal;
    letter-spacing: 0.1em; }
  .finance-form-wrap .popup-price-detail .popup-price {
    line-height: 1;
    border: 3px solid #167609;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 215px;
    min-width: 215px;
    max-width: 215px;
    text-align: center;
    padding-left: 0;
    padding-right: 0; }
    .finance-form-wrap .popup-price-detail .popup-price sup {
      font-size: 0.9em; }
  .finance-form-wrap .popup-price-detail .popup-price-text {
    width: 80%; }
  .finance-form-wrap .popup-price-detail .grey {
    color: #9d9d9d; }
  .finance-form-wrap .popup-price-detail .price-item {
    color: #167609;
    font-size: 1.7em;
    line-height: 1.1;
    margin-right: 3px;
    font-weight: 500; }

.finance-form-wrap label {
  width: 100%;
  position: relative; }

.finance-form-wrap input[type='radio'] {
  position: absolute;
  opacity: 0; }

.finance-form-wrap .radio-content {
  border: 3px solid #d8d8d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  color: #1f2f3e;
  font-size: 0.875em;
  line-height: 1.25;
  cursor: pointer; }
  .finance-form-wrap .radio-content em {
    font-size: 1.2em;
    font-style: normal;
    display: block;
    color: #167609;
    font-weight: 500; }
  .finance-form-wrap .radio-content:hover {
    border-color: #167609;
    background-color: #ececec; }

.finance-form-wrap input[type='radio']:checked + .radio-content {
  background-color: #167609;
  color: #fff; }
  .finance-form-wrap input[type='radio']:checked + .radio-content em {
    color: #fff; }

.finance-form-wrap .score-step em {
  text-transform: uppercase;
  font-weight: 500; }

.buy-online-over {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  z-index: 998; }

.buy-online-container {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: none;
  z-index: 999; }
  .buy-online-container:before {
    content: "";
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: -1;
    opacity: 0; }
  .buy-online-container .popups-header {
    padding-top: 35px; }
    .buy-online-container .popups-header .display-flex.row, .buy-online-container .popups-header .car-photos .row.car-photo-buttons, .car-photos .buy-online-container .popups-header .row.car-photo-buttons, .buy-online-container .popups-header .popups-wrap .popups-content .row.popup-item-head, .popups-wrap .popups-content .buy-online-container .popups-header .row.popup-item-head, .buy-online-container .popups-header .buy-online-form .row.estimate-step, .buy-online-form .buy-online-container .popups-header .row.estimate-step, .buy-online-container .popups-header .finance-form-wrap .row.popup-price-detail, .finance-form-wrap .buy-online-container .popups-header .row.popup-price-detail, .buy-online-container .popups-header .finance-form-wrap .popup-price-detail .row.popup-price, .finance-form-wrap .popup-price-detail .buy-online-container .popups-header .row.popup-price {
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center; }
    .buy-online-container .popups-header h2 {
      text-transform: none;
      padding-right: 70px; }
    .buy-online-container .popups-header .car-photo {
      min-width: 100px;
      width: 100px;
      height: 100px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px; }
    .buy-online-container .popups-header .price {
      border: 2px solid #167609;
      border-left: none;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      color: #167609;
      padding: 20px 10px;
      float: right;
      line-height: 1; }
      .buy-online-container .popups-header .price .circle {
        width: 20px;
        height: 20px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #167609;
        display: inline-block;
        float: left;
        margin-left: -10px;
        margin-right: 10px;
        position: relative;
        z-index: 2; }
      .buy-online-container .popups-header .price .grey {
        color: #919ea7;
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-size: 0.6em;
        font-weight: 500; }
      .buy-online-container .popups-header .price:before {
        content: "";
        width: 50px;
        background: url(../img/price-triangle-bg.png) no-repeat 100% 0;
        background-size: auto 100%;
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -40px;
        display: inline-block; }
  .buy-online-container .buy-onliny-steps ul {
    margin-bottom: 0;
    background: #ececec;
    overflow: hidden; }
    .buy-online-container .buy-onliny-steps ul li {
      float: left;
      width: 16.66%;
      line-height: 40px;
      color: #9f9f9f;
      position: relative;
      text-align: center; }
      .buy-online-container .buy-onliny-steps ul li.done {
        background-color: #167609;
        color: #fff; }
        .buy-online-container .buy-onliny-steps ul li.done:after {
          border-left-color: #167609; }
      .buy-online-container .buy-onliny-steps ul li:before {
        content: "";
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 10px solid #fff;
        position: absolute;
        top: 0;
        right: -12px; }
      .buy-online-container .buy-onliny-steps ul li:after {
        content: "";
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 10px solid #ececec;
        position: absolute;
        top: 0;
        right: -10px; }
      .buy-online-container .buy-onliny-steps ul li:last-child:before, .buy-online-container .buy-onliny-steps ul li:last-child:after {
        display: none; }

.buy-online-form {
  padding: 20px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 999; }
  @media only screen and (min-width: 1200px) {
    .buy-online-form form {
      overflow: hidden; } }
  .buy-online-form > .btn {
    color: #167609;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.1em;
    text-align: left;
    padding: 0 20px 0 67px;
    font-size: 1.375em;
    font-weight: 500;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    background-size: auto 25px;
    background-image: url(../img/buy_online.svg); }
    .buy-online-form > .btn:before {
      content: "";
      position: absolute;
      top: 25px;
      left: -15px;
      border-top: 15px solid transparent;
      border-right: 15px solid #fff;
      border-bottom: 15px solid transparent;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .buy-online-form > .btn span {
      font-size: 0.68em;
      text-transform: capitalize;
      display: inline-block;
      padding-top: 6px;
      letter-spacing: 0; }
  .buy-online-form .checkbox-wrap .checkbox-icon {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 20px;
    float: left; }
  .buy-online-form .checkbox-wrap .checkbox-icon:after {
    line-height: 18px;
    font-size: 0.9em; }
  .buy-online-form .checkbox-wrap input:checked + .checkbox-icon {
    background-color: #167609;
    border-color: #167609; }
  .buy-online-form .checkbox-wrap .name {
    float: left;
    width: calc(100% - 30px);
    line-height: 20px; }
  .buy-online-form .total-info {
    font-weight: 500; }
    .buy-online-form .total-info > div {
      padding-top: 15px; }
  .buy-online-form .grey {
    color: #919ea7; }

@media only screen and (max-width: 1366px) {
  .detailed-popup input[type='text'],
  .detailed-popup input[type='tel'],
  .detailed-popup input[type='email'],
  .detailed-popup textarea,
  .detailed-popup select:not(.simple-select),
  .detailed-popup .bootstrap-select > .dropdown-toggle,
  .popups-content input[type='text'],
  .popups-content input[type='tel'],
  .popups-content input[type='email'],
  .popups-content textarea,
  .popups-content select:not(.simple-select),
  .popups-content .bootstrap-select > .dropdown-toggle,
  .buy-online-form input[type='text'],
  .buy-online-form input[type='tel'],
  .buy-online-form input[type='email'],
  .buy-online-form textarea,
  .buy-online-form select:not(.simple-select),
  .buy-online-form .bootstrap-select > .dropdown-toggle {
    margin-bottom: 15px; }
  .finance-form-wrap .col-term {
    padding-left: 5px;
    padding-right: 5px; }
  .finance-form-wrap .estimate-step,
  .buy-online-form .estimate-step {
    padding-top: 15px;
    padding-bottom: 15px; }
  .buy-online-container .popups-header .car-photo {
    width: 75px;
    height: 75px;
    min-width: 75px; }
  .buy-online-container .popups-header h2 {
    padding-right: 30px; }
  .buy-online-container .popups-header .price {
    font-size: 1em; } }

@media only screen and (max-width: 1199px) {
  header {
    position: relative;
    height: inherit; }
  #content.detailed-page {
    padding-top: 25px; }
  .finance-form-wrap .price-detail > div {
    width: 100%; }
  .buy-online-form .estimate-step {
    display: inline-block;
    width: 100%;
    margin: 0; }
    .buy-online-form .estimate-step > div {
      padding-right: 0;
      padding-left: 0;
      width: 100%; }
  .buy-online-form .total-info {
    margin: 0; }
    .buy-online-form .total-info > div {
      padding-right: 0;
      padding-left: 0; }
  .buy-online-container .popups-header h2 {
    font-size: 1em; }
  .buy-online-container .popups-header .price {
    padding-top: 10px;
    padding-bottom: 10px; }
  .buy-online-form .estimate-step .dol {
    left: 11px; }
  .buy-online-form form {
    overflow: auto;
    max-height: calc(100% - 75px); }
  .popup-btns.affix,
  .popup-btns.affix-bottom {
    top: 20px !important; }
  .buy-online-container .popups-header .price .circle {
    display: none; }
  .excusive-price-modal .contact-dealer-form .btn {
    margin-top: 0; }
  .finance-form-wrap .popup-price-detail > div {
    padding: 10px 15px; }
  .other-cars-slider-row .slick-next {
    right: -30px; }
  .other-cars-slider-row .slick-prev {
    left: -30px; } }

@media only screen and (max-width: 991px) {
  .car-details {
    padding-left: 15px; }
    .car-details .display-flex, .car-details .car-photos .car-photo-buttons, .car-photos .car-details .car-photo-buttons, .car-details .popups-wrap .popups-content .popup-item-head, .popups-wrap .popups-content .car-details .popup-item-head, .car-details .buy-online-form .estimate-step, .buy-online-form .car-details .estimate-step, .car-details .finance-form-wrap .popup-price-detail, .finance-form-wrap .car-details .popup-price-detail, .car-details .finance-form-wrap .popup-price-detail .popup-price, .finance-form-wrap .popup-price-detail .car-details .popup-price {
      -webkit-box-align: flex-start;
      -webkit-align-items: flex-start;
      align-items: flex-start; }
      .car-details .display-flex .price, .car-details .car-photos .car-photo-buttons .price, .car-photos .car-details .car-photo-buttons .price, .car-details .popups-wrap .popups-content .popup-item-head .price, .popups-wrap .popups-content .car-details .popup-item-head .price, .car-details .buy-online-form .estimate-step .price, .buy-online-form .car-details .estimate-step .price, .car-details .finance-form-wrap .popup-price-detail .price, .finance-form-wrap .car-details .popup-price-detail .price, .finance-form-wrap .popup-price-detail .car-details .popup-price .price {
        margin-top: 15px; }
    .car-details h1 {
      padding-right: 0;
      padding-bottom: 5px; }
  .vehicle-overview .accordion-content .drop-wrap {
    padding: 0 15px; }
  .vehicle-overview .accordion-content .drop-wrap .drop-btn {
    font-size: 1em; }
  .car-photos .main-photo-wrap .main-photo-slider .slick-arrow {
    bottom: 60px; }
  .car-photos--avis-background .main-photo-wrap .main-photo-slider .slick-arrow {
    bottom: 0; }
  /*.detailed-popup .modal-header {
    padding-top: 40px;
  }

  .detailed-popup .modal-header,
  .detailed-popup .modal-body {
    padding-left: 15px;
    padding-right: 15px;
  }*/
  .finance-form-wrap .col-term {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .buy-online-form .estimate-step {
    display: inline-block;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
    .buy-online-form .estimate-step h4 {
      margin-bottom: 10px; }
    .buy-online-form .estimate-step > div {
      padding-right: 0;
      padding-left: 0; }
    .buy-online-form .estimate-step .dol {
      left: 9px; }
  .test-drive-form-wrap .select-wrap {
    display: inline-block;
    width: 100%; }
  .car-photos .nav-main-photo-slider {
    height: 60px; }
  .car-photos .nav-main-photo-slider .main-slide-item {
    width: 70px !important;
    height: 50px; }
  .popups-wrap .popups-header {
    padding-left: 15px;
    padding-right: 15px; }
  .car-details .price {
    font-size: 1.6em; }
  .popups-wrap .popups-header h2 {
    font-size: 1.4em; }
  .popups-wrap .popups-header .price,
  .popups-wrap .popups-content h3 {
    font-size: 1.2em; }
  .finance-form-wrap .popup-price-detail {
    display: inline-block;
    width: 100%; }
  .finance-form-wrap .popup-price-detail .popup-price-text {
    width: 100%; }
  .finance-form-wrap .popup-price-detail .popup-price {
    text-align: center;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    display: block;
    max-width: 100%;
    width: 100%; }
  #content .finance-form-wrap .popup-price-detail p {
    font-size: 0.813em; }
  .finance-form-wrap h4 {
    font-size: 1em; }
  .finance-form-wrap .slider-val-wrap {
    position: absolute;
    right: 15px;
    top: -20px; }
    .finance-form-wrap .slider-val-wrap .slider-val {
      top: -2px; }
  .finance-form-wrap .range-slider-wrap {
    margin-top: 20px; }
  .finance-form-wrap .estimate-step + .estimate-step {
    border-top: 0; }
  .finance-form-wrap .estimate-step > .col-md-6 + .col-md-6 {
    margin-top: 30px; }
  .finance-form-wrap .estimate-step {
    margin-right: -3px;
    margin-left: -3px; }
  .finance-form-wrap .estimate-step > div {
    padding-right: 3px;
    padding-left: 3px; }
  .finance-form-wrap .radio-content {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 0.65em; }
  .finance-form-wrap .radio-content em {
    line-height: 1.5; }
  .other-cars-slider-row .other-cars-slider {
    padding-left: 30px;
    padding-right: 30px; }
  .other-cars-slider-row .slick-prev {
    left: 0; }
  .other-cars-slider-row .slick-next {
    right: 0; } }

@media only screen and (max-width: 767px) {
  #content.detailed-page {
    padding-top: 0; }
  .buy-online-over {
    background-color: rgba(0, 0, 0, 0.85);
    top: -100px; }
  .mobile-networks.visible {
    display: block; }
  .car-photos .main-photo-wrap .photo-count,
  .car-photos .like-btn {
    top: 15px; }
  .car-photos .main-photo-wrap .photo-count {
    left: 10px; }
  .car-photos .main-photo-wrap .share-btn {
    top: 13px; }
  .car-photos .like-btn {
    right: 10px; }
  .mobile-socials {
    margin-top: -50px;
    width: 50px; }
  .car-photos .nav-main-photo-slider-wrap .slider-action-btn {
    left: 90%;
    display: none; }
  .car-photos .main-photo-wrap .main-photo-slider .slick-arrow {
    bottom: 0; }
  .car-photos .car-photo-buttons {
    position: relative;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25); }
  .car-photos .main-photo-wrap .video-wrap {
    height: 275px; }
  .car-details {
    min-height: inherit;
    padding-top: 10px;
    padding-bottom: 10px; }
  .car-details .display-flex, .car-details .car-photos .car-photo-buttons, .car-photos .car-details .car-photo-buttons, .car-details .popups-wrap .popups-content .popup-item-head, .popups-wrap .popups-content .car-details .popup-item-head, .car-details .buy-online-form .estimate-step, .buy-online-form .car-details .estimate-step, .car-details .finance-form-wrap .popup-price-detail, .finance-form-wrap .car-details .popup-price-detail, .car-details .finance-form-wrap .popup-price-detail .popup-price, .finance-form-wrap .popup-price-detail .car-details .popup-price {
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    min-height: inherit; }
  .car-details h1 {
    line-height: 1.2;
    font-size: 1.2em;
    text-transform: none;
    padding-bottom: 0;
    margin-bottom: 0; }
  .car-details .price {
    font-size: 1.2em;
    margin-top: 8px !important; }
    .car-details .price .old-price {
      top: -10px; }
    .car-details .price .est-price {
      margin-top: 7px; }
  .detailed-page#content .contact-dealer-wrap {
    background: #fff;
    padding: 10px 15px;
    z-index: 98;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: top 0.3s;
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .detailed-page#content .contact-dealer-wrap > .btn {
      width: 48%;
      font-weight: 500;
      text-transform: none;
      margin-top: 0 !important;
      -webkit-animation-duration: 4s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: linear;
      -webkit-animation-delay: 1s;
      animation-duration: 4s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-delay: 1s; }
      .detailed-page#content .contact-dealer-wrap > .btn:before {
        content: "";
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 5px;
        background-position: 50% 50%;
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: relative;
        top: 5px;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-delay: 1s;
        animation-duration: 4s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-delay: 1s; }
      .detailed-page#content .contact-dealer-wrap > .btn.btn-white-green {
        -webkit-animation-name: changeWhiteColor;
        animation-name: changeWhiteColor; }
        .detailed-page#content .contact-dealer-wrap > .btn.btn-white-green:before {
          background-image: url(../img/floating_2.svg);
          -webkit-animation-name: changeCarImage;
          animation-name: changeCarImage; }
      .detailed-page#content .contact-dealer-wrap > .btn.btn-green {
        -webkit-animation-name: changeGreenColor;
        animation-name: changeGreenColor; }
        .detailed-page#content .contact-dealer-wrap > .btn.btn-green:before {
          background-image: url(../img/floating_1.svg);
          -webkit-animation-name: changeInfoImage;
          animation-name: changeInfoImage; }
      .detailed-page#content .contact-dealer-wrap > .btn + .btn {
        float: right; }
    .detailed-page#content .contact-dealer-wrap.affix {
      top: 0;
      left: 0;
      right: 0;
      position: fixed; }
  .popups-wrap {
    margin-right: -15px;
    margin-left: -15px; }
    .popups-wrap.carfax-form {
      margin-left: 15px;
      margin-right: 15px;
      position: relative;
      top: 28px;
      padding-left: 0;
      padding-right: 0; }
      .popups-wrap.carfax-form .popups-header {
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 15px;
        padding-right: 15px; }
        .popups-wrap.carfax-form .popups-header > .display-flex, .popups-wrap.carfax-form .car-photos .popups-header > .car-photo-buttons, .car-photos .popups-wrap.carfax-form .popups-header > .car-photo-buttons, .popups-wrap.carfax-form .popups-content .popups-header > .popup-item-head, .popups-wrap.carfax-form .buy-online-form .popups-header > .estimate-step, .buy-online-form .popups-wrap.carfax-form .popups-header > .estimate-step, .popups-wrap.carfax-form .finance-form-wrap .popups-header > .popup-price-detail, .finance-form-wrap .popups-wrap.carfax-form .popups-header > .popup-price-detail, .popups-wrap.carfax-form .finance-form-wrap .popup-price-detail .popups-header > .popup-price, .finance-form-wrap .popup-price-detail .popups-wrap.carfax-form .popups-header > .popup-price {
          display: block; }
          .popups-wrap.carfax-form .popups-header > .display-flex > div, .popups-wrap.carfax-form .car-photos .popups-header > .car-photo-buttons > div, .car-photos .popups-wrap.carfax-form .popups-header > .car-photo-buttons > div, .popups-wrap.carfax-form .popups-content .popups-header > .popup-item-head > div, .popups-wrap.carfax-form .buy-online-form .popups-header > .estimate-step > div, .buy-online-form .popups-wrap.carfax-form .popups-header > .estimate-step > div, .popups-wrap.carfax-form .finance-form-wrap .popups-header > .popup-price-detail > div, .finance-form-wrap .popups-wrap.carfax-form .popups-header > .popup-price-detail > div, .popups-wrap.carfax-form .finance-form-wrap .popup-price-detail .popups-header > .popup-price > div, .finance-form-wrap .popup-price-detail .popups-wrap.carfax-form .popups-header > .popup-price > div {
            padding-left: 0;
            padding-right: 0; }
        .popups-wrap.carfax-form .popups-header h2 {
          line-height: 1.2; }
        .popups-wrap.carfax-form .popups-header .exclusive-price {
          margin-top: 25px; }
      .popups-wrap.carfax-form .popups-content {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 15px;
        padding-right: 15px; }
        .popups-wrap.carfax-form .popups-content .btn.btn-green {
          line-height: 1; }
  .popups-wrap .popups-close {
    top: 10px;
    right: 10px; }
  .popups-wrap .popups-content .popup-item-head h3 {
    display: none; }
  .popups-content .header-add-info {
    width: 100%; }
  #finance .header-add-info {
    text-align: center;
    font-size: 1.4em; }
    #finance .header-add-info strong {
      color: #167609;
      font-weight: 500; }
  .popups-wrap .popups-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    bottom: 0;
    background-color: transparent;
    box-shadow: none; }
    .popups-wrap .popups-container.visible {
      z-index: 999; }
    .popups-wrap .popups-container .popups-header {
      display: none !important; }
    .popups-wrap .popups-container .modal-mobile-title {
      display: block;
      font-size: 1.4em;
      padding: 30px 40px 20px 15px;
      border-radius: 15px 15px 0 0;
      color: #167609;
      width: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      background: -moz-linear-gradient(top, white 0%, white 70%, rgba(255, 255, 255, 0.3) 100%);
      background: -webkit-linear-gradient(top, white 0%, white 70%, rgba(255, 255, 255, 0.3) 100%);
      background: linear-gradient(to bottom, white 0%, white 70%, rgba(255, 255, 255, 0.3) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4dffffff',GradientType=0 ); }
    .popups-wrap .popups-container .popups-content {
      padding: 0; }
      .popups-wrap .popups-container .popups-content .btn {
        margin-bottom: 0; }
    .popups-wrap .popups-container .popups-content-item {
      background-color: #fff;
      position: fixed;
      left: 0;
      right: 0;
      bottom: -100%;
      display: block;
      border-radius: 15px 15px 0 0;
      width: 100%;
      opacity: 1;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      .popups-wrap .popups-container .popups-content-item.visible {
        bottom: 0;
        z-index: 999; }
    .popups-wrap .popups-container .mobile-scroll {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      -webkit-overflow-scrolling: touch;
      overflow: auto;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 20px;
      padding-top: 70px; }
    .popups-wrap .popups-container .btn {
      height: inherit;
      line-height: 1; }
      .popups-wrap .popups-container .btn.btn-green {
        line-height: inherit;
        min-width: inherit; }
    .popups-wrap .popups-container input[type='text'],
    .popups-wrap .popups-container input[type='tel'],
    .popups-wrap .popups-container input[type='email'],
    .popups-wrap .popups-container textarea,
    .popups-wrap .popups-container select:not(.simple-select),
    .popups-wrap .popups-container .bootstrap-select > .dropdown-toggle {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 20px; }
    .popups-wrap .popups-container .btn-pink {
      min-width: 60%; }
    .popups-wrap .popups-container .excusive-price-modal .modal-mobile-title {
      color: #e82d52;
      font-weight: 700; }
    .popups-wrap .popups-container .excusive-price-modal .contact-dealer-form .btn.btn-green {
      line-height: inherit; }
  .finance-form-wrap .slider.slider-horizontal {
    width: 250px; }
  .finance-form-wrap .estimate-step,
  .buy-online-form .estimate-step {
    padding-top: 10px;
    padding-bottom: 10px; }
  .popup-btns {
    max-width: 100%;
    width: 100%;
    margin-top: 20px; }
    .popup-btns .btn {
      height: inherit;
      line-height: inherit;
      padding-top: 15px;
      padding-bottom: 15px; }
      .popup-btns .btn.active:after {
        opacity: 0; }
    .popup-btns .btn.exclusive-price-btn:before {
      top: -14px;
      margin-top: 0;
      left: auto;
      right: 15px;
      border-top: none;
      border-bottom: 15px solid #E82D52;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent; }
    .popup-btns .btn:not(.exclusive-price-btn):before {
      content: "\f107";
      font-family: 'FontAwesome';
      font-weight: normal;
      font-style: normal;
      opacity: 1;
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
      background-color: transparent;
      box-shadow: none;
      left: auto;
      right: 0;
      margin-top: -12px;
      line-height: 25px; }
  .finance-form-wrap .estimate-step .dol,
  .buy-online-form .estimate-step .dol {
    left: 6px; }
  .popup-btns > .btn {
    padding-left: 60px;
    background-position: 20px 50%; }
  .test-drive-form-wrap .bootstrap-select.btn-group {
    display: inline-block; } }

@media only screen and (max-width: 479px) {
  .detailed-page#content .contact-dealer-wrap > .btn {
    font-size: 0.875em; }
    .detailed-page#content .contact-dealer-wrap > .btn.btn-white-green {
      width: 42%; }
    .detailed-page#content .contact-dealer-wrap > .btn.btn-green {
      width: 54%; }
  .finance-form-wrap .slider-val-wrap {
    right: 3px; }
  #content.detailed-page .car-details p {
    font-size: 0.75em; }
  .popups-wrap .popups-container .modal-mobile-title {
    font-size: 1.2em; }
  .popup-btns > .btn {
    padding-left: 60px; }
  .popup-btns .popup-btn-icon {
    left: 20px; }
  .finance-form-wrap h4 {
    font-size: 0.875em; }
  .finance-form-wrap .radio-content {
    font-size: 0.55em; }
    .finance-form-wrap .radio-content em {
      font-size: 1.1em; }
  #content .finance-form-wrap .popup-price-detail p {
    font-size: 0.65em; } }
