.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position, .test-drive-form-wrap:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/***** DETAILEAD PAGE *****/
.slick-slide {
  outline: none; }

.detailed-page {
  background: #f9fafb;
  border-top: 1px solid #d8d8d9; }
  .detailed-page p,
  .detailed-page .accordion-content li {
    font-size: 0.9em; }
  .detailed-page .price-detail {
    float: right;
    margin-right: 25%; }

.detail-page-top {
  margin-bottom: 25px; }

#content .detail-page-top h1 {
  text-transform: none;
  margin-bottom: 5px;
  text-align: left;
  font-weight: 500;
  font-size: 1.625em; }
  #content .detail-page-top h1 + p {
    text-align: left;
    font-size: 0.9em;
    display: inline-block;
    margin-right: 10px; }

.request-form-wrap p {
  line-height: 2.5;
  color: #1f2f3e; }

.request-form-wrap p input:not([class='email-check']),
.request-form-wrap textarea {
  border: 1px solid #a5b6c2;
  border-radius: 0;
  padding: 0 5px;
  height: 28px;
  line-height: 24px;
  color: inherit; }

.request-form-wrap input.short {
  width: 90px; }

.request-form-wrap input.medium {
  width: 130px; }

.request-form-wrap textarea {
  height: 100px;
  padding: 10px 5px;
  width: 100%;
  resize: none; }

.request-form-wrap .btn {
  min-width: 220px;
  padding-top: 14px;
  padding-bottom: 14px;
  height: inherit; }

.request-form-wrap .drop-wrap {
  margin-top: 25px; }
  .request-form-wrap .drop-wrap .drop-btn {
    font-size: 0.9em; }
  .request-form-wrap .drop-wrap .drop-content {
    margin-top: 10px; }

.request-form-wrap small {
  display: inline-block;
  width: 100%;
  margin-top: 25px;
  color: #7892a3;
  font-size: 0.8em;
  line-height: 1.5; }

.request-form-wrap .subscribe {
  margin: 15px 0 15px;
  color: #626d78;
  font-size: 0.825em; }

.request-form-wrap .check-wrap {
  position: relative;
  padding: 0;
  margin: 0 5px 0 0;
  height: 12px;
  width: 14px; }

.request-form-wrap .email-check {
  height: 14px;
  width: 12px;
  border-radius: 0;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  margin: 0;
  z-index: 5;
  cursor: pointer; }

.request-form-wrap .check-icon {
  border: 1px solid #7892a3;
  background: #fff;
  color: #fff;
  line-height: 12px;
  width: 14px;
  font-size: 8px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center; }

.request-form-wrap input:checked + .check-icon {
  background: #7892a3; }

.car-photos {
  padding: 0;
  border: 1px solid #ebeced;
  background: #fff; }
  .car-photos .main-photo-slider-wrap {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    min-height: 485px; }
    .car-photos .main-photo-slider-wrap .main-photo-slider {
      display: none; }
      .car-photos .main-photo-slider-wrap .main-photo-slider.slick-initialized {
        display: block; }
    .car-photos .main-photo-slider-wrap img {
      width: 100%; }
      .car-photos .main-photo-slider-wrap img.slick-loading {
        display: none; }
    .car-photos .main-photo-slider-wrap .photo-count {
      position: absolute;
      width: 60px;
      text-align: center;
      bottom: 5px;
      left: 5px; }
  .car-photos .nav-main-photo-slider {
    margin-top: 0;
    padding: 10px 33px 15px;
    background: #e3e3e3;
    min-height: 101px; }
    .car-photos .nav-main-photo-slider.slick-initialized .main-slide-item {
      display: block; }
    .car-photos .nav-main-photo-slider .slick-list {
      padding-top: 5px; }
    .car-photos .nav-main-photo-slider .main-slide-item {
      padding: 0 4px;
      position: relative;
      cursor: pointer;
      max-width: 98px;
      float: left;
      display: none; }
      .car-photos .nav-main-photo-slider .main-slide-item img {
        border: 3px solid transparent; }
        .car-photos .nav-main-photo-slider .main-slide-item img.slick-loading {
          display: none; }
      .car-photos .nav-main-photo-slider .main-slide-item.slick-current:before {
        content: "";
        position: absolute;
        top: -6px;
        left: 50%;
        margin-left: -6px;
        border-bottom: 6px solid #6d7a86;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent; }
      .car-photos .nav-main-photo-slider .main-slide-item.slick-current img {
        border-color: #6d7a86; }
    .car-photos .nav-main-photo-slider .slick-prev:before {
      content: '\f104'; }
    .car-photos .nav-main-photo-slider .slick-next:before {
      content: '\f105'; }
  .car-photos .slick-prev,
  .car-photos .slick-next {
    margin-top: 2px; }
    .car-photos .slick-prev:before,
    .car-photos .slick-next:before {
      color: #6d7a86;
      font-size: 48px; }
  .car-photos .slick-prev {
    left: 5px; }
  .car-photos .slick-next {
    right: 5px; }

.mobile-networks .jssocials-shares .jssocials-share-link,
.socials-wrap .jssocials-shares .jssocials-share-link,
.socials-wrap .print {
  display: inline-block;
  width: 44px;
  height: 26px;
  text-align: center;
  border: 1px solid #ebeced;
  border-radius: 4px;
  background-color: #fff;
  color: #072a47;
  padding: 0;
  line-height: 22px; }

.socials-wrap {
  font-size: 12px;
  display: inline-block;
  width: 50%; }
  .socials-wrap .print {
    margin-left: 0.6em;
    line-height: 32px; }
    .socials-wrap .print i {
      font-size: 1.5em; }
  .socials-wrap .jssocials-shares {
    margin: 0;
    float: left; }
    .socials-wrap .jssocials-shares .jssocials-share {
      margin-top: 0;
      margin-bottom: 0; }
      .socials-wrap .jssocials-shares .jssocials-share.jssocials-share-twitter .jssocials-share-link {
        color: #1da1f2; }
      .socials-wrap .jssocials-shares .jssocials-share.jssocials-share-facebook .jssocials-share-link {
        color: #3b5998; }
      .socials-wrap .jssocials-shares .jssocials-share.jssocials-share-googleplus .jssocials-share-link {
        color: #dd4b39; }
      .socials-wrap .jssocials-shares .jssocials-share.jssocials-share-whatsapp .jssocials-share-link {
        color: #177709; }
  .socials-wrap a.print {
    color: #072a47; }

.price-detail a {
  margin-top: 5px;
  font-size: 0.9em;
  display: inline-block; }

.price-detail .get-price-wrapper .btn.btn-orange {
  position: absolute; }

.price-detail .get-price-wrapper .scroll-down {
  padding-top: 40px; }

.btn.get-price-btn {
  background: #f39c12; }
  .btn.get-price-btn:hover {
    background: #f39c12; }

.result-sorting label {
  border-bottom: 0;
  font-weight: 400;
  font-size: 0.9em;
  color: #909090; }

.request-text {
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding: 25px 15px 15px; }
  .request-text h3 {
    text-transform: uppercase;
    font-weight: 500; }
    .request-text h3 + p {
      text-transform: uppercase;
      font-size: 0.825em;
      font-family: "Montserrat", sans-serif;
      margin-top: 10px; }

.rates {
  border-bottom: 1px solid #e6e7e8;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  .rates .stars-wrap {
    display: inline-block; }
  .rates .rates-count {
    font-size: 0.85em; }

.adv-title,
.detail-section {
  margin-top: 30px; }

.dealer-details h3 {
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase; }

.dealer-details .vehicle-overview h3 {
  text-transform: none; }

.dealer-details .drop-content {
  display: none; }

.dealer-info {
  overflow: hidden; }
  .dealer-info .dealer-info-list {
    width: 40%; }
  .dealer-info .drop-wrap {
    float: left;
    width: 100%;
    /*margin-top: -15px;*/ }
  .dealer-info .btn {
    margin-top: 20px; }
  .dealer-info li,
  .dealer-info .drop-btn {
    padding-left: 25px;
    position: relative;
    margin-bottom: 15px;
    font-size: 0.9em; }
    .dealer-info li > i,
    .dealer-info .drop-btn > i {
      position: absolute;
      top: 3px;
      left: 0; }
    .dealer-info li .drop-btn a:hover,
    .dealer-info .drop-btn .drop-btn a:hover {
      text-decoration: none; }

.carfax-wrap img {
  width: 100%; }

.listing-summary {
  border-bottom: 1px solid #d2dbe0; }
  .listing-summary h6 {
    color: #4e6777;
    font-weight: 400;
    font-size: 0.8em; }
  .listing-summary ul {
    overflow: hidden;
    padding-top: 10px; }
    .listing-summary ul li {
      float: left;
      width: 33.33%;
      margin-bottom: 25px; }
      .listing-summary ul li span {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block; }

.vehicle-overview {
  line-height: 1.7; }

.chart-wrap {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #d2dbe0; }
  .chart-wrap .chart {
    border: 1px solid #e8e8e9;
    background: #fff; }

#map {
  width: 100%;
  height: 440px; }

.adv {
  margin-top: 10px;
  width: 100%; }
  .adv img {
    width: 100%; }

.adv + .adv {
  margin-top: 35px; }

.adv-title {
  color: #999;
  display: inline-block; }

/* fancybox buttons */
.fancybox-stage .fancybox-image-wrap {
  border: 15px solid #fff;
  border-radius: 4px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-stage .button-close,
.fancybox-stage .button-next span,
.fancybox-stage .button-previous span {
  background-image: url(../img/fancybox_sprite@2x.png);
  background-size: 44px auto;
  opacity: 0;
  -webkit-transition: all 0.5s easy 0.2s;
  transition: all 0.5s easy 0.2s; }

.fancybox-is-open .fancybox-stage .button-close,
.fancybox-is-open .fancybox-stage .button-next span,
.fancybox-is-open .fancybox-stage .button-previous span {
  opacity: 1; }

.fancybox-stage .button-close {
  position: absolute;
  top: -33px;
  right: -33px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-stage .button-next,
.fancybox-stage .button-previous {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url(../img/blank.gif);
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-stage .button-next {
  right: 0; }

.fancybox-stage .button-previous {
  left: 0; }

.fancybox-stage .button-next span,
.fancybox-stage .button-previous span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: visible; }

.fancybox-stage .button-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-stage .button-previous span {
  left: 10px;
  background-position: 0 -36px; }

.detailed-inner-container {
  max-width: 960px;
  margin: 0 auto; }

.detailed-tabs .accordion-content {
  margin-top: 0;
  overflow: hidden; }
  .detailed-tabs .accordion-content .drop-wrap {
    padding: 0;
    background: none;
    border: none; }
    .detailed-tabs .accordion-content .drop-wrap .drop-btn.always-green {
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#167609), to(#105a06));
      background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#ffffff), to(#efefef));
      background: -moz-linear-gradient(center top, #167609, #105a06); }
    .detailed-tabs .accordion-content .drop-wrap .drop-btn:hover i {
      color: #fff; }
    .detailed-tabs .accordion-content .drop-wrap .drop-btn:hover h3 {
      color: #fff; }
      .detailed-tabs .accordion-content .drop-wrap .drop-btn:hover h3 span {
        color: #fff; }
    .detailed-tabs .accordion-content .drop-wrap .drop-btn:hover:after {
      color: #fff; }
    .detailed-tabs .accordion-content .drop-wrap.content-opened .drop-btn i,
    .detailed-tabs .accordion-content .drop-wrap .drop-btn.always-green i {
      color: #fff; }
    .detailed-tabs .accordion-content .drop-wrap.content-opened .drop-btn h3,
    .detailed-tabs .accordion-content .drop-wrap .drop-btn.always-green h3 {
      color: #fff; }
      .detailed-tabs .accordion-content .drop-wrap.content-opened .drop-btn h3 span,
      .detailed-tabs .accordion-content .drop-wrap .drop-btn.always-green h3 span {
        color: #fff; }
    .detailed-tabs .accordion-content .drop-wrap.content-opened .drop-btn:after,
    .detailed-tabs .accordion-content .drop-wrap .drop-btn.always-green:after {
      color: #fff; }
    .detailed-tabs .accordion-content .drop-wrap .drop-content {
      overflow: hidden;
      float: left;
      width: 100%;
      padding-bottom: 0; }
    .detailed-tabs .accordion-content .drop-wrap + .drop-wrap {
      margin-top: 0; }
  .detailed-tabs .accordion-content > .drop-wrap > .drop-btn {
    display: block;
    padding: 28px 20px 0 21px;
    float: left;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    min-height: 95px;
    background: #fff;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#efefef));
    background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#ffffff), to(#efefef));
    background: -moz-linear-gradient(center top, #ffffff, #efefef); }
    .detailed-tabs .accordion-content > .drop-wrap > .drop-btn:hover {
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#167609), to(#105a06));
      background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#167609), to(#105a06));
      background: -moz-linear-gradient(center top, #167609, #105a06); }
      .detailed-tabs .accordion-content > .drop-wrap > .drop-btn:hover .img-wrap.img-test-drive {
        background-image: url(../img/test_drive.svg); }
      .detailed-tabs .accordion-content > .drop-wrap > .drop-btn:hover .img-wrap.img-trade {
        background-image: url(../img/trade_value.svg); }
      .detailed-tabs .accordion-content > .drop-wrap > .drop-btn:hover .img-wrap.img-finance {
        background-image: url(../img/finance.svg); }
      .detailed-tabs .accordion-content > .drop-wrap > .drop-btn:hover .img-wrap.img-insurance {
        background-image: url(../img/insurance.svg); }
  .detailed-tabs .accordion-content > .drop-wrap.content-opened > .drop-btn {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#167609), to(#105a06));
    background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#167609), to(#105a06));
    background: -moz-linear-gradient(center top, #167609, #105a06); }
    .detailed-tabs .accordion-content > .drop-wrap.content-opened > .drop-btn .img-wrap.img-test-drive {
      background-image: url(../img/test_drive.svg); }
    .detailed-tabs .accordion-content > .drop-wrap.content-opened > .drop-btn .img-wrap.img-trade {
      background-image: url(../img/trade_value.svg); }
    .detailed-tabs .accordion-content > .drop-wrap.content-opened > .drop-btn .img-wrap.img-finance {
      background-image: url(../img/finance.svg); }
    .detailed-tabs .accordion-content > .drop-wrap.content-opened > .drop-btn .img-wrap.img-insurance {
      background-image: url(../img/insurance.svg); }
  .detailed-tabs .accordion-content > .drop-wrap > .drop-btn:after {
    content: "\f105";
    color: #167609;
    font-size: 2.5em;
    right: 20px; }
  .detailed-tabs .accordion-content > .drop-wrap.content-opened > .drop-btn:after {
    content: "\f107"; }
  .detailed-tabs .accordion-content .drop-btn i {
    font-size: 1.563em;
    text-align: center;
    color: #167609;
    vertical-align: middle;
    padding: 14px 0; }
  .detailed-tabs .accordion-content .drop-btn .img-wrap {
    width: 35px;
    height: 35px;
    text-align: center;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
    .detailed-tabs .accordion-content .drop-btn .img-wrap.img-questions {
      background-image: url(../img/question.svg); }
    .detailed-tabs .accordion-content .drop-btn .img-wrap.img-test-drive {
      background-image: url(../img/test_drive-green.svg); }
    .detailed-tabs .accordion-content .drop-btn .img-wrap.img-trade {
      background-image: url(../img/trade_value-green.svg); }
    .detailed-tabs .accordion-content .drop-btn .img-wrap.img-finance {
      background-image: url(../img/finance-green.svg); }
    .detailed-tabs .accordion-content .drop-btn .img-wrap.img-insurance {
      background-image: url(../img/insurance-green.svg); }
    .detailed-tabs .accordion-content .drop-btn .img-wrap.img-buy-online {
      background-image: url(../img/buy_online.svg); }
  .detailed-tabs .accordion-content .drop-btn h3 {
    color: #167609;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 500;
    padding-left: 5px; }
    .detailed-tabs .accordion-content .drop-btn h3 span {
      font-size: 0.813em;
      color: #666;
      text-transform: capitalize;
      display: inline-block;
      padding-top: 6px;
      font-weight: 400;
      padding-bottom: 10px; }

/* question tab */
.accordion-content .request-text-new .request-text {
  border-bottom: 1px solid #cce5cb;
  padding-top: 10px; }

.request-text-new .request-text {
  border-color: #ffffff;
  background-color: #e4f7e4;
  padding-left: 24px;
  overflow: hidden;
  border-width: 2px; }

.request-text-new .nav-pills.nav-stacked > li:first-child {
  border-top: 1px solid #d3d7dc; }

.request-text-new .request-form-wrap p {
  color: #2c3e50; }

.request-text-new .request-form-wrap > input {
  border-radius: 0; }

.request-text-new .request-form-wrap input.medium {
  width: 120px;
  border-radius: 3px; }

.request-text-new .request-form-wrap p {
  font-size: 0.875em;
  margin-bottom: 0; }

.request-text-new .request-form-wrap .btn {
  min-width: 160px;
  padding: 11px 15px;
  margin-top: 20px; }
  .request-text-new .request-form-wrap .btn.m-top-0 {
    margin-top: 0; }

.request-text-new .request-form-wrap small {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #2c3e50;
  font-size: 0.750em;
  line-height: 1.8;
  padding-top: 20px; }

.request-text-new .request-form-wrap .subscribe {
  margin: 5px 0 5px; }

.request-text-new textarea::-webkit-input-placeholder {
  color: #999; }

.request-text-new .tabs-contact-field {
  position: relative; }

.request-text-new .input-wrap {
  position: relative;
  padding-left: 110px; }
  .request-text-new .input-wrap em {
    font-style: normal;
    position: absolute;
    top: 0;
    left: 0; }
  .request-text-new .input-wrap input.medium {
    width: 100% !important; }

.finance-summary-fields .tabs-contact-field {
  position: relative; }

.request-text-new .tabs-contact-field input.medium {
  padding-left: 30px;
  width: 150px;
  padding-left: 30px; }

.finance-summary-fields .tabs-contact-field input.medium {
  padding-left: 30px; }

/*
.tabs-email-address.tabs-contact-field input.medium {
    width: 170px;
}
*/
.request-text-new .btn-orange.send-msg-btn {
  width: 160px;
  border-radius: 25px; }

.request-text-new .tabs-contact-field input.medium + .fa {
  position: absolute;
  left: 0;
  top: 2px;
  padding: 1px 6px;
  color: #666; }

.finance-summary-fields .tabs-contact-field input.medium + .fa {
  position: absolute;
  left: 0;
  top: 1px;
  padding: 1px 6px;
  color: #666; }

.drop-wrap.ask-seller-dropdown {
  margin-top: 10px; }
  .drop-wrap.ask-seller-dropdown .drop-btn {
    font-weight: normal;
    padding: 0; }

.ask-seller-dropdown a {
  font-size: 0.9em; }

/* finance tab */
/* Finance tab */
#finance-tab {
  border-style: solid;
  border-radius: 2px;
  padding: 10px 15px 15px 15px;
  border-color: white white #cce5cb;
  background-color: #e4f7e4;
  overflow: hidden;
  border-width: 2px 2px 1px;
  line-height: initial; }

.finance-tab-wrap {
  font-family: "Montserrat", sans-serif; }
  .finance-tab-wrap .annual-income-value input {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #777676;
    padding: 3px 5px;
    width: 100px;
    display: inline-block;
    height: 32px;
    color: #2c3e50;
    font-weight: 400;
    font-size: 0.756em; }
  .finance-tab-wrap .finance-sub-label,
  .finance-tab-wrap .amount-finance-value {
    font-size: 0.9em;
    color: #1f2f3e;
    font-weight: 500; }
    .finance-tab-wrap .finance-sub-label span,
    .finance-tab-wrap .amount-finance-value span {
      font-weight: 500;
      font-size: 1.145em;
      text-transform: uppercase; }
  .finance-tab-wrap .amount-finance-value {
    padding-top: 5px; }
  .finance-tab-wrap .slider-handle.min-slider-handle.round {
    background: url(../img/slider-handler.png);
    border-radius: 0;
    background-size: 100%;
    height: 27px;
    top: 1px; }
    .finance-tab-wrap .slider-handle.min-slider-handle.round:hover {
      cursor: pointer; }
  .finance-tab-wrap .slider-selection {
    background: #167509; }
  .finance-tab-wrap .slider-track-high {
    background: #e1e1e1; }
  .finance-tab-wrap .slider-tick-label {
    color: #2c3e50;
    font-size: 0.895em;
    font-weight: 500; }
    .finance-tab-wrap .slider-tick-label:hover {
      cursor: pointer; }
    .finance-tab-wrap .slider-tick-label span {
      display: block;
      font-size: 0.695em;
      margin: 0 auto;
      color: #666; }
  .finance-tab-wrap .btn-orange {
    /*background: #f39c12;*/
    padding: 6px 20px;
    font-size: 0.796em; }
    .finance-tab-wrap .btn-orange:hover {
      /*background: #f39c12;*/
      /*padding: 6px 20px;
      font-size: 0.796em;*/ }
  .finance-tab-wrap .slider-tick.round {
    display: none; }
  .finance-tab-wrap .slider.slider-horizontal {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px !important;
    padding-bottom: 10px; }

.rates-credit-score #low-interest-value {
  text-transform: uppercase; }

#finance-tab-res {
  padding: 0 30px; }

.finance-sub-section {
  border-bottom: 1px solid #b8bbb8;
  margin-bottom: 15px; }

.finance-tab-wrap .finance-sub-section:first-child {
  padding-bottom: 30px; }

.finance-tab-wrap .finance-sub-section.low-interest-section, .finance-tab-wrap .finance-sub-section.amount-finance-section {
  border-bottom: 0;
  padding-bottom: 20px; }

.finance-summary-price span {
  color: #f39c12;
  font-size: 1.643em;
  font-weight: 400; }

.finance-summary-price sup {
  font-size: 0.48em;
  color: #999;
  font-weight: 500; }

.finance-summary-note span {
  font-size: 0.795em;
  color: #999;
  font-weight: 500; }

.finance-summary-values span {
  color: #2c3e50;
  font-size: 0.795em;
  font-weight: 500; }

.finance-summary-section {
  position: relative;
  background: rgba(255, 255, 255, 0.71);
  padding: 2px 0; }
  .finance-summary-section .finance-summary-price {
    padding-top: 8px; }
  .finance-summary-section:after {
    content: "";
    background: rgba(255, 255, 255, 0.71);
    height: 84px;
    position: absolute;
    width: 15px;
    top: 0;
    left: -15px;
    border-left: 5px solid #cde8cd; }
  .finance-summary-section:before {
    content: "";
    background: rgba(255, 255, 255, 0.71);
    height: 84px;
    position: absolute;
    width: 15px;
    top: 0;
    right: -15px;
    border-right: 5px solid #cde8cd; }

.finance-tab-wrap .finance-sub-section:nth-child(3) {
  border-bottom: 0;
  padding-bottom: 20px; }

.finance-summary-fields {
  margin-top: 20px; }
  .finance-summary-fields p span {
    margin-bottom: 10px; }
    .finance-summary-fields p span:first-child {
      margin-right: .5vw; }
  .finance-summary-fields input.medium {
    width: 164px;
    border-radius: 5px;
    border: 1px solid #777676;
    padding: 0 5px;
    height: 28px;
    color: #1f2f3e;
    margin-bottom: 10px; }
  .finance-summary-fields input::-webkit-input-placeholder {
    color: #999; }

span#down-payment-value-2 {
  font-size: 1em; }

.finance-summary-section div {
  line-height: 22px; }

.finance-tab-wrap .finance-sub-section:first-child {
  padding-bottom: 30px; }

.rates-credit-score .slider-tick-label-container .slider-tick-label:first-child {
  position: relative;
  left: 15px; }

.rates-credit-score .slider-tick-label-container .slider-tick-label:last-child {
  position: relative;
  right: 30px; }

.low-interest-section .slider-tick-label-container .slider-tick-label:first-child {
  position: relative;
  left: 16px; }

.low-interest-section .slider-tick-label-container .slider-tick-label:last-child {
  position: relative;
  right: 14px; }

.checked-tab .finance-sub-text {
  color: #f39c12 !important; }

.drop-btn.checked-tab i:before {
  content: "\f00c";
  position: relative;
  top: -5px; }

.buy-online-content {
  width: 100%;
  z-index: 999;
  position: fixed;
  left: 100%;
  background: rgba(0, 0, 0, 0.71);
  color: #000; }

.close-frame {
  position: absolute;
  top: 20px;
  right: 20px; }
  .close-frame:hover {
    cursor: pointer; }
  .close-frame i {
    width: 40px;
    display: inline-block;
    margin: 15px 30px 10px 30px;
    font-size: 40px;
    line-height: 32px; }
    .close-frame i img {
      background: #fff;
      padding: 8px;
      border-radius: 25px; }

.accordion-content .drop-wrap.content-opened:last-child .drop-btn:after {
  content: "\f105" !important; }

.res-tabs {
  background: #fff;
  margin-top: 30px;
  overflow: hidden; }
  .res-tabs ul:first-child li {
    border-bottom: 1px solid #cce5cb; }
  .res-tabs ul li {
    display: inline-block;
    border: solid #cce5cb;
    border-width: 0 0 0 1px;
    min-height: 150px;
    width: 33.333%;
    float: left;
    background: #fff; }
    .res-tabs ul li:first-child {
      border-left: 0; }
    .res-tabs ul li a {
      display: inline-table;
      padding: 20px 1px;
      text-align: center;
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(25%); }
    .res-tabs ul li h4 {
      font-size: 34px;
      overflow: hidden;
      margin: 0 auto;
      text-align: center;
      display: table; }
    .res-tabs ul li h5 {
      margin-top: 10px;
      color: #666;
      display: block;
      min-height: 30px; }
    .res-tabs ul li h4 i {
      color: #167609;
      margin: 0 auto !important;
      text-align: center; }

/* inside labels */
.finance-tab-labels {
  margin-bottom: 15px; }
  .finance-tab-labels span {
    font-size: 0.870em; }
  .finance-tab-labels .finance-single-label {
    font-weight: 500;
    min-width: 120px;
    display: inline-block; }
  .finance-tab-labels p {
    margin-bottom: 5px; }

.lg-outer .lg-thumb-item {
  border-radius: 0 !important; }

.lg-outer.lg-start-zoom.lg-thumb-open .lg-toogle-thumb:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.lg-outer.lg-start-zoom .lg-toogle-thumb:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f106"; }

.lg-outer.lg-start-zoom.lg-thumb-open .lg-toogle-thumb:after {
  content: "\f107"; }

.lg-outer .lg-thumb-outer {
  background-color: #e3e3e3 !important; }

.lg-outer .lg-toogle-thumb {
  background-color: #e3e3e3 !important; }
  .lg-outer .lg-toogle-thumb:hover {
    color: #000; }

.lg-outer.lg-dropdown-active #lg-share {
  color: #000; }

.carfax-snapshot-embedded {
  width: 100% !important; }

/* get best price */
.dealer-form-fields input {
  border-radius: 3px;
  background: #fff;
  border: 1px solid #777676;
  padding: 3px 5px;
  display: inline-block;
  height: 40px;
  color: #1f2f3e;
  font-weight: 400;
  font-size: 0.906em;
  width: 49%; }

#exclusive-price-modal .modal-header {
  background: #fff; }
  #exclusive-price-modal .modal-header h3 {
    font-weight: 400;
    margin-bottom: 10px; }
  #exclusive-price-modal .modal-header p {
    font-size: 0.875em; }

.contact-dealer-form {
  padding: 15px; }
  .contact-dealer-form h3 {
    font-weight: 400;
    font-size: 0.979em;
    margin-bottom: 15px; }

.dealer-form-fields p {
  margin-bottom: 14px; }
  .dealer-form-fields p:nth-child(2) {
    margin-bottom: 30px; }

.exclusive-price-wrapper h4 {
  font-size: 0.875em;
  margin-top: 10px;
  margin-bottom: 5px; }

.exclusive-price-wrapper h3 {
  font-weight: 500;
  font-size: 2em; }

.exclusive-price-wrapper h3, .exclusive-price-wrapper h4 {
  color: #167609; }

.mobile-socials {
  margin-top: -45px;
  float: right;
  position: relative;
  z-index: 5;
  width: 90px;
  text-align: right; }

.mobile-socials .share-btn,
.mobile-socials .like-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  display: inline-block;
  float: left;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  color: #1f2f3e;
  cursor: pointer; }

.mobile-socials .like-btn {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  float: right; }

.mobile-socials .like-btn:after {
  content: "\f004";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 40px;
  opacity: 0;
  transition: all 0.3s; }

.liked .mobile-socials .like-btn:after {
  opacity: 1;
  color: #ef1b61; }

.graph-wrapper h2 {
  margin-left: 15px; }

.test-drive-form-wrap {
  background-color: #ececec;
  padding: 20px;
  position: relative; }
  .test-drive-form-wrap:before {
    content: '';
    background: rgba(0, 0, 0, 0.25);
    z-index: 2;
    display: none; }
  .test-drive-form-wrap.select-opened:before {
    display: block; }
  .test-drive-form-wrap .form-group {
    margin-bottom: 20px; }
  .test-drive-form-wrap input,
  .test-drive-form-wrap .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 0.9em;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important; }
  .test-drive-form-wrap input {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    color: #167609; }
  .test-drive-form-wrap input::-webkit-input-placeholder {
    color: #9c9c9c; }
  .test-drive-form-wrap input::-moz-placeholder {
    color: #9c9c9c; }
  .test-drive-form-wrap input:-ms-input-placeholder {
    color: #9c9c9c; }
  .test-drive-form-wrap input:-moz-placeholder {
    color: #9c9c9c; }
  .test-drive-form-wrap .btn-wrap {
    padding-top: 10px; }
    .test-drive-form-wrap .btn-wrap .btn {
      background: #9c9c9c;
      color: #fff; }
      .test-drive-form-wrap .btn-wrap .btn.active {
        background-color: #009ffe;
        box-shadow: none; }
  .test-drive-form-wrap .btn {
    text-transform: none; }
  .test-drive-form-wrap .bootstrap-select > .dropdown-toggle {
    padding-left: 20px; }
  .test-drive-form-wrap .bootstrap-select.btn-group .dropdown-toggle .caret:after {
    content: ""; }
  .test-drive-form-wrap .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    padding-right: 0; }
  .test-drive-form-wrap .form-group .bootstrap-select.btn-group {
    width: auto;
    display: block; }
  .test-drive-form-wrap .form-group .bootstrap-select.btn-group.select-day .btn,
  .test-drive-form-wrap .form-group .bootstrap-select.btn-group.select-time .btn {
    background-color: #fff;
    background-repeat: no-repeat  !important;
    background-position: 92% 50%  !important; }
  .test-drive-form-wrap .form-group .bootstrap-select.btn-group.select-day {
    margin-right: -5px; }
    .test-drive-form-wrap .form-group .bootstrap-select.btn-group.select-day .btn {
      background-image: url(../img/date_picker.svg) !important; }
  .test-drive-form-wrap .form-group .bootstrap-select.btn-group.select-time {
    margin-left: -5px; }
    .test-drive-form-wrap .form-group .bootstrap-select.btn-group.select-time .btn {
      background-image: url(../img/time_picker.svg) !important; }
  .test-drive-form-wrap .form-group .selected .bootstrap-select.btn-group.select-day .btn {
    background-image: url(../img/date_picker_active.svg) !important; }
  .test-drive-form-wrap .form-group .selected .bootstrap-select.btn-group.select-time .btn {
    background-image: url(../img/time_picker_active.svg) !important; }
  .test-drive-form-wrap .dropdown-menu {
    padding-top: 0;
    top: 45px; }
  .test-drive-form-wrap .dropdown-menu li {
    border: none;
    font-size: 1.1em;
    font-family: "Montserrat", sans-serif; }
    .test-drive-form-wrap .dropdown-menu li > a {
      font-weight: 500;
      padding: 10px 20px;
      color: #999; }
      .test-drive-form-wrap .dropdown-menu li > a:hover, .test-drive-form-wrap .dropdown-menu li > a:focus {
        color: #fff;
        background-color: #167609; }
  .test-drive-form-wrap .dropdown-menu li:first-child {
    border-radius: 0; }
  .test-drive-form-wrap .dropdown-menu li:first-child:before,
  .test-drive-form-wrap .dropdown-menu li:first-child:after {
    display: none; }
  .test-drive-form-wrap .filter-option {
    color: #999; }
  .test-drive-form-wrap .selected .filter-option {
    color: #167609; }
