.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.filters-wrap .filter-row .dropdown-toggle,
.filters-wrap .filter-row .dropdown-toggle:hover,
.filters-wrap .filter-row.zip-input input {
  background-color: #fff !important;
  padding: 0 15px; }

.filters-wrap .filter-row.zip-input .dropdown-toggle .filter-option {
  font-size: 1em; }

.switch-wrap {
  padding: 10px 0; }

.switch {
  height: 17px;
  position: relative;
  width: 31px;
  float: right;
  margin-bottom: 0;
  margin-top: 4px; }

.switch input {
  display: none; }

.switch .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s; }

.switch .slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 13px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 13px; }

.switch input:checked + .slider {
  background-color: #009ffe; }

.switch input:checked + .slider:before {
  transform: translateX(13px); }

.switch .slider.round {
  border-radius: 9px; }

.switch .slider.round:before {
  border-radius: 7px; }

.filters-wrap {
  font-family: "Montserrat", sans-serif; }
  .filters-wrap h3,
  .filters-wrap h4 {
    text-transform: none;
    font-weight: 400; }
  .filters-wrap h4 {
    margin-bottom: 10px; }
  .filters-wrap .reset {
    text-transform: uppercase;
    color: #a1a1a1;
    font-weight: 400;
    font-size: 0.5em;
    line-height: 1;
    margin-top: 12px;
    float: right; }
  .filters-wrap .sub-title {
    font-size: 1.15em; }
  .filters-wrap .range-slider-value {
    font-size: 0.75em;
    padding-top: 10px; }
  .filters-wrap .nav-tabs {
    border-bottom: none;
    margin-top: 5px;
    margin-left: -10px;
    margin-right: -10px; }
    .filters-wrap .nav-tabs > li {
      width: 33.33%;
      text-align: center;
      border: none !important; }
      .filters-wrap .nav-tabs > li > a {
        border: none;
        border-bottom: 2px solid #ccc;
        line-height: 40px;
        padding: 0;
        background-color: transparent !important;
        margin-right: 0;
        font-size: 0.9em;
        font-weight: 400;
        color: #ccc; }
        .filters-wrap .nav-tabs > li > a:hover {
          color: #167609;
          border-bottom-color: #167609; }
      .filters-wrap .nav-tabs > li.active > a {
        color: #167609;
        border-bottom-color: #167609; }
        .filters-wrap .nav-tabs > li.active > a:hover, .filters-wrap .nav-tabs > li.active > a:focus {
          border: none;
          border-bottom: 2px solid; }
    .filters-wrap .nav-tabs .finance-icon {
      border: 1px solid;
      border-radius: 10px;
      width: 16px;
      font-style: normal;
      height: 16px;
      display: inline-block;
      margin-left: 5px;
      line-height: 14px;
      font-size: 0.9em;
      cursor: pointer; }
    .filters-wrap .nav-tabs .finance-tooltip {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      padding: 10px;
      font-size: 0.75em;
      color: #333;
      left: calc(100% + 10px);
      line-height: 1.25;
      width: 150px;
      text-align: left;
      z-index: 99;
      display: none; }
      .filters-wrap .nav-tabs .finance-tooltip:before {
        content: "";
        width: 15px;
        height: 15px;
        display: inline-block;
        position: absolute;
        left: -8px;
        top: 50%;
        margin-top: -8px;
        background-color: #fff;
        -webkit-box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.05);
        -moz-box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.05);
        box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.05);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
  .filters-wrap .tab-pane {
    padding-top: 15px; }
  .filters-wrap .drop-content {
    display: none; }
  .filters-wrap .drop-btn {
    font-size: 0.9em; }
  .filters-wrap .range-slider-wrap {
    margin-top: 7px; }
  .filters-wrap .slider.slider-horizontal {
    width: 93%; }
  .filters-wrap .slider.slider-horizontal .slider-track {
    height: 8px; }
  .filters-wrap .slider-track {
    background: #9c9c9c; }
  .filters-wrap .slider-selection {
    background: #167609; }
  .filters-wrap .slider-handle {
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
    margin-top: -6px;
    cursor: pointer;
    background-color: #167609;
    background-image: none; }
  .filters-wrap .checkbox-wrap {
    color: #333;
    font-weight: 400; }
  .filters-wrap .checkbox-wrap .checkbox-icon {
    border: none;
    width: 13px;
    height: 13px;
    background: url(../img/checkbox-bg.png) no-repeat 0 0; }
  .filters-wrap .checkbox-wrap .checkbox-icon:after {
    content: "\f046";
    color: #333;
    font-size: 15px;
    line-height: 13px;
    left: 1px; }
  .filters-wrap .checkbox-wrap input:checked + .checkbox-icon {
    background: transparent;
    border-color: transparent; }
  .filters-wrap strong {
    font-weight: 500;
    font-size: 0.9em; }

.new-search {
  padding-top: 10px; }
  .new-search .title {
    margin-bottom: 5px; }
  .new-search .dropdown-toggle,
  .new-search .zip-input input {
    border-radius: 0; }
  .new-search .btn-wrap.filter-row .btn {
    font-size: 1.15em;
    padding: 0;
    line-height: 30px;
    margin-top: 6px;
    border-radius: 4px; }
  .new-search .filter-row {
    margin-top: 6px; }
    .new-search .filter-row .year-item {
      background: #fff;
      position: relative; }
      .new-search .filter-row .year-item:before {
        position: absolute;
        left: 15px;
        line-height: 35px;
        font-size: 0.9em; }
      .new-search .filter-row .year-item.from {
        padding-left: 61px; }
        .new-search .filter-row .year-item.from:before {
          content: "From:"; }
      .new-search .filter-row .year-item.to {
        padding-left: 39px; }
        .new-search .filter-row .year-item.to:before {
          content: "To:"; }
      .new-search .filter-row .year-item .dropdown-toggle {
        padding-left: 0; }

.filters {
  margin-top: 20px; }
  .filters .filter-item {
    margin-top: 10px; }
    .filters .filter-item a {
      color: #167609; }
      .filters .filter-item a:hover {
        color: #0d4705; }
  .filters em {
    font-style: normal; }
  .filters .filter-row {
    margin-top: 0;
    line-height: 1; }

/****** TABLET ******/
@media only screen and (max-width: 1199px) {
  .switch {
    float: none; }
  .new-search .filter-row .year-item:before {
    font-size: 0.75em; }
  .new-search .filter-row .year-item.to {
    padding-left: 34px; }
  .new-search .filter-row .year-item.from {
    padding-left: 52px; } }

@media only screen and (max-width: 991px) {
  .switch {
    top: 4px; }
  .new-search .filter-row .year-item:before {
    font-size: 1em; }
  .new-search .filter-row .year-item.to {
    padding-left: 40px; }
  .new-search .filter-row .year-item.from {
    padding-left: 62px; }
  .filters-wrap .reset {
    float: none; }
  .filters-wrap #search,
  .filters-wrap #filters {
    background-color: #ececec; }
    .filters-wrap #search .filters-body,
    .filters-wrap #filters .filters-body {
      padding-left: 20px;
      padding-right: 20px; }
    .filters-wrap #search .search-close,
    .filters-wrap #filters .search-close {
      color: #167609;
      font-size: 0.875em;
      position: relative;
      float: right;
      top: 0;
      right: 0; }
    .filters-wrap #search .title,
    .filters-wrap #filters .title {
      border-bottom: none;
      padding-left: 0;
      padding-right: 0; }
    .filters-wrap #search > .title,
    .filters-wrap #filters > .title {
      line-height: 50px;
      display: inline-block;
      width: 100%;
      padding: 0 10px;
      border-bottom: 1px solid #cccccc; }
      .filters-wrap #search > .title h3,
      .filters-wrap #filters > .title h3 {
        line-height: 50px;
        float: left; }
    .filters-wrap #search .filter-row,
    .filters-wrap #filters .filter-row {
      margin-top: 10px; }
    .filters-wrap #search .filter-row .half-item,
    .filters-wrap #filters .filter-row .half-item {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0; }
      .filters-wrap #search .filter-row .half-item + .half-item,
      .filters-wrap #filters .filter-row .half-item + .half-item {
        margin-left: 0; }
    .filters-wrap #search .filter-row.zip-input input,
    .filters-wrap #search .filter-row .dropdown-toggle,
    .filters-wrap #filters .filter-row.zip-input input,
    .filters-wrap #filters .filter-row .dropdown-toggle {
      font-size: 1em; } }

/****** MOBILE -******/
@media only screen and (max-width: 767px) {
  .new-search .filter-row .year-item:before {
    line-height: 40px; }
  .filters-wrap .reset {
    display: none; } }
