.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position, .colored-filter-row .color .checkbox-over:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.filters-wrap {
  /* nav tabs */
  /* custom checkbox */ }
  .filters-wrap .new-search,
  .filters-wrap .filters {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px; }
  .filters-wrap .filters {
    margin-top: 43px; }
  .filters-wrap .title {
    display: inline-block;
    width: 100%;
    color: #2c3e50;
    padding: 15px 8px 11px;
    overflow: hidden; }
    .filters-wrap .title h5 {
      float: left; }
    .filters-wrap .title .reset {
      float: right;
      color: #92979c;
      text-transform: uppercase;
      font-size: 0.775em;
      line-height: 1.5; }
  .filters-wrap .nav-tabs {
    border-bottom: 1px solid #f6f6f7;
    margin-top: 5px; }
    .filters-wrap .nav-tabs li {
      width: 33.33%;
      text-align: center; }
    .filters-wrap .nav-tabs > li > a {
      border: none;
      padding: 0;
      line-height: 35px;
      color: #4e6777;
      display: block;
      border-bottom: 3px solid transparent; }
    .filters-wrap .nav-tabs > li.active a,
    .filters-wrap .nav-tabs > li > a:hover {
      border: none;
      border-bottom: 3px solid #2c3e50;
      background: transparent;
      color: #2c3e50; }
    .filters-wrap .nav-tabs > li.active a {
      font-weight: 600; }
  .filters-wrap .tab-pane {
    padding-top: 25px; }
    .filters-wrap .tab-pane h5 {
      margin-bottom: 10px; }
  .filters-wrap .filter-item + .filter-item {
    margin-top: 25px; }
  .filters-wrap .checkbox-wrap em {
    font-style: normal;
    color: #8394a0;
    font-weight: 400; }
  .filters-wrap .checkbox-wrap input:checked + .checkbox-icon + .name {
    font-weight: 600; }
  .filters-wrap .drop-wrap .drop-btn {
    color: #1e8bc3;
    font-size: 0.875em;
    margin-top: 5px;
    display: inline-block; }
  .filters-wrap .drop-wrap .drop-content {
    display: none; }

/* range slider */
.range-slider-wrap {
  padding: 0 14px 0 10px; }
  .range-slider-wrap .slider.slider-horizontal {
    width: 100%; }
  .range-slider-wrap .slider .slider-track {
    border: 1px solid #f3f3f3;
    height: 10px;
    margin-top: -4px;
    background: -webkit-linear-gradient(#DDD -50%, #FFF 150%);
    background: -o-linear-gradient(#DDD -50%, #FFF 150%);
    background: linear-gradient(#DDD -50%, #FFF 150%);
    width: auto;
    left: -10px;
    right: -10px; }
  .range-slider-wrap .slider .slider-selection {
    background: #16783b; }
  .range-slider-wrap .slider .slider-handle {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    width: 23px;
    height: 23px;
    background: -webkit-linear-gradient(white 0%, gainsboro 20%, white 100%);
    background: -o-linear-gradient(white 0%, gainsboro 20%, white 100%);
    background: linear-gradient(white 0%, gainsboro 20%, white 100%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-top: -8px; }
    .range-slider-wrap .slider .slider-handle:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -4px;
      left: 50%;
      margin-left: -4px;
      width: 0;
      height: 0;
      border-radius: 4px;
      background: #2c3e50; }
  .range-slider-wrap input.range-slider {
    height: inherit; }

.range-slider-value {
  margin-top: 13px;
  display: inline-block;
  width: 100%;
  font-size: 0.875em;
  font-weight: 600;
  color: #4e6777; }

/* colored input */
.colored-filter-row {
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: -20px; }
  .colored-filter-row .color {
    position: relative;
    float: left;
    padding: 0 6px 10px;
    margin: 0; }
    .colored-filter-row .color input {
      position: absolute;
      top: 0;
      left: 6px;
      width: 26px;
      height: 26px;
      opacity: 0;
      margin: 0;
      z-index: 2;
      cursor: pointer; }
    .colored-filter-row .color .checkbox-over {
      width: 26px;
      height: 26px;
      border-radius: 13px;
      position: relative;
      display: inline-block; }
      .colored-filter-row .color .checkbox-over:after {
        content: "";
        border: 2px solid #fff;
        display: inline-block;
        border-radius: 13px;
        opacity: 0;
        z-index: 1; }
    .colored-filter-row .color input:checked + .checkbox-over {
      border: 2px solid #2c3e50; }
      .colored-filter-row .color input:checked + .checkbox-over:after {
        opacity: 1; }

.colored-filter-row .red .checkbox-over {
  background: #dd323e; }

.colored-filter-row .brown .checkbox-over {
  background: #dbb471; }

.colored-filter-row .light-green .checkbox-over {
  background: #9ed5a6; }

.colored-filter-row .violet .checkbox-over {
  background: #9675eb; }

.colored-filter-row .pink .checkbox-over {
  background: #f4856b; }

.colored-filter-row .orange .checkbox-over {
  background: #f4af6b; }

.colored-filter-row .blue .checkbox-over {
  background: #1014d2; }

.colored-filter-row .green .checkbox-over {
  background: #318f3f; }

.colored-filter-row .light-blue .checkbox-over {
  background: #75ebea; }

.colored-filter-row .lime .checkbox-over {
  background: #daf210; }

.colored-filter-row .black .checkbox-over {
  background: #363839; }
