.font-awesome, .single-page-title.find-car-title .search-input-wrap:before {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.single-page-title.find-car-title {
  height: inherit;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url(../img/find-a-car-bg.jpg); }
  .single-page-title.find-car-title a {
    margin-bottom: 0;
    margin-top: 0; }
  .single-page-title.find-car-title .search-input-wrap {
    position: relative;
    padding-right: 60px; }
    .single-page-title.find-car-title .search-input-wrap:before {
      content: "\f002";
      font-size: 1.375em;
      width: 60px;
      height: 60px;
      position: absolute;
      left: 0;
      top: 0;
      line-height: 60px;
      text-align: center;
      color: #a1b1bc; }
    .single-page-title.find-car-title .search-input-wrap input,
    .single-page-title.find-car-title .search-input-wrap .search-btn {
      border: none;
      height: 60px;
      line-height: 60px;
      float: left; }
    .single-page-title.find-car-title .search-input-wrap input {
      border-radius: 4px 0 0 4px;
      width: 100%;
      padding-left: 60px;
      padding-right: 15px; }
    .single-page-title.find-car-title .search-input-wrap input[placeholder] {
      color: #a1b1bc; }
    .single-page-title.find-car-title .search-input-wrap input::-webkit-input-placeholder {
      color: #a1b1bc; }
    .single-page-title.find-car-title .search-input-wrap input::-moz-placeholder {
      color: #a1b1bc; }
    .single-page-title.find-car-title .search-input-wrap input:-moz-placeholder {
      color: #a1b1bc; }
    .single-page-title.find-car-title .search-input-wrap input:-ms-input-placeholder {
      color: #a1b1bc; }
    .single-page-title.find-car-title .search-input-wrap .search-btn {
      border-radius: 0 4px 4px 0;
      color: #fff;
      width: 60px;
      background: #1f2f3e;
      font-size: 1.375em;
      position: absolute;
      right: 0;
      top: 0; }
  .single-page-title.find-car-title .advanced-form {
    max-width: 760px;
    margin: 40px auto 0; }
    .single-page-title.find-car-title .advanced-form .search-input-wrap {
      padding-right: 0; }
      .single-page-title.find-car-title .advanced-form .search-input-wrap input {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px; }
  .single-page-title.find-car-title .advansed-form-wrap {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    margin-top: 10px; }
    .single-page-title.find-car-title .advansed-form-wrap .text-center {
      padding: 10px 0;
      border-top: 1px solid #c4c9cf; }
      .single-page-title.find-car-title .advansed-form-wrap .text-center .btn {
        width: 260px; }
  .single-page-title.find-car-title .form-elements-wrap,
  .single-page-title.find-car-title .price-range,
  .single-page-title.find-car-title .body-styles {
    padding-left: 20px;
    padding-right: 0;
    position: relative; }
  .single-page-title.find-car-title .price-range label,
  .single-page-title.find-car-title .body-styles label {
    margin-bottom: 0; }
  .single-page-title.find-car-title .advanced-options {
    padding-left: 0; }
    .single-page-title.find-car-title .advanced-options .price-range .checkbox-content,
    .single-page-title.find-car-title .advanced-options .body-styles .checkbox-content em,
    .single-page-title.find-car-title .advanced-options .all-wrap .checkbox-content {
      border: 1px solid transparent;
      padding: 2px 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px; }
    .single-page-title.find-car-title .advanced-options .price-range input:checked + .checkbox-content,
    .single-page-title.find-car-title .advanced-options .body-styles input:checked + .checkbox-content em,
    .single-page-title.find-car-title .advanced-options .all-wrap input:checked + .checkbox-content {
      border-color: #167609;
      opacity: 0.75; }
    .single-page-title.find-car-title .advanced-options .all-wrap {
      position: absolute;
      left: 20px;
      bottom: 0;
      top: 30px; }
      .single-page-title.find-car-title .advanced-options .all-wrap label {
        position: absolute;
        top: 50%;
        width: 80px;
        max-width: 80px;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); }
        .single-page-title.find-car-title .advanced-options .all-wrap label input {
          cursor: pointer; }
      .single-page-title.find-car-title .advanced-options .all-wrap .checkbox-content {
        text-transform: none;
        padding: 5px 30px;
        border-color: #e8eaeb;
        color: #abb2b9; }
    .single-page-title.find-car-title .advanced-options .body-styles .all-wrap label {
      top: 60%; }
  .single-page-title.find-car-title .advanced-options .body-styles ul,
  .single-page-title.find-car-title .advanced-options .price-range ul {
    margin-left: 0;
    margin-right: 0;
    padding-left: 70px;
    display: block; }
  .single-page-title.find-car-title .advanced-options li {
    text-align: center; }

.selecred-filters-wrap {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-top: 20px;
  padding-right: 49px;
  padding-left: 49px; }
  .selecred-filters-wrap.right-end .arrow-right {
    opacity: 0;
    visibility: hidden; }
  .selecred-filters-wrap.left-not-end .arrow-left {
    opacity: 1;
    visibility: visible; }
  .selecred-filters-wrap.right-not-end .arrow-right {
    opacity: 1;
    visibility: visible; }
  .selecred-filters-wrap a {
    margin: 0;
    position: relative;
    font-size: 0.875em; }
    .selecred-filters-wrap a + a {
      margin-left: 20px; }
      .selecred-filters-wrap a + a:before {
        content: "|";
        position: absolute;
        top: -1;
        left: -14px; }
  .selecred-filters-wrap span {
    width: 30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    transition: all 0.5s; }
    .selecred-filters-wrap span.arrow-left {
      left: 0;
      opacity: 0;
      visibility: hidden; }
      .selecred-filters-wrap span.arrow-left:after {
        content: "...";
        position: absolute;
        width: 20px;
        right: -20px;
        text-align: right; }
    .selecred-filters-wrap span.arrow-right {
      right: 0; }
      .selecred-filters-wrap span.arrow-right:before {
        content: "...";
        position: absolute;
        width: 20px;
        left: -20px;
        text-align: left; }
  .selecred-filters-wrap .selected-filters {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    height: 22px; }
    .selecred-filters-wrap .selected-filters .inner-wrapper {
      position: absolute;
      transition: all 0.5s; }

.find-car .filters-wrap .filters {
  margin-top: 0; }

.find-car .result-sorting .view a {
  font-size: 0.875em;
  font-weight: 700; }
