.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.find-cars-wrap {
  background: url(../img/find-image.jpg) no-repeat 50% 100%;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px; }
  .find-cars-wrap h6 {
    margin-bottom: 15px; }
    .find-cars-wrap h6 span {
      text-transform: none;
      font-size: 0.875em;
      color: #999; }
  .find-cars-wrap .advanced-form {
    max-width: 760px;
    margin: 0 auto;
    color: #1f2f3e;
    font-family: "Montserrat", sans-serif;
    background: rgba(255, 255, 255, 0.9); }
    .find-cars-wrap .advanced-form .text-center {
      padding: 10px 0;
      border-top: 1px solid #c4c9cf; }
      .find-cars-wrap .advanced-form .text-center .btn {
        width: 260px; }
    .find-cars-wrap .advanced-form .bootstrap-select .btn.dropdown-toggle {
      font-size: 0.875em;
      background: transparent !important; }
    .find-cars-wrap .advanced-form .form-item input:not([class=btn]) {
      font-size: 0.813em; }
    .find-cars-wrap .advanced-form .btn-green {
      -webkit-border-radius: 27px;
      -moz-border-radius: 27px;
      border-radius: 27px; }
  .find-cars-wrap .form-elements-wrap,
  .find-cars-wrap .price-range,
  .find-cars-wrap .body-styles {
    padding-left: 20px;
    padding-right: 0;
    position: relative; }
  .find-cars-wrap .price-range label,
  .find-cars-wrap .body-styles label {
    margin-bottom: 0; }
  .find-cars-wrap .search-wrap .advanced-options {
    padding-left: 0;
    padding-right: 0; }
    .find-cars-wrap .search-wrap .advanced-options .price-range .checkbox-content,
    .find-cars-wrap .search-wrap .advanced-options .body-styles .checkbox-content em,
    .find-cars-wrap .search-wrap .advanced-options .all-wrap .checkbox-content {
      border: 1px solid transparent;
      padding: 2px 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px; }
    .find-cars-wrap .search-wrap .advanced-options .all-wrap .checkbox-content {
      padding: 3px 30px;
      text-transform: none;
      border-color: #e8eaeb;
      font-size: 1em; }
    .find-cars-wrap .search-wrap .advanced-options .price-range input:checked + .checkbox-content,
    .find-cars-wrap .search-wrap .advanced-options .body-styles input:checked + .checkbox-content em,
    .find-cars-wrap .search-wrap .advanced-options .all-wrap input:checked + .checkbox-content {
      border-color: #167609; }
    .find-cars-wrap .search-wrap .advanced-options .all-wrap .checkbox-content {
      opacity: 0.75; }
      .find-cars-wrap .search-wrap .advanced-options .all-wrap .checkbox-content:after {
        width: 62%; }
    .find-cars-wrap .search-wrap .advanced-options .all-wrap input:checked + .checkbox-content {
      opacity: 1;
      padding: 3px 20px 3px 40px; }
    .find-cars-wrap .search-wrap .advanced-options .body-styles .all-wrap {
      position: absolute;
      left: 20px;
      bottom: 0;
      top: 30px; }
      .find-cars-wrap .search-wrap .advanced-options .body-styles .all-wrap label {
        position: absolute;
        top: 50%;
        width: 80px;
        max-width: 80px; }
        .find-cars-wrap .search-wrap .advanced-options .body-styles .all-wrap label input {
          cursor: pointer; }
    .find-cars-wrap .search-wrap .advanced-options .price-range,
    .find-cars-wrap .search-wrap .advanced-options .body-styles {
      padding-top: 15px;
      padding-bottom: 15px; }
  .find-cars-wrap .search-wrap .advanced-options .body-styles ul {
    margin-left: 0;
    margin-right: 0;
    padding-left: 70px; }
  .find-cars-wrap .search-wrap .advanced-options .price-range ul {
    margin-left: -37px;
    margin-right: 0; }
  .find-cars-wrap .advanced-options .price-range li {
    width: 20%; }
  .find-cars-wrap .advanced-options li {
    text-align: center; }
  .find-cars-wrap .advanced-options label:hover span,
  .find-cars-wrap .advanced-options .price-range li:not(.all-wrap) input:checked + .checkbox-content,
  .find-cars-wrap .advanced-options .body-styles input:checked + .checkbox-content .car {
    opacity: 0.5; }
  .find-cars-wrap .colors-wrap,
  .find-cars-wrap .ranges-wrap {
    padding: 20px 20px 0; }
  .find-cars-wrap .range-slider-value {
    text-transform: none;
    color: #999;
    font-size: 0.75em;
    font-weight: 400s; }
  .find-cars-wrap .range-slider-wrap .slider .slider-handle {
    margin-top: -2px; }
