.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position, .car-logos a:after, .featured-video .over {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex, .rental .rental-cars .rental-cars-item .desc, .main-news .news-detail {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/***** HELP BANNER *****/
.help-banner {
  background-color: #fdb813;
  color: #fff;
  padding: 7px 25px;
  position: relative;
  font-size: 18px;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15); }
  .help-banner a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold; }
  .help-banner .close {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -14px;
    font-size: 25px;
    color: #fff;
    z-index: 2;
    opacity: 1; }

/***** TOP SECTION *****/
.top-section {
  min-height: 620px;
  background: url(../img/banner.jpg) no-repeat 50% 80%;
  background-size: cover;
  padding-top: 60px;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  position: relative;
  z-index: 9; }
  .top-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.16);
    z-index: 1; }
  .top-section h1 {
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }
  .top-section .container {
    position: relative;
    z-index: 2; }
  .top-section p {
    font-size: 1.125em;
    line-height: 1.8;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
    margin-top: 40px; }
  .top-section .advanced-form form {
    /*padding-right: 80px;*/ }
  .top-section .advanced-form .btn-green {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 47px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 110px;
    text-align: center;
    font-size: 0.9em; }
  .top-section .open > .dropdown-toggle.btn-default:hover,
  .top-section .btn-group .dropdown-toggle,
  .top-section .btn-group.open .dropdown-toggle,
  .top-section .bootstrap-select .dropdown-toggle:hover,
  .top-section .bootstrap-select .dropdown-toggle:focus {
    background: transparent !important; }

.banner-slider {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden; }
  .banner-slider.slick-initialized {
    display: block; }
  .banner-slider .slick-list,
  .banner-slider .slick-track {
    height: 100%; }
  .banner-slider .banner-slide {
    height: 100%;
    background-position: 50% 80%;
    background-size: cover;
    background-repeat: no-repeat; }
    .banner-slider .banner-slide.slide1 {
      background-image: url(../img/banner.jpg); }
    .banner-slider .banner-slide.slide2 {
      background-image: url(../img/banner-slide2.jpg); }
    .banner-slider .banner-slide.slide3 {
      background-image: url(../img/banner-slide3.jpg); }
  .banner-slider .slick-prev {
    left: 20px; }
    .banner-slider .slick-prev:before {
      content: '\f104';
      font-size: 55px; }
  .banner-slider .slick-next {
    right: 20px; }
    .banner-slider .slick-next:before {
      content: '\f105';
      font-size: 55px; }
  .banner-slider .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    z-index: 5;
    text-align: center; }
    .banner-slider .slick-dots li {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px; }
      .banner-slider .slick-dots li button {
        width: 15px;
        height: 15px;
        border-radius: 8px;
        text-indent: -99999px;
        position: relative;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.5);
        border: none; }
      .banner-slider .slick-dots li.slick-active button {
        background-color: #fff; }

.search-wrap {
  max-width: 700px;
  margin: 32px auto 0; }
  .search-wrap .nav-tabs {
    border-bottom: none;
    padding: 0 36px; }
    .search-wrap .nav-tabs li {
      padding-bottom: 10px; }
      .search-wrap .nav-tabs li + li {
        padding-left: 25px; }
      .search-wrap .nav-tabs li.active a:before {
        background-color: #167609;
        border-color: #167609;
        width: 12px;
        height: 12px;
        margin-top: -6px; }
    .search-wrap .nav-tabs a {
      text-transform: uppercase;
      padding: 0;
      border: none;
      color: #fff;
      position: relative;
      padding-left: 15px;
      font-size: 0.9em;
      letter-spacing: 0.1em;
      font-weight: 200; }
      .search-wrap .nav-tabs a:before {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        content: "";
        width: 10px;
        height: 10px;
        border: 2px solid;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -5px; }
    .search-wrap .nav-tabs span,
    .search-wrap .nav-tabs .active a,
    .search-wrap .nav-tabs .active a:hover,
    .search-wrap .nav-tabs .active a:focus,
    .search-wrap .nav-tabs a:hover {
      background-color: transparent;
      border: none;
      color: white; }
    .search-wrap .nav-tabs .active a,
    .search-wrap .nav-tabs .active a:hover,
    .search-wrap .nav-tabs .active a:focus {
      font-weight: 400; }
  .search-wrap .tab-pane {
    position: relative; }
    .search-wrap .tab-pane > * {
      position: relative;
      z-index: 5; }

/*-------------*/
.manufacturer,
.dealer,
.rental,
.manufacturer a,
.dealer a,
.rental a {
  color: white; }

.title-with-icon {
  position: relative; }

.title-with-icon:before {
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  background-image: url(../img/content-icons-sprite.png);
  background-repeat: no-repeat;
  background-size: 112px auto;
  display: inline-block; }

.car-logos a:after,
.rental-cars-item:after,
.news-item:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0; }

.rental-cars-item:after,
.news-item:after {
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px; }

/* why */
.why {
  /*padding: 0 0 10px;
	h2 {
		margin-bottom: 40px;
		font-size: 1.8em;
	}*/ }
  .why .certified-cars-btns {
    text-align: center; }
    .why .certified-cars-btns li {
      float: left;
      width: 25%; }
      .why .certified-cars-btns li img {
        -ms-transform: scale(0.98);
        -webkit-transform: scale(0.98);
        transform: scale(0.98); }

/* featured manufacturer */
.featured-manufacturers .title-with-icon {
  margin-bottom: 35px; }

.featured-manufacturers .container {
  padding-bottom: 30px !important; }

.featured-manufacturers .featured-manufacturers-list {
  display: inline-table; }
  .featured-manufacturers .featured-manufacturers-list li {
    display: inline-block;
    background: #fff;
    border-radius: 3px;
    padding: 5px;
    margin: 0 4px;
    margin-bottom: 10px; }
    .featured-manufacturers .featured-manufacturers-list li .featured-manufacturers-logo {
      width: 108px; }
    .featured-manufacturers .featured-manufacturers-list li a {
      padding: 5px;
      display: inline-block; }

/* featured deals */
.featured-deals h2 + p {
  max-width: 890px;
  margin: 0 auto; }

.featured-deals h6 {
  font-size: 0.90em; }
  .featured-deals h6 a {
    color: inherit; }

.featured-deals p {
  font-size: 0.80em; }

.featured-deals .slider-wrap {
  background: rgba(255, 255, 255, 0.03);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 63px 0 40px;
  position: relative;
  margin-top: 53px; }
  .featured-deals .slider-wrap:before {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 105px;
    width: 100%;
    background: url(../img/featured-shadow.png) no-repeat 50% 50%/100% auto; }

.featured-deals .slick-slide {
  text-align: center;
  padding: 0 50px; }
  .featured-deals .slick-slide h6 {
    text-transform: uppercase; }
  .featured-deals .slick-slide img {
    display: inline-block;
    margin-bottom: 30px; }
  .featured-deals .slick-slide p {
    margin-top: 20px;
    margin-bottom: 0; }

.featured-deals.featured-deals-new .slick-prev:before, .featured-deals.featured-deals-new .slick-next:before {
  opacity: 1;
  color: #1f2f3e; }

.featured-deals.featured-deals-new .slick-slide {
  padding: 0 15px;
  margin-bottom: 10px; }
  .featured-deals.featured-deals-new .slick-slide img {
    height: 260px;
    object-fit: cover;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0; }
  .featured-deals.featured-deals-new .slick-slide h6 {
    text-align: left;
    color: #222;
    font-weight: 400;
    text-transform: capitalize; }
  .featured-deals.featured-deals-new .slick-slide p {
    color: #333;
    margin-top: 10px;
    text-transform: capitalize; }

.featured-deals.featured-deals-new .slider-wrap {
  padding-top: 0;
  padding-right: 5px;
  padding-bottom: 0;
  padding-left: 5px;
  margin-top: 25px; }
  .featured-deals.featured-deals-new .slider-wrap:before {
    background: none; }

.featured-deals.featured-deals-new a {
  display: inline-block;
  border-radius: 3px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2); }

.featured-deals.featured-deals-new .featured-deals-details {
  padding: 25px 20px 25px 30px;
  overflow: hidden; }
  .featured-deals.featured-deals-new .featured-deals-details button {
    margin-top: -15px; }

/* manufacturer */
.manufacturer .title-with-icon {
  padding-top: 70px; }
  .manufacturer .title-with-icon:before {
    width: 90px;
    height: 45px;
    background-position: 0 0; }

.manufacturer .car-logos {
  margin-top: 35px; }

/* dealer */
.dealer .title-with-icon {
  padding-top: 71px; }
  .dealer .title-with-icon:before {
    width: 114px;
    height: 42px;
    background-position: 0 -52px; }

.dealer .dealer-form-wrap {
  margin-top: 50px;
  text-align: center; }
  .dealer .dealer-form-wrap .bootstrap-select.btn-group .dropdown-menu {
    min-width: inherit; }
  .dealer .dealer-form-wrap div.dropdown-menu {
    left: 25px;
    right: 25px;
    width: auto; }
  .dealer .dealer-form-wrap .form-item {
    width: 33%;
    max-width: 300px;
    padding: 0 15px; }
    .dealer .dealer-form-wrap .form-item.search-icon {
      position: relative; }
      .dealer .dealer-form-wrap .form-item.search-icon:after {
        content: "\f002";
        text-decoration: inherit;
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: -12px;
        height: 20px;
        color: #a1b1bc; }
  .dealer .dealer-form-wrap .btn {
    height: 46px;
    font-size: 0.9em;
    color: #a1b1bc;
    padding: 0 25px;
    text-transform: none; }
  .dealer .dealer-form-wrap input::-webkit-input-placeholder {
    color: #a1b1bc; }
  .dealer .dealer-form-wrap input::-moz-placeholder {
    color: #a1b1bc; }
  .dealer .dealer-form-wrap input:-ms-input-placeholder {
    color: #a1b1bc; }
  .dealer .dealer-form-wrap input:-moz-placeholder {
    color: #a1b1bc; }

.dealer .dealer-result {
  margin-top: 50px; }
  .dealer .dealer-result ul {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    min-height: 170px; }
    .dealer .dealer-result ul li {
      line-height: 2.1;
      text-align: left;
      padding: 0 30px; }

.dealer .dealer-pagination {
  text-align: center; }
  .dealer .dealer-pagination .slick-dots {
    text-align: center;
    display: inline-block;
    margin-top: 53px;
    margin-bottom: -20px;
    padding: 0 2px; }
    .dealer .dealer-pagination .slick-dots li {
      display: inline-block;
      padding: 0 2px;
      width: 38px; }
    .dealer .dealer-pagination .slick-dots button {
      font-size: 0.875em;
      width: 34px;
      height: 34px;
      border-radius: 17px;
      background: transparent;
      color: white;
      border: 2px solid transparent;
      padding: 0; }
  .dealer .dealer-pagination .pag-prev {
    padding-right: 12px; }
  .dealer .dealer-pagination .pag-next {
    padding-left: 12px; }
  .dealer .dealer-pagination .pag-prev,
  .dealer .dealer-pagination .pag-next {
    font-size: 0.7em;
    line-height: 32px;
    color: white;
    background: none;
    border: none; }
  .dealer .dealer-pagination .slick-active button {
    background: white;
    border-color: white;
    color: #1e8bc3; }

/* rental */
.rental .title-with-icon {
  padding-top: 80px; }
  .rental .title-with-icon:before {
    width: 61px;
    height: 60px;
    background-position: 0 -100px; }

.rental .rental-cars {
  margin-top: 61px; }
  .rental .rental-cars .rental-cars-item {
    position: relative;
    padding-left: 115px;
    min-height: 100px;
    line-height: 1.5;
    font-size: 0.9em;
    display: inline-block;
    width: 100%; }
    .rental .rental-cars .rental-cars-item:hover {
      text-decoration: none; }
      .rental .rental-cars .rental-cars-item:hover:after {
        opacity: 0.3; }
      .rental .rental-cars .rental-cars-item:hover h4 {
        text-decoration: underline; }
    .rental .rental-cars .rental-cars-item .thumb {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    .rental .rental-cars .rental-cars-item .desc {
      padding-top: 5px;
      min-height: 100px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .rental .rental-cars .rental-cars-item p {
      margin-bottom: 0; }

.rental .button-wrap {
  margin-top: 74px; }

/* featured video */
.featured-video .main-video {
  padding: 5px;
  border: 1px solid #d7d7d7; }

.featured-video iframe {
  width: 100%;
  min-width: 100%;
  height: 250px;
  border: none;
  display: block; }

.featured-video .video-row {
  margin-top: 65px; }

.featured-video h3 + p {
  margin-top: 20px;
  line-height: 1.75; }
  .featured-video h3 + p + ul {
    margin-top: 32px; }
    .featured-video h3 + p + ul li + li {
      margin-top: 16px; }
    .featured-video h3 + p + ul a {
      color: #1b6fb7;
      margin-left: 10px; }
    .featured-video h3 + p + ul i {
      font-size: 0.65em;
      color: #2c3e50; }

.featured-video .video-thumbs li {
  float: left;
  width: 33.333%;
  padding: 2px 1px 0; }
  .featured-video .video-thumbs li a {
    position: relative;
    display: inline-block;
    width: 100%; }
    .featured-video .video-thumbs li a:before {
      content: "";
      position: absolute;
      border-top: 15px solid #fff;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
      top: 0;
      left: 50%;
      margin-left: -10px;
      display: none; }
  .featured-video .video-thumbs li.active a:before {
    display: block; }
  .featured-video .video-thumbs li.active .over {
    display: none; }

.featured-video .over {
  background: rgba(44, 62, 80, 0.5) url(../img/video-thumb-triangle.png) no-repeat 50% 50%; }

/* latest news */
.latest-news .news-row {
  margin-top: 40px; }

.main-news .over,
.news-item .news-thumb .over {
  background: rgba(38, 166, 91, 0.15); }

.main-news:hover h5,
.news-item:hover h6 {
  text-decoration: underline; }

.news-list li + li {
  padding-top: 19px; }

.news-item:hover {
  text-decoration: none; }

.news-item:hover:after {
  opacity: 2; }

.main-news:hover h5,
.news-item:hover h6 {
  text-decoration: underline; }

.main-news {
  position: relative;
  width: 100%;
  min-height: 405px;
  display: inline-block; }
  .main-news .over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .main-news .news-detail {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: rgba(38, 166, 91, 0.9);
    padding: 20px;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-around;
    flex-direction: column;
    justify-content: space-around; }
  .main-news h5 {
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    font-size: 1.125em;
    margin-bottom: 15px;
    line-height: 1.7; }
  .main-news .meta {
    margin-top: 30px;
    margin-bottom: 0; }

.news-item {
  position: relative;
  padding-left: 120px;
  display: inline-block;
  width: 100%;
  min-height: 120px; }
  .news-item:hover {
    text-decoration: none; }
  .news-item h6 {
    margin-top: 0;
    font-size: 1.2em;
    line-height: 1.6; }
  .news-item .news-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    min-height: 124px;
    display: inline-block;
    overflow: hidden;
    background: rgba(22, 118, 9, 0.5); }
    .news-item .news-thumb img {
      position: absolute;
      left: 0;
      top: 0; }
    .news-item .news-thumb .month {
      display: inline-block;
      position: relative;
      width: 100%;
      background: #30a059;
      text-align: center;
      line-height: 34px;
      font-family: 'Montserrat', sans-serif; }
    .news-item .news-thumb .over {
      position: relative;
      display: inline-block;
      width: 100%;
      font-size: 1.875em;
      font-style: normal;
      line-height: 90px;
      text-align: center; }
  .news-item .news-desc {
    font-size: 0.8em;
    line-height: 1.9; }
    .news-item .news-desc h6 {
      text-transform: none; }
    .news-item .news-desc p {
      margin-bottom: 0; }

/* info text */
.info-text {
  padding: 20px 0 28px;
  line-height: 1.6; }
  .info-text h5 {
    font-size: 1.25em;
    margin-bottom: 20px;
    line-height: inherit; }
  .info-text p {
    margin-bottom: 0;
    font-size: 0.9em; }
    .info-text p + h5 {
      margin-top: 42px; }

/* popular cars */
.popular-cars {
  background: rgba(30, 139, 195, 0.1);
  font-size: 0.8em; }
  .popular-cars h3 {
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 30px; }
  .popular-cars h5 {
    margin-top: 30px; }
  .popular-cars .cars-list.titles {
    padding-top: 54px; }
    .popular-cars .cars-list.titles li {
      line-height: 22px; }
  .popular-cars .cars-list li {
    margin-top: 5px; }
  .popular-cars .cars-list a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

@media only screen and (max-width: 991px) {
  .top-section {
    min-height: 500px; }
  .banner-slider .banner-slide.slide2 {
    background-position: 100% 80%; } }
