.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex, .result-container .links-wrap, .result-container.view-list .result-item, .result-container.view-list .buttons-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex, .result-container .links-wrap, .result-container.view-list .result-item, .result-container.view-list .buttons-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.filters-wrap .filter-row .dropdown-toggle,
.filters-wrap .filter-row .dropdown-toggle:hover,
.filters-wrap .filter-row.zip-input input {
  background-color: #fff !important;
  padding: 0 15px; }

.filters-wrap .filter-row.zip-input .dropdown-toggle .filter-option {
  font-size: 1em; }

.switch-wrap {
  padding: 10px 0; }

.switch {
  height: 17px;
  position: relative;
  width: 31px;
  float: right;
  margin-bottom: 0;
  margin-top: 4px; }

.switch input {
  display: none; }

.switch .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s; }

.switch .slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 13px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 13px; }

.switch input:checked + .slider {
  background-color: #009ffe; }

.switch input:checked + .slider:before {
  transform: translateX(13px); }

.switch .slider.round {
  border-radius: 9px; }

.switch .slider.round:before {
  border-radius: 7px; }

.filters-wrap {
  font-family: "Montserrat", sans-serif; }
  .filters-wrap h3,
  .filters-wrap h4 {
    text-transform: none;
    font-weight: 400; }
  .filters-wrap h4 {
    margin-bottom: 5px; }
  .filters-wrap .reset {
    text-transform: uppercase;
    color: #a1a1a1;
    font-weight: 400;
    font-size: 0.5em;
    line-height: 1;
    margin-top: 12px;
    float: right; }
  .filters-wrap .sub-title {
    font-size: 1.15em; }
  .filters-wrap .range-slider-value {
    font-size: 0.75em;
    padding-top: 10px; }
  .filters-wrap .nav-tabs {
    border-bottom: none;
    margin-top: 5px;
    margin-left: -10px;
    margin-right: -10px; }
    .filters-wrap .nav-tabs > li {
      width: 33.33%;
      text-align: center;
      border: none !important; }
      .filters-wrap .nav-tabs > li > a {
        border: none;
        border-bottom: 2px solid #ccc;
        line-height: 40px;
        padding: 0;
        background-color: transparent !important;
        margin-right: 0;
        font-size: 0.9em;
        font-weight: 500;
        color: #333; }
        .filters-wrap .nav-tabs > li > a:hover {
          color: #167609;
          border-bottom-color: #167609; }
      .filters-wrap .nav-tabs > li.active > a {
        color: #167609;
        border-bottom-color: #167609; }
        .filters-wrap .nav-tabs > li.active > a:hover, .filters-wrap .nav-tabs > li.active > a:focus {
          border: none;
          border-bottom: 2px solid; }
  .filters-wrap .tab-pane {
    padding-top: 15px; }
  .filters-wrap .drop-content {
    display: none; }
  .filters-wrap .drop-btn {
    font-size: 0.9em; }
  .filters-wrap .range-slider-wrap {
    margin-top: 7px; }
  .filters-wrap .slider.slider-horizontal {
    width: 93%; }
  .filters-wrap .slider.slider-horizontal .slider-track {
    height: 8px; }
  .filters-wrap .slider-track {
    background: #9c9c9c; }
  .filters-wrap .slider-selection {
    background: #167609; }
  .filters-wrap .slider-handle {
    width: 26px;
    height: 26px;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
    margin-top: -5px;
    cursor: pointer;
    background-color: #167609;
    background-image: none; }
  .filters-wrap .checkbox-wrap {
    color: #333;
    font-weight: 400; }
  .filters-wrap .checkbox-wrap .checkbox-icon {
    border: none;
    width: 13px;
    height: 13px;
    background: url(../img/checkbox-bg.png) no-repeat 0 0; }
  .filters-wrap .checkbox-wrap .checkbox-icon:after {
    content: "\f046";
    color: #333;
    font-size: 15px;
    line-height: 13px;
    left: 1px; }
  .filters-wrap .checkbox-wrap input:checked + .checkbox-icon {
    background: transparent;
    border-color: transparent; }
  .filters-wrap strong {
    font-weight: 500;
    font-size: 0.9em; }

.new-search {
  padding-top: 10px; }
  .new-search .title {
    margin-bottom: 10px; }
  .new-search .dropdown-toggle,
  .new-search .zip-input input {
    border-radius: 0; }
  .new-search .btn-wrap.filter-row .btn {
    font-size: 1.15em;
    padding: 0;
    line-height: 30px;
    margin-top: 6px;
    border-radius: 4px; }
  .new-search .filter-row {
    margin-top: 6px; }
    .new-search .filter-row .year-item {
      background: #fff;
      position: relative; }
      .new-search .filter-row .year-item:before {
        position: absolute;
        left: 15px;
        line-height: 35px;
        font-size: 0.9em; }
      .new-search .filter-row .year-item.from {
        padding-left: 61px; }
        .new-search .filter-row .year-item.from:before {
          content: "From:"; }
      .new-search .filter-row .year-item.to {
        padding-left: 39px; }
        .new-search .filter-row .year-item.to:before {
          content: "To:"; }
      .new-search .filter-row .year-item .dropdown-toggle {
        padding-left: 0; }

.filters {
  margin-top: 20px; }
  .filters .filter-item {
    margin-top: 10px; }
    .filters .filter-item a {
      color: #167609; }
      .filters .filter-item a:hover {
        color: #0d4705; }
  .filters em {
    font-style: normal; }
  .filters .filter-row {
    margin-top: 0;
    line-height: 1; }

/****** TABLET ******/
@media only screen and (max-width: 1199px) {
  .switch {
    float: none; }
  .new-search .filter-row .year-item:before {
    font-size: 0.75em; }
  .new-search .filter-row .year-item.to {
    padding-left: 34px; }
  .new-search .filter-row .year-item.from {
    padding-left: 52px; } }

@media only screen and (max-width: 991px) {
  .switch {
    top: 4px; }
  .new-search .filter-row .year-item:before {
    font-size: 1em; }
  .new-search .filter-row .year-item.to {
    padding-left: 40px; }
  .new-search .filter-row .year-item.from {
    padding-left: 62px; }
  .filters-wrap .reset {
    float: none; }
  .filters-wrap #search,
  .filters-wrap #filters {
    background-color: #ececec; }
    .filters-wrap #search .filters-body,
    .filters-wrap #filters .filters-body {
      padding-left: 20px;
      padding-right: 20px; }
    .filters-wrap #search .search-close,
    .filters-wrap #filters .search-close {
      color: #167609;
      font-size: 0.875em;
      position: relative;
      float: right;
      top: 0;
      right: 0; }
    .filters-wrap #search .title,
    .filters-wrap #filters .title {
      border-bottom: none;
      padding-left: 0;
      padding-right: 0; }
    .filters-wrap #search > .title,
    .filters-wrap #filters > .title {
      line-height: 50px;
      display: inline-block;
      width: 100%;
      padding: 0 10px;
      border-bottom: 1px solid #cccccc; }
      .filters-wrap #search > .title h3,
      .filters-wrap #filters > .title h3 {
        line-height: 50px;
        float: left; }
    .filters-wrap #search .filter-row,
    .filters-wrap #filters .filter-row {
      margin-top: 10px; }
    .filters-wrap #search .filter-row .half-item,
    .filters-wrap #filters .filter-row .half-item {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0; }
      .filters-wrap #search .filter-row .half-item + .half-item,
      .filters-wrap #filters .filter-row .half-item + .half-item {
        margin-left: 0; }
    .filters-wrap #search .filter-row.zip-input input,
    .filters-wrap #search .filter-row .dropdown-toggle,
    .filters-wrap #filters .filter-row.zip-input input,
    .filters-wrap #filters .filter-row .dropdown-toggle {
      font-size: 1em; } }

/****** MOBILE -******/
@media only screen and (max-width: 767px) {
  .new-search .filter-row .year-item:before {
    line-height: 40px; }
  .filters-wrap .reset {
    display: none; } }

#back-top {
  background: #167609;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  color: #fff;
  text-align: center;
  line-height: 46px;
  display: none;
  cursor: pointer;
  font-size: 1.2em;
  opacity: 0; }

.result-sorting {
  color: #9c9c9c;
  display: inline-block;
  width: 100%;
  font-size: 0.875em;
  font-family: "Montserrat", sans-serif; }
  .result-sorting .view {
    float: left;
    margin-right: 20px;
    margin-top: 8px; }
    .result-sorting .view .fa-list {
      margin-left: 5px; }
    .result-sorting .view a {
      color: #9c9c9c; }
    .result-sorting .view span {
      color: #333; }
  .result-sorting .text {
    display: inline-block;
    padding-top: 8px; }
  .result-sorting .sort-by,
  .result-sorting .show-count {
    color: #333;
    float: right;
    background-color: #fff;
    padding: 7px 15px; }
    .result-sorting .sort-by label,
    .result-sorting .show-count label {
      margin-bottom: 0; }
    .result-sorting .sort-by select,
    .result-sorting .show-count select {
      border: none;
      background: #fff url(../img/sorting-select-bg.png) no-repeat 100% 50%;
      padding-right: 15px;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      outline: none !important;
      appearance: none !important; }
      .result-sorting .sort-by select::-ms-expand,
      .result-sorting .show-count select::-ms-expand {
        display: none; }
  .result-sorting .show-count {
    margin-right: 10px; }

.result-container {
  font-family: "Montserrat", sans-serif; }
  .result-container h3 {
    font-weight: 500; }
  .result-container strong {
    font-weight: 400; }
  .result-container .result-item {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer; }
    .result-container .result-item.liked .like {
      color: #ef1b61; }
  .result-container a {
    color: #009ffe; }
    .result-container a:not(.btn):hover {
      text-decoration: none;
      color: #007fcb; }
  .result-container .sub-title {
    font-size: 1.1em; }
  .result-container p {
    font-size: 0.875em;
    margin-bottom: 0;
    line-height: 1.25; }
  .result-container .dealer-info {
    text-align: right;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 0.875em;
    max-width: 200px; }
    .result-container .dealer-info span {
      display: block; }
    .result-container .dealer-info img {
      margin-right: 5px;
      position: relative;
      top: -2px; }
    .result-container .dealer-info a {
      color: #167609; }
      .result-container .dealer-info a:hover {
        color: #0d4705; }
  .result-container .item-img {
    position: relative; }
    .result-container .item-img img {
      width: 100%; }
    .result-container .item-img .photos,
    .result-container .item-img .like {
      position: absolute;
      bottom: 5px;
      color: rgba(255, 255, 255, 0.5); }
    .result-container .item-img .photos {
      left: 10px; }
    .result-container .item-img .like {
      right: 10px;
      font-size: 1.1em;
      cursor: pointer; }
  .result-container .item-desc {
    position: relative; }
  .result-container .item-text {
    padding-right: 200px; }
  .result-container .buttons-wrap {
    float: right; }
  .result-container .btn,
  .result-container .price {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  .result-container .links-wrap {
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .result-container .links-wrap a {
      margin-top: 10px;
      font-size: 0.875em;
      color: #167609; }
      .result-container .links-wrap a:hover {
        color: #0d4705; }
  .result-container.view-list .result-item:after {
    content: "Featured";
    color: #fff;
    background-color: #f8423b;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    line-height: 25px;
    height: 25px;
    width: 108px;
    padding: 0 15px;
    display: inline-block;
    position: absolute;
    right: -67px;
    top: 40px;
    z-index: 2;
    opacity: 0;
    font-size: 0.9em;
    text-transform: uppercase; }
  .result-container.view-list .result-item.featured {
    border: 2px solid #f8423b; }
    .result-container.view-list .result-item.featured:after {
      opacity: 1; }
  .result-container.view-list .item-img {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
  .result-container.view-list .item-desc {
    padding-top: 10px;
    padding-bottom: 10px; }
  .result-container.view-list .buttons-wrap {
    margin-top: 15px;
    text-align: right;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    align-items: flex-end; }
    .result-container.view-list .buttons-wrap .btn {
      padding: 12px 10px;
      min-width: 140px;
      font-size: 1.1em;
      text-transform: none; }
    .result-container.view-list .buttons-wrap .price-wrap {
      position: relative;
      display: inline-block; }
      .result-container.view-list .buttons-wrap .price-wrap div.btn {
        background-color: #f8423b;
        color: #fff;
        cursor: default; }
    .result-container.view-list .buttons-wrap .price {
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      text-align: center;
      top: -30px;
      color: #333;
      font-size: 1.1em;
      padding-left: 2px;
      padding-right: 2px; }
      .result-container.view-list .buttons-wrap .price.old:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        border-top: 2px solid #167609;
        -webkit-transform: rotate(-4deg);
        -moz-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
        transform: rotate(-4deg); }
    .result-container.view-list .buttons-wrap p {
      max-width: 200px;
      text-align: left;
      margin-bottom: -2px; }
  .result-container.view-grid {
    padding-top: 5px; }
    .result-container.view-grid h4 {
      text-transform: none; }
    .result-container.view-grid p {
      font-size: 0.75em;
      margin-top: 3px; }
    .result-container.view-grid .year {
      border: 1px solid;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;
      padding: 0 5px; }
    .result-container.view-grid .result-item {
      margin-right: -10px;
      margin-left: -10px;
      margin-top: 10px; }
      .result-container.view-grid .result-item:before {
        content: "Featured";
        color: #fff;
        background-color: #167609;
        -webkit-border-radius: 4px 0 4px 0;
        -moz-border-radius: 4px 0 4px 0;
        border-radius: 4px 0 4px 0;
        line-height: 25px;
        padding: 0 8px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        opacity: 0; }
      .result-container.view-grid .result-item.featured:before {
        opacity: 1; }
    .result-container.view-grid .item-img {
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0;
      overflow: hidden; }
      .result-container.view-grid .item-img .like,
      .result-container.view-grid .item-img .photos {
        font-size: 0.813em; }
    .result-container.view-grid .item-desc {
      padding: 7px;
      overflow: hidden; }
    .result-container.view-grid .buttons-wrap {
      width: 100%;
      margin-top: 5px; }
    .result-container.view-grid .btn {
      width: 100px;
      padding: 2px 0;
      text-transform: none;
      font-size: 1em; }
    .result-container.view-grid .price {
      float: right;
      line-height: 30px;
      position: relative;
      font-size: 1.1em; }
      .result-container.view-grid .price .old-price {
        position: absolute;
        color: #9c9c9c;
        top: -17px;
        right: 5px;
        line-height: 1;
        font-size: 0.875em; }
        .result-container.view-grid .price .old-price:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          border-top: 2px solid;
          -webkit-transform: rotate(-4deg);
          -moz-transform: rotate(-4deg);
          -o-transform: rotate(-4deg);
          transform: rotate(-4deg); }
    .result-container.view-grid .saled .btn {
      display: none; }
    .result-container.view-grid .saled .price {
      background-color: #167609;
      color: #fff;
      padding: 0 7px; }

.result-pagination {
  font-family: "Montserrat", sans-serif;
  text-align: center; }

.result-pagination a {
  border: 1px solid transparent; }

.result-pagination .previous a,
.result-pagination .next a {
  color: #167609;
  border-color: #167609;
  background-color: #fff; }
  .result-pagination .previous a:hover,
  .result-pagination .next a:hover {
    color: #fff; }

.result-pagination a:hover,
.result-pagination a.curent-page {
  background-color: #167609;
  border-color: #167609; }

.result-pagination i {
  font-size: 1em;
  top: 0; }

/******* TABLET *******/
@media only screen and (max-width: 1199px) {
  .result-sorting .sort-by,
  .result-sorting .show-count {
    font-size: 0.875em;
    padding-right: 7px;
    padding-left: 7px; }
  .result-container.view-list .buttons-wrap {
    margin-top: 10px; }
  .result-container.view-list .buttons-wrap p {
    max-width: 150px; }
  .result-container.view-list .buttons-wrap .btn {
    min-width: 120px;
    font-size: 0.875em;
    padding: 6px 8px; }
  .result-container.view-list .buttons-wrap .btn .old-price {
    top: -25px; } }

@media only screen and (max-width: 991px) {
  .result-wrap .result-sorting {
    text-align: right; }
    .result-wrap .result-sorting .btn {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-right: 5px; }
    .result-wrap .result-sorting .sort-by {
      margin-right: 0;
      margin-left: 5px;
      font-size: 1em; }
      .result-wrap .result-sorting .sort-by select {
        font-weight: 400;
        text-transform: none; }
  .result-container.view-list .result-item:after {
    line-height: 15px;
    height: 15px;
    font-size: 0.813em;
    top: 45px;
    right: -62px; }
  .result-container.view-grid {
    padding-right: 10px;
    padding-left: 10px; }
  .result-container.view-grid .btn {
    font-size: 0.9em; }
  .exclusive-price-modal .modal-content {
    padding: 15px; }
  .exclusive-price-modal .contact-dealer-form p {
    font-size: 1em; }
  .dealer-form-fields input:not(.btn) {
    padding-left: 10px;
    padding-right: 10px; }
  .inner-page .filters-wrap #filters,
  .inner-page .filters-wrap #search {
    right: 0;
    left: 0;
    display: none; } }

/****** MOBILE ******/
@media only screen and (max-width: 767px) {
  #back-top {
    opacity: 1; }
  .inner-page .inner-page-top h2 {
    text-transform: none;
    font-weight: 400; }
  .inner-page .inner-page-top input.zip-input-single {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0 5px 0 37px;
    width: 94px;
    color: #1f2f3e; }
  .inner-page .inner-page-top .zip-label-single {
    position: relative;
    font-weight: 400; }
    .inner-page .inner-page-top .zip-label-single:before {
      content: "zip:";
      position: absolute;
      padding-left: 5px;
      line-height: 35px; }
  .inner-page .result-wrap .result-sorting.affix {
    background-color: #fff;
    z-index: 999;
    padding: 5px 15px;
    top: 0;
    left: 0; }
  .inner-page .result-wrap .result-sorting .sort-by {
    padding: 0;
    float: right; }
    .inner-page .result-wrap .result-sorting .sort-by select {
      border: none;
      padding: 0 15px 0 10px;
      line-height: 34px;
      background-position: 93% 50% !important; }
  .inner-page .result-wrap .result-sorting .btn {
    height: inherit;
    float: left;
    line-height: 30px; }
  .result-container h3 {
    font-size: 1.4em;
    margin-bottom: 5px; }
  .result-container .btn {
    height: inherit;
    line-height: 1.2; }
  .result-container .sub-title .price {
    min-width: 130px;
    text-align: center; }
  .saled .sub-title .price {
    display: none; }
  .result-container.view-grid p {
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 10px; }
  .result-container.view-list .result-item {
    width: 100%; }
    .result-container.view-list .result-item.featured {
      border: none; }
    .result-container.view-list .result-item:after {
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
      -webkit-border-radius: 3px 0 3px 0;
      -moz-border-radius: 3px 0 3px 0;
      border-radius: 3px 0 3px 0;
      right: auto;
      top: 0;
      left: 0;
      height: inherit;
      line-height: 25px;
      background-color: #167609; }
    .result-container.view-list .result-item .price-wrap .price {
      display: none; }
  .result-container.view-list .item-img {
    padding-left: 0;
    margin-bottom: 0 !important; }
  .result-container .item-text {
    padding-right: 0; }
  .result-container.view-list .buttons-wrap {
    display: inline-block; }
    .result-container.view-list .buttons-wrap > div {
      width: 100%; }
    .result-container.view-list .buttons-wrap .btn {
      min-width: 130px; }
  .result-container .links-wrap {
    display: block;
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;
    width: auto; }
    .result-container .links-wrap a {
      display: inline-block !important;
      margin-left: 9px;
      margin-right: 9px; }
  .result-container.view-grid .item-img .like,
  .result-container .item-img .like {
    font-size: 1.5em;
    line-height: 1; }
  .result-container.view-grid .item-img .like,
  .result-container .item-img .like {
    padding: 10px;
    right: 5px;
    bottom: 0; }
  .result-container.view-grid .item-img .photos {
    font-size: 1em; } }

@media only screen and (max-width: 479px) {
  .inner-page .result-wrap .result-sorting .sort-by select {
    font-size: 0.75em;
    min-width: 117px; }
  .inner-page .result-wrap .result-sorting .btn {
    font-size: 0.75em; }
  .result-container .sub-title {
    font-size: 0.9em; }
    .result-container .sub-title .price {
      min-width: 112px; }
  .result-container .links-wrap a {
    font-size: 0.813em; }
  .result-container.view-list .buttons-wrap {
    margin-top: 5px; }
  .result-container.view-list .buttons-wrap .btn {
    min-width: 112px;
    font-size: 0.813em; }
    .result-container.view-list .buttons-wrap .btn.btn-white-green {
      float: left; }
  .result-container.view-list .buttons-wrap .btn .old-price {
    top: -22px; } }

@media only screen and (min-width: 768px) {
  .result-sorting.affix {
    position: relative; } }
