.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex, .news-wrap .news-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.news-wrap {
  padding-top: 10px; }
  .news-wrap .news-item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d2d2d2;
    cursor: pointer; }
    .news-wrap .news-item:last-child {
      border-bottom: 0;
      margin-bottom: 0; }
    .news-wrap .news-item:hover h4 {
      text-decoration: underline; }
    .news-wrap .news-item h4 {
      text-transform: none;
      padding-top: 0;
      padding-bottom: 0; }
    .news-wrap .news-item .news-thumb {
      min-width: 145px;
      max-width: 145px; }
    .news-wrap .news-item .news-description {
      padding-left: 30px; }

.single-page .article .meta {
  margin-bottom: 0.2em;
  margin-top: 0.4em; }

.single-page .article .news-item-body p,
.single-page .article .news-item-body ul {
  margin-bottom: 20px; }

.single-page .article .news-item-body h5 {
  padding-bottom: 20px; }

.single-page .article .news-item-body li:before {
  content: "-";
  margin-right: 3px; }

.result-pagination {
  margin-top: 60px;
  margin-bottom: -25px; }
