@-webkit-keyframes side2side {
  0% {
    -webkit-transform: translateX(-50%); }
  50% {
    -webkit-transform: translateX(150%); }
  100% {
    -webkit-transform: translateX(-50%); } }

@-moz-keyframes side2side {
  0% {
    -moz-transform: translateX(-50%); }
  50% {
    -moz-transform: translateX(150%); }
  100% {
    -moz-transform: translateX(-50%); } }

@-ms-keyframes side2side {
  0% {
    -ms-transform: translateX(-50%); }
  50% {
    -ms-transform: translateX(150%); }
  100% {
    -ms-transform: translateX(-50%); } }

@keyframes side2side {
  0% {
    transform: translateX(-50%); }
  50% {
    transform: translateX(150%); }
  100% {
    transform: translateX(-50%); } }

#loading-wrap {
  display: inline-block;
  background: url(../img/logo.png) no-repeat 50% 40%;
  background-size: 281px auto;
  background-color: white;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 99999;
  text-align: center;
  position: fixed; }
  #loading-wrap .loading {
    height: 2px;
    overflow: hidden;
    position: relative;
    width: 10em;
    left: 50%;
    margin: 0;
    top: 60%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  #loading-wrap .loading-bar {
    -webkit-animation-name: side2side;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: side2side 2s ease-in-out infinite;
    -ms-animation: side2side 2s ease-in-out infinite;
    animation: side2side 2s ease-in-out infinite;
    background-color: #167609;
    height: 100%;
    position: absolute;
    width: 50%;
    opacity: 0.75; }
