.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.contact-form-wrap .drop-content {
  display: none;
  padding-top: 20px; }

.contact-form-wrap .drop-btn {
  color: #337ab7;
  cursor: pointer;
  display: inline-block; }

.contact-form-wrap .form-group input + span {
  font-size: 0.813em;
  margin-top: 10px;
  display: block; }
