.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.single-page .saved-search-wrap ul {
  margin-bottom: 0; }

.saved-search-wrap {
  margin-bottom: -20px; }
  .saved-search-wrap ul {
    display: inline-block;
    width: 100%; }
    .saved-search-wrap ul li {
      font-size: 0.93em;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      width: 50%;
      float: left; }
      .saved-search-wrap ul li:nth-child(2n) {
        float: right;
        clear: right; }
      .saved-search-wrap ul li:hover {
        background: #ECECEC;
        cursor: pointer; }
      .saved-search-wrap ul li a {
        display: inline-block;
        padding: 10px;
        width: 100%; }
        .saved-search-wrap ul li a:link, .saved-search-wrap ul li a:focus, .saved-search-wrap ul li a:visited, .saved-search-wrap ul li a:hover {
          color: #1b6fb7; }
        .saved-search-wrap ul li a em {
          text-decoration: underline; }
        .saved-search-wrap ul li a:hover {
          text-decoration: none; }
          .saved-search-wrap ul li a:hover em {
            text-decoration: underline; }
      .saved-search-wrap ul li span {
        color: #999999;
        font-size: 0.8em;
        display: block;
        padding-left: 15px; }
      .saved-search-wrap ul li em {
        font-style: normal; }
  .saved-search-wrap .drop-btn {
    text-transform: uppercase;
    font-size: 0.9em;
    margin-top: 25px; }
    .saved-search-wrap .drop-btn:hover {
      text-decoration: none; }
    .saved-search-wrap .drop-btn i {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      margin-right: 15px; }
  .saved-search-wrap .drop-content {
    display: none; }
