.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex, .form-elements-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.search-wrap input::-webkit-input-placeholder {
  color: #1f2f3e; }

.search-wrap input::-moz-placeholder {
  color: #1f2f3e; }

.search-wrap input:-ms-input-placeholder {
  color: #1f2f3e; }

.search-wrap input:-moz-placeholder {
  color: #1f2f3e; }

.body-styles .car {
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75);
  display: inline-block;
  width: 125px;
  height: 57px;
  background-image: url(../img/body-styles-sprite.png);
  background-repeat: no-repeat; }

.body-styles .car.suv {
  background-position: 4px 0; }

.body-styles .car.sedan {
  background-position: -127px 0; }

.body-styles .car.hybrid {
  background-position: -260px 0; }

.body-styles .car.pickup {
  background-position: -393px 0; }

.body-styles .car.wagon {
  background-position: -525px 0; }

.body-styles .car.minivan {
  background-position: -660px 0; }

.body-styles .car.convertible {
  background-position: -798px 0; }

.body-styles .car.coupe {
  background-position: -933px 0; }

.form-elements-wrap {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 7px 4px 4px 15px;
  min-height: 55px; }
  .form-elements-wrap > * {
    width: 20%;
    float: left; }
  .form-elements-wrap > .btn-form-item {
    min-width: 23%;
    padding-left: 30px;
    padding-right: 0; }
    .form-elements-wrap > .btn-form-item .btn {
      width: 100%;
      height: 50px;
      margin-top: -2px; }
  .form-elements-wrap > .zip-input {
    width: 17%; }

.search-wrap .form-item input:not([class=btn]),
.search-wrap .bootstrap-select .btn.dropdown-toggle,
.search-wrap .form-item .select-title {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  height: 25px;
  line-height: 25px;
  color: #4e6777;
  text-transform: none;
  background: transparent;
  border: none;
  text-align: left;
  font-weight: 500;
  font-size: 0.90em; }

.search-wrap .btn.disabled {
  opacity: 1; }

.search-wrap .bootstrap-select.btn-group .dropdown-menu {
  min-height: 65px !important;
  color: #333; }
  .search-wrap .bootstrap-select.btn-group .dropdown-menu label {
    padding: 0 10px;
    text-transform: none; }
  .search-wrap .bootstrap-select.btn-group .dropdown-menu input {
    float: left;
    margin-right: 5px;
    height: 14px; }

.search-wrap .bootstrap-select.btn-group .caret {
  right: 10px; }

.search-wrap .form-item + .form-item {
  position: relative;
  padding-left: 15px; }
  .search-wrap .form-item + .form-item.zip-input {
    /*max-width: 15%;*/ }
    .search-wrap .form-item + .form-item.zip-input:before {
      display: none; }
  .search-wrap .form-item + .form-item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    color: #c5cacd;
    width: 1px;
    height: 16px;
    background: #c5cacd; }

.search-wrap .form-item .select-title {
  position: absolute;
  left: 15px;
  top: 0; }

.advanced-form {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #4e6777;
  text-transform: uppercase; }
  .advanced-form h6 {
    font-size: 0.875em;
    color: rgba(31, 47, 62, 0.7);
    text-align: left;
    margin: 0; }

.advanced-options {
  /*padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;*/ }
  .advanced-options label {
    font-size: 0.85em;
    font-weight: 500;
    position: relative; }
    .advanced-options label:hover span {
      opacity: 0.75; }
    .advanced-options label input[type=checkbox] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
      margin-top: 0; }
    .advanced-options label .checkbox-content {
      text-align: center;
      position: relative;
      display: inline-block; }
      .advanced-options label .checkbox-content em {
        display: block;
        font-size: 0.87em; }
      .advanced-options label .checkbox-content:after {
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        content: "\f00c";
        font-size: 1.25em;
        line-height: 18px;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        color: #167609;
        opacity: 0; }
    .advanced-options label input:checked + .checkbox-content:after {
      opacity: 1; }
  .advanced-options .price-range input:checked + .checkbox-content,
  .advanced-options .body-styles input:checked + .checkbox-content .car {
    opacity: 0.75; }
  .advanced-options em {
    font-style: normal; }
  .advanced-options > * {
    border-top: 1px solid #c4c9cf;
    display: inline-block;
    width: 100%;
    padding-top: 15px; }
  .advanced-options .body-styles ul {
    margin-left: -10px;
    margin-right: -30px;
    overflow: hidden; }
    .advanced-options .body-styles ul li {
      height: 90px; }
    .advanced-options .body-styles ul label {
      font-weight: 600; }
      .advanced-options .body-styles ul label .checkbox-content:after {
        top: 30%; }
  .advanced-options .price-range {
    padding-bottom: 10px; }
    .advanced-options .price-range ul {
      margin-left: -67px;
      margin-right: -67px; }
    .advanced-options .price-range label {
      font-size: 0.875em; }
  .advanced-options li {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-weight: 600; }

.search-wrap-new {
  /*.tab-pane {
			border-radius: 10px;
		}*/ }
  .search-wrap-new .tab-pane {
    background: rgba(255, 255, 255, 0.9); }
  .search-wrap-new .filter-option,
  .search-wrap-new .caret {
    text-transform: uppercase;
    color: rgba(31, 47, 62, 0.7); }
  .search-wrap-new .form-item input:not([class=btn]),
  .search-wrap-new .makes-select .filter-option,
  .search-wrap-new .makes-select .caret,
  .search-wrap-new .models-select .filter-option,
  .search-wrap-new .models-select .caret {
    color: #1f2f3e; }
  .search-wrap-new .form-item input:not([class=btn]) {
    background: transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0 5px;
    border: 1px solid rgba(31, 47, 62, 0.3);
    height: 30px;
    font-size: 0.813em; }
  .search-wrap-new .advanced-options {
    padding-bottom: 10px; }
    .search-wrap-new .advanced-options > * {
      padding-top: 0;
      position: relative; }
    .search-wrap-new .advanced-options .price-range {
      padding-top: 0;
      padding-bottom: 0;
      z-index: 6; }
    .search-wrap-new .advanced-options .advanced-options-head {
      position: relative;
      padding-left: 15px; }
      .search-wrap-new .advanced-options .advanced-options-head h6 {
        padding-top: 15px;
        padding-bottom: 10px;
        text-transform: capitalize; }
    .search-wrap-new .advanced-options .caret {
      right: 10px; }
  .search-wrap-new .advanced-form .btn-green {
    border-radius: 10px;
    font-size: 1em; }
  .search-wrap-new .advanced-form .body-styles:hover,
  .search-wrap-new .advanced-form .price-range:hover {
    cursor: pointer; }
  .search-wrap-new .advanced-form .body-styles.disabled ul {
    opacity: 0.5; }
  .search-wrap-new .drop-content {
    display: none; }
  .search-wrap-new .drop-btn {
    margin-top: 10px;
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: 0.813em;
    text-transform: none; }
  .search-wrap-new .body-styles-wrap {
    position: relative; }

.select-tooltip {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  cursor: default;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.select-tooltip.opened {
  opacity: 1; }

.select-tooltip em {
  font-style: normal;
  line-height: 1.1;
  font-size: 0.7em;
  text-transform: none;
  color: #fff;
  background-color: #1f2f3e;
  border-radius: 3px;
  display: inline-block;
  width: 100%;
  max-width: 150px;
  padding: 3px;
  position: relative; }

.advanced-options .select-tooltip {
  z-index: -1; }

.select-tooltip em:after {
  content: "";
  position: absolute;
  margin-left: -3px;
  bottom: -3px;
  left: 50%;
  border-top: 3px solid #1f2f3e;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent; }

.form-elements-wrap .select-tooltip em {
  top: -40px; }

.advanced-options .select-tooltip em {
  top: -20px; }

/*.form-elements-wrap .select-tooltip em:after {	
	left: 50%;
}
.advanced-options .select-tooltip em:after {
	left: 10%;
}*/
.advanced-options .body-styles .select-tooltip.opened {
  z-index: 6 !important; }
