.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.single-page .filters-wrap .title {
  padding-top: 0;
  padding-bottom: 0; }
  .single-page .filters-wrap .title h5 {
    float: none; }

.single-page .filters-wrap .new-search {
  padding: 0; }

.single-page .article p,
.single-page .article ul {
  margin-bottom: 25px; }
  .single-page .article p:last-child,
  .single-page .article ul:last-child {
    margin-bottom: 0; }

.single-page .why-buy-article-banner {
  text-align: center; }
  .single-page .why-buy-article-banner img {
    max-width: 100%; }

.single-page .right-sidebar .links-wrap + .filters-wrap {
  margin-top: 30px; }
