.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

#content.sitemap-content h2 {
  text-align: left; }
  #content.sitemap-content h2 a {
    color: inherit; }
    #content.sitemap-content h2 a:hover {
      text-decoration: none;
      cursor: inherit; }

#content.sitemap-content h3 {
  font-size: 1em; }

#content.sitemap-content span {
  font-size: 0.9em; }

#content.sitemap-content .sitemap-item {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 20px;
  margin-bottom: 20px; }

#content.sitemap-content ul {
  margin-top: -10px; }
