.font-awesome, .caret:after,
header .menus-wrap .drop-btn:after,
.search-wrap .advanced-options .checkbox-content:after,
.slick-prev:before,
.slick-next:before,
.dealer-form-wrap .form-item.search-icon:after,
.filters-wrap .checkbox-wrap .checkbox-icon:after,
.check-list li:before,
.accordion-content .drop-btn:after,
.mobile-socials .like-btn:after {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position, .car-logos a:after, .featured-video .over, .filters-wrap .colored-filter-row .color .checkbox-over:after, .result-container .result-item:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex, .search-wrap .form-elements-wrap, .manufacturer .car-logos .icon-wrap, .rental .rental-cars .rental-cars-item .desc, .main-news .news-detail, .result-container.view-list .result-item, footer nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

body {
  font-family: "Open Sans", sans-serif;
  color: #2c3e50;
  font-size: 16px; }

/***** MAIN COLORS *****/
.manufacturer-color,
.manufacturer .manufacturer-color,
.result-filters .manufacturer-border:hover,
.manufacturer-item .marker,
.manufacturer-check li:before {
  color: #1abc90; }

.manufacturer,
.car-logos:before,
.car-logos:after,
.btn.manufacturer-color:hover,
header nav .manufacturer-color a:hover {
  background-color: #1abc90; }

.manufacturer-border,
.result-container .manufacturer-item,
.manufacturer-item .request-text {
  border-color: #1abc90; }

.result-container .manufacturer-item:hover,
.manufacturer-item .request-text {
  background-color: rgba(26, 188, 144, 0.1); }

.dealer-color,
.dealer .dealer-color,
.result-filters .dealer-border:hover,
.dealer-item .marker,
.dealer-check li:before {
  color: #1e8bc3; }

.dealer,
.btn.dealer-color:hover,
header nav .dealer-color a:hover {
  background-color: #1e8bc3; }

.dealer-border,
.result-container .dealer-item,
.dealer-item .request-text {
  border-color: #1e8bc3; }

.result-container .dealer-item:hover,
.dealer-item .request-text {
  background-color: rgba(30, 139, 195, 0.1); }

.rental-color,
.rental .rental-color,
.result-filters .rental-border:hover,
.rental-item .marker,
.rental-check li:before {
  color: #f39c12; }

.rental,
.btn.rental-color:hover,
header nav .rental-color a:hover {
  background-color: #f39c12; }

.rental-border,
.result-container .rental-item,
.rental-item .request-text {
  border-color: #f39c12; }

.result-container .rental-item:hover,
.rental-item .request-text {
  background-color: rgba(243, 156, 18, 0.1); }

/***** LOADING *****/
@-webkit-keyframes side2side {
  0% {
    -webkit-transform: translateX(-50%); }
  50% {
    -webkit-transform: translateX(150%); }
  100% {
    -webkit-transform: translateX(-50%); } }

@keyframes side2side {
  0% {
    transform: translateX(-50%); }
  50% {
    transform: translateX(150%); }
  100% {
    transform: translateX(-50%); } }

#loading-wrap {
  display: inline-block;
  background: url(../img/logo.png) no-repeat 50% 40%;
  background-size: 281px auto;
  background-color: white;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 99999;
  text-align: center;
  position: fixed; }
  #loading-wrap .loading {
    height: 2px;
    overflow: hidden;
    position: relative;
    width: 10em;
    left: 50%;
    margin: 0;
    top: 60%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  #loading-wrap .loading-bar {
    -webkit-animation: side2side 2s ease-in-out infinite;
    -moz-animation: side2side 2s ease-in-out infinite;
    -ms-animation: side2side 2s ease-in-out infinite;
    animation: side2side 2s ease-in-out infinite;
    background-color: #167609;
    height: 100%;
    position: absolute;
    width: 50%;
    opacity: 0.75; }

/***** CUSTOM CLASSES/ELEMENTS *****/
*,
a, input, button, input:hover, button:hover, input:focus, button:focus, .bootstrap-select .dropdown-toggle:focus {
  outline: none !important; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

.open > .dropdown-toggle.btn-default:hover,
.btn-group .dropdown-toggle,
.btn-group.open .dropdown-toggle,
.bootstrap-select .dropdown-toggle:hover,
.bootstrap-select .dropdown-toggle:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  background: #fff; }

a,
button,
input[type=submit],
header nav a:after,
header .menus-wrap .drop-btn:after,
.search-wrap .advanced-options .checkbox-content:after,
.car-logos a:after,
.rental-cars-item:after,
.news-item:after,
.filters-wrap .color .checkbox-over:after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

select {
  max-width: 100% !important; }

.dark-blue-bg {
  background-color: #1f2f3e; }

.btn {
  border-radius: 27px;
  display: inline-block;
  padding: 12px 30px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }
  .btn.btn-green {
    color: white;
    background: #167609; }
    .btn.btn-green:hover {
      background: #0d4705; }
  .btn.btn-white {
    background: white;
    border: 2px solid white; }
    .btn.btn-white:hover {
      color: white; }
  .btn.btn-grey {
    background: #1f2f3e;
    color: white; }
    .btn.btn-grey:hover {
      background: #0e151c; }
  .btn.btn-light-grey {
    background: #999999;
    color: white; }
    .btn.btn-light-grey:hover {
      background: gray; }
  .btn.small-btn {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 0.7em;
    padding: 8px 10px;
    line-height: 1; }

input {
  height: 44px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: none;
  background-color: white;
  font-family: inherit;
  font-size: inherit;
  padding: 0 25px;
  color: #a1b1bc;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -webkit-box-shadow: none !important; }

.button-wrap {
  text-align: center; }

.form-item {
  display: inline-block; }

.form-item > input,
.form-item .bootstrap-select {
  width: 100% !important; }

.caret {
  width: 11px;
  height: 8px;
  position: relative;
  border: none; }

.caret:after {
  content: "\f078";
  line-height: 5px;
  font-size: 0.65em;
  position: absolute;
  top: 0;
  left: 0; }

.dropup .caret {
  border: none; }

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  top: 50%;
  margin-top: -5px; }

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px; }

#wrap .bootstrap-select > .dropdown-menu {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-bottom: 0;
  border: none;
  margin: 0;
  padding: 0; }

#wrap .dropdown-menu.inner {
  padding-top: 5px;
  background: transparent; }

.dropdown-menu.inner,
.drop-main-menu {
  border-radius: 3px !important;
  border-bottom: 1px solid #d7d7d7 !important; }

.dropdown-menu li,
.drop-main-menu li {
  border-top: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  background: #fff; }

.dropdown-menu li:first-child,
.drop-main-menu li:first-child {
  border-radius: 3px 3px 0 0;
  position: relative; }

.dropdown-menu li:last-child,
.drop-main-menu li:last-child {
  border-radius: 0 0 3px 3px;
  overflow: hidden; }

.dropdown-menu > li > a,
.drop-main-menu li a {
  padding: 15px 12px;
  font-size: 0.90em; }

.dropdown-menu > li > a:hover {
  background-color: #1f2f3e;
  color: white; }

header .drop-main-menu:before,
.dropdown-menu.inner li:first-child:before,
header .drop-main-menu:after,
.dropdown-menu.inner li:first-child:after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50%;
  margin-left: -8px;
  border-bottom: 4px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent; }

header .drop-main-menu:before,
.dropdown-menu.inner li:first-child:before {
  top: -5px;
  border-bottom: 4px solid #d7d7d7;
  z-index: 1; }

header .drop-main-menu:after {
  top: -3px; }

header .drop-main-menu:before {
  top: -4px; }

header .drop-main-menu:after,
.dropdown-menu.inner li:first-child:after {
  z-index: 2; }

.dropdown-menu.open > .dropdown-menu {
  top: 0; }

.bootstrap-select > div.dropdown-menu {
  background: transparent; }

.bootstrap-select ul.dropdown-menu {
  position: relative !important;
  padding-top: 5px; }

.search-wrap .bootstrap-select > div.dropdown-menu {
  padding-top: 18px; }

.dealer-form-wrap .bootstrap-select > div.dropdown-menu {
  padding-top: 5px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type='number'] {
  -moz-appearance: textfield; }

/***** H group *****/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0; }

h1 {
  font-size: 2em;
  font-weight: 600; }

h2 {
  font-size: 1.6em;
  margin-bottom: 15px; }

h3 {
  text-transform: none;
  font-weight: 300;
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5,
h6,
p {
  font-size: 1em; }

/***** HEADER *****/
header {
  padding-top: 10px; }
  header .logo img {
    width: 270px; }
  header .menus-wrap {
    position: relative;
    padding-top: 25px; }
  header .menus-wrap,
  header .menus-wrap ul {
    float: right;
    clear: right; }
  header .menus-wrap li {
    float: left; }
  header .menus-wrap a,
  header .menus-wrap span,
  header .saved-list .title {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.04em; }
  header .menus-wrap nav > ul > li > a,
  header .menus-wrap nav span,
  header .saved-list .title,
  header .saved-list a {
    font-size: 0.90em; }
  header .saved-list .title,
  header .saved-list a {
    color: #1f2f3e; }
    header .saved-list .title em,
    header .saved-list a em {
      -webkit-border-radius: 13px;
      -moz-border-radius: 13px;
      border-radius: 13px;
      color: white;
      background: #167609;
      height: 25px;
      min-width: 25px;
      line-height: 24px;
      padding: 0 3px;
      margin: -8px 0;
      font-style: normal;
      display: inline-block;
      text-align: center;
      margin-left: 10px;
      font-size: 0.85em;
      position: relative;
      top: -1px; }
  header .top-menu {
    position: absolute;
    top: 0px;
    right: 0; }
    header .top-menu li + li {
      padding-left: 43px;
      position: relative; }
      header .top-menu li + li:before {
        content: "|";
        position: absolute;
        top: 5px;
        left: 22px;
        color: #919ea7;
        font-size: 0.6em; }
    header .top-menu a {
      color: #919ea7;
      font-size: 0.77em; }
  header nav > ul {
    margin-top: 23px; }
    header nav > ul > li + li {
      margin-left: 35px; }
  header nav a,
  header nav span {
    color: #1f2f3e;
    position: relative;
    line-height: 1;
    padding-bottom: 16px;
    display: block;
    cursor: pointer; }
    header nav a:hover, header nav a:focus,
    header nav span:hover,
    header nav span:focus {
      text-decoration: none;
      color: inherit; }
  header nav a:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background: #1f2f3e;
    opacity: 0; }
  header nav a:hover:after {
    opacity: 1; }
  header .drop-wrap {
    position: relative; }
    header .drop-wrap .drop-btn::after {
      content: '\f054';
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      line-height: 18px;
      font-size: 0.80em;
      float: right;
      position: relative;
      margin-left: 10px;
      top: -1px; }
    header .drop-wrap .drop-content {
      display: none;
      position: absolute;
      top: 36px;
      left: 0;
      right: 0;
      z-index: 99;
      font-size: 0.90em; }
      header .drop-wrap .drop-content:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -8px;
        height: 10px; }
  header .menus-wrap .drop-main-menu {
    background: white; }
    header .menus-wrap .drop-main-menu li {
      width: 100%; }
      header .menus-wrap .drop-main-menu li a {
        color: #1f2f3e;
        line-height: 1.48;
        letter-spacing: 0; }
        header .menus-wrap .drop-main-menu li a:after {
          display: none; }
        header .menus-wrap .drop-main-menu li a:hover {
          color: white; }

/***** TOP SECTION *****/
.top-section {
  min-height: 620px;
  background: url(../img/banner.jpg) no-repeat 50% 100%;
  background-size: cover;
  padding-top: 60px;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  position: relative; }
  .top-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.16);
    z-index: 1; }
  .top-section h1 {
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }
  .top-section .container {
    position: relative;
    z-index: 2; }
  .top-section p {
    font-size: 1.125em;
    line-height: 1.8;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
    margin-top: 40px; }
  .top-section .search-wrap input::-webkit-input-placeholder {
    color: #728b9b; }
  .top-section .search-wrap input::-moz-placeholder {
    color: #728b9b; }
  .top-section .search-wrap input:-ms-input-placeholder {
    color: #728b9b; }
  .top-section .search-wrap input:-moz-placeholder {
    color: #728b9b; }
  .top-section .body-styles .car {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
    display: inline-block;
    width: 125px;
    height: 57px;
    background-image: url(../img/body-styles-sprite.png);
    background-repeat: no-repeat; }
  .top-section .body-styles .car.suv {
    background-position: 4px 0; }
  .top-section .body-styles .car.sedan {
    background-position: -127px 0; }
  .top-section .body-styles .car.hybrid {
    background-position: -260px 0; }
  .top-section .body-styles .car.pickup {
    background-position: -393px 0; }
  .top-section .body-styles .car.wagon {
    background-position: -525px 0; }
  .top-section .body-styles .car.minivan {
    background-position: -660px 0; }
  .top-section .body-styles .car.convertible {
    background-position: -798px 0; }
  .top-section .body-styles .car.coupe {
    background-position: -933px 0; }

.search-wrap {
  max-width: 700px;
  margin: 32px auto 0; }
  .search-wrap .nav-tabs {
    border-bottom: none;
    padding: 0 36px; }
    .search-wrap .nav-tabs li {
      padding-bottom: 10px; }
      .search-wrap .nav-tabs li + li {
        padding-left: 25px; }
      .search-wrap .nav-tabs li.active a:before {
        background-color: #167609;
        border-color: #167609;
        width: 12px;
        height: 12px;
        margin-top: -6px; }
    .search-wrap .nav-tabs a {
      text-transform: uppercase;
      padding: 0;
      border: none;
      color: #fff;
      position: relative;
      padding-left: 15px;
      font-size: 0.9em;
      letter-spacing: 0.1em;
      font-weight: 200; }
      .search-wrap .nav-tabs a:before {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        content: "";
        width: 10px;
        height: 10px;
        border: 2px solid;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -5px; }
    .search-wrap .nav-tabs span,
    .search-wrap .nav-tabs .active a,
    .search-wrap .nav-tabs .active a:hover,
    .search-wrap .nav-tabs .active a:focus,
    .search-wrap .nav-tabs a:hover {
      background-color: transparent;
      border: none;
      color: white; }
    .search-wrap .nav-tabs .active a,
    .search-wrap .nav-tabs .active a:hover,
    .search-wrap .nav-tabs .active a:focus {
      font-weight: 400; }
  .search-wrap .tab-pane {
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.75);
    position: relative; }
    .search-wrap .tab-pane > * {
      position: relative;
      z-index: 5; }
  .search-wrap .form-elements-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 4px 4px 4px 30px;
    min-height: 55px; }
    .search-wrap .form-elements-wrap > * {
      width: 20%;
      float: left; }
    .search-wrap .form-elements-wrap > .btn-form-item {
      min-width: 25%; }
  .search-wrap.advanced-form {
    border-radius: 25px; }
    .search-wrap.advanced-form .form-elements-wrap > * {
      width: 27%; }
    .search-wrap.advanced-form .form-item + .form-item.zip-input {
      width: 19%; }
  .search-wrap .form-item input:not([class=btn]),
  .search-wrap .bootstrap-select .btn.dropdown-toggle,
  .search-wrap .form-item .select-title {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    height: 25px;
    line-height: 25px;
    color: #4e6777;
    text-transform: none;
    background: transparent;
    border: none;
    text-align: left;
    font-weight: 500;
    font-size: 0.90em; }
  .search-wrap .bootstrap-select.btn-group .dropdown-menu {
    min-height: 65px !important;
    color: #333; }
    .search-wrap .bootstrap-select.btn-group .dropdown-menu label {
      padding: 0 10px;
      text-transform: none; }
    .search-wrap .bootstrap-select.btn-group .dropdown-menu input {
      float: left;
      margin-right: 5px;
      height: 14px; }
  .search-wrap .bootstrap-select.btn-group .caret {
    right: 10px; }
  .search-wrap .form-item + .form-item {
    position: relative;
    padding-left: 15px; }
    .search-wrap .form-item + .form-item.zip-input {
      max-width: 15%; }
      .search-wrap .form-item + .form-item.zip-input:before {
        display: none; }
    .search-wrap .form-item + .form-item:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -8px;
      color: #c5cacd;
      width: 1px;
      height: 16px;
      background: #c5cacd; }
  .search-wrap .form-item .select-title {
    position: absolute;
    left: 15px;
    top: 0; }
  .search-wrap .btn-form-item {
    padding-left: 0; }
    .search-wrap .btn-form-item .btn {
      width: 100%; }
  .search-wrap .advanced-form {
    padding-right: 80px;
    color: #4e6777;
    text-transform: uppercase; }
    .search-wrap .advanced-form .btn-green {
      position: absolute;
      top: 4px;
      bottom: 4px;
      right: -76px;
      height: inherit;
      padding: 0;
      width: 50px;
      border-radius: 25px;
      font-size: 1.25em; }
    .search-wrap .advanced-form h6 {
      font-size: 0.875em;
      color: #2c3e50;
      text-align: left;
      margin: 0; }
  .search-wrap .advanced-options {
    padding-left: 30px;
    padding-bottom: 30px; }
    .search-wrap .advanced-options label {
      font-size: 0.85em;
      font-weight: 500;
      position: relative; }
      .search-wrap .advanced-options label input[type=checkbox] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        cursor: pointer; }
      .search-wrap .advanced-options label .checkbox-content {
        text-align: center;
        position: relative;
        display: inline-block; }
        .search-wrap .advanced-options label .checkbox-content em {
          display: block;
          font-size: 0.87em; }
        .search-wrap .advanced-options label .checkbox-content:after {
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
          content: "\f00c";
          font-size: 1.25em;
          line-height: 18px;
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          color: #167609;
          opacity: 0; }
      .search-wrap .advanced-options label input:checked + .checkbox-content .car {
        opacity: 0.7; }
      .search-wrap .advanced-options label input:checked + .checkbox-content:after {
        opacity: 1; }
    .search-wrap .advanced-options em {
      font-style: normal; }
    .search-wrap .advanced-options > * {
      border-top: 1px solid #c4c9cf;
      display: inline-block;
      width: 100%;
      padding-top: 15px; }
    .search-wrap .advanced-options .body-styles ul {
      margin-left: -37px;
      margin-right: -39px; }
      .search-wrap .advanced-options .body-styles ul li {
        height: 85px; }
      .search-wrap .advanced-options .body-styles ul label {
        font-weight: 600; }
        .search-wrap .advanced-options .body-styles ul label .checkbox-content:after {
          top: 30%; }
    .search-wrap .advanced-options .price-range {
      padding-bottom: 10px; }
      .search-wrap .advanced-options .price-range ul {
        margin-left: -67px;
        margin-right: -67px; }
    .search-wrap .advanced-options li {
      float: left;
      width: 25%;
      padding-top: 15px;
      font-weight: 600; }
  .search-wrap .btn-green {
    height: 50px;
    padding-top: 12px; }

/*****  CONTENT *****/
#content.inner-page, #content.detailed-page {
  background: #f9fafb;
  border-top: 1px solid #d8d8d9; }
  #content.inner-page h2, #content.detailed-page h2 {
    text-align: left; }
    #content.inner-page h2 .change-link, #content.detailed-page h2 .change-link {
      text-transform: none;
      font-family: "Open Sans", sans-serif;
      font-size: 0.5em;
      display: inline-block; }

#content .container {
  padding-top: 25px;
  padding-bottom: 55px; }

#content h2 {
  text-align: center; }
  #content h2 + p {
    text-align: center;
    font-size: 1em;
    line-height: 1.8; }
    #content h2 + p a {
      color: white;
      text-decoration: underline; }

.dark-blue-bg,
.manufacturer,
.dealer,
.rental,
.dark-blue-bg a,
.manufacturer a,
.dealer a,
.rental a {
  color: white; }

.title-with-icon {
  position: relative; }

.title-with-icon:before {
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  background-image: url(../img/content-icons-sprite.png);
  background-repeat: no-repeat;
  background-size: 112px auto;
  display: inline-block; }

.car-logos a:after,
.rental-cars-item:after,
.news-item:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0; }

.rental-cars-item:after,
.news-item:after {
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px; }

.slick-prev,
.slick-next {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 23px;
  height: 46px;
  padding: 0;
  /*margin-top: -23px;*/
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 5; }

.slick-prev {
  left: -50px; }

.slick-next {
  right: -50px; }

.slick-prev:before {
  content: '\f053'; }

.slick-next:before {
  content: '\f054'; }

.slick-prev:before,
.slick-next:before {
  font-size: 33px;
  line-height: 46px;
  opacity: .5;
  color: white; }

.slick-prev:hover:before,
.slick-next:hover:before {
  opacity: 1; }

/* why */
.why {
  padding: 0 0 10px; }
  .why h2 {
    margin-bottom: 40px;
    font-size: 1.8em; }

/* featured deals */
.featured-deals h2 + p {
  max-width: 890px;
  margin: 0 auto; }

.featured-deals h6 {
  font-size: 0.90em; }
  .featured-deals h6 a {
    color: inherit; }

.featured-deals p {
  font-size: 0.80em; }

.featured-deals .slider-wrap {
  background: rgba(255, 255, 255, 0.03);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 63px 0 40px;
  position: relative;
  margin-top: 53px; }
  .featured-deals .slider-wrap:before {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 105px;
    width: 100%;
    background: url(../img/featured-shadow.png) no-repeat 50% 50%/100% auto; }

.featured-deals .slick-slide {
  text-align: center;
  padding: 0 50px; }
  .featured-deals .slick-slide h6 {
    text-transform: uppercase; }
  .featured-deals .slick-slide img {
    display: inline-block;
    margin-bottom: 30px; }
  .featured-deals .slick-slide p {
    margin-top: 20px;
    margin-bottom: 0; }

/* manufacturer */
.manufacturer .title-with-icon {
  padding-top: 70px; }
  .manufacturer .title-with-icon:before {
    width: 90px;
    height: 45px;
    background-position: 0 0; }

.manufacturer .car-logos {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  position: relative;
  margin-top: 35px;
  overflow: hidden; }
  .manufacturer .car-logos .logos-row {
    float: left;
    width: 100%; }
    .manufacturer .car-logos .logos-row + .logos-row li {
      border-top: 1px solid #1dd2a1; }
    .manufacturer .car-logos .logos-row li {
      float: left; }
      .manufacturer .car-logos .logos-row li + li {
        border-left: 1px solid #1dd2a1; }
  .manufacturer .car-logos a {
    padding: 15px 0 15px;
    text-align: center;
    min-height: 136px;
    position: relative;
    display: inline-block;
    width: 100%; }
    .manufacturer .car-logos a:hover {
      text-decoration: none; }
    .manufacturer .car-logos a:hover:after {
      opacity: 0.5; }
  .manufacturer .car-logos .icon-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 66px;
    width: 100%;
    margin-bottom: 8px; }

/* car logos */
.car-logos .icon {
  display: inline-block;
  background-image: url(../img/logos-sprite.png);
  background-repeat: no-repeat;
  -ms-transform: scale(0.75);
  -webkit-transform: scale(0.75);
  transform: scale(0.75); }

.icon.acura {
  width: 50px;
  height: 48px;
  background-position: 0 0; }

.icon.audi {
  width: 59px;
  height: 22px;
  background-position: -52px 0; }

.icon.bmw {
  width: 48px;
  height: 47px;
  background-position: -113px 0; }

.icon.bulick {
  width: 50px;
  height: 49px;
  background-position: -163px 0; }

.icon.cadillac {
  width: 51px;
  height: 47px;
  background-position: -215px 0; }

.icon.chevrolet {
  width: 78px;
  height: 22px;
  background-position: -268px 0; }

.icon.chrysler {
  width: 96px;
  height: 16px;
  background-position: -348px 0; }

.icon.dodge {
  width: 99px;
  height: 14px;
  background-position: -446px 0; }

.icon.fiat {
  width: 48px;
  height: 48px;
  background-position: -547px 0; }

.icon.ford {
  width: 72px;
  height: 28px;
  background-position: -597px 0; }

.icon.gmc {
  width: 68px;
  height: 16px;
  background-position: -671px 0; }

.icon.honda {
  width: 42px;
  height: 38px;
  background-position: -741px 0; }

.icon.hyundai {
  width: 59px;
  height: 31px;
  background-position: -785px 0; }

.icon.infiniti {
  width: 56px;
  height: 28px;
  background-position: -846px 0; }

.icon.jaguar {
  width: 72px;
  height: 26px;
  background-position: -904px 0; }

.icon.jeep {
  width: 68px;
  height: 27px;
  background-position: -978px 0; }

.icon.kia {
  width: 62px;
  height: 31px;
  background-position: -1048px 0; }

.icon.land-rover {
  width: 62px;
  height: 33px;
  background-position: -1112px 0; }

.icon.lexus {
  width: 49px;
  height: 35px;
  background-position: -1176px 0; }

.icon.lincoln {
  width: 29px;
  height: 66px;
  background-position: -1227px 0; }

.icon.mercedes {
  width: 43px;
  height: 43px;
  background-position: -1258px 0; }

.icon.mini {
  width: 72px;
  height: 30px;
  background-position: -1303px 0; }

.icon.mitsubishi {
  width: 46px;
  height: 40px;
  background-position: -1377px 0; }

.icon.mazda {
  width: 50px;
  height: 40px;
  background-position: -1425px 0; }

.icon.nissan {
  width: 46px;
  height: 40px;
  background-position: -1477px 0; }

.icon.porsche {
  width: 30px;
  height: 39px;
  background-position: -1525px 0; }

.icon.ram {
  width: 34px;
  height: 36px;
  background-position: -1557px 0; }

.icon.scion {
  width: 53px;
  height: 37px;
  background-position: -1593px 0; }

.icon.subaru {
  width: 56px;
  height: 31px;
  background-position: -1648px 0; }

.icon.toyota {
  width: 54px;
  height: 34px;
  background-position: -1706px 0; }

.icon.volkswagen {
  width: 36px;
  height: 37px;
  background-position: -1762px 0; }

.icon.volvo {
  width: 42px;
  height: 39px;
  background-position: -1800px 0; }

/* dealer */
.dealer .title-with-icon {
  padding-top: 71px; }
  .dealer .title-with-icon:before {
    width: 114px;
    height: 42px;
    background-position: 0 -52px; }

.dealer .dealer-form-wrap {
  margin-top: 50px;
  text-align: center; }
  .dealer .dealer-form-wrap .bootstrap-select.btn-group .dropdown-menu {
    min-width: inherit; }
  .dealer .dealer-form-wrap div.dropdown-menu {
    left: 25px;
    right: 25px;
    width: auto; }
  .dealer .dealer-form-wrap .form-item {
    width: 33%;
    max-width: 300px;
    padding: 0 15px; }
    .dealer .dealer-form-wrap .form-item.search-icon {
      position: relative; }
      .dealer .dealer-form-wrap .form-item.search-icon:after {
        content: "\f002";
        text-decoration: inherit;
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: -12px;
        height: 20px;
        color: #a1b1bc; }
  .dealer .dealer-form-wrap .btn {
    height: 46px;
    font-size: 0.9em;
    color: #a1b1bc;
    padding: 0 25px;
    text-transform: none; }
  .dealer .dealer-form-wrap input::-webkit-input-placeholder {
    color: #a1b1bc; }
  .dealer .dealer-form-wrap input::-moz-placeholder {
    color: #a1b1bc; }
  .dealer .dealer-form-wrap input:-ms-input-placeholder {
    color: #a1b1bc; }
  .dealer .dealer-form-wrap input:-moz-placeholder {
    color: #a1b1bc; }

.dealer .dealer-result {
  margin-top: 50px; }
  .dealer .dealer-result ul {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    min-height: 170px; }
    .dealer .dealer-result ul li {
      line-height: 2.1;
      text-align: left;
      padding: 0 30px; }

.dealer .dealer-pagination {
  text-align: center; }
  .dealer .dealer-pagination .slick-dots {
    text-align: center;
    display: inline-block;
    margin-top: 53px;
    margin-bottom: -20px;
    padding: 0 2px; }
    .dealer .dealer-pagination .slick-dots li {
      display: inline-block;
      padding: 0 2px;
      width: 38px; }
    .dealer .dealer-pagination .slick-dots button {
      font-size: 0.875em;
      width: 34px;
      height: 34px;
      border-radius: 17px;
      background: transparent;
      color: white;
      border: 2px solid transparent;
      padding: 0; }
  .dealer .dealer-pagination .pag-prev {
    padding-right: 12px; }
  .dealer .dealer-pagination .pag-next {
    padding-left: 12px; }
  .dealer .dealer-pagination .pag-prev,
  .dealer .dealer-pagination .pag-next {
    font-size: 0.7em;
    line-height: 32px;
    color: white;
    background: none;
    border: none; }
  .dealer .dealer-pagination .slick-active button {
    background: white;
    border-color: white;
    color: #1e8bc3; }

/* rental */
.rental .title-with-icon {
  padding-top: 80px; }
  .rental .title-with-icon:before {
    width: 61px;
    height: 60px;
    background-position: 0 -100px; }

.rental .rental-cars {
  margin-top: 61px; }
  .rental .rental-cars .rental-cars-item {
    position: relative;
    padding-left: 115px;
    min-height: 100px;
    line-height: 1.5;
    font-size: 0.9em;
    display: inline-block;
    width: 100%; }
    .rental .rental-cars .rental-cars-item:hover {
      text-decoration: none; }
      .rental .rental-cars .rental-cars-item:hover:after {
        opacity: 0.3; }
      .rental .rental-cars .rental-cars-item:hover h4 {
        text-decoration: underline; }
    .rental .rental-cars .rental-cars-item .thumb {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    .rental .rental-cars .rental-cars-item .desc {
      padding-top: 5px;
      min-height: 100px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .rental .rental-cars .rental-cars-item p {
      margin-bottom: 0; }

.rental .button-wrap {
  margin-top: 74px; }

/* featured video */
.featured-video iframe {
  width: 100%;
  min-width: 100%;
  height: 229px;
  border: none; }

.featured-video .video-desc {
  display: none; }
  .featured-video .video-desc#video1-desc {
    display: block; }

.featured-video .video-row {
  margin-top: 65px; }

.featured-video h3 + p {
  margin-top: 20px;
  line-height: 1.75; }
  .featured-video h3 + p + ul {
    margin-top: 32px; }
    .featured-video h3 + p + ul li + li {
      margin-top: 16px; }
    .featured-video h3 + p + ul a {
      color: #1b6fb7;
      margin-left: 10px; }
    .featured-video h3 + p + ul i {
      font-size: 0.65em;
      color: #2c3e50; }

.featured-video .video-thumbs li {
  float: left;
  width: 33.333%;
  padding: 2px 1px 0; }
  .featured-video .video-thumbs li a {
    position: relative;
    display: inline-block;
    width: 100%; }
    .featured-video .video-thumbs li a:before {
      content: "";
      position: absolute;
      border-top: 15px solid #fff;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
      top: 0;
      left: 50%;
      margin-left: -10px;
      display: none; }
  .featured-video .video-thumbs li.active a:before {
    display: block; }
  .featured-video .video-thumbs li.active .over {
    display: none; }

.featured-video .over {
  background: rgba(44, 62, 80, 0.5) url(../img/video-thumb-triangle.png) no-repeat 50% 50%; }

/* latest news */
.latest-news .news-row {
  margin-top: 40px; }

.main-news .over,
.news-item .news-thumb .over {
  background: rgba(38, 166, 91, 0.15); }

.main-news:hover h5,
.news-item:hover h6 {
  text-decoration: underline; }

.news-list li + li {
  padding-top: 19px; }

.news-item:hover {
  text-decoration: none; }

.news-item:hover:after {
  opacity: 2; }

.main-news:hover h5,
.news-item:hover h6 {
  text-decoration: underline; }

.main-news {
  position: relative;
  width: 100%;
  min-height: 405px;
  display: inline-block; }
  .main-news .over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .main-news .news-detail {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: rgba(38, 166, 91, 0.9);
    padding: 20px;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-around;
    flex-direction: column;
    justify-content: space-around; }
  .main-news h5 {
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    font-size: 1.125em;
    margin-bottom: 15px;
    line-height: 1.7; }
  .main-news .meta {
    margin-top: 30px;
    margin-bottom: 0; }

.news-item {
  position: relative;
  padding-left: 120px;
  display: inline-block;
  width: 100%;
  min-height: 120px; }
  .news-item:hover {
    text-decoration: none; }
  .news-item h6 {
    margin-top: 0;
    font-size: 1.2em;
    line-height: 1.6; }
  .news-item .news-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    min-height: 124px;
    display: inline-block;
    overflow: hidden;
    background: rgba(22, 118, 9, 0.5); }
    .news-item .news-thumb img {
      position: absolute;
      left: 0;
      top: 0; }
    .news-item .news-thumb .month {
      display: inline-block;
      position: relative;
      width: 100%;
      background: #30a059;
      text-align: center;
      line-height: 34px;
      font-family: 'Montserrat', sans-serif; }
    .news-item .news-thumb .over {
      position: relative;
      display: inline-block;
      width: 100%;
      font-size: 1.875em;
      font-style: normal;
      line-height: 90px;
      text-align: center; }
  .news-item .news-desc {
    font-size: 0.8em;
    line-height: 1.9; }
    .news-item .news-desc h6 {
      text-transform: none; }
    .news-item .news-desc p {
      margin-bottom: 0; }

/* info text */
.info-text {
  padding: 20px 0 28px;
  line-height: 1.6; }
  .info-text h5 {
    font-size: 1.25em;
    margin-bottom: 20px;
    line-height: inherit; }
  .info-text p {
    margin-bottom: 0;
    font-size: 0.9em; }
    .info-text p + h5 {
      margin-top: 42px; }

/****** INVENTORY *******/
.inner-page .inner-page-top {
  position: relative;
  padding-right: 100px; }
  .inner-page .inner-page-top .btn {
    position: absolute;
    top: 0;
    right: 0; }
    .inner-page .inner-page-top .btn em {
      font-style: normal; }
      .inner-page .inner-page-top .btn em + em {
        display: none; }
  .inner-page .inner-page-top + .row {
    margin-top: 15px; }

.filters-wrap.clone-filters {
  display: none; }

.filters-wrap {
  /* nav tabs */
  /* range slider */
  /* custom checkbox */
  /* colored input */ }
  .filters-wrap .new-search,
  .filters-wrap .filters {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px; }
  .filters-wrap .filters {
    margin-top: 43px; }
  .filters-wrap .title {
    display: inline-block;
    width: 100%;
    color: #2c3e50;
    padding: 15px 8px 11px;
    overflow: hidden; }
    .filters-wrap .title h5 {
      float: left; }
    .filters-wrap .title .reset {
      float: right;
      color: #92979c;
      text-transform: uppercase;
      font-size: 0.775em;
      line-height: 1.5; }
  .filters-wrap .filter-row {
    display: inline-block;
    width: 100%;
    margin-top: 7px;
    position: relative; }
    .filters-wrap .filter-row .half-item {
      width: 49%;
      float: left;
      margin-bottom: -4px; }
      .filters-wrap .filter-row .half-item + .half-item {
        margin-left: 2%; }
      .filters-wrap .filter-row .half-item option[disabled=disabled],
      .filters-wrap .filter-row .half-item .dropdown-menu .disabled {
        display: none; }
  .filters-wrap .nav-tabs {
    border-bottom: 1px solid #f6f6f7;
    margin-top: 5px; }
    .filters-wrap .nav-tabs li {
      width: 33.33%;
      text-align: center; }
    .filters-wrap .nav-tabs > li > a {
      border: none;
      padding: 0;
      line-height: 35px;
      color: #4e6777;
      display: block;
      border-bottom: 3px solid transparent; }
    .filters-wrap .nav-tabs > li.active a,
    .filters-wrap .nav-tabs > li > a:hover {
      border: none;
      border-bottom: 3px solid #2c3e50;
      background: transparent;
      color: #2c3e50; }
    .filters-wrap .nav-tabs > li.active a {
      font-weight: 600; }
  .filters-wrap .tab-pane {
    padding-top: 25px; }
    .filters-wrap .tab-pane h5 {
      margin-bottom: 10px; }
  .filters-wrap .range-slider-wrap {
    padding: 0 14px 0 10px; }
    .filters-wrap .range-slider-wrap .slider.slider-horizontal {
      width: 100%; }
    .filters-wrap .range-slider-wrap .slider .slider-track {
      border: 1px solid #f3f3f3;
      height: 10px;
      margin-top: -4px;
      background: -webkit-linear-gradient(#DDD -50%, #FFF 150%);
      background: -o-linear-gradient(#DDD -50%, #FFF 150%);
      background: linear-gradient(#DDD -50%, #FFF 150%);
      width: auto;
      left: -10px;
      right: -10px; }
    .filters-wrap .range-slider-wrap .slider .slider-selection {
      background: #16783b; }
    .filters-wrap .range-slider-wrap .slider .slider-handle {
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      width: 23px;
      height: 23px;
      background: -webkit-linear-gradient(white 0%, gainsboro 20%, white 100%);
      background: -o-linear-gradient(white 0%, gainsboro 20%, white 100%);
      background: linear-gradient(white 0%, gainsboro 20%, white 100%);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      cursor: pointer; }
      .filters-wrap .range-slider-wrap .slider .slider-handle:after {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -4px;
        left: 50%;
        margin-left: -4px;
        width: 0;
        height: 0;
        border-radius: 4px;
        background: #2c3e50; }
    .filters-wrap .range-slider-wrap input.range-slider {
      height: inherit; }
  .filters-wrap .range-slider-value {
    margin-top: 13px;
    display: inline-block;
    width: 100%;
    font-size: 0.875em;
    font-weight: 600;
    color: #4e6777; }
  .filters-wrap .filter-item + .filter-item {
    margin-top: 25px; }
  .filters-wrap .checkbox-wrap {
    position: relative;
    font-weight: 500;
    color: #4e6777;
    margin-bottom: 0; }
    .filters-wrap .checkbox-wrap input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0; }
    .filters-wrap .checkbox-wrap span {
      cursor: pointer;
      float: left;
      line-height: 1em; }
      .filters-wrap .checkbox-wrap span.name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;
        font-size: 0.90em;
        line-height: 1.1;
        max-width: calc(100% - 25px); }
    .filters-wrap .checkbox-wrap em {
      font-style: normal;
      color: #8394a0;
      font-weight: 400; }
    .filters-wrap .checkbox-wrap .checkbox-icon {
      position: relative;
      width: 16px;
      height: 16px;
      border: 1px solid #bfc5ca;
      display: inline-block;
      margin-right: 9px; }
      .filters-wrap .checkbox-wrap .checkbox-icon:after {
        content: "\f00c";
        font-size: 0.5em;
        line-height: 14px;
        position: absolute;
        color: #fff;
        top: 0;
        left: 0;
        right: 0;
        text-align: center; }
    .filters-wrap .checkbox-wrap input:checked + .checkbox-icon {
      background: #2c3e50;
      border-color: #2c3e50; }
      .filters-wrap .checkbox-wrap input:checked + .checkbox-icon + .name {
        font-weight: 600; }
  .filters-wrap .drop-wrap .drop-btn {
    color: #1e8bc3;
    font-size: 0.875em;
    margin-top: 5px;
    display: inline-block; }
  .filters-wrap .drop-wrap .drop-content {
    display: none; }
  .filters-wrap .colored-filter-row {
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: -20px; }
    .filters-wrap .colored-filter-row .color {
      position: relative;
      float: left;
      padding: 0 6px 10px;
      margin: 0; }
      .filters-wrap .colored-filter-row .color input {
        position: absolute;
        top: 0;
        left: 6px;
        width: 26px;
        height: 26px;
        opacity: 0;
        margin: 0;
        z-index: 2;
        cursor: pointer; }
      .filters-wrap .colored-filter-row .color .checkbox-over {
        width: 26px;
        height: 26px;
        border-radius: 13px;
        position: relative;
        display: inline-block; }
        .filters-wrap .colored-filter-row .color .checkbox-over:after {
          content: "";
          border: 2px solid #fff;
          display: inline-block;
          border-radius: 13px;
          opacity: 0;
          z-index: 1; }
      .filters-wrap .colored-filter-row .color input:checked + .checkbox-over {
        border: 2px solid #2c3e50; }
        .filters-wrap .colored-filter-row .color input:checked + .checkbox-over:after {
          opacity: 1; }

.filters-wrap .red .checkbox-over {
  background: #dd323e; }

.filters-wrap .brown .checkbox-over {
  background: #dbb471; }

.filters-wrap .light-green .checkbox-over {
  background: #9ed5a6; }

.filters-wrap .violet .checkbox-over {
  background: #9675eb; }

.filters-wrap .pink .checkbox-over {
  background: #f4856b; }

.filters-wrap .orange .checkbox-over {
  background: #f4af6b; }

.filters-wrap .blue .checkbox-over {
  background: #1014d2; }

.filters-wrap .green .checkbox-over {
  background: #318f3f; }

.filters-wrap .light-blue .checkbox-over {
  background: #75ebea; }

.filters-wrap .lime .checkbox-over {
  background: #daf210; }

.filters-wrap .black .checkbox-over {
  background: #363839; }

.filters-wrap .filter-row .dropdown-toggle,
.filters-wrap .filter-row .dropdown-toggle:hover,
.filters-wrap .filter-row.zip-input input {
  background-color: #edf1f4;
  padding: 0 20px;
  text-transform: none;
  height: 35px;
  color: #1f2f3e; }

.filters-wrap .filter-row .dropdown-toggle:hover,
.filters-wrap .filter-row.zip-input input:hover {
  color: rgba(31, 47, 62, 0.8); }

.filters-wrap .dropdown-toggle.disabled {
  color: #b6b6b6 !important; }

.filters-wrap .filter-row .bootstrap-select.btn-group {
  width: 100%;
  border-radius: 25px; }

.filters-wrap .filter-row.zip-input input,
.filters-wrap .filter-row.zip-input .bootstrap-select.btn-group {
  font-size: 0.875em; }

.filters-wrap .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  padding-right: 8px; }

.filters-wrap .filter-row.zip-input .dropdown-toggle .filter-option {
  font-size: 0.9em;
  line-height: 2; }

.filters-wrap .filter-row.zip-input input {
  font-family: 'Montserrat', sans-serif;
  width: 100%; }

.filters-wrap .filter-row.zip-input > * {
  float: left; }

.filters-wrap .filter-row input[type=submit] {
  width: 100%;
  margin-top: 10px; }

/* result-sorting */
.result-sorting {
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  background-color: white; }
  .result-sorting .view {
    float: left;
    color: #999999;
    margin-top: 5px; }
    .result-sorting .view > *:first-child {
      margin-right: 13px; }
    .result-sorting .view a {
      color: #2c3e50; }
    .result-sorting .view label {
      border-bottom: 0;
      font-weight: 400;
      font-size: 0.9em;
      color: #909090; }
  .result-sorting .sort-by,
  .result-sorting .show-count {
    float: right;
    color: #000;
    font-size: 0.875em; }
    .result-sorting .sort-by select,
    .result-sorting .show-count select {
      border: 1px solid #f4f4f4;
      font-size: inherit;
      color: #666;
      height: 32px;
      min-width: 80px;
      padding: 0 15px 0 5px;
      background: #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='4' fill='grey'><polygon points='0,0 8,0 4,4'/></svg>") no-repeat 95% 50% !important;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      outline: none !important; }
  .result-sorting .show-count {
    margin-right: 70px; }

/* result filters */
.result-filters {
  display: inline-block;
  width: 100%;
  margin: 15px 0; }
  .result-filters li {
    display: inline-block; }
    .result-filters li + li {
      padding-left: 8px; }
    .result-filters li a {
      display: inline-block;
      line-height: 29px;
      border-width: 2px;
      border-style: solid;
      padding: 0 50px 0 15px;
      color: #4e6777;
      position: relative;
      border-radius: 15px;
      font-size: 0.875em;
      text-decoration: none; }
      .result-filters li a.disabled {
        border-color: #4e6777 !important;
        color: rgba(78, 103, 119, 0.5); }
        .result-filters li a.disabled:hover {
          color: rgba(78, 103, 119, 0.5) !important; }
        .result-filters li a.disabled span,
        .result-filters li a.disabled em {
          opacity: 1; }
      .result-filters li a:hover {
        text-decoration: none; }
      .result-filters li a span {
        opacity: 0.5;
        font-size: 0.9em;
        position: relative;
        top: -1px;
        font-weight: 600; }
      .result-filters li a em {
        position: absolute;
        line-height: 30px;
        top: 0;
        right: 15px;
        opacity: 0.5;
        font-size: 0.8em;
        z-index: 5; }

/* result container */
.result-container {
  margin-top: 10px; }
  .result-container a {
    color: #1b6fb7; }
  .result-container .result-item {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    width: 100%;
    padding: 10px;
    color: #4e6777;
    position: relative;
    font-size: 0.875em;
    background-color: white; }
    .result-container .result-item:before {
      content: "";
      cursor: pointer;
      z-index: 1;
      display: none; }
    .result-container .result-item:hover:before {
      display: block; }
    .result-container .result-item:after {
      content: "";
      position: absolute;
      width: 136px;
      height: 137px;
      top: -25px;
      right: -24px;
      background: url(../img/featured-icon.png) no-repeat 50% 50%;
      display: none;
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      transform: scale(0.75);
      z-index: 2; }
    .result-container .result-item.featured:after {
      display: block; }
    .result-container .result-item h6 {
      text-transform: none;
      font-size: 1.15em;
      line-height: 1.6;
      padding-right: 10px; }
      .result-container .result-item h6 + p {
        color: #7892a3;
        margin-top: 5px;
        font-size: 0.9em; }
    .result-container .result-item .marker {
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 1px;
      font-size: 0.9em; }
    .result-container .result-item .item-filter-detail li {
      line-height: 1.6;
      font-size: 0.95em; }
    .result-container .result-item .item-filter-detail .dealer-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: calc(100% - 50px);
      display: inline-block;
      line-height: 0.8;
      color: inherit; }
    .result-container .result-item .stars-wrap {
      display: inline-block;
      height: 14px;
      position: relative;
      top: 2px; }
  .result-container .img-wrap {
    position: relative;
    border-radius: 3px;
    background: #ccd1d5;
    min-height: 130px;
    max-height: 140px; }
    .result-container .img-wrap .view-wrap {
      top: 5px;
      text-transform: uppercase;
      font-size: 0.8em;
      color: #fff;
      background: #f5b65a;
      display: none; }
    .result-container .img-wrap img {
      display: block;
      width: 100%;
      border-radius: 3px; }
  .result-container .item-logos {
    position: absolute;
    top: 10px;
    right: 40px; }
    .result-container .item-logos .carfax {
      max-width: 82px; }
    .result-container .item-logos a + a {
      margin-left: 15px; }
  .result-container.view-list .result-item + .result-item {
    margin-top: 10px; }
  .result-container.view-list .item-img {
    padding-right: 20px;
    min-width: 215px; }
  .result-container.view-list .item-desc {
    position: relative;
    width: 100%;
    max-width: 74%; }
  .result-container.view-list .item-title h6 {
    width: 60%; }
  .result-container.view-list .item-filter-detail {
    float: left; }
    .result-container.view-list .item-filter-detail ul {
      display: inline-block;
      padding-right: 25px;
      max-width: 225px; }
  .result-container.view-list .price-detail {
    float: right;
    margin-top: -5px; }
    .result-container.view-list .price-detail .fee {
      margin-top: 4px; }
  .result-container.view-grid .result-item {
    margin-bottom: 20px; }
    .result-container.view-grid .result-item .item-img {
      margin-bottom: 14px; }
      .result-container.view-grid .result-item .item-img .img-wrap {
        min-height: 150px;
        max-height: 160px; }
    .result-container.view-grid .result-item .price-detail {
      margin-top: 13px;
      display: inline-block; }

.result-container .item-img .view-wrap,
.photo-count,
.result-container .save-wrap {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  line-height: 23px;
  padding: 0 7px;
  color: #2c3e50;
  font-size: 0.875em;
  font-weight: 600;
  left: 5px; }

.result-container .item-img .view-wrap {
  top: 5px;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #fff;
  background: #f5b65a;
  display: none; }

.result-container .viewed .item-img .view-wrap {
  display: block; }

.result-container .item-img .photo-count {
  bottom: 5px; }

.result-container .result-item .save-wrap {
  width: auto;
  text-align: center;
  bottom: 5px;
  right: 5px;
  left: auto;
  z-index: 999;
  cursor: pointer;
  padding: 0; }

.result-container .save-wrap:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 12px;
  background: url(../img/heart.png) no-repeat 0 50%;
  position: absolute;
  top: 50%;
  left: 7px;
  margin-top: -6px; }

.result-container .saved .save-wrap:before {
  background-position: 100% 50%; }

.result-container .save-wrap > * {
  padding: 0 7px 0 25px; }

.result-container .save-wrap span {
  display: none;
  color: #ef1b61; }

.result-container .save-wrap em {
  color: #4e6777;
  font-style: normal; }

.result-container .saved .save-wrap span {
  display: inline-block; }

.result-container .saved .save-wrap em {
  display: none; }

/* strars */
.stars-wrap .star {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../img/starts-sprite.png);
  background-repeat: no-repeat; }

.stars-wrap .star.star50 {
  background-position: 50% 0; }

.stars-wrap .star.star0 {
  background-position: 100% 0; }

/* price detail */
.price-detail .price {
  display: inline-block;
  width: 100%;
  font-size: 1.8em;
  font-weight: 700;
  color: #2c3e50; }

.price-detail .badge {
  background: #2c3e50;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 0 9px;
  line-height: 2;
  margin: -5px 0 0 5px; }

.price-detail .fee {
  line-height: 1;
  font-size: 0.95em; }

/* result pagination */
.result-pagination {
  text-align: right;
  margin-top: 25px; }
  .result-pagination li {
    display: inline-block; }
  .result-pagination a,
  .result-pagination span {
    font-size: 0.9em;
    display: inline-block;
    border-radius: 4px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #e0e5e7;
    box-shadow: 0 0 1px #eff1f3; }
  .result-pagination a {
    color: #4e6777; }
  .result-pagination i {
    font-size: 0.5em;
    line-height: 2;
    position: relative;
    top: -2px; }
  .result-pagination a:hover,
  .result-pagination span {
    text-decoration: none;
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50; }

/***** DETAILEAD PAGE *****/
.slick-slide {
  outline: none; }

.detailed-page {
  background: #f9fafb;
  border-top: 1px solid #d8d8d9; }
  .detailed-page p,
  .detailed-page .accordion-content li {
    font-size: 0.9em; }

.detail-page-top {
  margin-bottom: 25px; }

#content .detail-page-top h1 {
  text-transform: none;
  margin-bottom: 5px;
  text-align: left;
  font-weight: 500;
  font-size: 1.8em; }
  #content .detail-page-top h1 + p {
    text-align: left;
    font-size: 0.9em; }

.request-form-wrap p {
  line-height: 2.5;
  color: #1f2f3e; }

.request-form-wrap p input:not([class='email-check']),
.request-form-wrap textarea {
  border: 1px solid #a5b6c2;
  border-radius: 0;
  padding: 0 5px;
  height: 28px;
  color: inherit; }

.request-form-wrap input.short {
  width: 90px; }

.request-form-wrap input.medium {
  width: 130px; }

.request-form-wrap textarea {
  height: 100px;
  padding: 10px 5px;
  width: 100%;
  resize: none; }

.request-form-wrap .btn {
  min-width: 220px;
  padding-top: 14px;
  padding-bottom: 14px;
  height: inherit; }

.request-form-wrap .drop-wrap {
  margin-top: 25px; }
  .request-form-wrap .drop-wrap .drop-btn {
    font-size: 0.9em; }
  .request-form-wrap .drop-wrap .drop-content {
    margin-top: 10px; }

.request-form-wrap small {
  display: inline-block;
  width: 100%;
  margin-top: 25px;
  color: #7892a3;
  font-size: 0.8em;
  line-height: 1.5; }

.request-form-wrap .subscribe {
  margin: 15px 0 15px;
  color: #626d78;
  font-size: 0.825em; }

.request-form-wrap .check-wrap {
  position: relative;
  padding: 0;
  margin: 0 5px 0 0;
  height: 12px;
  width: 14px; }

.request-form-wrap .email-check {
  height: 14px;
  width: 12px;
  border-radius: 0;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  margin: 0;
  z-index: 5;
  cursor: pointer; }

.request-form-wrap .check-icon {
  border: 1px solid #7892a3;
  background: #fff;
  color: #fff;
  line-height: 12px;
  width: 14px;
  font-size: 8px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center; }

.request-form-wrap input:checked + .check-icon {
  background: #7892a3; }

.car-photos {
  padding: 15px 0 0;
  border: 1px solid #ebeced;
  background: #fff; }
  .car-photos .main-photo-slider-wrap {
    position: relative;
    width: 410px;
    margin: 0 auto; }
    .car-photos .main-photo-slider-wrap img {
      width: 100%; }
    .car-photos .main-photo-slider-wrap .photo-count {
      position: relative;
      margin-top: -28px;
      width: 60px;
      text-align: center;
      margin-bottom: 5px; }
  .car-photos .nav-main-photo-slider {
    margin-top: 20px;
    padding: 10px 33px 15px;
    background: #e3e3e3; }
    .car-photos .nav-main-photo-slider .slick-list {
      padding-top: 5px; }
    .car-photos .nav-main-photo-slider .slick-slide {
      padding: 0 4px;
      position: relative;
      cursor: pointer; }
      .car-photos .nav-main-photo-slider .slick-slide img {
        border: 3px solid transparent; }
      .car-photos .nav-main-photo-slider .slick-slide.slick-current:before {
        content: "";
        position: absolute;
        top: -6px;
        left: 50%;
        margin-left: -6px;
        border-bottom: 6px solid #6d7a86;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent; }
      .car-photos .nav-main-photo-slider .slick-slide.slick-current img {
        border-color: #6d7a86; }
    .car-photos .nav-main-photo-slider .slick-prev:before {
      content: '\f104'; }
    .car-photos .nav-main-photo-slider .slick-next:before {
      content: '\f105'; }
  .car-photos .slick-prev,
  .car-photos .slick-next {
    margin-top: 2px; }
    .car-photos .slick-prev:before,
    .car-photos .slick-next:before {
      color: #6d7a86;
      font-size: 48px; }
  .car-photos .slick-prev {
    left: 5px; }
  .car-photos .slick-next {
    right: 5px; }

.mobile-networks .jssocials-shares .jssocials-share-link,
.socials-wrap .jssocials-shares .jssocials-share-link,
.socials-wrap .print {
  display: inline-block;
  width: 54px;
  height: 32px;
  text-align: center;
  border: 1px solid #ebeced;
  border-radius: 4px;
  background-color: #fff;
  color: #072a47;
  padding: 0;
  line-height: 29px; }

.socials-wrap {
  font-size: 12px; }
  .socials-wrap .print {
    margin-left: 0.6em;
    line-height: 32px; }
    .socials-wrap .print i {
      font-size: 1.5em; }
  .socials-wrap .jssocials-shares {
    margin: 0;
    float: left; }
    .socials-wrap .jssocials-shares .jssocials-share {
      margin-top: 0;
      margin-bottom: 0; }
      .socials-wrap .jssocials-shares .jssocials-share.jssocials-share-twitter .jssocials-share-link {
        color: #1da1f2; }
      .socials-wrap .jssocials-shares .jssocials-share.jssocials-share-facebook .jssocials-share-link {
        color: #3b5998; }
      .socials-wrap .jssocials-shares .jssocials-share.jssocials-share-googleplus .jssocials-share-link {
        color: #dd4b39; }
      .socials-wrap .jssocials-shares .jssocials-share.jssocials-share-whatsapp .jssocials-share-link {
        color: #177709; }
  .socials-wrap a.print {
    color: #072a47; }

.price-detail a {
  margin-top: 5px;
  font-size: 0.9em;
  display: inline-block; }

.result-sorting label {
  border-bottom: 0;
  font-weight: 400;
  font-size: 0.9em;
  color: #909090; }

.request-text {
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding: 20px 15px 15px; }
  .request-text h3 {
    text-transform: uppercase;
    font-weight: 500; }
    .request-text h3 + p {
      text-transform: uppercase;
      font-size: 0.825em;
      font-family: "Montserrat", sans-serif;
      margin-top: 10px; }

.view-phone {
  color: #1b6fb7; }
  .view-phone em {
    font-style: normal;
    cursor: pointer; }
  .view-phone a {
    display: none; }
  .view-phone.link-active em {
    display: none; }
  .view-phone.link-active a {
    display: inline-block; }

.rates {
  border-bottom: 1px solid #e6e7e8;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  .rates .stars-wrap {
    display: inline-block; }
  .rates .rates-count {
    font-size: 0.85em; }

.adv-title,
.detail-section {
  margin-top: 30px; }

.dealer-details h3 {
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase; }

.dealer-details .vehicle-overview h3 {
  text-transform: none; }

.dealer-info {
  overflow: hidden; }
  .dealer-info .dealer-info-list {
    width: 40%; }
  .dealer-info .drop-wrap {
    float: left;
    width: 100%;
    margin-top: -15px; }
  .dealer-info .btn {
    margin-top: 20px; }
  .dealer-info li,
  .dealer-info .drop-btn {
    padding-left: 25px;
    position: relative;
    margin-bottom: 15px;
    font-size: 0.9em; }
    .dealer-info li > i,
    .dealer-info .drop-btn > i {
      position: absolute;
      top: 3px;
      left: 0; }
    .dealer-info li .drop-btn a:hover,
    .dealer-info .drop-btn .drop-btn a:hover {
      text-decoration: none; }

.carfax-wrap img {
  width: 100%; }

.listing-summary {
  border-bottom: 1px solid #d2dbe0; }
  .listing-summary h6 {
    color: #4e6777;
    font-weight: 400;
    font-size: 0.8em; }
  .listing-summary ul {
    overflow: hidden;
    padding-top: 10px; }
    .listing-summary ul li {
      float: left;
      width: 33.33%;
      margin-bottom: 25px; }
      .listing-summary ul li span {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block; }

.vehicle-overview {
  line-height: 1.7; }

.drop-wrap .drop-content {
  display: none; }

.accordion-content {
  margin-top: 20px;
  line-height: 2; }
  .accordion-content h6 {
    text-transform: none;
    margin-top: 30px;
    margin-bottom: 15px; }
  .accordion-content .drop-wrap {
    border: 1px solid #e8e8e9;
    padding: 0 30px;
    background: rgba(255, 255, 255, 0.5); }
    .accordion-content .drop-wrap.content-opened, .accordion-content .drop-wrap:hover {
      background: white; }
    .accordion-content .drop-wrap + .drop-wrap {
      margin-top: 2px; }
    .accordion-content .drop-wrap .drop-btn {
      display: block;
      font-size: 1em;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      padding: 12px 0;
      cursor: pointer;
      position: relative; }
      .accordion-content .drop-wrap .drop-btn:after {
        content: "\f067";
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -7px;
        height: 14px;
        line-height: 14px;
        color: #bcc9d1; }
    .accordion-content .drop-wrap.content-opened .drop-btn:after {
      content: "\f068"; }
    .accordion-content .drop-wrap .drop-content {
      padding-bottom: 40px; }

.chart-wrap {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #d2dbe0; }
  .chart-wrap .chart {
    border: 1px solid #e8e8e9;
    background: #fff; }

#map {
  width: 100%;
  height: 440px; }

.check-list li {
  padding-left: 30px;
  position: relative; }

.check-list li:before {
  content: "\f00c";
  position: absolute;
  left: 0;
  top: 0; }

.adv {
  margin-top: 10px;
  width: 100%; }

.adv + .adv {
  margin-top: 35px; }

.adv-title {
  color: #999;
  display: inline-block; }

/***** WHY BUY CERTIFIED *******/
.single-page-title {
  color: #fff;
  text-align: left;
  background: url(../img/single-top-page-bg.jpg) no-repeat 50% 0;
  background-size: cover;
  padding: 45px 15px; }
  .single-page-title h2 {
    margin-bottom: 0;
    text-transform: none; }

.single-page {
  margin-top: 90px; }
  .single-page h3 {
    font-weight: 400; }
  .single-page h3,
  .single-page h5 {
    padding-bottom: 25px; }
  .single-page .border-bottom {
    margin-bottom: 20px;
    border-bottom: 1px solid #d2d2d2; }
  .single-page .filters-wrap .title {
    padding-top: 0;
    padding-bottom: 0; }
    .single-page .filters-wrap .title h5 {
      float: none;
      line-height: 1.55; }
  .single-page .filters-wrap .new-search {
    padding: 0; }
  .single-page .article p {
    margin-bottom: 50px;
    line-height: 1.5; }
  .single-page .testimonials {
    margin-top: 60px; }
    .single-page .testimonials li + li {
      margin-top: 25px; }
    .single-page .testimonials .testimonials-item {
      font-size: 0.875em;
      line-height: 1.7; }
    .single-page .testimonials .testimonials-text {
      border: 1px solid #e4e8ed;
      padding: 25px;
      position: relative; }
      .single-page .testimonials .testimonials-text:before, .single-page .testimonials .testimonials-text:after {
        content: "";
        position: absolute;
        left: 30px;
        bottom: -11px;
        border-top: 11px solid #e4e8ed;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent; }
      .single-page .testimonials .testimonials-text:after {
        border-top: 11px solid #fff;
        bottom: -10px; }
    .single-page .testimonials .testimonials-author {
      margin-top: 20px;
      padding-left: 10px; }

/****** FOOTER ******/
footer {
  padding: 33px 0 15px;
  text-align: center; }
  footer nav {
    border-bottom: 1px solid #44525f;
    padding-bottom: 26px; }
    footer nav ul {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      footer nav ul li + li:before {
        content: "|";
        position: absolute;
        left: -20px;
        top: 0; }
  footer .socials {
    margin-top: 18px; }
    footer .socials li {
      display: inline-block;
      padding: 0 4px; }
      footer .socials li a {
        width: 30px;
        height: 31px;
        display: inline-block;
        background-image: url(../img/content-icons-sprite.png);
        background-repeat: no-repeat; }
        footer .socials li a.fb {
          background-position: 0 100%; }
        footer .socials li a.tw {
          background-position: -40px 100%; }
        footer .socials li a.google {
          background-position: -80px 100%; }
        footer .socials li a:hover {
          opacity: 0.75; }

footer nav li,
footer p {
  font-size: 0.875em;
  position: relative; }

footer .button-wrap {
  padding: 42px 0 35px; }

footer .btn {
  font-size: 1em;
  padding: 10px 60px; }

/*********** RESPONSIVE ************/
/***** TBALET *****/
/* Landscape */
@media only screen and (max-width: 1199px) {
  header .menus-wrap {
    padding-top: 0; }
  header nav > ul {
    margin-top: 45px; }
  .top-section p {
    margin-top: 25px; }
  .main-news .news-detail {
    font-size: 0.9em; }
  .main-news .meta {
    margin-top: 15px; }
  .news-list li + li {
    padding-top: 20px; }
  .featured-deals .slick-prev,
  .dealer .dealer-result .slick-prev {
    left: -20px; }
  .featured-deals .slick-next,
  .dealer .dealer-result .slick-next {
    right: -20px; }
  /* inventory */
  .filters-wrap .title {
    padding-right: 0;
    padding-left: 0; }
  .filters-wrap .color {
    padding: 0 3px 5px; }
  .result-container .item-logos {
    top: 155px;
    right: auto;
    left: 15px; }
  .result-container.list-view .item-img {
    min-width: 230px; }
  .result-container.view-list .item-desc {
    display: inline-block;
    max-width: 76%; }
  .result-container.view-list .price-detail {
    margin-top: 0; }
  .result-container.view-list .item-title h6 {
    width: 100%; }
  .result-container.view-grid .result-item .item-img .img-wrap {
    min-height: 120px; }
  .result-container .result-item h6 {
    padding-right: 0; }
  /********/
  /*---- detail page -----*/
  .request-form-wrap small {
    margin-top: 25px; }
  /********/
  footer nav li + li:before {
    left: -11px; } }

/* Portrait */
@media only screen and (max-width: 991px) {
  header nav > ul {
    margin-top: 23px; }
  header .top-menu li + li {
    padding-left: 20px; }
  header nav > ul > li + li {
    margin-left: 20px; }
  header .top-menu {
    right: 15px;
    top: -35px; }
  .top-section {
    padding-top: 30px; }
  .body-styles .car {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .search-wrap .advanced-options .body-styles ul {
    margin-left: -20px;
    margin-right: -22px; }
  .search-wrap .advanced-options .price-range ul {
    margin-left: -69px;
    margin-right: -63px; }
  .search-wrap,
  .news-list {
    margin-top: 20px; }
  .search-wrap .form-item + .form-item {
    padding-left: 10px; }
  .search-wrap .form-elements-wrap,
  .search-wrap .nav-tabs {
    padding-left: 15px; }
  .bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 7px; }
  .featured-deals .slider-wrap {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 50px; }
  .rental-cars > div + div {
    margin-top: 15px; }
  .dealer .dealer-form-wrap .form-item {
    width: 32%; }
  .dealer .dealer-form-wrap .form-item div.dropdown-menu {
    left: 15px;
    right: 15px; }
  .dealer .dealer-result ul {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4; }
  .rental-carscars > div + div {
    margin-top: 15px; }
  .main-news img,
  .video-thumbs img {
    width: 100%; }
  .main-video iframe {
    height: 400px; }
  .video-thumbs {
    margin-bottom: 30px;
    overflow: hidden; }
  .main-news .news-detail {
    -webkit-justify-content: flex-start;
    justify-content: flex-start; }
  /* inventory */
  .result-container.view-grid .result-item .item-img .img-wrap {
    width: 100%;
    margin: 0 auto;
    min-height: 161px;
    max-height: inherit; }
  .result-sorting {
    margin-top: 10px; }
  .inner-page .filters-wrap {
    padding-top: 0; }
  .inner-page .filters-wrap .filter-item-body,
  .inner-page .filters-wrap .filters-body {
    padding: 10px;
    display: none; }
  .filters-wrap .filters .filters-body {
    padding: 0; }
  .filters-wrap.clone-filters {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.9);
    overflow: auto;
    max-height: 100%;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .filters-wrap.sticky {
    visibility: visible;
    opacity: 1; }
  .filters-wrap.non-sticky {
    visibility: hidden;
    opacity: 0; }
  .filters-wrap .filter-item + .filter-item {
    margin-top: 0;
    margin-top: -1px; }
  .inner-page .filters-wrap .new-search,
  .inner-page .filters-wrap .filters {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 15px; }
  .filters-wrap .new-search.filters-opened,
  .filters-wrap .filters.filters-opened {
    border-radius: 15px 15px 0 0; }
  .filters-wrap .filters {
    margin-top: 10px; }
  .filters-wrap h5 {
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px; }
  .filters-wrap .responsive-title {
    border-bottom: none;
    position: relative;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px; }
  .filters-wrap .responsive-title span {
    display: inline !important;
    font-size: 0.85em;
    opacity: 0.75; }
  .filters-wrap .filters .filter-item.visible-xs .responsive-title {
    border-top: none; }
  .filters-wrap .title.responsive-title {
    background: #2c3e50;
    color: #fff;
    border-radius: 15px;
    border-top: none;
    border-bottom: none; }
  .filters-wrap .responsive-title:after {
    content: '\f105';
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .filters-wrap .filters-opened > .responsive-title:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg); }
  .inner-page .filters-wrap .new-search .filters-body,
  .filters-wrap .filters .filter-item:last-child .filter-item-body {
    border-bottom: 1px solid #ddd; }
  .result-container.view-list .item-desc {
    max-width: 80%; }
  .filters-wrap .colored-filter-row {
    margin-bottom: -10px; }
  /*----- detailed page ---*/
  .car-photos .main-photo-slider-wrap {
    width: 300px; }
  /*------ single page -----*/
  .single-page {
    margin-top: 20px; }
  /*******/
  footer nav {
    padding-bottom: 10px; }
  footer nav ul {
    display: block; }
  footer nav li {
    display: inline-block;
    padding: 0 6px 10px; }
  footer nav li + li:before,
  header .top-menu li + li:before {
    display: none; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .manufacturer .car-logos li {
    width: 25%; }
  .manufacturer .car-logos .logos-row li:nth-child(4n + 1) {
    border-left: 0; }
  .manufacturer .car-logos .logos-row li {
    border-top: 1px solid #1dd2a1; }
  .manufacturer .car-logos .logos-row:first-child li:nth-child(1),
  .manufacturer .car-logos .logos-row:first-child li:nth-child(2),
  .manufacturer .car-logos .logos-row:first-child li:nth-child(3),
  .manufacturer .car-logos .logos-row:first-child li:nth-child(4) {
    border-top: 0; } }

@media only screen and (min-width: 992px) {
  .car-logos li {
    width: 12.5%; } }

@media only screen and (min-width: 1025px) {
  header nav .drop-wrap:hover .drop-content {
    display: block !important; } }

/***** MOBILE *****/
/* Landscape */
@media only screen and (max-width: 767px) {
  /****** MAIN COLOR *****/
  header .menus-wrap .drop-main-menu .manufacturer-color a {
    color: #1abc90; }
  header .menus-wrap .drop-main-menu .dealer-color a {
    color: #1e8bc3; }
  header .menus-wrap .drop-main-menu .rental-color a {
    color: #f39c12; }
  .request-detail.manufacturer-item .car-photos {
    border-color: #1abc90; }
  .request-detail.dealer-item .car-photos {
    border-color: #1e8bc3; }
  .request-detail.rental-item .car-photos {
    border-color: #f39c12; }
  /*******/
  h1,
  h2,
  .why h2,
  #content .detail-page-top h1 {
    font-size: 1.3em;
    line-height: 1.6em; }
  h3 {
    font-size: 1em; }
  h4 {
    font-size: 0.90em; }
  h5,
  h6 {
    font-size: .80em; }
  p {
    margin-bottom: 5px; }
  .btn,
  input,
  .dealer .dealer-form-wrap .btn,
  .search-wrap .form-item input:not([class=btn]),
  .search-wrap .bootstrap-select .btn.dropdown-toggle {
    border-radius: 10px;
    height: 35px;
    line-height: 35px; }
  .btn,
  footer .btn,
  .search-wrap .btn-green {
    padding: 0 20px;
    line-height: 40px;
    height: inherit; }
  .filters-wrap .filter-row .dropdown-toggle,
  .filters-wrap .filter-row.zip-input input {
    height: 40px; }
  .mobile-menu-over {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 88;
    visibility: hidden;
    opacity: 0; }
  .menu-opened .mobile-menu-over {
    opacity: 1;
    visibility: visible; }
  header {
    padding: 10px 15px; }
  header .menus-wrap {
    position: fixed;
    right: -280px;
    top: 0;
    bottom: 0;
    width: 280px;
    background: #fff;
    z-index: 99;
    padding: 15px 0;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    overflow: auto; }
  .menu-opened header .menus-wrap {
    right: 0; }
  header .menus-wrap li,
  header .menus-wrap span,
  header .menus-wrap li.drop-wrap li:last-child {
    width: 100%;
    border-bottom: 1px solid #dbe1e4;
    border-left: none;
    border-right: none;
    border-top: none; }
  header .menus-wrap li.drop-wrap,
  .drop-main-menu li:last-child {
    border-bottom: none; }
  header .top-menu {
    position: static; }
  header .menus-wrap ul {
    width: 100%; }
  header nav > ul > li + li {
    margin-left: 0; }
  header .top-menu li + li {
    padding-left: 0; }
  header .menus-wrap a,
  header .menus-wrap .drop-main-menu li a,
  header .menus-wrap span {
    padding: 20px 15px;
    display: inline-block;
    width: 100%;
    line-height: 1; }
  header .menus-wrap .drop-btn {
    padding-top: 19px;
    padding-bottom: 16px;
    z-index: 10; }
  header .menus-wrap .content-opened .drop-btn:after {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  header nav ul {
    margin-top: 0; }
  header .mobile-btn {
    width: 35px;
    float: right;
    margin-top: 15px; }
  header .mobile-btn em {
    float: left;
    width: 100%;
    height: 4px;
    background: #1f2f3e;
    border-radius: 2px; }
  header .mobile-btn em + em {
    margin-top: 4px; }
  header .menus-wrap .drop-content {
    position: relative;
    top: 0;
    display: block; }
  header .menus-wrap .drop-main-menu {
    border: none !important; }
  header .menus-wrap .drop-main-menu li {
    text-align: left;
    font-size: 1em; }
  .bootstrap-select > select.mobile-device {
    color: #2c3e50; }
  .top-section {
    min-height: inherit;
    padding-bottom: 30px; }
  /*.search-wrap .form-item.zip-input label,*/
  .search-wrap .form-item + .form-item:before,
  header .menus-wrap .drop-main-menu:before,
  header .menus-wrap .drop-main-menu:after,
  .car-logos:before,
  .car-logos:after {
    display: none; }
  .search-wrap .tab-pane,
  .search-wrap .tab-pane.advanced-form,
  .search-wrap .advanced-form .btn-green {
    border-radius: 10px; }
  .search-wrap .form-elements-wrap {
    display: inline-block;
    padding: 15px; }
  .search-wrap .advanced-form .form-elements-wrap {
    padding-bottom: 0; }
  .search-wrap .form-elements-wrap > *,
  .search-wrap .advanced-form .form-elements-wrap > * {
    width: 100%; }
  .search-wrap .form-elements-wrap > *.mobile-half,
  .search-wrap .advanced-form .form-item + .form-item.zip-input {
    width: 50%; }
  .search-wrap .form-item + .form-item.zip-input {
    max-width: inherit; }
  /*.search-wrap .form-elements-wrap .zip-input {
		border-left: 1px solid #919ea7;
	}*/
  .search-wrap .form-elements-wrap .zip-input input {
    padding-left: 15px; }
  .search-wrap .form-item .select-title {
    left: 0;
    line-height: 35px; }
  .search-wrap .form-item {
    border-bottom: 1px solid #919ea7;
    padding-bottom: 15px; }
  .search-wrap .form-item + .form-item {
    padding-left: 0;
    padding-top: 15px; }
  .search-wrap .btn-green {
    margin-top: 25px; }
  .search-wrap .advanced-options .body-styles li {
    width: 50%; }
  .search-wrap .advanced-options {
    padding-left: 15px;
    padding-right: 15px; }
  .search-wrap .advanced-options .price-range {
    padding-top: 25px;
    border-top: none; }
  .search-wrap .advanced-options .price-range ul {
    margin-left: -20px;
    margin-right: -20px; }
  .search-wrap .advanced-options .price-range label {
    font-size: 0.8em; }
  .search-wrap .advanced-form {
    padding-right: 0; }
  .search-wrap .advanced-form .btn-green {
    position: relative;
    width: inherit;
    right: 0;
    top: 0;
    width: calc(100% - 30px);
    margin: 0 15px 20px; }
  .why,
  .info-text {
    padding: 0; }
  #content .container {
    padding-top: 15px;
    padding-bottom: 30px; }
  .why h2 {
    margin-bottom: 14px; }
  #content h2 + p, .featured-video h3 + p {
    font-size: 0.9em; }
  .dealer .dealer-form-wrap .form-item {
    width: 100%;
    padding: 0;
    max-width: none; }
  .dealer .dealer-form-wrap .form-item + .form-item {
    margin-top: 10px; }
  .dealer .dealer-result ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; }
  .rental .button-wrap {
    margin-top: 20px; }
  .main-news {
    min-height: inherit; }
  .main-news .news-detail {
    width: 100%;
    top: inherit;
    position: relative; }
  .news-item {
    font-size: 1.2em; }
  .info-text p {
    line-height: 1.5; }
  .manufacturer .car-logos {
    width: 100%;
    padding: 0 20px; }
  .manufacturer .car-logos li {
    min-height: inherit;
    height: 136px; }
  .manufacturer .car-logos .logos-row li:nth-child(2n + 1) {
    border-left: none !important; }
  .manufacturer .car-logos .logos-row li {
    border-top: 1px solid #1dd2a1; }
  .manufacturer .car-logos .slick-next,
  .manufacturer .car-logos .slick-prev {
    margin-top: -22px; }
  .dealer .dealer-form-wrap {
    max-width: 100%; }
  /*.slick-prev, 
	.slick-next {
		margin-top: -22px;
	}*/
  .dealer .dealer-result .slick-prev,
  .manufacturer .car-logos .slick-prev {
    left: 0; }
  .dealer .dealer-result .slick-next,
  .manufacturer .car-logos .slick-next {
    right: 0; }
  .manufacturer .car-logos .slick-disabled {
    opacity: 0; }
  .manufacturer .car-logos .logos-row li {
    width: 50%; }
  .manufacturer .car-logos .logos-row li:first-child,
  .manufacturer .car-logos .logos-row li:nth-child(2) {
    border-top: 0 !important; }
  .manufacturer .car-logos .slick-dots {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 25px; }
  .manufacturer .car-logos .slick-dots li {
    border: none;
    height: inherit;
    padding: 0 10px;
    display: inline-block;
    float: none; }
  .manufacturer .car-logos .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #fff;
    outline: none;
    background: #fff;
    padding: 0; }
  .manufacturer .car-logos .slick-dots .slick-active button {
    background: transparent; }
  .news-list {
    margin-top: 25px; }
  .featured-video .video-thumbs a:before {
    border-width: 10px;
    top: -1px; }
  .featured-video #mobile-title {
    margin-bottom: 25px; }
  .info-text h5 {
    font-size: 0.90em; }
  /***** Inventory ***/
  .inner-page .inner-page-top + .row {
    margin-top: 0; }
  .inner-page .inner-page-top {
    padding-right: 0; }
  .inner-page .inner-page-top .btn {
    top: -2px; }
  .result-sorting {
    background: transparent;
    padding-top: 0;
    padding-bottom: 0; }
  .result-sorting .show-count {
    margin-right: 30px; }
  .result-filters li {
    width: 100%; }
  .result-filters li + li {
    padding-left: 0;
    margin-top: 15px; }
  .result-filters a {
    width: 100%; }
  .result-container .item-filter-detail .dealer-name {
    width: auto; }
  .result-container.view-list .result-item {
    display: inline-block; }
  .result-container .item-logos,
  .result-container .result-item .marker,
  .item-filter-detail li > span:not([class='rates-count']) {
    display: none; }
  .result-container .stars-wrap {
    height: 12px; }
  .result-container .stars-wrap .star {
    width: 10px;
    height: 10px;
    background-size: auto 10px;
    float: left; }
  .result-container.view-list .item-img {
    min-width: 100%;
    margin-bottom: 20px;
    padding-right: 0; }
  .result-container .img-wrap,
  .result-container.view-grid .img-wrap {
    width: auto;
    max-height: inherit;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px; }
  .result-container.view-list .item-desc {
    max-width: 100%;
    width: 100%; }
  .result-container.view-list .item-title h6 {
    width: 100%; }
  .result-container.view-list .item-filter-detail {
    width: 60%; }
  .result-container.view-list .item-filter-detail ul {
    clear: left;
    float: left;
    max-width: inherit;
    width: 100%;
    padding-right: 0; }
  .result-container.view-list .price-detail {
    margin-top: -5px; }
  .price-detail .price {
    font-size: 1.2em; }
  .price-detail .badge {
    font-size: 0.6em; }
  .price-detail .fee {
    font-size: 0.8em; }
  .filters-wrap .title .reset,
  .result-sorting .show-count,
  .result-sorting .view {
    display: none; }
  .result-sorting .sort-by {
    float: left; }
  #content.inner-page h2 {
    font-size: 1em; }
  #content.inner-page h2 .change-link {
    font-size: 0.65em; }
  .result-container .result-item h6 + p,
  .result-container .item-filter-detail li {
    font-size: 0.9em; }
  .filters-wrap .filter-row.zip-input .dropdown-toggle .filter-option {
    line-height: 40px; }
  /*.filters-wrap .filter-row input[type=submit] {
		float: right;
		max-width: 50%;
	}*/
  /*----- detailed page ---*/
  #content .detail-page-top h1 {
    text-align: center; }
  #content .detail-page-top h1 span {
    display: inline !important; }
  .dealer-details h3 {
    font-size: 1.3em; }
  .car-photos .main-photo-slider-wrap {
    width: 100%; }
  .mobile-request-form a:hover,
  .detailed-page a:hover {
    text-decoration: none; }
  .detail-page-top,
  #content .detail-page-top h2 {
    margin-bottom: 0; }
  .car-photos {
    padding: 0;
    border-width: 4px;
    border-style: solid; }
  .main-photo-slider,
  .main-photo-slider .slick-slide {
    height: inherit; }
  .request-detail .main-photo-slider img {
    width: 100%; }
  .dealer-info .dealer-info-list {
    width: 100%;
    margin-top: 10px; }
  .listing-summary {
    padding-bottom: 20px;
    border-width: 2px; }
  .listing-summary ul li,
  .dealer-info li {
    width: 100%;
    border-top: 1px solid #d2dbe0;
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 5px;
    background: #fff; }
  .listing-summary ul li:last-child,
  .dealer-info li:last-child {
    border-bottom: 1px solid #d2dbe0; }
  .dealer-info li {
    padding-left: 35px; }
  .listing-summary ul li {
    padding-left: 5px; }
  .listing-summary h6 {
    display: inline-block;
    font-size: 0.85em;
    font-weight: 600;
    width: 35%; }
  .listing-summary ul li span {
    display: inline;
    width: inherit; }
  .dealer-info li {
    padding-top: 10px;
    padding-bottom: 10px; }
  .dealer-info li > i {
    top: 12px;
    font-size: 1.2em;
    left: 10px; }
  .accordion-content .drop-wrap {
    padding: 0 10px; }
  .accordion-content .drop-wrap .drop-btn {
    font-size: 0.9em; }
  .accordion-content .drop-wrap .drop-btn:after {
    right: -2px; }
  .mobile-hide {
    display: none; }
  .read-btn:hover {
    text-decoration: none; }
  .detailed-page .price-detail {
    float: none;
    display: inline-block;
    border-bottom: 2px solid #2c3e50; }
  .request-detail .rates {
    border-bottom: none;
    margin-bottom: 0;
    font-size: 1em; }
  .detailed-page .price-detail,
  .detailed-page .visible-xs .view-phone {
    padding: 15px 0;
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    margin-top: 10px; }
  .detailed-page .visible-xs .view-phone {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    padding: 0;
    border: 1px solid #999; }
  .detailed-page .btn.btn-green,
  .detailed-page .visible-xs .view-phone {
    line-height: 40px; }
  .detailed-page .btn.btn-green {
    width: 100%;
    font-size: 1em;
    border-radius: 3px;
    margin-top: 10px; }
  .detailed-page .listing-summary,
  .detailed-page .dealer-info {
    border-bottom: 2px solid #2c3e50; }
  .detailed-page .dealer-info,
  .detailed-page .chart-wrap {
    border-top: 2px solid #2c3e50; }
  .detailed-page .price-detail .price {
    font-size: 1.6em; }
  .detailed-page .price-detail .fee {
    font-size: 1em; }
  .dealer-info a,
  .detailed-page .price-detail a,
  .detailed-page .view-phone em {
    display: block; }
  .detailed-page .dealer-info {
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px; }
  .detailed-page .dealer-info .rates {
    position: absolute;
    top: 30px;
    right: 0; }
  .detailed-page .accordion-content h6 {
    font-size: 0.9em; }
  .detailed-page .listing-summary h6 {
    font-weight: 700; }
  .detailed-page .listing-summary span {
    font-size: 0.9em; }
  .request-detail .slick-prev,
  .request-detail .slick-next {
    opacity: 1; }
  .request-detail .slick-prev:before,
  .request-detail .slick-next:before {
    font-size: 24px;
    color: #fff; }
  .mobile-socials {
    margin-top: -45px;
    float: right;
    position: relative;
    z-index: 5;
    width: 90px; }
  .mobile-socials .share-btn,
  .mobile-socials .like-btn {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #fff;
    display: inline-block;
    float: left;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #1f2f3e; }
  .mobile-socials .like-btn {
    position: relative;
    margin-left: 5px; }
  .mobile-socials .like-btn:after {
    content: "\f004";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 40px;
    opacity: 0;
    transition: all 0.3s; }
  .liked .mobile-socials .like-btn:after {
    opacity: 1;
    color: #ef1b61; }
  .mobile-networks {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    bottom: -100%;
    left: 0;
    right: 0;
    padding: 35px 20px 20px;
    text-align: center;
    transition: all 0.3s;
    z-index: 999; }
  .mobile-networks.visible {
    bottom: 0;
    transition: all 0.3s; }
  .mobile-networks .close-btn {
    color: #fff;
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 1.2em; }
  .mobile-networks .jssocials-share {
    width: 100%;
    margin-left: 0; }
  .mobile-networks .jssocials-shares .jssocials-share-link {
    line-height: 36px;
    height: 42px;
    width: 100%; }
  .mobile-networks-over {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 998;
    display: none; }
  .mobile-networks-over.visible {
    display: block; }
  .mobile-request-form .modal-content {
    padding: 20px; }
  .mobile-request-form .drop-content {
    display: none; }
  .mobile-request-form .btns-wrap {
    overflow: hidden; }
  .mobile-request-form .btns-wrap .btn {
    border-radius: 3px;
    padding: 0;
    width: 100%; }
  .detailed-page .view-phone {
    color: #2c3e50; }
  .mobile-request-form .close-modal {
    float: right;
    margin-top: -10px; }
  /*----- single page ----*/
  .single-page-title {
    text-align: center;
    padding: 20px 15px; }
  .single-page .article p {
    margin-bottom: 25px; }
  .single-page h3 {
    text-transform: uppercase;
    font-weight: 600; }
  #search-side-btn {
    position: absolute;
    top: 23px;
    left: -47px;
    background: #1f2f3e;
    color: #fff;
    width: 70px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    display: inline-block;
    font-size: 0.875em;
    line-height: 1.75;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 3; }
  .single-page .filters-wrap {
    position: fixed;
    width: 280px;
    right: -280px;
    bottom: 0;
    background: #fff;
    z-index: 5;
    padding: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .single-page .filters-wrap.opened {
    right: 0; }
  footer .btn {
    font-size: 0.90em;
    padding: 0 40px; } }

@media only screen and (max-width: 568px) {
  .search-wrap .advanced-options .price-range label {
    font-size: 0.75em; } }

@media only screen and (max-width: 479px) {
  .btn,
  .filters-wrap .filter-row.zip-input input {
    font-size: 13px;
    padding: 0 10px; }
  header .logo img {
    width: 175px; }
  header .mobile-btn {
    margin-top: 8px; }
  .search-wrap .nav-tabs span {
    display: none; }
  .search-wrap .nav-tabs li + li {
    padding-left: 0;
    padding-right: 20px; }
  .search-wrap .advanced-options .body-styles ul {
    margin-left: -5px;
    margin-right: -5px; }
  .search-wrap .advanced-options .price-range ul {
    margin-left: -10px;
    margin-right: -10px; }
  .body-styles .car {
    -webkit-transform: scale(0.65);
    transform: scale(0.65); }
  .dealer .dealer-result ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }
  .result-container > div {
    margin-top: 0; }
  .main-video iframe {
    height: 220px; }
  .news-list,
  .rental-carscars {
    margin-top: 25px; }
  .news-item .news-desc {
    font-size: 0.675em;
    line-height: 1.5; }
  .rental-cars-item {
    padding-left: 110px; }
  .dealer-pagination .slick-dots li {
    width: 34px; }
  .dealer-pagination button {
    width: 30px;
    height: 30px; }
  .dealer-pagination .pag-prev,
  .dealer-pagination .pag-next {
    line-height: 28px; }
  .featured-video p + ul li + li {
    margin-top: 10px; }
  .featured-video p + ul a {
    font-size: 0.8em;
    margin-left: 5px; }
  .featured-video i {
    position: relative;
    top: -1px; }
  .featured-deals .slick-slide {
    padding-left: 25px;
    padding-right: 25px; }
  /**** Inverntory ***/
  #content.inner-page h2 {
    font-size: 0.9em;
    line-height: 2em; }
  .inner-page .inner-page-top .btn {
    top: 1px; }
  .filters-wrap {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; }
  .filters-wrap h5 {
    font-size: 0.8em; }
  .result-sorting {
    margin-top: 0; }
  .result-sorting select {
    font-size: 0.9em; }
  .result-pagination a,
  .result-pagination span {
    font-size: 0.7em;
    line-height: 25px;
    padding: 0 7px; }
  .result-container .col-xs-6 {
    width: 100%; }
  .result-container.view-list .item-filter-detail {
    width: 100%; }
  .result-container.view-list .price-detail {
    margin-top: -38px; } }

@media only screen and (max-width: 320px) {
  .search-wrap .advanced-options .body-styles ul {
    margin-left: -5px;
    margin-right: -16px; } }

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .single-page .filters-wrap .filter-row .dropdown-toggle,
  .single-page .filters-wrap .filter-row.zip-input input {
    height: 30px;
    line-height: 30px; }
  .single-page .filters-wrap .filter-row.zip-input .dropdown-toggle .filter-option {
    line-height: 32px; } }

@media only screen and (min-width: 992px) {
  .filters-wrap .filter-item-body,
  .filters-wrap .filters-body {
    display: block !important;
    height: inherit !important; } }
