.font-awesome {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

.absolute-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.single-page .article p {
  margin-bottom: 25px; }

.single-page .article > div:not(.article-banner) {
  padding-top: 20px;
  display: inline-block;
  width: 100%; }
  .single-page .article > div:not(.article-banner).article-banner,
  .single-page .article > div:not(.article-banner).article-banner + div {
    padding-top: 0; }

.single-page .article-banner {
  background: none;
  padding: 0; }
  .single-page .article-banner h3 {
    padding: 15px; }
  .single-page .article-banner img {
    width: 22%;
    min-width: 22%; }

.single-page .qa-wrap p:last-child {
  margin-bottom: 0; }

.single-page .qa-wrap strong {
  display: block; }
