@import 'variables.scss'; 

#login-form {
	display: none;
}

.authentication-form-wrap {
	background: #fff; 
	padding: 40px;
	font-family: $monserrat-font-family;

	a {
		text-decoration: underline;
	}
	p.form-group a {
		text-decoration: none;
	}

	.form-title {
		padding: 0 15px 20px;
		h3 {
			float: left;
			margin-bottom: 0; 
			font-weight: 400;
		}
		p {
			float: right;
			font-size: 0.875em;
			line-height: 2;
			font-weight: 500;
		}
		a {
			color: #337ab7;
		}
	}
	form {
		p {
			font-size: 0.75em;
			color: #777777;
			text-transform: uppercase;
		}
	}
	.or {
		position: relative;
		text-align: center;
		margin-top: 30px;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			border-top: 1px solid #ccc;
		}
		span {
			display: inline-block;
			padding: 0 20px;
			background: #fff;
			position: relative;
			z-index: 2;
		}
	}
	.sign-social {
		text-align: center;
		padding: 20px 0;
		a {
			width: 150px;
			line-height: 40px;
			color: #fff;
			font-size: 0.625em;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			display: inline-block;
			text-decoration: none;
			font-weight: 700;
			margin: 0 2px;
			&.fb {
				background: #225b99;
				&:hover {
					background: darken(#225b99, 10%);
				}
			}
			&.tw {
				background: #00adf2;
				&:hover {
					background: darken(#00adf2, 10%);
				}
			}
			&.google {
				background: #dc4d2d;
				&:hover {
					background: darken(#dc4d2d, 10%);
				}
			} 
			i {
				margin-right: 10px;
			}
		}
	}
	.checkbox-wrap,
	.checkbox-wrap span,
	.checkbox-wrap input {
		width: 22px;
		height: 22px;
	}
	.checkbox-wrap {
		margin-right: 5px;
		top: 6px;
		span {
			background: #eeeeee;
			border: none;
			
			&:after {
				line-height: 22px;
				color: $dark-blue-color;
				font-size: 18px;
			}
		}
		input:checked + .checkbox-icon {
			background: #eeeeee;
		}
	}
}