@import 'variables.scss'; 

.single-page h4 a {
	color: inherit;
}

.price-plans-wrap {
	display: inline-block;
	width: 100%;
	padding-bottom: 50px;
	.btn-order {
		background-color: #a1b1bc; 
		color: #fff;
		margin: 15px 0;
	}
	.plans-label,
	.plan-item {
		width: 25%;
		float: left;
		position: relative;
	}
	.plans-label {
		padding-top: 151px;
	}
	.plans-label li,
	.plan-content li {
		border-top: 1px solid #f8f8f8;
		min-height: 40px;
		padding: 0 7px;
		&:nth-child(2n) {
			background: #f8f8f8;
		}
	}
	.plans-label li,
	.plan-content li,
	.plan-icon-wrap {
		@extend .display-flex;
		-webkit-box-align: center;
		-webkit-align-items: center;	
		align-items: center;
	}
	.plan-content ul:not(.visible-xs) li,
	.plan-icon-wrap {
		text-align: center;
		-webkit-box-pack: justify;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.plan-item {
		border: 1px solid #fff;
		text-align: center;
		/*cursor: pointer;*/
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: -3px;
			bottom: 0;
			left: -3px;
			right: -3px;
			border: 2px solid $logo-green-color;
			opacity: 0;
		}
		&:hover {
			&:before {
				opacity: 1;
				z-index: 2;
			}
		}
		& + .plan-item {
			left: -1px;
			& + .plan-item {
				left: -2px;
			}
		}
		&.basic-plan {
			.plan-header {
				background: #2ecc71;
				.plan-icon {
					border-color: #27ae60;
					color: #27ae60;
				} 
				.plan-name {
					background: #27ae60;
				}
			}	
		}
		&.lead-plan {
			.plan-header {
				background: #3498db;
				.plan-icon {
					border-color: #2980b9;
					color: #2980b9;
				} 
				.plan-name {
					background: #2980b9;
				}
			}
		}
		&.monthly-plan {
			.plan-header {
				background: #e74c3c;
				.plan-icon {
					border-color: #c0392b;
					color: #c0392b;
				} 
				.plan-name {
					background: #c0392b;
				}
			}
		}
		.plan-header {
			//background: url(../img/car-dealer-plan-header-bg.jpg) no-repeat 50% 0;
			background-size: cover;
			height: 150px;
			position: relative;
			.plan-icon-wrap {
				width: 100%;
				height: 120px;
				.plan-icon {
					width: 80px;
					height: 80px;
					border-radius: 40px;
					background: #fff;
					border-width: 2px;
					border-style: solid;
					text-align: center;
					line-height: 76px;
					font-size: 30px;
				}
			}
			.plan-name {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				color: #fff;
				padding: 5px 10px;
				z-index: 2;
				font-size: 0.875em;
				font-family: $monserrat-font-family;
				letter-spacing: 0.1em;
			} 
		}
	}
}