@import "variables.scss";
@import "filters-new.scss";

/*--- animations ---*/

@-webkit-keyframes changeBgColor {
    50% {
      background-color: $pink-color
    }
    51% {
      background-color: $logo-green-color
    }
    100% {
      background-color: $logo-green-color
    }
} 
@-moz-keyframes changeBgColor {
    50% {
      background-color: $pink-color
    }
    51% {
      background-color: $logo-green-color
    }
    100% {
      background-color: $logo-green-color
    }
} 
@-ms-keyframes changeBgColor {
    50% {
      background-color: $pink-color
    }
    51% {
      background-color: $logo-green-color
    }
    100% {
      background-color: $logo-green-color
    }
} 
@keyframes changeBgColor{
    50% {
      background-color: $pink-color
    }
    51% {
      background-color: $logo-green-color
    }
    100% {
      background-color: $logo-green-color
    }
} 

@-webkit-keyframes changeBgColorGrid {
    50% {
      background-color: $logo-green-color
    }
    51% {
      background-color: $pink-color
    }
    100% {
      background-color: $pink-color
    }
} 
@-moz-keyframes changeBgColorGrid {
    50% {
      background-color: $logo-green-color
    }
    51% {
      background-color: $pink-color
    }
    100% {
      background-color: $pink-color
    }
} 
@-ms-keyframes changeBgColorGrid {
    50% {
      background-color: $logo-green-color
    }
    51% {
      background-color: $pink-color
    }
    100% {
      background-color: $pink-color
    }
} 
@keyframes changeBgColorGrid {
    50% {
      background-color: $logo-green-color
    }
    51% {
      background-color: $pink-color
    }
    100% {
      background-color: $pink-color
    }
}

#content.inner-page {
  .container {
    padding-top: 15px;
  }
}

#back-top {
  background: $logo-green-color; 
  width: 50px;
  height: 50px;
  @include border-radius(25px);
  position: fixed;
  right: 20px;
  bottom: 20px;  
  z-index: 1000;
  color: #fff;
  text-align: center;
  line-height: 46px;
  display: none;
  cursor: pointer; 
  font-size: 1.2em; 
  opacity: 0;
}

.inventory-top-dealer {
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
  line-height: 2;
  p {
    font-size: .875em;
  }
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .dealer-logo {
    float: left;
    background: #fff;
    text-align: center;
    margin-right: 10px;
    width: 200px;
    height: 135px;
    line-height: 115px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #e9eaeb;
    img {
      max-height: 100%;
      width: auto;
    }
  }
  .rates-count {
    color: #859dac;
  }
  > div {
    float: left;
    width: 30%;
    &.inventory-dealer-detail {
      width: 40%;
    }
    &.inventory-dealer-contact {
      padding-top: 35px;
    }
  }
  p {
    margin-bottom: 0;
  }
  .drop-wrap {
    @media only screen and (min-width: 768px) {
      padding-left: 17px;
    }
  } 
  .drop-content {
    margin-bottom: -5px;
    line-height: 1.75;
    display: none;
  }
  .drop-btn {
    font-size: .875em;
    i {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
  .content-opened {
    .drop-btn {
      i {
        @include transform-rotate (-90deg);
      }
    }
  }
  i {
    margin-right: 3px;
    width: 12px;
    text-align: center;
  }
}

.inventory-cpo-program {
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
  line-height: 2;
  cursor: pointer;
  &:hover {
    .btn {
      background: darken($logo-green-color, 10%);
    }
  }
  .cpo-program-logo {
    float: left;
    background: #acacac;
    text-align: center;
    margin-right: 10px;
    width: 200px;
    height: 135px;
    line-height: 135px;
    padding: 10px;
  }
  .btn {
    float: right;
    padding-right: 15px;
    padding-left: 15px;
  }
  p {
    font-size: 0.9em;
  }
}

.result-sorting {
  color: #9c9c9c;
  display: inline-block;
  width: 100%;
  font-size: 0.875em;
  font-family: $monserrat-font-family;
  .view {
    float: left;
    margin-right: 20px; 
    margin-top: 14px;
    .fa-list {
      margin-left: 5px;
    }
    a {
      color: #9c9c9c;
    }
    span {
      color: #333;
    }
  }
  .text {
    display: inline-block;
    padding-top: 14px;
  }
  .sort-by,
  .show-count { 
    color: #333;
    float: right;
    background-color: #fff;
    padding: 7px 15px;
    label {
      margin-bottom: 0;
    }
    select {
      border: none;
      background: #fff url(../img/sorting-select-bg.png) no-repeat 100% 50%;
      padding-right: 15px;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      outline: none !important;
      appearance: none!important; 
      &::-ms-expand {
          display: none;
      }
    }
  }
  .show-count {
    margin-right: 10px;
  }
}

.result-container {
  font-family: $monserrat-font-family;
  margin-top: -5px;
  h3 {
    font-weight: 500;
  }
  strong {
    font-weight: 400;
  }
  .result-item {
    @include border-radius(4px);
    background-color: #fff;
    margin-top: 15px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    position: relative;
    cursor: pointer;
    &.liked {
      .like {
        color: #ef1b61;
      }
    }
  }
  a {
    color: $blue-new-color;
    &:not(.btn):hover {
      text-decoration: none;
      color: darken($blue-new-color, 10%);
    }
  }
  .sub-title {
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 7px;
  }
  p {
    font-size: 0.875em;
    margin-bottom: 0;
    line-height: 1.3;
  }
  .dealer-info {
    text-align: right;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 0.875em;
    max-width: 200px;
    span {
      display: block;
      
    }
    .point-inspection {
      display: inline-block;
      img {
        width: 75px;
      }
      &:hover {
        box-shadow: 0 10px 10px -9px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
    }
    img {
      margin-right: 5px;
      position: relative;
      top: -2px;
      &.carfax-logo {
        width: 75px;
        margin-top: 10px;
        margin-right: 0;
      }
    }
    a {
      color: $logo-green-color;
      &:hover {
        color: darken($logo-green-color,10%);
      }
    }
  }
  .item-img {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    .photos,
    .like {
      position: absolute;
      bottom: 5px;
      color: rgba(255,255,255,0.5);
    }
    .photos {  
      left: 10px;
    }
    .like {
      right: 10px;
      font-size: 1.1em;
      cursor: pointer;
    }
  }
  .item-desc {
    position: relative;
  }
  .item-text {
    padding-right: 200px; 
  }
  .buttons-wrap {
    float: right;  
  }
  .btn,
  .price {
    @include border-radius(3px);
  }
  .links-wrap {
    width: 100%;
    @extend .display-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: -5px;
    a {
      margin-top: 10px;
      font-size: 0.875em;
      color: $logo-green-color;
      &:hover {
        color: darken($logo-green-color,10%);
      }
    }
  }
  &.view-list {
    .result-item {
      @extend .display-flex;
      -webkit-box-pack: flex-end;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      &:after {
        content: "Featured";
        color: #fff;
        background-color: $pink-color;
        @include border-radius(0 0 4px 4px);
        @include transform-rotate(-90deg);
        line-height: 25px;
        height: 25px;
        width: 108px;
        padding: 0 15px;
        display: inline-block;
        position: absolute;
        right: -67px;
        top: 40px; 
        z-index: 2;
        opacity: 0;
        font-size: 0.9em;
        text-transform: uppercase; 
      }
      &.featured {
        border: 2px solid $pink-color;
        &:after {
          opacity: 1;
        }
      }
    }
    .item-img {
      position: absolute;
      overflow: hidden; 
      top: 0;
      bottom: 0;
      left: 0;
      @media only screen and (max-width: 767px) {
        position: relative;
      }
      img {
        width: 100%;
        height: 100%;
        max-width: inherit;
        object-fit: cover;
        /*@media only screen and (min-width: 768px) and (max-width: 1199px) {
          height: 100%;
          max-width: inherit;
          -webkit-transform: translate(-3%, 0);
          -moz-transform: translate(-3%, 0);
          -ms-transform: translate(-3%, 0);
          transform: translate(-3%, 0);
        }*/
      }
    }
    .item-desc {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .buttons-wrap {
      margin-top: 15px;
      text-align: right;
      width: 100%;
      @extend .display-flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      .btn {
        padding: 7px 10px;
        min-width: 140px;
        font-size: 1.1em;
        text-transform: none; 
        &.btn-red {
          background-color: $pink-color;

          -webkit-animation-name: changeBgColor;
          -webkit-animation-duration: 2s;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: alternate;
          
          -moz-animation-name: changeBgColor;
          -moz-animation-duration: 2s;
          -moz-animation-iteration-count: infinite;
          -moz-animation-direction: alternate;
          
          -ms-animation-name: changeBgColor;
          -ms-animation-duration: 2s;
          -ms-animation-iteration-count: infinite;
          -ms-animation-direction: alternate;

          animation-name: changeBgColor;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }
      }
      .price-wrap {
        position: relative;
        display: inline-block;
        div.btn {
          background-color: $pink-color;
          color: #fff;
          cursor: default;
        }
        .additional-price {
          position: absolute;
          right: 0;
          bottom: 100%;
        }
      }
      .price {
        //position: absolute;
        //right: 0;
        //text-align: center;
        //top: -35px;
        color: #333;
        font-size: 1.3em;
        padding-left: 2px;
        padding-right: 2px;
        &.old {
          position: relative;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            border-top: 2px solid $logo-green-color;
            @include transform-rotate(-4deg);
          }
        }
        
        &.price-estimate {
          font-size: 0.95em;
          //top: -25px;
          display: block;
          white-space: nowrap;
        }
      }
      p { 
        max-width: 220px;
        text-align: left;
        margin-bottom: -2px;
      }
    }
  }
  &.view-grid {
    padding-top: 5px;
    @media only screen and (min-width: 992px) {
      margin-left: -6px;
      margin-right: -5px;
    }
    h4 {
      text-transform: none;
    }
    p {
      font-size: 0.75em;
      margin-top: 3px;
    }
    .year {
      border: 1px solid;
      @include border-radius(1px);
      padding: 0 5px;
    }
    .result-item {
      margin-right: -10px;
      margin-left: -10px;
      margin-top: 10px;
      &:before {
        content: "Featured";
        color: #fff;
        background-color: $logo-green-color;
        @include border-radius(4px 0 4px 0);
        line-height: 25px;
        padding: 0 8px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        opacity: 0;
      }
      &.featured {
        &:before {
          opacity: 1;
        }
      }
    }
    .item-img {
      @include border-radius(4px 4px 0 0);
      overflow: hidden;
      img {
        width: 100%;
      }
      .like,
      .photos {
        font-size: 0.813em;
      }
    }
    .item-desc {
      padding: 7px;
      overflow: hidden; 
    }
    .buttons-wrap {
      width: 100%;
      margin-top: 5px;
      .btn.btn-light-green {
        background-color: $logo-green-color;  

        -webkit-animation-name: changeBgColorGrid;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
         
        -moz-animation-name: changeBgColorGrid;
        -moz-animation-duration: 2s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-direction: alternate;
        
        -ms-animation-name: changeBgColorGrid;
        -ms-animation-duration: 2s;
        -ms-animation-iteration-count: infinite;
        -ms-animation-direction: alternate;

        animation-name: changeBgColorGrid;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
    .btn {
      width: 100px;
      padding: 2px 0;
      text-transform: none;
      font-size: 1em;
    }
    .price {
      float: right;
      line-height: 30px;
      position: relative;
      font-size: 1.1em;
      .old-price {
        position: absolute;
        color: #9c9c9c;
        top: -17px;
        right: 5px;
        line-height: 1;
        font-size: 0.875em;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          border-top: 2px solid;
          @include transform-rotate(-4deg);
        }
      }
    }
    .saled {
      .btn {
        display: none;
      }
      .price {
        background-color: $logo-green-color;
        color: #fff; 
        padding: 0 7px;
      }
    }
  }
}

.result-pagination {
  font-family: $monserrat-font-family;
  text-align: center;
}
.result-pagination a {
  border: 1px solid transparent;
}
.result-pagination .previous a,
.result-pagination .next a {
  color: $logo-green-color;
  border-color: $logo-green-color;
  background-color: #fff;
  &:hover {
    color: #fff;
  }
}
.result-pagination a:hover, 
.result-pagination a.curent-page {
  background-color: $logo-green-color;
  border-color: $logo-green-color;
}
.result-pagination i {
  font-size: 1em;
  top: 0;
}


/******* TABLET *******/

@media only screen and (max-width: 1199px) {
  .result-sorting .sort-by, 
  .result-sorting .show-count {
    font-size: 0.875em;
    padding-right: 7px;
    padding-left: 7px;
  }

  .result-container.view-list .buttons-wrap {
    margin-top: 10px;
  }
  .result-container.view-list .buttons-wrap p {
    max-width: 150px;
  }
  .result-container.view-list .buttons-wrap .btn {
    min-width: 120px;
    font-size: 0.875em;
    padding: 6px 8px;
  }
  .result-container.view-list .buttons-wrap .btn .old-price {
    top: -25px;
  }
}

@media only screen and (max-width: 991px) {

  .result-wrap .result-sorting {
    text-align: right;
    .btn {
      @include border-radius(3px);
      margin-right: 5px;
    }
    .sort-by {
      margin-right: 0;
      margin-left: 5px;
      font-size: 1em;
      select {
        font-weight: 400;
        text-transform: none;
      }
    }
  }

  .result-container.view-list .result-item:after {
    line-height: 15px;
    height: 15px;
    font-size: 0.813em;
    top: 45px;
    right: -62px;
  }

  .result-container.view-grid {
    padding-right: 10px;
    padding-left: 10px;
  }

  .result-container.view-grid .btn {
    font-size: 0.9em;
  }

  .exclusive-price-modal .modal-content {
    padding: 15px;
  }

  .exclusive-price-modal .contact-dealer-form p {
    font-size: 1em;
  }

  .dealer-form-fields input:not(.btn) {
    padding-left: 10px;
    padding-right: 10px;
  }

  .inner-page .filters-wrap #filters, 
  .inner-page .filters-wrap #search {
    right: 0;
    left: 0;
    display: none;
  }
}

/****** MOBILE ******/
@media only screen and (max-width:767px) {
  #back-top {
    opacity: 1;
  }
  .inner-page {
    .inner-page-top,
    .result-sorting {
      h2 {
        text-transform: none; 
        font-weight: 400;
      }
      input.zip-input-single {
        @include border-radius(0);
        /*padding: 0 5px 0 37px;
        width: 94px; */ 
        color: $dark-blue-color;
        width: 74px;
        text-align: center;
        padding: 0;
        height: 30px;
      }
      .zip-label-single {
        position: relative;
        font-weight: 400;
        border: 2px solid #167609; 
        border-radius: 2px;
        /*&:before {
          content: "zip:";
          position: absolute;
          padding-left: 5px;
          line-height: 35px;
        }*/
      }
      .zip-form-single {
        display: none;
        float: left;
        input.zip-input-single {
          width: 60px; 
          height: 29px;
          font-size: 13px;
        }
      }
      &.affix {
        .zip-form-single {
          display: inline-block;
        }
      }
    }

  }

  .inner-page .result-wrap .result-sorting  {
    &.affix {
      background-color: #fff;
      z-index: 999;
      padding: 5px 15px;
      top: 0;
      left: 0;
      .sort-by {
        select {
          padding-left: 0;
        }
      }
    }
    .sort-by {
      padding: 0;
      float: right;
      select {
        border: none;
        padding: 0 15px 0 10px;
        line-height: 34px;
        background-position: 93% 50% !important;
      }
    }
    .btn {
      height: inherit;
      float: left;
      line-height: 29px;
      width: 100px;
      padding: 0;
      text-align: center;
    }
  }

  .result-container {
    h3 {
      font-size: 1.4em;
      margin-bottom: 5px;
    }
    .btn {
      height: inherit;
      line-height: 1.2;
    }
  }
  .result-container .sub-title {
    .price {
      min-width: 130px;
      text-align: center;
      strong {
        font-size: 1em;
        font-weight: bold;
      }
      em {
        display: block;
      }
    }
  }
  .saled {
    .sub-title .price {
      display: none;
    }
  }
  .result-container.view-grid p {
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .result-container.view-list {
    .result-item {
      width: 100%;
      &.featured {
        border: none;
      }
      &:after {
        @include transform-rotate(0);
        @include border-radius(3px 0 3px 0);
        right: auto;
        top: 0;
        left: 0;
        height: inherit;
        line-height: 25px;
        background-color: $logo-green-color
      }
      .price-wrap {
        .price {
          display: none;
        }
      }
    }
    .item-img {
      padding-left: 0;
      margin-bottom: 0 !important;
    }
  } 

  .result-container .item-text {
    padding-right: 0;
  }
  .result-container.view-list .buttons-wrap {
    display: inline-block; 
    > div {
      width: 100%;
    }
    .btn {
      min-width: 130px;
    }
  }
  .result-container .links-wrap {
    display: none;
    //display: block;
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;
    width: auto;
    a {
      display: inline-block !important;
      margin-left: 9px;
      margin-right: 9px;
    }
  }

  .result-container.view-grid .item-img .like,
  .result-container .item-img .like {
    font-size: 1.5em; 
    line-height: 1;
  } 
  .result-container.view-grid .item-img .like,
  .result-container .item-img .like {
    padding: 10px;
    right: 5px;
    bottom: 0;
  }
  .result-container.view-grid .item-img .photos {
    font-size: 1em;
  }

  .result-container.view-list .item-desc {
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 479px) {
  #content.inner-page .inner-page-top h2 {
    font-size: 0.8em;
  }
  .inner-page .inner-page-top .zip-label-single {
    float: right;
    top: -2px;
  }
  .inner-page .inner-page-top input.zip-input-single {
    height: 23px;
    width: 60px;
  }
  .inner-page .result-sorting .zip-form-single {
    input.zip-input-single {
      height: 22px;
    }
  }
  .inner-page .result-wrap .result-sorting {
    .sort-by {
      select {
        font-size: 0.75em;
        line-height: 24px;
        height: 24px;
        width: 122px;
        min-width: 50px;
      }
    }
    .btn {
      font-size: 0.75em;
      width: 70px;
      line-height: 22px;
    }
  }

  .result-container .sub-title {
    font-size: 0.813em;
    margin-top: 8px;
    margin-bottom: 3px;
    .price {
      min-width: 112px;
      text-align: right;
    }
  }

  .result-container .links-wrap {
    a {
      font-size: 0.813em;
    }
  }
  .result-container.view-list .buttons-wrap {
    margin-top: 5px;
  }
  .result-container.view-list .buttons-wrap .btn {
    min-width: 122px;
    font-size: 0.813em;
    height: 31px;
    &.btn-white-green {
      float: left;
    }
  }
  .result-container.view-list .buttons-wrap .btn .old-price {
    top: -22px;
  }
}

@media only screen and (max-width: 320px) {
  .inner-page .result-wrap .result-sorting {
    .btn {
      width: 60px;
      .fa {
        display: none;
      }
    }
    .zip-form-single {
      .zip-input-single {
        width: 50px;
      }
    }
    .sort-by select {
      width: 100px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .result-sorting.affix {
    position: relative; 
  }
  .inner-page .result-wrap .result-sorting .zip-form-single {
    display: none;
  }
}