$main-font-family: 'Open Sans', sans-serif;
$monserrat-font-family: 'Montserrat', sans-serif;
$main-text-color: #2c3e50; 
$manufacturer-color: rgb(26,188,144);
$dealer-color: rgb(30,139,195);
$rental-color: rgb(243,156,18);
$black-color: rgb(0,0,0);
$blue-color: rgb(51,122,183);
$red-color: #ef584d;
$white-color: rgb(255,255,255);
$dark-blue-color: rgb(31,47,62); 
$light-green-color: #7bc200;
$light-grey-color: rgb(153, 153, 153);
$grey-color: rgb(145,158,167);
$logo-green-color: rgb(22,118,9);
$body-bg: #ECECEC; 

$light-red-color: rgb(248,66,59);
$blue-new-color: rgb(0,159,254);
$salad-color: rgb(27,147,55);
$pink-color: rgb(232,45,82);