@import 'default.scss';

/***** HEADER *****/

header {
	padding-top: 10px;
	padding-bottom: 10px;
	.container {
		position: relative;
	}
	.logo {
		@media screen and (min-width: 768px) {
		    display: inline-block;
		}
		@media screen and (min-width: 1200px) {
		    margin-bottom: -25px;
		}
	}
	.logo img {
		width: 270px;
		@media only screen and (min-width: 768px) and (max-width: 991px) {
			width: 200px;
		}
	}
	.menus-wrap {
		/*position: relative;*/
		padding-top: 20px;
		margin-bottom: -10px;
	}
	.menus-wrap,
	.menus-wrap ul {
		float: right;
		clear: right;
	}
	.menus-wrap li {
		float: left;
	}
	.menus-wrap a,
	.menus-wrap span,
	.saved-list .title {
		font-family: $monserrat-font-family;
    	text-transform: uppercase;
    	font-weight: 500;
    	letter-spacing: 0.04em;
	}
	.menus-wrap nav > ul > li > a,
	.menus-wrap nav span {
		font-size: 0.90em;
	}
	.top-menu {
		position: absolute;
		top: 0px;
		right: 0;
		> li + li {
			padding-left: 43px;
			position: relative;
			&:before {
				content: "|";
				position: absolute;
				top: 5px;
				left: 22px;
				color: #919ea7;
				font-size: 0.6em;
			}
		}
		a,
		span {
			color: $grey-color;
			font-size: 0.77em;
			cursor: pointer;
		}
		span {
			text-transform: none;
		}
	}
	nav {
		> ul {
			margin-top: 23px;
			> li + li {
				margin-left: 35px;
			}
		}
		a,
		span {
			color: $dark-blue-color;
			position: relative;
			line-height: 1;
			padding-bottom: 16px;
			display: block;
			cursor: pointer;
			&:hover,
			&:focus {
				text-decoration: none;
				color: inherit;
			}
		}
		a {
			&:after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 3px;
				background: $dark-blue-color;
				opacity: 0;
			}
			&:hover:after {
				opacity: 1;
			}
		}
	}
	.drop-wrap {
		position: relative;
		.drop-btn {
			&:after {
				content: '\f054';
				@include transform-rotate (90deg);
			    line-height: 18px;
			    font-size: 0.80em;
			    float: right;
			    position: relative;
			    margin-left: 10px;
			    top: -1px;
			}
		}
		.drop-content {
			display: none;
			position: absolute;
			top: 36px;
			left: 0;
			right: 0;
			z-index: 99;
			font-size: 0.90em;
			a {
				color: $dark-blue-color;
				display: block;
				&:hover {
					background-color: $dark-blue-color;
					color: #fff;
				}
			}
		}
	}
	nav {
		.drop-content {
			&:after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -8px;
				height: 10px;
			}
		}
	}
	.menus-wrap {
		.drop-main-menu {
			background: $white-color;
			li {
				width: 100%;
				a {
					line-height: 1.48;
					letter-spacing: 0;
					&:after {
						display: none;
					}
				}
			}
		}
	}
	.account-detail-list {
		&:after {
			content: "";
			display: inline-block;
			width:100%;
		}
		&.content-opened {
			.drop-btn {
				text-decoration: none;
			}
		}
		.drop-btn {
			&:after {
				top: 4px;
			}
		}
		.drop-content {
			top: 25px;
			background: #fff;
			border: 1px solid #d7d7d7;
			width: 175px;
			li {
				width: 100%;
				+ li {
					border-top: 1px solid #d7d7d7;
				}
			}
			a {
				position: relative;
				z-index: 5;
				font-size: 0.9em;
				font-weight: 400;
				padding: 15px 12px;
				&:hover {
					text-decoration: none;
				}
			}
		}

		/*em {
			@include border-radius(13px);
			color: $white-color;
			background: $logo-green-color;
			height: 25px;
			min-width: 25px;
			line-height: 24px;
			padding: 0 3px;
			margin: -8px 0;
			font-style: normal;
			display: inline-block;
			text-align: center;
			margin-left: 10px;
			font-size: 0.85em;
			position: relative;
			top: -1px;
		}*/
	}
	#google_translate_element {
		position: relative;
		padding-top: 2px;
		&:before {
			content: "";
			width: 20px;
			height: 20px;
			display: inline-block;
			background-image: url(../img/globe.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			float: left;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -10px;
			z-index: 1;
		}
	}
	.goog-te-gadget-simple {
		border: none !important;
	}
	.goog-te-gadget-simple img,
	.goog-te-menu-value img,
	.goog-te-menu-value span {
		display: none !important;
	}
	.goog-te-menu-value {
		padding-left: 23px;
		position: relative;
		line-height: 20px;
		display: inline-block;
		z-index: 2;
		> span:first-child {
			display: inline-block !important;
			text-transform: none;
			font-size: 14px;
		}
	}

}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
	header .menus-wrap {
		width: 100%;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	header .menus-wrap nav ul,
	header .menus-wrap nav ul li {
		float: none;
		display: inline-block;
	}
	header nav > ul > li + li {
		margin-left: 0;
	}
	header .menus-wrap nav > ul > li > a, 
	header .menus-wrap nav span {
		font-size: 0.65em;
		padding-bottom: 0;
		margin-bottom: 5px;
	}
	header nav .drop-wrap .drop-btn:after {
		top: -3px;
	}
	header .top-menu {
		top: 15px;
	}
	header .top-menu > li + li {
		padding-left: 15px;
		&:before {
			display: none;
		}
	}
	header .top-menu li a {
		font-size: 0.65em; 
	}
	header .menus-wrap nav a:after {
		display: none;
		
	}
}

@media only screen and (max-width: 767px) {
	header .top-menu > li + li:before {
		display: none;
	}
	header {
		.goog-te-gadget-simple {
			width: 100%; 
			> span {
				padding: 0 !important;
				border-bottom: none !important;
			}
		}
		.goog-te-menu-value {
			padding: 0 !important;
			margin-left: 0;
			margin-right: 0;
			> span:first-child {
				width: 100%;
				border-bottom: none;
			}
		}
		#google_translate_element {
			min-height: 20px;
			&:before {
				left: 15px;
			}
			span {
				padding: 0 !important;
			}
			.goog-te-menu-value {
				padding: 15px 15px 15px 40px !important;
			}
		}
	}
}


/*****  CONTENT *****/

#content {
	&.inner-page,
	&.detailed-page,
	&.border-top-page  {
		background: $body-bg;
		border-top: 1px solid rgb(216,216,217);
		h2 {
			text-align: left;
			.change-link {
				text-transform: none;
				font-family: $main-font-family;
				font-size: 0.5em;
				display: inline-block;
			}
		}
	}
	&.single-page {
		padding-top: 45px;
		padding-bottom: 90px;
		background: $body-bg;
		.container {
			padding-top: 30px;
		}
	}
	&.dashboard-content {
		padding-top: 0;
		padding-bottom: 0;
		.title-wrap	{
			.container {
				padding-top: 0;
				padding-bottom: 0;
				background: transparent;
			}
		}
	}
	.container {
		padding-top: 25px;
		padding-bottom: 55px;
	}
	h2 {
		text-align: center;
		& + p {
			text-align: center;
			font-size: 1em;
			line-height: 1.8;
			a {
				color: $white-color;
				text-decoration: underline;
			}
		}
	}

}

.dark-blue-bg,
.dark-blue-bg a {
	color: $white-color;
}

/* slider arrwos */
.slick-prev,
.slick-next {
	@include transform-translate(0, -50%);
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 23px;
    height: 46px;
    padding: 0;
    /*margin-top: -23px;*/
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 5;
}
.slick-prev {
	left: -50px;
}
.slick-next {
	right: -50px;
}
.slick-prev:before {
    content: '\f053';
}
.slick-next:before {
    content: '\f054';
}
.slick-prev:before,
.slick-next:before {
    font-size: 33px;
    line-height: 46px;
    opacity: .5;
    color: $white-color;
}
.slick-prev:hover:before,
.slick-next:hover:before {
	opacity: 1;
}

.car-logos {
	font-family: $monserrat-font-family;
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 100%;
	.logos-row {
		float: left;
		width: 100%;
		& + .logos-row li {
			border-top: 1px solid lighten($manufacturer-color, 5%);
		}
		li {
			float: left;
			& + li {
				border-left: 1px solid lighten($manufacturer-color, 5%);
			}
		}
	}
	a {
		padding: 15px 0 15px;
		text-align: center;
		height: 140px;
		position: relative;
		width: 100%;
		@extend .display-flex;
		-webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -webkit-flex-flow: column wrap;
    -webkit-box-orient: vertical;
		flex-direction: column;
		@media (max-width: 767px) {
			height: 136px;
		}
		&:hover {
			text-decoration: none;
		}
		&:hover:after {
			opacity: 0.5;
		}
	}
	.icon-wrap {
		@extend .display-flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		height: 66px;
		width: 100%;
		margin-bottom: 8px;
		img {
			max-height: 100%;
			width: auto;
		}
	}
	.logo-wrap {
		padding: 0 10px;
		height: 110px;
		@extend .display-flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		img {
			@media only screen and (max-width: 767px) {
				margin: 0 auto;
				max-height: 100%; 
			}
		}
	}
}

/* car logos */
.car-logos .icon {
	display: inline-block;
	background-image: url(../img/logos-sprite.png);
	background-repeat: no-repeat;
	-ms-transform: scale(0.75);
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
}
.icon.acura {
	width: 50px;
	height: 48px;
	background-position: 0 0;
}
.icon.audi {
	width: 59px;
	height: 22px;
	background-position: -52px 0;
}
.icon.bmw {
	width: 48px;
	height: 47px;
	background-position: -113px 0;
}
.icon.bulick {
	width: 50px;
	height: 49px;
	background-position: -163px 0;
}
.icon.cadillac {
	width: 51px;
	height: 47px;
	background-position: -215px 0;
}
.icon.chevrolet {
	width: 78px;
	height: 22px;
	background-position: -268px 0;
}
.icon.chrysler {
	width: 96px;
	height: 16px;
	background-position: -348px 0;
}
.icon.dodge {
	width: 99px;
	height: 14px;
	background-position: -446px 0;
}
.icon.fiat {
	width: 48px;
	height: 48px;
	background-position: -547px 0;
}
.icon.ford {
	width: 72px;
	height: 28px;
	background-position: -597px 0;
}
.icon.gmc {
	width: 68px;
	height: 16px;
	background-position: -671px 0;
}
.icon.honda {
	width: 42px;
	height: 38px;
	background-position: -741px 0;
}
.icon.hyundai {
	width: 59px;
	height: 31px;
	background-position: -785px 0;
}
.icon.infiniti {
	width: 56px;
	height: 28px;
	background-position: -846px 0;
}
.icon.jaguar {
	width: 72px;
	height: 26px;
	background-position: -904px 0;
}
.icon.jeep {
	width: 68px;
	height: 27px;
	background-position: -978px 0;
}
.icon.kia {
	width: 62px;
	height: 31px;
	background-position: -1048px 0;
}
.icon.land-rover {
	width: 62px;
	height: 33px;
	background-position: -1112px 0;
}
.icon.lexus {
	width: 49px;
	height: 35px;
	background-position: -1176px 0;
}
.icon.lincoln {
	width: 29px;
	height: 66px;
	background-position: -1227px 0;
}
.icon.mercedes {
	width: 43px;
	height: 43px;
	background-position: -1258px 0;
}
.icon.mini {
	width: 72px;
	height: 30px;
	background-position: -1303px 0;
}
.icon.mitsubishi {
	width: 46px;
	height: 40px;
	background-position: -1377px 0;
}
.icon.mazda {
	width: 50px;
	height: 40px;
	background-position: -1425px 0;
}
.icon.nissan {
	width: 46px;
	height: 40px;
	background-position: -1477px 0;
}
.icon.porsche {
	width: 30px;
	height: 39px;
	background-position: -1525px 0;
}
.icon.ram {
	width: 34px;
	height: 36px;
	background-position: -1557px 0;
}
.single-page .icon.ram {
	background-position: -1845px 0;
}
.icon.scion {
	width: 53px;
	height: 37px;
	background-position: -1593px 0;
}
.icon.subaru {
	width: 56px;
	height: 31px;
	background-position: -1648px 0;
}
.icon.toyota {
	width: 54px;
	height: 34px;
	background-position: -1706px 0;
}
.icon.volkswagen {
	width: 36px;
	height: 37px;
	background-position: -1762px 0;
}
.icon.volvo {
	width: 42px;
	height: 39px;
	background-position: -1800px 0;
}

/* breadcrumb */

.breadcrumb-wrap {
	margin-bottom: 20px;
	font-size: 0.8em;
	li {
		display: inline-block;
	}
}

/* filters */
.filters-wrap .filter-row .dropdown-toggle,
.filters-wrap .filter-row .dropdown-toggle:hover,
.filters-wrap .filter-row.zip-input input {
	background-color: #edf1f4 !important;
	padding: 0 20px;
	text-transform: none;
	height: 35px;
	color: rgba(31,47,62,1);
}
.filters-wrap .filter-row .dropdown-toggle:hover,
.filters-wrap .filter-row.zip-input input:hover {
	color: rgba(31,47,62,0.8);
}
.filters-wrap .dropdown-toggle.disabled {
	color: #b6b6b6 !important;
}
.filters-wrap .filter-row .bootstrap-select.btn-group {
	width: 100%;
	border-radius: 25px;
}
.filters-wrap .filter-row.zip-input input {
	font-size: 0.875em;
}
.filters-wrap .bootstrap-select.btn-group .dropdown-toggle .filter-option {
	padding-right: 8px;
}
.filters-wrap .filter-row.zip-input .dropdown-toggle .filter-option {
	font-size: 0.9em;
	line-height: 2;
}
.filters-wrap .filter-row.zip-input input {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
}
.filters-wrap .filter-row.zip-input > * {
	float: left;
}
.filters-wrap .filter-row input[type=submit] {
	width: 100%;
	margin-top: 10px;
}

.filters-wrap {
	.filter-row {
		display: inline-block;
		width: 100%;
		margin-top: 7px;
		position: relative;
		.half-item {
			width: 49%;
			float: left;
			margin-bottom: -4px;
			& + .half-item{
				margin-left: 2%;
			}
			option[disabled = disabled],
			.dropdown-menu .disabled {
				display: none;
			}
		}
	}
}

/* strars */
.stars-wrap .star {
	display: inline-block;
	width: 14px;
	height: 14px;
	position: relative;
	color: #f6b63a;
	background-image: url(../img/starts-sprite.png);
	background-repeat: no-repeat;
}
.stars-wrap .star.star50 {
	background-position: 50% 0;
}
.stars-wrap .star.star0 {
	background-position: 100% 0;
}

/*.stars-wrap .star {
	display: inline-block;
	width: 14px;
	height: 14px;
	position: relative;
	color: #f6b63a;
	&:after {
		@extend .font-awesome;
		content: "\f005";
	}
}
.stars-wrap .star.star50 {
	&:after {
		content: "\f089";
	}
}
.stars-wrap .star.star0 {
	&:after {
		content: "\f006";
	}
}*/

/* price detail */
/*.detailed-page {
	.price-detail  {
		float: right;
		margin-right: 25%;
	}
}*/
.price-detail .price {
	display: inline-block;
	width: 100%;
	font-weight: 700;
	.price-view {
		background-color: $logo-green-color;
		color: #fff;
		padding: 9px 40px;
		line-height: 1;
		font-size: 1em;
		@include border-radius(20px);
		display: inline-block;
	}
}
.detailed-page .price-detail .price {
	font-size: 1.8em;
	color: rgba(44,62,80,1);
}
.badge {
	background: rgba(44,62,80,1);
	border-radius: 2px;
	text-transform: uppercase;
	padding: 0 9px;
	line-height: 2;
	margin: -5px 0 0 5px;
}
.price-detail .fee {
	line-height: 1;
	font-size: 0.95em;
	margin-top: 10px;
}

/* vew/photo-count/save-wrap */
.result-container .item-img .view-wrap,
.photo-count,
.result-container .save-wrap {
	position: absolute;
	background: rgba(255,255,255,0.8);
	border-radius: 2px;
	line-height: 23px;
	padding: 0 7px;
	color: #2c3e50;
	font-size: 0.875em;
	font-weight: 600;
	left: 5px;
}

/* custom checkbox */
.checkbox-wrap {
	position: relative;
	margin-bottom: 0;
	width: 100%;
	font-weight: 500;
	color: #4e6777;
	input {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}
	span {
		cursor: pointer;
		float: left;
	}
	.checkbox-icon {
		position: relative;
		width: 16px;
		height: 16px;
		border: 1px solid #bfc5ca;
		display: inline-block;
		margin-right: 9px;
		line-height: 1em;
		&:after {
			@extend .font-awesome;
			content: "\f00c";
		    font-size: 0.5em;
		    line-height: 14px;
		    position: absolute;
		    color: #fff;
		    top: 0;
		    left: 0;
		    right: 0;
		    text-align: center;
		    opacity: 0;
		}
	}

	input:checked + .checkbox-icon {
		background: rgba(44,62,80,1);
		border-color: rgba(44,62,80,1);
		&:after {
			opacity: 1;
		}
	}
	.name {
		white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    position: relative;
	    font-size: 0.90em;
	    line-height: 1.1;
	    width: calc(100% - 25px);
	}

}

/* result pagination */

.result-pagination {
	text-align: right;
	margin-top: 25px;
	 li {
		display: inline-block;
	}
	a {
		font-size: 0.9em;
		display: inline-block;
		border-radius: 4px;
		line-height: 30px;
		padding: 0 10px;
		border: 1px solid #e0e5e7;
		box-shadow: 0 0 1px #eff1f3;
	}
	a {
		color: #4e6777;
	}
	i {
		font-size: 0.5em;
		line-height: 2;
		position: relative;
		top: -2px;
	}
	a:hover,
	a.curent-page {
		text-decoration: none;
		color: #fff;
		background-color: #2c3e50;
		border-color: #2c3e50;
	}
}

.accordion-content {
	margin-top: 20px;
	line-height: 2;
	h6 {
		text-transform: none;
		margin-top: 30px;
		margin-bottom: 15px;
	}
	.drop-wrap {
		border: 1px solid #e8e8e9;
		padding: 0 30px;
		background: rgba(255,255,255,0.5);
		&.content-opened,
		&:hover {
			background: rgba(255,255,255,1);
		}
		& + .drop-wrap {
			margin-top: 2px;
		}
		.drop-btn {
			display: block;
			font-size: 1em;
			font-family: 'Montserrat', sans-serif;
			font-weight: 500;
			padding: 12px 0;
			cursor: pointer;
			position: relative;
			&:after {
				content: "\f067";
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -7px;
				height: 14px;
				line-height: 14px;
				color: #bcc9d1;
			}
		}
		&.content-opened .drop-btn:after {
			content: "\f068";
		}
		.drop-content {
			padding-bottom: 40px;
			display: none;
		}
	}
}

/*----- Single page ----*/

.single-page {
	h3 {
		font-weight: 400;
		padding-bottom: 15px;
		line-height: 1.6em;
		font-family: "Montserrat", sans-serif;
		a {
			color: inherit;
		}
	}
	h4 {
		text-transform: none;
		padding-top: 10px;
	}
	h4,
	h5 {
		padding-bottom: 25px;
	}
	.right-sidebar {
		h5 {
			line-height: 2.2;
		}
	}
	.container {
		background: #fff;
		padding-left: 30px;
		padding-right: 30px;
	}
	.border-bottom {
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid #d2d2d2;
	}
	.clearfix {
		margin-bottom: 20px;
	}
	p,
	li {
		font-size: 0.9em;
		line-height: 1.8;
		li {
			font-size: 1em;
		}
		.sub-list {
			padding-left: 20px;
		}
	}
	p {
		text-align: justify;
	}
	.meta {
		color: $light-grey-color;
		font-size: 0.875em;
	}
	.article-banner {
		@extend .display-flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		padding: 20px;
		margin-bottom: 20px;
		background: $body-bg;
		p {
			font-family: $monserrat-font-family;
			margin-bottom: 0;
			padding-left: 30px;
			text-align: left;
			margin: 10px;
		}
		img {
			max-width: 30%;
		}
		&.article-cpo-banner {
			img {
				min-width: 300px;
				max-width: inherit;
			}
		}
	}

	.video-wrap {
		display: inline-block;
		width: 100%;
		.video {
			margin-left: 30px;
			margin-bottom: 20px;
			width: 57%;
		}
		& + p {
			margin-top: 20px;
		}
		ul {
			display: table-cell;
		}
	}
	img {
		&.pull-left {
			margin-bottom: 15px;
			margin-top: 5px;
			margin-right: 15px;
			max-width: 50%;
		}
		&.pull-right {
			margin-bottom: 15px;
			margin-top: 5px;
			margin-left: 15px;
			max-width: 50%;
		}
		&.full-width {
			width: 100%;
			margin-bottom: 15px;
		}
	}
	p + ul {
		margin-top: -25px;
		padding-left: 18px;
		display: inline-block;
		li {
			list-style-type: disc;
		}
	}
	ul.upper-alpha-list {
		padding-left: 60px;
		> li {
			list-style-type: upper-alpha !important;
			ul,
			ol {
				padding-left: 60px;
				li {
					padding: 5px 0;
				}
			}
		}
	}

	ol {
		padding-left: 15px;
		li {
			list-style-type: decimal;
		}
	}

	.small {
		ol {
			margin-bottom: 25px;
		}
	}

	ul.check-list {
		span.bold {
			display: inline-block;
			width: 165px;
		}
	}

	.yes,
	.no {
		position: relative;
		text-align: center;
		&:before {
			@extend .font-awesome;
		}
	}
	.yes:before {
		content: "\f00c";
		color: #7bc200;
	}
	.no:before {
		content: "\f00d";
		color: #ef584d;
	}

	.faqs-wrap {
		margin-top: 50px;
	}
	select.simple-select {
		font-size: 0.813em;
		padding: 5px 10px 5px 5px;
	}
	iframe {
		max-width: 100%;
	}
}

.single-page-title {
	color: #fff;
	text-align: left;
	background: url(../img/single-top-page-bg.jpg) no-repeat 50% 0;
	background-size: cover;
	padding: 0 15px;
	height: 100px;
	@extend .display-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	h2{
		margin-bottom: 0;
		text-transform: none;
		& + a {
			text-transform: uppercase;
			font-size: 0.875em;
		}
	}
	a {
		color: #fff;
		margin-top: 10px;
		display: inline-block;
		margin-bottom: -25px;
	}

}

.filters-wrap {
	& + .testimonials,
  & + .line-up {
  	margin-top: 60px;
  }
}

.testimonials,
.line-up {
	.testimonials-item {
		font-size: 0.875em;
		line-height: 1.7;
	}
	.testimonials-text {
		border: 1px solid #e4e8ed;
		padding: 25px;
		position: relative;
		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 30px;
			bottom: -11px;
			border-top: 11px solid #e4e8ed;
			border-left: 11px solid transparent;
			border-right: 11px solid transparent;
		}
		&:after {
			border-top: 11px solid #fff;
			bottom: -10px;
		}
	}
	.testimonials-author {
		margin-top: 20px;
		padding-left: 10px;
	}
}

.line-up {
	li {
		line-height: 1.2;
	}
	li + li {
		padding-top: 15px;
	}
}

.custom-label,
.contact-form-wrap label,
.authentication-form-wrap label {
	font-weight: 600;
	font-size: 0.813em;
	font-family: $monserrat-font-family;
	text-transform: uppercase;
}
.contact-form-wrap,
.authentication-form-wrap {
	input {
		height: 40px;
	}
	.form-group {
		margin-bottom: 30px;
	}
	.btn-group.bootstrap-select {
		height: 40px;
	}
	.btn-group.bootstrap-select .btn {
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 0 12px;
		line-height: 38px;
		text-transform: none;
	}
	.form-control.bootstrap-select {
		font-size: inherit;
	}
	.dropdown-menu > li > a {
		font-size: 1em;
	}
	.requare {
		label {
			position: relative;
			&:after {
				content: "*";
				color: red;
				margin-left: 3px;
				font-size: 1.25em;
			}
			.requare-double {
				position: absolute;
				left: 0;
				bottom: 0px;
				font-weight: 300;
				font-size: 0.75em;
				text-transform: none;
				line-height: 1;
				&:after {
					content: "**";
					color: red;
					margin-left: 3px;
					font-size: 1.25em;
				}
			}
		}
	}
	.recaptcha-wrap {
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
}

#wrap .contact-form-wrap .bootstrap-select > .dropdown-menu {
	margin-top: 5px;
}
.right-sidebar .dropdown-menu > li > a {
	font-size: 1em;
}

.check-list > li {
	padding-left: 30px;
	position: relative;
}
.check-list > li:before {
	content: "\f00c";
	position: absolute;
	left: 0;
	top: 0;
	color: #1abc90;
}

.register {
	label {
		padding-bottom: 10px;
	}
}

.owner-reviews {
	span.number {
		font-size: 1.25em;
		color: $grey-color;
		font-weight: 600;
		padding-right: 12px;
		margin-right: 10px;
		position: relative;
		&:after {
		    -webkit-transform: translate(0, -50%);
		    -moz-transform: translate(0, -50%);
		    -ms-transform: translate(0, -50%);
		    transform: translate(0, -50%);
		    content: '|';
		    position: absolute;
		    top: 50%;
		    right: -1px;
		    font-weight: 400;
		}
	}
}

.view-phone {
	color: #1b6fb7;
	em {
		font-style: normal;
		cursor: pointer;
	}
	a {
		display: none;
	}
	&.link-active {
		em {
			display: none;
		}
		a {
			display: inline-block;
		}
	}
}

.mailto-btn {
	display: inline-block;
	width: 100%;
	padding: 12px 30px;
	color: $main-text-color;
	border: 1px solid #e8e8e9;
	font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    &:hover {
    	text-decoration: none;
    }
    + .mailto-btn {
    	margin-top: 5px;
    }
}

.mobile-request-form {
	.close-modal {
			position: absolute;
			z-index: 999;
			right: 20px;
			top: 15px;
			width: 22px;
			cursor: pointer;
	}
}

/****** FOOTER ******/

footer {
  padding: 33px 0 15px; 
  font-size: 0.9em;
  padding-bottom: 0;
  background-color: #393939;
  color: #fff;
  .copy {
    background-color: #2d2d2d;
    padding: 25px 0 15px;
    margin-top: 40px;
  }
  .col-md-3 {
    min-height: 65px;
  }
  .col-md-2 {
    border-left: 1px solid #252525;
  }
  li {
    margin-bottom: 15px;
  }
  a {
    color: #fff;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
    img { 
      margin-right: 10px;
    }
  }
}

footer p {
	font-size: 0.875em;
	position: relative;
}
footer .btn {
	font-size: 1em;
	padding: 10px;
	width: 100%;
	max-width: 265px;
}

.dealer-portal footer {
	padding: 0;
}
.dealer-portal footer .copy {
	background-color: transparent;
	text-align: center;
	margin-top: 0;
}


/*------------------- UPDATED STYLES ----------------*/

/***** Modal *****/

.exclusive-price-modal {
  font-family: $monserrat-font-family;
  .close-modal {
    position: absolute;
    top: 12px;
    right: 15px;
    line-height: 1;
    z-index: 10;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  h4 {
    font-weight: 400;
    text-transform: none;
  }
  strong {
    font-weight: 400;
  }
  p {
    line-height: 1.15;
  }
  .modal-dialog {
    max-width: 900px;
    width: 100%;
  }
  .modal-content {
    padding: 30px;
    background-color: #ececec;
  }
  .car-details {
    background-color: #fff;
    @include border-radius(4px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0;
    .car-img {
      img {
        width: 100%;
      }
    }
    p {
      font-size: 0.9em;
      margin-bottom: 0;
      &.certified {
        color: $logo-green-color;
        padding: 3px 0;
        img {
          position: relative;
          top: -2px;
        }
      }
    }
    .car-desc {
      padding: 10px;
    }
  }
  .contact-dealer-form {
    padding-bottom: 60px;
  }
  .contact-dealer-form h3 {
    font-weight: 700;
    margin-bottom: 10px;
  }
  .contact-dealer-form p {
    font-size: 1.25em;
  }
  .contact-dealer-form form {
    margin-top: 25px;
  }
  .dealer-form-fields input:not(.btn) {
    width: 49%;
    float: left;
    @include border-radius(3px);
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .dealer-form-fields input + input {
    margin-left: 2%;
  }
  .get-price-btn {
    position: absolute;
    bottom: 0;
    right: 15px;
    @include border-radius(3px);
    font-size: 1.1em;
    padding: 11px 15px;
  }
}