@import 'variables.scss'; 

.compare-table-wrap {
	margin-top: 75px;
	padding: 0 15px;
	table {
		background: #f7f7f7;
		border-collapse: collapse;
		th,
		td {
			width: 27%;
			font-size: 0.875em;
			border: 1px solid #fff;
		}
		th {
			padding: 0;
		}
		td {
			padding: 10px 20px;
			vertical-align: top;
			&.sub-title {
				background: $dark-blue-color;
				text-align: center;
				font-size: 0.95em; 
				color: #fff;
			}
		}
		th:first-child,
		td:first-child {
			width: 19%;
			background: #fff;
			text-align: right;
			font-size: 0.95em;
			padding-left: 0;
			padding-right: 15px;
		}
		th:nth-child(3), 
		td:nth-child(3) {
			background: #ededed;
			.head-car-logo {
				border-top-color: #d9d9d9;
			}
		}
	}
	.table-head {
		position: relative;
		text-align: center;
		.sponsored-program {
			background: $logo-green-color;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			font-weight: 600;
			line-height: 32px;
			position: absolute;
			left: 0;
			right: 0;
			top: -32px; 
		}
		.select-wrap {
			padding: 30px 15px 14px;
			select {
				width: 100%;
				height: 35px;
				border: 1px solid #c7c9cb;
				font-size: inherit;
				color: $dark-blue-color;
				padding: 0 15px; 
				background: #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='4' fill='$dark-blue-color'><polygon points='0,0 8,0 4,4'/></svg>") no-repeat 95% 50% !important;
				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
				outline: none !important;
				&::-ms-expand  {
					border: none;
					background: none; 
				}
			}
		}
		&.sponsored .select-wrap {
				padding-top: 22px;
				padding-bottom: 22px;
			}
		.head-car-logo {
			height: 85px;
			line-height: 55px;
			padding: 15px;
			border-top: 1px solid #eeeded;
			position: relative;
			img {
				max-height: 55px;
				width: auto;
			}
		}
	}
	ul {
		li {
			&:before {
				content: "\2022";
				color: $main-text-color;
				padding-right: 3px;
			}
		}
	}
	.btn {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		margin: 5px 0; 
	}
	.owner-reviews span.number:after {
		right: -4px;
		top: 44%;
	}
}

.car-logos {
	background-color: transparent; 
	li {
		border-color: rgba($light-grey-color, 0.2) !important;
		&:hover {
			background: $body-bg;
		} 
	}
}

.border-bottom {
	> h3 {
		padding-bottom: 0;
		float: left;
	}
	.btn {
		float: right;
	}
}

.single-page .car-logos {
	padding-top: 20px;
	padding-bottom: 20px; 
}

.single-page .car-logos .slick-next:before, 
.single-page .car-logos .slick-prev:before {
	color: $grey-color; 
}
.single-page .car-logos .slick-dots li button {
	background: $grey-color;
	border-color: $grey-color;
}
.single-page .car-logos .slick-dots li.slick-active button {
	background: transparent;
}