@import 'variables.scss'; 

.mailto-btn {
	display: inline-block;
	width: 100%;
	padding: 12px 30px;
	color: $main-text-color;
	border: 1px solid #e8e8e9;
	font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    &:hover { 
    	text-decoration: none;
    }
    + .mailto-btn {
    	margin-top: 5px;
    }
}