@import 'variables.scss'; 

.cpo-program {
	.article {
		.text-center {
			> img {
				max-width: 300px;
				margin-bottom: 15px;
				@media only screen and (max-width: 479px) {
					max-width: 200px;
				}
			}
		}
	}
}

.single-page.cpo-program-reviews  {
	.cpo-program-reviews-banner {
		display: inline-block;
		width: 100%;
		img {
			max-width: 30%;
		}
	}
	.cpo-raiting-detail {
		float: right;
		font-family: $monserrat-font-family;
		p {
			margin-bottom: 0; 
			text-align: right; 
			line-height: 1.35;
			span, 
			strong {
				text-transform: uppercase;
				font-size: 0.831em;
				&.number {
					font-size: 1.25em;
				}
			}
		}
	}
	.number {
		position: relative;
		color: $grey-color;
		&:after {
			@include transform-translate(0,-50%); 
			content: '|';
			position: absolute;
			top: 50%;
			right: -1px;
			font-weight: 400;
		}
	}
}
.reviews-wrap {
	margin-top: 30px;
	.review-item {
		border-top: 1px solid #d2d2d2;
		margin-top: 15px;
		padding: 20px 0;
		display: inline-block;
		width: 100%;
		position: relative;
		p {
			margin-bottom: 0 !important;
		}
		.review-meta {
			width: 25%;
			float: left;
			p {
				text-align: center;
				line-height: 1.5;
				em {
					font-size: 1.2em;
				}
				strong {
					text-transform: uppercase;
					font-size: 0.875em;
				}
			}
		}
		.review-body {
			width: 75%;
			float: left;
			.drop-btn {
				text-transform: uppercase;
				font-weight: 600;
				font-size: 0.813em;
				&:hover,
				&:focus,
				&:active {
					text-decoration: none;
				}
			}
			.drop-content {
				display: none;
			}
			.employees-detail {
				margin-top: 20px;
				position: relative;
				text-transform: uppercase;
				font-size: 0.8em;
				.empl-photo {
					width: 50px;
					height: 50px;
					border: 1px solid $blue-color;
					background: #d2d2d2;
				}
				.empl-rating {
					position: absolute; 
					left: 60px;
					bottom: -3px;
					line-height: 1;
					.name {
						display: block;
						color: $blue-color;
						font-size: 0.9em;
						font-weight: 600;
					}
					.number {
						padding-right: 5px;
						margin-right: 5px;
						display: inline-block;
						font-weight: bold;
						&:after {
							top: 40%;
							right: -5px;
						}
					}
					.star {
						width: 10px;
						height: 10px;
						background-size: auto 10px;
					}
				}
			}
		}
	}
	.helpful {
		border: 1px solid;
		padding: 5px 15px !important;
		line-height: 1;
		position: absolute;
		height: inherit;
		right: 0;
		bottom: 0;
		&:hover,
		&:focus {
			color: #337ab7;
		}
		i {
			margin-right: 5px;
		}
		&.clicked {
			background-color: #337ab7;
			color: #fff;
		}
	}
 }

.cpo-program,
.cpo-program-reviews {
	.check-list {
		float: left;
		width: 50%;
		&.has-sub-list {
			span.bold {
				float: left;
				width: 150px;
			}
			.sub-list {
				display: inline-block;
			}
		}
	}
	.sub-list li {
		list-style-type: disc;
	}
}

$field-height: 45px;

.search-form-wrap {
	margin: 10px 0 25px;
	.form-elements-wrap {
		background: $dark-blue-color;
		padding: 10px;
		border-radius: 5px;
		input,
		select,
		> .btn-form-item .btn,
		.btn-group .dropdown-toggle {
			height: $field-height;
			border-radius: 3px;
			font-weight: 600;
			padding-left: 20px; 
		}
		.form-item + .form-item,
		.btn-form-item {
			padding-left: 12px;
		}
		.btn-form-item {
			position: relative;
			overflow: hidden;
			&:before {
				content: "";
				position: absolute; 
				top: 0;
				bottom: 0;
				right: $field-height;
				border-left: 1px solid darken($logo-green-color, 5%);
			}
			&:after {
				@extend .font-awesome;
				content: "\f105";
				font-size: 25px;
				color: #fff;
				position: absolute; 
				top: 0;
				right: 0;
				bottom: 0;
				width: $field-height;
				line-height: $field-height;
				border-left: 1px solid lighten($logo-green-color, 5%);
				text-align: center;
			}
		}
		> .btn-form-item .btn {
			font-size: 1.125em;
			text-align: left;
			font-weight: 400;
			padding: 0 0 0 16px;
			margin-top: 0;
		}
		.disabled {
			opacity: 1;
			color: $grey-color;
		}
		.bootstrap-select>.dropdown-toggle.bs-placeholder,
		.zip-input input {
			color: $dark-blue-color;
		}
		.zip-input input {
			font-size: 0.875em;
			font-family: "Montserrat", sans-serif;
			&::-webkit-input-placeholder {
			  	color: $dark-blue-color;
			 }
			&::-moz-placeholder {
			 	color: $dark-blue-color;
			}
			&:-ms-input-placeholder {
			  	color: $dark-blue-color;
			}
			&:-moz-placeholder {
			  	color: $dark-blue-color;
			}
		}
	}

	.bootstrap-select.btn-group .dropdown-toggle .filter-option {
		padding-right: 5px;
	}
}