@import 'variables.scss'; 

body{
	font-family: $main-font-family;
	color: $main-text-color;
	font-size: 16px;
}

/***** MAIN COLORS *****/

.manufacturer-color,
.manufacturer .manufacturer-color,
.result-filters .manufacturer-border:hover,
.manufacturer-item .marker,
.manufacturer-check li:before {
	color: $manufacturer-color;
}
.manufacturer,
.car-logos:before,
.car-logos:after,
.btn.manufacturer-color:hover,
header nav .manufacturer-color a:hover {
	background-color: $manufacturer-color;
}
.manufacturer-border,
.result-container .manufacturer-item,
.manufacturer-item .request-text,
.dashboard-content .manufacturer-item + .calculator-item {
	border-color: $manufacturer-color;
}
.result-container .manufacturer-item:hover,
.manufacturer-item .request-text {
	background-color: rgba($manufacturer-color,0.1);
}


.dealer-color,
.dealer .dealer-color,
.result-filters .dealer-border:hover,
.dealer-item .marker,
.dealer-check li:before {
	color: $dealer-color;
}
.dealer,
.btn.dealer-color:hover,
header nav .dealer-color a:hover {
	background-color: $dealer-color;
}
.dealer-border,
.result-container .dealer-item,
.dealer-item .request-text,
.dashboard-content .dealer-item + .calculator-item {
	border-color: $dealer-color;
}
.result-container .dealer-item:hover,
.dealer-item .request-text {
	background-color: rgba($dealer-color,0.1);
}


.rental-color,
.rental .rental-color,
.result-filters .rental-border:hover,
.rental-item .marker,
.rental-check li:before {
	color: $rental-color;
}
.rental,
.btn.rental-color:hover,
header nav .rental-color a:hover {
	background-color: $rental-color;
}
.rental-border,
.result-container .rental-item,
.rental-item .request-text,
.dashboard-content .rental-item + .calculator-item {
	border-color: $rental-color;
}
.result-container .rental-item:hover,
.rental-item .request-text {
	background-color: rgba($rental-color,0.1);
}


/***** H group *****/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
}
h1 {
	font-size: 2em;
	font-weight: 600;
}
h2 {
	font-size: 1.6em;
	margin-bottom: 15px;
}
h3 {
	text-transform: none;
	font-weight: 300;
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5,
h6,
p {
	font-size: 1em;
}

/***** CUSTOM CLASSES/ELEMENTS *****/

*,
a, input, button, input:hover, button:hover, input:focus, button:focus, .bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}

a:hover,
a:focus {
	color: #337ab7;
}
a:active,
a:focus {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
img {
	max-width: 100%;
	height: auto;
}

.m-top-100 {
	margin-top: 100px
}
.m-top-30 {
	margin-top: 30px
}

.open>.dropdown-toggle.btn-default:hover, 
.btn-group .dropdown-toggle,
.btn-group.open .dropdown-toggle, 
.bootstrap-select .dropdown-toggle:hover,
.bootstrap-select .dropdown-toggle:focus {
	@include box-shadow(none);
	border: none;
	background: #fff !important;
}

a,
button,
input[type=submit],
header nav a:after,
header .menus-wrap .drop-btn:after,
.search-wrap .advanced-options .checkbox-content:after,
.car-logos a:after,
.rental-cars-item:after,
.news-item:after,
.filters-wrap .color .checkbox-over:after {
	@include transition(all 0.3s);
}

select {
	max-width: 100% !important;
}

.dark-blue-bg {
	background-color: $dark-blue-color;
}

.btn {
	border-radius: 27px;
	display: inline-block;
	height: inherit;
	padding: 7px 30px;
	font-size: 0.875em;
	font-family: $monserrat-font-family;
	text-transform: uppercase;

	&.btn-green {
		color: $white-color;
		background: $logo-green-color;
		&:hover {
			background: darken($logo-green-color, 10%); 
		}
	}
	&.btn-blue {
		color: #fff;
		background: $blue-new-color;
		@include border-radius(3px);
		text-transform: none;
		&:hover {
			background: darken($blue-new-color, 10%); 
		}
	}
	&.btn-light-green {
		color: #fff;
		background: $salad-color;
		&:hover {
			background: darken($salad-color, 10%); 
		}
	}
	&.btn-white {
		background: #fff;
		border: 2px solid #fff;
		&:hover {
			color: $white-color;
		}
	}
	&.btn-white-green {
		background: #fff;
		border: 2px solid $logo-green-color;
		color: $logo-green-color;
		&:hover {
			background: $logo-green-color;
			color: #fff;
		}
	}
	&.btn-white-blue {
		background: #fff;
		border-color: $dark-blue-color;
		color: $dark-blue-color;
		&:hover {
			background: #e7e7e7;
		}
	}
	&.btn-white-light-blue {
		background-color: #fff;
		border-color: $blue-new-color;
		color: $blue-new-color;
		border-width: 2px;
		border-radius: 4px;
		font-weight: 500;
		&:hover {
			background-color: $blue-new-color;
			color: #fff;
		}
	}
	&.btn-grey {
		background: $dark-blue-color;
		color: $white-color;
		&:hover {
			background: darken($dark-blue-color, 10%);
		}
	}
	&.btn-light-grey {
		background: $light-grey-color;
		color: $white-color;
		&:hover {
			background: darken($light-grey-color, 10%);
		}
	}
	&.btn-orange {
		background-color: $rental-color;
		color: #fff;
		&:hover {
			background-color: darken($rental-color, 10%);
		}
	}
	&.btn-red {
		background-color: $light-red-color;
		color: #fff;
		@include border-radius(3px);
		&:hover {
			background-color: darken($light-red-color, 10%);
		}
	}
	&.btn-pink {
		background-color: $pink-color;
		color: #fff;
		@include border-radius(3px);
		&:hover {
			background-color: darken($pink-color, 10%);
		}
	}
	&.btn-smaller {
		padding: 3px 15px;
		font-size: 0.813em;
	}
	&.small-btn {
		@include border-radius(15px);
		font-size: 0.7em;
		padding-left: 10px;
		padding-right: 10px;
	}
	&.pull-right {
		margin-left: 15px;
	}
	&.pull-left {
		margin-right: 15px;
	}
}

.blue-color {
	color: #1b6fb7;
}

input {
	height: 44px;
	@include border-radius(25px);
	border: none;
	background-color: $white-color;
	font-family: inherit;
	font-size: inherit;
	padding: 0 25px;
	color: rgb(161,177,188);
	-webkit-appearance: none !important;
    -moz-appearance: none !important;
	-webkit-box-shadow: none !important;
}

.button-wrap {
	text-align: center;
}

.form-item {
	display: inline-block;
}
.form-item > input,
.form-item .bootstrap-select {
	width: 100% !important;
}

.caret {
	width: 11px;
	height: 8px;
	position: relative;
	border: none;
}

.caret:after,
header .menus-wrap .drop-btn:after,
.advanced-options .checkbox-content:after,
.slick-prev:before,
.slick-next:before,
.dealer-form-wrap .form-item.search-icon:after,
.filters-wrap .checkbox-wrap .checkbox-icon:after,
.check-list li:before,
.accordion-content .drop-btn:after,
.mobile-socials .like-btn:after {
	 @extend .font-awesome;
}
.caret:after {
	content: "\f078";
	line-height: 5px;
	font-size: 0.65em;
	position: absolute;
	top: 0;
	left: 0;
}
.dropup .caret {
	border: none;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
	top: 50%;
	margin-top: -5px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 20px;
}

#wrap .bootstrap-select > .dropdown-menu {
	@include box-shadow(none);
	padding-bottom: 0;
	border: none;
	margin: 0;
	padding: 0; 
}
#wrap .dropdown-menu.inner {
	padding-top: 5px;
	background: transparent;
}
.dropdown-menu.inner,
.drop-main-menu {
	border-radius: 3px !important;
	border-bottom: 1px solid #d7d7d7 !important;
}
.dropdown-menu li,
.drop-main-menu li {
	border-top: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	background: #fff;
}
.dropdown-menu li:first-child,
.drop-main-menu li:first-child {
	border-radius: 3px 3px 0 0;
	position: relative;
}
.dropdown-menu li:last-child,
.drop-main-menu li:last-child {
	border-radius: 0 0 3px 3px;
	overflow: hidden;
}

.dropdown-menu > li > a,
.drop-main-menu li a {
	padding: 15px 12px;
    font-size: 0.90em; 
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
	background-color: $dark-blue-color; 
	color: $white-color;
}
header .drop-main-menu:before,
header .account-detail-list .drop-content:before,
.dropdown-menu.inner li:first-child:before,
header .drop-main-menu:after,
header .account-detail-list .drop-content:after,
.dropdown-menu.inner li:first-child:after {
    content: "";
    position: absolute;
    top: -4px;
    left: 50%;
    margin-left: -8px;
    border-bottom: 4px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
header .drop-main-menu:before,
header .account-detail-list .drop-content:before,
.dropdown-menu.inner li:first-child:before {
	top: -5px;
	border-bottom: 4px solid #d7d7d7;
	z-index: 1;
}
header .drop-main-menu:after,
header .account-detail-list .drop-content:after {
	top: -3px;
}
header .drop-main-menu:before,
header .account-detail-list .drop-content:before {
	top: -4px;
}
header .drop-main-menu:after,
header .account-detail-list .drop-content:after,
.dropdown-menu.inner li:first-child:after {
	z-index: 2;
}
.dropdown-menu.open > .dropdown-menu {
	top: 0;
}
.bootstrap-select > div.dropdown-menu {
	background: transparent;
}
.bootstrap-select ul.dropdown-menu {
	position: relative !important;
	padding-top: 5px;
}
.search-wrap .bootstrap-select > div.dropdown-menu {
	padding-top: 18px;	
}
.dealer-form-wrap .bootstrap-select > div.dropdown-menu {
	padding-top: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield !important;
}