@import 'variables.scss';

/***** DETAILEAD PAGE *****/

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .detail header .container {
    width: 1140px;
  }
  .detail .col-md-8 {
    width: 60%;
  }
  .detail .col-md-4 {
    width: 40%;
  } 
}

@media only screen and (min-width: 1441px) {
  .detail .container { 
    width: 1430px; 
  }
  .detail header .container {
    width: 1400px;
  }
  .lg-outer .lg-image {
    width: 900px !important;
  }
}

@media only screen and (min-width: 1441px) and (max-height: 900px) {
  .detail header .container {
    width: 1140px;
  }
  .detail .container {
    width: 1170px;
  }
  .detail .col-md-8 {
    width: 60%;
  }
  .detail .col-md-4 {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) {
  .row-overflow { 
    bottom: -2px;
    top: 88px;
    left: 0;
    right: 0;
    z-index: 998;
    background: #ececec;
    &.fixed {
      position: fixed;
      .row-overflow-scroll {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
        padding-top: 25px;  
      }
      .popups-wrap {
        box-shadow: none;
      }
      .popups-wrap .popups-container.visible,
      .buy-online-container {
        bottom: auto;
        min-height: calc(100% + 25px);
        padding-bottom: 25px;
        background-color: transparent;
        &:before {
          bottom: 25px;
          opacity: 1;
        }
      }
      .popups-wrap .popups-container.visible {
        box-shadow: -10px -10px 10px -12px rgba(0,0,0,0.25), 10px -10px 10px -12px rgba(0,0,0,0.25);
      }
    }
    &.transparent {
      background: transparent;
    }
  }
}

.btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.slick-slide {
	outline: none;
}

body.overflow {
  overflow: hidden;
  height: 100%;
}



header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 1001;
  height: 88px;
  border-bottom: 1px solid #d8d8d9;
}

header .drop-wrap .drop-content {
  z-index: 1002;
}

#content.detailed-page {
	background: #ececec;
  padding-top: 113px;
  border-top: none;
  padding-bottom: 55px;
	p,
	.accordion-content li {
		font-size: 0.9em;
	}
  .price-detail {
    float: right;
    margin-right: 25%;
  }
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .number {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;  
    display: inline-block;  
    font-size: 0.813em;
  }
}

.car-photos {
	padding: 0;
	background: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;

	.main-photo-wrap {
		position: relative;
    width: 100%;
		margin: 0 auto;
    cursor: pointer;
    
    @media only screen and (min-width: 768px) {
      height: 300px;
      .video-wrap {
        height: 300px;
      }
    }
    @media only screen and (min-width: 991px) {
      height: 460px;
      .video-wrap {
        height: 460px;
      }
    }
    @media only screen and (min-width: 1200px) {
      height: 502px;
      .video-wrap {
        height: 502px;
      }
    }
    @media only screen and (min-width: 1441px) {
      height: 690px;
      .video-wrap {
        height: 690px;
      }
    }
    @media only screen and (min-width: 1441px) and (max-height: 900px) {
      height: 524px;
      .video-wrap {
        height: 524px;
      }
    }
		img {
			width: 100%;
      height: 100%;
      max-width: inherit;
      object-fit: cover;
      position: relative;
      top: 0;
      left: 0;
		}
		.photo-count {
      color: $main-text-color;
      background: none;
			position: absolute;
			text-align: center;
			top: 20px;
      left: 5px;
      font-size: 1em;
      line-height: 30px;
      height: 30px;
      padding: 0 10px;
      width: auto;
      img {
        width: 25px;
        object-fit: none;
        position: relative;
        top: -2px; 
      }
		}
    .share-btn {
      position: absolute;
      top: 18px;
      display: inline-block;
      right: 50px;
      z-index: 9;
      img {
        width: 35px;
      }
    }
    .main-photo-slider {
     display: none;
     &.slick-initialized {
       display: block; 
     }
     .slick-arrow {
      width: 50px;
      top: 0;
      bottom: 0;
      height: inherit;
      @include transform-translate(0, 0);
      z-index: 5;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        @include transition(all 0.3s); 
      } 
      &:after {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -24px 0 0 -13px;
        width: 26px;
        height: 48px;
        z-index: 2;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
     }
     .slick-prev {
      left: 0;
      &:after {
        content: url(../img/arrow_slider.svg);
        @include transform-rotate(180deg);
      }
      &:before {
        background: -moz-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
       }
     }
     .slick-next {
      right: 0;
      &:after {
        content: url(../img/arrow_slider.svg);
      }
      &:before {
        background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
        background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
        background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
       }
     }
   }
	}
  &--avis-background {
    background: url(../img/avis_bg_stock2.png) no-repeat 50% 0;
    background-size: cover;
    overflow: visible; 
    padding-bottom: 120px;
    @media only screen and (max-width: 1440px) { 
      padding-bottom: 100px;
    }
    @media only screen and (max-width: 1279px) { 
      padding-bottom: 80px;
    }
    @media only screen and (max-width: 991px) { 
      padding-bottom: 60px;
    }
    
    .main-photo-wrap {
      overflow: hidden;
      @media only screen and (min-width: 768px) {
        height: 235px;
        min-height: inherit !important;
        .video-wrap,
        .main-slide-item {
          height: 235px;
        }
      }
      @media only screen and (min-width: 991px) {
        height: 394px;
        .video-wrap,
        .main-slide-item {
          height: 394px;
        }
      }
      @media only screen and (min-width: 1200px) {
        height: 402px;
        .video-wrap,
        .main-slide-item {
          height: 402px;
        }
      }
      @media only screen and (min-width: 1441px) {
        height: 570px;
        .video-wrap,
        .main-slide-item {
          height: 570px;
        }
      }
      @media only screen and (min-width: 1441px) and (max-height: 900px) {
        height: 404px;
        .video-wrap,
        .main-slide-item {
          height: 404px;
        }
      }
    }
  }
  .car-photo-buttons { 
    position: absolute;
    z-index: 99;
    bottom: 0;
    height: 120px;
    @extend .display-flex;
    @media only screen and (max-width: 1440px) { 
      height: 100px;
    }
    @media only screen and (max-width: 1279px) { 
      height: 80px;
    }
    @media only screen and (max-width: 991px) { 
      height: 60px;
    }
    @media only screen and (max-width: 767px) { 
      height: inherit;
    }
    a {
      @media only screen and (min-width: 1280px) {
        &:hover {
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
        }
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-width: auto;
      }
    }
  }
  .nav-main-photo-slider-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; 
    z-index: 2;
    .slider-action-btn {
      position: absolute;
      background: url(../img/thumbnails_down.svg) no-repeat 50% 50%;  
      width: 50px;
      height: 30px;
      display: inline-block;
      top: -29px;
      left: 50%;
      text-align: center;
      margin-left: -25px;
      cursor: pointer;
    }
    &.closed {
      .slider-action-btn {
        background-image: url(../img/thumbnails_up.svg);
      }
    }
  }
	.nav-main-photo-slider {
		margin-top: 0;
		padding: 5px 33px;
		background: rgba(0,0,0,0.4);
    height: 80px;
		&.slick-initialized {
			.main-slide-item {
				display: block;
			}
		}
		.main-slide-item {
			padding: 0 5px;
			position: relative;
			cursor: pointer;
      width: 80px !important;
      height: 70px;
      overflow: hidden;
			float: left;
			display: none;
      text-align: center;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        max-width: inherit;
      }
			&.slick-current {
				img {
          opacity: 0.5;
        }
			}
		}
		.slick-prev {
			&:before {
				content: '\f104';
			}
		}
		.slick-next {
			&:before {
				content: '\f105';
			}
		}
	}
	.slick-prev,
	.slick-next {
		&:before {
			color: rgba(255,255,255,0.8);
			font-size: 48px;
		}
	}
	.slick-prev {
		left: 5px;
	}
	.slick-next {
		right: 5px;
	}
}

.car-details {
  background-color: #fff;
  padding: 8px 15px 5px;
  font-family: $monserrat-font-family;
  min-height: 90px;
  font-weight: 500;
  .display-flex {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  h1 {
    font-weight: 400;
    font-size: 1.75em;
    margin-bottom: 3px;
    padding-right: 150px;
  }
  p {
    font-size: 0.9em;
    margin: 0;
    line-height: 1.2;
    + p {
      margin-top: 5px; 
    }
  }
  strong {
    color: $logo-green-color; 
    font-weight: 400;
    line-height: 1;
    font-size: 0.9em;
  }
  &.exclusive-price {
    .price {
      color: #e7244a;
      .old-price {
        display: inline-block;
      }
    }
  }
  .price {
    font-size: 1.4em;
    line-height: 1.1;
    position: relative;
    display: inline-block;
    .old-price {
      position: absolute;
      right: 0;
      top: -20px;
      color: $dark-blue-color;
      font-size: 0.65em;
      display: none;
      white-space: nowrap;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $pink-color;
        top: 48%;
      }
    }
    .est-price {
      font-size: 0.65em;
      display: block;
    }
  }
}

.mobile-networks .jssocials-shares .jssocials-share-link,
.socials-wrap .jssocials-shares .jssocials-share-link,
.socials-wrap .print {
		display: inline-block;
	  width: 44px;
	  height: 26px;
	  text-align: center;
	  border: 1px solid #ebeced;
	  border-radius: 4px;
	  background-color: #fff;
	  color: #072a47;
	  padding: 0;
	  line-height: 22px;
}
.socials-wrap {
	font-size: 12px;
	display: inline-block;
	width: 50%;
	.print {
		margin-left: 0.6em;
		line-height: 32px;
		i  {
			font-size: 1.5em;
		}
	}
	.jssocials-shares {
		margin: 0;
		float: left;
		.jssocials-share {
			margin-top: 0;
			margin-bottom: 0;
			&.jssocials-share-twitter .jssocials-share-link{
				color: #1da1f2;
			}
			&.jssocials-share-facebook .jssocials-share-link{
				color: #3b5998;
			}
			&.jssocials-share-googleplus .jssocials-share-link{
				color: #dd4b39;
			}
			&.jssocials-share-whatsapp .jssocials-share-link{
				color: #177709;
			}
		}
	}
	a.print {
		color: #072a47;
	}
}
.price-detail {
	a {
		margin-top: 5px;
		font-size: 0.9em;
		display: inline-block;
	}
	 .get-price-wrapper {
	   .btn.btn-orange {
	     position: absolute;
	   }
	   .scroll-down {
	     padding-top: 40px;
	   }
	 }
}

.result-sorting label {
    border-bottom: 0;
    font-weight: 400;
    font-size: 0.9em;
    color: #909090;
}

.request-text {
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	padding: 25px 15px 15px;
	h3 {
		text-transform: uppercase;
		font-weight: 500;
		& + p {
			text-transform: uppercase;
			font-size: 0.825em;
			font-family: $monserrat-font-family;
			margin-top: 10px;
		}
	}
}

.detail-section {
	margin-top: 30px;
  &.carfax-wrap {
    margin-top: 15px;
  }
  &.divider {
    a { 
      display: inline-block;
      width: 80%;
      max-width: 400px;
      &:hover {
        box-shadow: 0 10px 10px -9px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
    }
    img {
      width: 100%;
    }
  }
}
.detailed-page {
	h3 {
		font-weight: 500;
		margin-bottom: 15px;
		color: $logo-green-color;
	}
	.vehicle-overview h3 {
		text-transform: none;
	}
	.drop-content {
		display: none;
	}
}

.dealer-info {
	overflow: hidden;
  font-size: 0.9em;
  h3 {
    margin-bottom: 20px;
  }
  .col-md-4 {
    position: relative;
    padding-left: 40px;
    margin-bottom: 25px;
  }
  .dealer-info-icon {
    position: absolute;
    left: 15px;
    top: 2px;
  }
  a {
    color: $blue-new-color;
  }
}
.listing-summary {
	border-bottom: 1px solid #d2dbe0;
	ul {
		overflow: hidden;
		padding-top: 10px;
		li {
			float: left;
			width: 33.33%;
			margin-bottom: 25px;
      min-height: 40px;
      @media only screen and (min-width: 768px) {
        &:nth-child(3n) {
          &:after {
            content: "";
            height: 0;
            width: 300%;
            display: table;
            float: right;
          }
        }
      }
      h6 {
        color: $logo-green-color; 
        letter-spacing: 0.1em;
        font-size: 0.75em;
        font-weight: 400;
      }
			span {
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				display: inline-block;
        font-size: 0.9em;
			}
		}
	}
}
.vehicle-overview {
	line-height: 1.7;
  .accordion-content .drop-wrap {
    border: none;
  }
  .accordion-content .drop-wrap + .drop-wrap {
    margin-top: 20px;
  }
  .accordion-content .drop-wrap .drop-btn {
    color: $logo-green-color;
    font-size: 1.375em;
    padding: 7px 0;
  }
  .accordion-content .drop-wrap .drop-btn:after {
    font-size: 0.75em;
  }
}

.chart-wrap {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid #d2dbe0;
	.chart {
		border: 1px solid #e8e8e9;
		background: #fff;
	}
}
#map {
	width:100%;
	height: 440px;
}

.detailed-inner-container {
  max-width: 960px;
  margin: 0 auto;
}

.carfax-snapshot-embedded {
  width: 100%;
}

.buy-online-content {
  width: 100%;
  z-index: 9999;
  position: fixed;
  left: 100%;
  background: rgba(0, 0, 0, 0.71);
  color: #000;
}

.close-frame {
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 36px;
  background-color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  @include border-radius(20px);
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
  img {
    width: 20px;
  }
}

.dealer-form-fields p {
  margin-bottom: 14px;
  &:nth-child(2) {
    margin-bottom: 30px;
  }
}

.detailed-page .like-btn {
  position: absolute;
  top: 20px;
  right: 15px; 
  color: rgba(255,255,255,1);
  width: 24px;
  height: 25px;
  text-align: center;
  font-size: 1.35em;
  z-index: 9;
}
.detailed-page .like-btn:after {
  content: "\f004";
  @extend .font-awesome;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 28px;
  transition: all 0.3s;
}
.detailed-page .liked .like-btn:after {
  color: #ef1b61;
}
.graph-wrapper h2 {
  margin-left: 15px;
}

.other-cars-slider-row {
  padding-top: 50px;
  .other-cars-slider {
    display: none;
    margin-left: -8px;
    margin-right: -8px;
    &.slick-initialized {
      display: block;
    }
    a {
      color: $dark-blue-color;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .slide-item {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    h4 {
      text-transform: none;
    }
  }
  .slide-img {
    position: relative;
    overflow: hidden;
    max-height: 232px;
    img {
      width: 100%;
    }
    .like-btn {
      top: 5px;
      right: 10px;
    }
  }
  .slide-desc {
    background-color: #fff;
    padding: 10px;

    p {
      margin-bottom: 0;
      margin-top: 3px;
    }
  }
  .slick-prev:before,
  .slick-next:before {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 25px;
    height: 41px;
    display: inline-block;
  }
  .slick-prev:before {
    content: "";
    background-image: url(../img/arrow_slider-grey.svg);
    @include transform-rotate (180deg);
  }
  .slick-next:before {
    content: "";
    background-image: url(../img/arrow_slider-grey.svg);

  }
}

.mobile-networks {
  display: none;
}

/*------ Popups styles -----*/

/*--- animations ---*/

@-webkit-keyframes rotateImg {
    100% {-webkit-transform: rotate(360deg)}
} 
@-moz-keyframes rotateImg {
    100% {-moz-transform: rotate(360deg)}
} 
@-ms-keyframes rotateImg {
    100% {-ms-transform: rotate(360deg)}
} 
@keyframes rotateImg {
    100% {transform: rotate(360deg)}
}

@-webkit-keyframes scaleImg {
    50% {-webkit-transform: scale(1.5)}
    100% {-webkit-transform: scale(1)}
} 
@-moz-keyframes scaleImg {
    50% {-webkit-transform: scale(1.5)}
    100% {-webkit-transform: scale(1)}
} 
@-ms-keyframes scaleImg {
    50% {-webkit-transform: scale(1.5)}
    100% {-webkit-transform: scale(1)}
} 
@keyframes scaleImg {
    50% {-webkit-transform: scale(1.5)}
    100% {-webkit-transform: scale(1)}
}

@-webkit-keyframes moveImg {
    33% {top: 60%}
    66% {top: 40%}
} 
@-moz-keyframes moveImg {
    33% {top: 60%}
    66% {top: 40%}
} 
@-ms-keyframes moveImg {
    33% {top: 60%}
    66% {top: 40%}
} 
@keyframes moveImg { 
    33% {top: 60%}
    66% {top: 40%} 
}

@-webkit-keyframes moveLeftImg {
    20% {left: 15px}
    40% {left: 35px}
    60% {left: 20px}
    80% {left: 30px}
    100% {left: 25px}
} 
@-moz-keyframes moveLeftImg {
    20% {left: 15px}
    40% {left: 35px}
    60% {left: 20px}
    80% {left: 30px}
    100% {left: 25px}
} 
@-ms-keyframes moveLeftImg {
    20% {left: 15px}
    40% {left: 35px}
    60% {left: 20px}
    80% {left: 30px}
    100% {left: 25px}
} 
@keyframes moveLeftImg { 
    20% {left: 15px}
    40% {left: 35px}
    60% {left: 20px}
    80% {left: 30px}
    100% {left: 25px} 
}

@-webkit-keyframes changeWhiteColor {
    25% { background-color: $logo-green-color; color: #fff;}
    75% { background-color: $logo-green-color; color: #fff;}
    100% {background-color: #fff; color: $logo-green-color;}
} 
@keyframes changeWhiteColor {
    25% { background-color: $logo-green-color; color: #fff;}
    75% { background-color: $logo-green-color; color: #fff;}
    100% {background-color: #fff; color: $logo-green-color;}
}

@-webkit-keyframes changeGreenColor {
    25% {background-color: #fff; color: $logo-green-color;}
    75% {background-color: #fff; color: $logo-green-color;}
    100% { background-color: $logo-green-color; color: #fff;}
} 
@keyframes changeGreenColor {
    25% {background-color: #fff; color: $logo-green-color;}
    75% {background-color: #fff; color: $logo-green-color;}
    100% { background-color: $logo-green-color; color: #fff;}
}

@-webkit-keyframes changeCarImage {
    25% { background-image: url(../img/test_drive.svg) }
    75% { background-image: url(../img/test_drive.svg) }
    100% { background-image: url(../img/floating_2.svg) }
}  
@keyframes changeCarImage {
    25% { background-image: url(../img/test_drive.svg) }
    75% { background-image: url(../img/test_drive.svg) }
    100% { background-image: url(../img/floating_2.svg) }
}

@-webkit-keyframes changeInfoImage {
    25% { background-image: url(../img/contact_dealer.svg) }
    75% { background-image: url(../img/contact_dealer.svg) } 
    100% { background-image: url(../img/floating_1.svg) }
} 
@keyframes changeInfoImage {
    25% { background-image: url(../img/contact_dealer.svg) }
    75% { background-image: url(../img/contact_dealer.svg) }
    100% { background-image: url(../img/floating_1.svg) }
}

/*--- enf of animations ---*/

#error-message {
  padding-bottom: 20px;
  font-weight: 500;
  color: rgba($red-color, 0.75);
}

.popup-btns {
  @media only screen and (min-width: 768px) {
    z-index: 999;
    max-width: 282px;
  }
  @media only screen and (min-width: 992px) {
    max-width: 293px;
  }
  @media only screen and (min-width: 1200px) {
    max-width: 438px;
  }
  @media only screen and (min-width: 1441px) {
    max-width: 446px;
  }
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ececec;
  position: relative; 
  &.affix,
  &.affix-bottom  {
    top: 113px;
    position: fixed !important;
    z-index: 999; 
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    .btn.exclusive-price-btn:before {
      opacity: 0;
    }
    @media only screen and (min-width: 992px) {
      .btn {
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 0.9em;
      }
    }
    @media only screen and (min-width: 1200px) {
      .btn {
        font-size: 1.375em;
      }
    }   
  }
  .btn + .btn {
    margin-top: 14px;
    @media only screen and (min-width: 768px) and (max-width: 1440px) {
      margin-top: 10px;
    }
  }
  > .btn:not(.exclusive-price-btn) {
    background-color: #fff;
    @include border-radius(3px);
    color: $logo-green-color;
    border: 3px solid transparent;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 3px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -16px;  
      opacity: 0;
      width: 25px;
      height: 25px;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      @include transform-rotate(45deg);
    }
    &:before {
      left: -3px;
      background-color: $logo-green-color;
      box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.05);
    }
    &:after {
      left: 1px;
      background-color: #fff;
    }
    &:hover {
      border-color: $logo-green-color;
    }
    &.active {
      border-color: $logo-green-color;
      &:before,
      &:after {
        opacity: 1;
      } 
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      &:before,
      &:after {
        width: 18px;
        height: 18px;
        margin-top: -12px;
      }
    }
    span {
      font-size: 0.68em;
      text-transform: capitalize;
      display: inline-block;
      padding-top: 6px;
      letter-spacing: 0.5px;
    }
  }
  > .btn {
    position: relative;
    text-align: left; 
    font-size: 1.375em;
    font-weight: 500;
    width: 100%;
    padding: 18px 20px 18px 80px;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 1em;
    }
    @media only screen and (min-width: 992px) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    @media only screen and (min-width: 1200px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    @media only screen and (min-width: 1441px) {
      padding-top: 34px;
      padding-bottom: 34px;
    }
    @media only screen and (min-width: 1441px) and (max-height: 900px) {
      padding-top: 21px;
      padding-bottom: 21px;
    } 
    &.btn-contact {
      .popup-btn-icon {
        @media only screen and (min-width: 768px) {
          -webkit-animation-name: scaleImg;
          -moz-animation-name: scaleImg;
          -ms-animation-name: scaleImg;
          animation-name: scaleImg;
        }
        @media only screen and (max-width: 767px) {
          &.animation {
            -webkit-animation-name: scaleImg;
            -moz-animation-name: scaleImg;
            -ms-animation-name: scaleImg;
            animation-name: scaleImg;
          }
        }
      }
    }
    &.btn-trade-value {
     .popup-btn-icon {
        @media only screen and (min-width: 768px) {
          -webkit-animation-name: rotateImg;
          -moz-animation-name: rotateImg;
          -ms-animation-name: rotateImg;
          animation-name: rotateImg;
        }
        @media only screen and (max-width: 767px) {
          &.animation {
            -webkit-animation-name: rotateImg;
            -moz-animation-name: rotateImg;
            -ms-animation-name: rotateImg;
            animation-name: rotateImg; 
          }
        }
      }
    }
    &.btn-finance {
      .popup-btn-icon {
        @media only screen and (min-width: 768px) {
          -webkit-animation-name: moveImg; 
          -moz-animation-name: moveImg;
          -ms-animation-name: moveImg;
          animation-name: moveImg;
        }
        @media only screen and (max-width: 767px) {
          &.animation {
            -webkit-animation-name: moveImg; 
            -moz-animation-name: moveImg;
            -ms-animation-name: moveImg;
            animation-name: moveImg;
          }
        }
      }
    }
    &.btn-buy-online {
      .popup-btn-icon {
        @media only screen and (min-width: 768px) {
          -webkit-animation-name: rotateImg;
          -moz-animation-name: rotateImg;
          -ms-animation-name: rotateImg;
          animation-name: rotateImg;
        }
        @media only screen and (max-width: 767px) {
          &.animation {
            -webkit-animation-name: moveLeftImg;
            -moz-animation-name: rmoveLeftImg;
            -ms-animation-name: moveLeftImg; 
            animation-name: moveLeftImg; 
          }
        }
      }
    }
    &.btn-buy-online-iframe {
      background-image: url(../img/buy_online.svg);
    }
    &.btn-test-drive {
      color: #fff;
      background-color: $logo-green-color;
      &:after {
        display: none;
      }
      @media only screen and (min-width: 768px) {
        &:hover {
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
        }
      }

      .popup-btn-icon {
        @media only screen and (min-width: 768px) {
          -webkit-animation-name: moveLeftImg;
          -moz-animation-name: rmoveLeftImg;
          -ms-animation-name: moveLeftImg; 
          animation-name: moveLeftImg;
        }
        @media only screen and (max-width: 767px) {
          &.animation {
            -webkit-animation-name: moveLeftImg;
            -moz-animation-name: rmoveLeftImg;
            -ms-animation-name: moveLeftImg; 
            animation-name: moveLeftImg;
          }
        }
      }
    }
    &.exclusive-price-btn {
      line-height: 1.1;
      background-color: $pink-color;
      @include border-radius(3px);
      color: #fff;
      border: 3px solid transparent;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;
        margin-top: -18px; 
        border-top: 18px solid transparent;
        border-right: 18px solid #E82D52;
        border-bottom: 18px solid transparent; 
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0;
        @media only screen and (min-width: 1441px) {
          top: 44%;
        }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          border-width: 15px;
          left: -15px;
          top: 75%;
        }
      }
      &.active,
      &.with-arrow {
        &:before {
          opacity: 1;
        }
      }
      @media only screen and (min-width: 1200px) {
        &:hover {
          background-color: darken($pink-color, 10%);
          &:before {
            border-right-color: darken($pink-color, 10%);
          }
        }
      }
      
    }
  }

  .popup-btn-icon {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    height: 25px;
    width: auto;
    left: 25px;

    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    
    -ms-animation-duration: 4s;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;

    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear; 
    
    @media only screen and (min-width: 768px){
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      -ms-animation-delay: 1s;
      animation-delay: 1s;
    }
  }
}

.popups-wrap {
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  @media only screen and (min-width: 768px) {
    z-index: 999;
  }
  &.carfax-form {
    background-color: #fff;
    .green-bg {
      background-color: rgba($logo-green-color, 0.75);
      color: #fff;
      padding: 15px; 
      margin-bottom: 40px;
    }
    .popups-header {
      margin-left: 25px;
      margin-right: 25px;
      padding-top: 40px;
      padding-left: 0;
      padding-right: 0;
    }
    .popups-content {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  .popups-container {
    font-family: $monserrat-font-family;
    position: absolute;
    background: #fff;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    opacity: 0;
    z-index: -1;
    @include transition(all 0.3s);
    &.visible {
      opacity: 1;
      z-index: 2;
    }
    &:before {
      content: "";
      position: absolute;
      box-shadow: 0 0 10px rgba(0,0,0,0.25);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #fff;
      z-index: -1;
      opacity: 0;
    }
    h3 {
      color: $logo-green-color;
      margin-bottom: 5px;
    }
  }
  .popups-header {
    background: #fff;
    border-bottom: 2px solid #ececec;
    padding: 17px 25px 16px;
    position: relative;
    .display-flex {
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      &.row {
        -webkit-box-align: flex-end;
        -webkit-align-items: flex-end;
        align-items: flex-end;
      }
    }
    .car-photo {
      width: 60px;
      height: 60px;
      @include border-radius(30px);
      display: inline-block;
      background-color: #ccc;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
    .car-info {
      padding-left: 12px;
      > * {
        text-align: left !important;
      }
    }
    h2 {
      font-weight: 400;
      margin-bottom: 0;
    }
    p {
      font-weight: 500;
      margin-bottom: 0;
    }
    .price {
      font-size: 1.4em;
      position: relative;
      .old-price {
        position: absolute;
        font-size: 0.6em;
        right: 0;
        top: -15px;
        color: $dark-blue-color;
        text-decoration: line-through;
      }
    }
    .exclusive-price {
      .price {
        color: #E82D52;
        font-weight: 500;
      }
    }
  }
  .popups-close {
    color: $logo-green-color;
    font-weight: 500;
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 1;
    cursor: pointer;
    z-index: 11;
    img {
      width: 15px;
      float: right;
      margin-left: 5px;
    }
  }
  .popups-content {
    padding: 15px 25px;
    h3 {
      width: 50%;
    }
    .popup-item-head {
      padding-bottom: 20px;
      width: 100%;
      @extend .display-flex;
    }
    .btn {
      margin-bottom: 20px;
      text-transform: none;
      @include border-radius(3px);
    }
    .small {
      font-size: 0.813em;
      line-height: 1.5;
    }
  }
  .popups-content-item {
    display: none;
  }

  .check-icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: -2px;
  }
}

/*-------------------------*/
.close-frame {
  width: 30px;
  height: 30px;
  line-height: 26px;
  top: 10px;
  right: 10px;
  img {
    width: 15px;
  }
}

.modal-backdrop.in {
  filter: alpha(opacity=60);
  opacity: .6;
}

.detailed-popup,
.popups-content,
.buy-online-form {
  font-family: $monserrat-font-family;
  .modal-header {
    padding: 30px 50px 0;
    border-bottom: none;
    h3 {
      color: $logo-green-color;
      margin-bottom: 0;
      padding-bottom: 20px;
      width: 50%;
    }
  }
  .modal-body {
    padding: 0 50px 40px;
  }
  .modal-mobile-title {
    display: none;
  }
  .btn {
    font-size: 1em;
    padding-top: 18px;
    padding-bottom: 18px;
    &.btn-green {
      min-width: 240px;
    }
    &[disabled] {
      background-color: #9c9c9c;
      color: #fff;
    }
  }
  a{
    color: $blue-new-color;
  }
  .close {
    color: $logo-green-color;
    opacity: 1;
    font-size: 1.5em;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;
  }
  .row-bottom {
    margin-top: 20px;
  }
  input[type='text'],
  input[type='tel'],
  input[type='email'],
  textarea,
  select:not(.simple-select),
  .bootstrap-select>.dropdown-toggle {
    border: 3px solid #e4e4e4;
    @include border-radius(2px);
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
    color: $logo-green-color;
    &.error {
      border: 3px solid rgba($red-color, 0.5);
    }
  }
  .error {
    .bootstrap-select>.dropdown-toggle {
      border: 3px solid rgba($red-color, 0.5);
    }
  }
  .bootstrap-select>.dropdown-toggle:hover,
  .bootstrap-select>.dropdown-toggle:focus {
    border: 3px solid #e4e4e4;
  }
  input[type='text'],
  input[type='tel'],
  input[type='email'],
  textarea,
  select:not(.simple-select) {
    &:focus {
      border: 3px solid $logo-green-color;
    }
  }
  input[type='text'],
  input[type='tel'],
  input[type='email'] {
    height: 60px;
  }
  select:not(.simple-select),
  .bootstrap-select>.dropdown-toggle {
    height: 60px !important;
  }
  textarea {
    padding-top: 17px;
    padding-right: 17px;
    height: 110px;
  }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
      color: #9c9c9c;
   }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #9c9c9c;
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
      color: #9c9c9c;
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
      color: #9c9c9c;
  }

  label {
    font-weight: normal;
    color: #9c9c9c;
  }

  .header-add-info {
    width: 50%;
    text-align: right;
    padding-top: 5px;
    p {
      font-size: 1.1em;
      margin-bottom: 0;
    }
  }

  .simple-select {
    border: none;
    color: $logo-green-color;
    background: #fff url(../img/select-arrow-green.png) no-repeat 100% 50%;
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none !important;
    appearance: none!important;
  }

  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
  }

  div.dropdown-menu {
    top: 57px;
  }
  ul.dropdown-menu {
    padding: 0;
    box-shadow: none;
    margin-top: 0;
    @include border-radius(0 0 3px 3px);
    border: 3px solid #e4e4e4 !important;
    border-top-color: #fff !important;
  }
  .dropdown-menu li {
    border: none;
    font-size: 1.1em;
    font-family: $monserrat-font-family;
    > a {
      font-weight: 500;
      padding: 10px 20px;
      color: #999;
      &:hover,
      &:focus {
        color: #fff;
        background-color: $logo-green-color;
      }
    }
  }
  .dropdown-menu li:first-child {
    border-radius: 0;
  }
  .dropdown-menu li:first-child:before,
  .dropdown-menu li:first-child:after {
    display: none;
  }
  .filter-option {
    color: #999; 
  }
  .selected {
    .filter-option {
      color: $logo-green-color;
    }
  }
  .full-width {
    width: 100%;
  }
}

.contact-dealer-form {
  > p {
    margin-bottom: 15px;
  }
}

.test-drive-form-wrap {
	.btn-wrap {
		padding-top: 10px;	
		.btn {
			background: #9c9c9c;
			color: #fff;
			&.active {
				background-color: #009ffe; 
				box-shadow: none;
			}
		}
	}
	.btn {
		text-transform: none;
	}
	.bootstrap-select.btn-group .dropdown-toggle .caret:after {
		content: "";
	}
	.bootstrap-select.btn-group .dropdown-toggle .filter-option {
		padding-right: 0;
	}
	.bootstrap-select.btn-group {
		width: auto;
		display: block
	}
	.bootstrap-select.btn-group.select-day,
	.bootstrap-select.btn-group.select-time {
		.btn {
			background-color: #fff;
			background-repeat: no-repeat  !important;
			background-position: 92% 50%  !important;
		}
	}
	.bootstrap-select.btn-group.select-day {
		.btn {
			background-image: url(../img/date_picker.svg) !important;
		}
	}
	.bootstrap-select.btn-group.select-time {
		.btn {
			background-image: url(../img/time_picker.svg) !important;
		}
	}
	.selected .bootstrap-select.btn-group.select-day {
		.btn {
			background-image: url(../img/date_picker_active.svg) !important;
		}
	}
	.selected .bootstrap-select.btn-group.select-time {
		.btn {
			background-image: url(../img/time_picker_active.svg) !important;
		}
	}
	
}

.excusive-price-modal {
  padding-top: 15px;
  .car-details {
    padding-right: 0;
    padding-left: 15px;
  }
  .car-desc {
    padding: 15px;
    background-color: #ececec;
    h3 {
      color: $dark-blue-color;
      font-size: 1.2em;
      width: 100%;
    }
    h4 {
      text-transform: none;
      margin: 14px 0;
    }
    .m-top-15 {
      margin-top: 15px;
    }
    strong {
      font-weight: normal;
    }
    .certified {
      color: $logo-green-color;
      font-weight: 500;
    }
  }
  .contact-dealer-form {
    h3 {
      width: 100%;
      color: $pink-color;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .btn {
      @include border-radius(3px);
      width: 100%;
      margin-top: 40px;
    }
  }
}

.trade-value-form-wrap,
.finance-form-wrap,
.buy-online-form {
  .caret {
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent; 
    &:after {
      display: none;
    }
  }
}

.buy-online-form {
  .estimate-step {
    padding-top: 20px;
    padding-bottom: 20px;
    @extend .display-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    @media only screen and (min-width: 1400px) and (max-height: 900px) {
      padding-top: 15px;
      padding-bottom: 15px; 
    }
    .dol {
      position: absolute;
      top: 0;
      line-height: 40px;
      left: 0;
    }
    input[type=tel],
    select,
    .bootstrap-select > .dropdown-toggle {
      height: 40px;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

#main-search {
  border: 1px solid red;
  max-width: 100%;
}

.finance-form-wrap {
  .col-term {
    width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
  .estimate-step {
    padding-top: 20px;
    padding-bottom: 20px; 
    @media only screen and (min-width: 1400px) and (max-height: 900px) {
      padding-top: 15px;
      padding-bottom: 15px; 
    }
    & + .estimate-step {
      border-top: 1px solid #e4e4e4;
    }
    h4{
      margin-bottom: 10px;
    }
  }
  .space-around {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  h4 {
    text-transform: none;
  }
  .range-slider-wrap{
    .slider.slider-horizontal {
      width: 94%;
      display: block;
      margin: 0 auto;
    }
    .slider.slider-horizontal .slider-track {
      background-color: #d8d8d8;
      height: 8px;
    }
    .slider-selection {
      background-image: none;
      background-color: $logo-green-color;
    }
    .slider-handle {
      width: 26px;
      height: 26px;
      background-image: none;
      background-color: $logo-green-color; 
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      margin-top: -9px;
    }
  }
  .slider-val-wrap {
    position: relative;
    margin-top: 10px;
    padding-left: 15px;
    &:before {
      content: "$";
      position: absolute;
      left: 0;
      top: 0;
      line-height: 32px;
      font-weight: bold;
    }
  }
  .slider-val {
    border: 3px solid #d8d8d8;
    @include border-radius(2px);
    line-height: 30px;
    font-size: 0.9em;
    display: inline-block;
    width: 65px !important;
    height: 35px !important;
    color: $dark-blue-color !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
    text-align: center;
    position: relative;
    top: 5px;
  }
  .popup-price-detail {
    background-color: #ececec;
    overflow: hidden;
    width: 100%;
    @extend .display-flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    @include border-radius(2px);
    > div {
      padding: 15px 25px;
    }
    p {
      margin-bottom: 0;
      line-height: 1.25;
      font-weight: normal;
      letter-spacing: 0.1em
    }
    .popup-price {
      line-height: 1;
      border: 3px solid $logo-green-color;
      @include border-radius(0 2px 2px 0);
      @extend .display-flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 215px;
      min-width: 215px;
      max-width: 215px;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      sup {
        font-size: 0.9em;
      }
    }
    .popup-price-text {
      width: 80%;
    }
    .grey {
      color: #9d9d9d;
    }
    .price-item {
      color: $logo-green-color;
      font-size: 1.7em;
      line-height: 1.1;
      margin-right: 3px;
      font-weight: 500;
    }
  }
  label {
    width: 100%;
    position: relative
  }
  input[type='radio'] {
    position: absolute;
    opacity: 0; 
  }
  .radio-content {
    border: 3px solid #d8d8d8;
    @include border-radius(2px);
    width: 100%;
    text-align: center;
    display: inline-block; 
    padding: 5px 10px;
    color: $dark-blue-color;
    font-size: 0.875em;
    line-height: 1.25;
    cursor: pointer;
    em {
      font-size: 1.2em;
      font-style: normal;
      display: block;
      color: $logo-green-color;
      font-weight: 500;
    }
    &:hover {
      border-color: $logo-green-color;
      background-color: #ececec;
    }
  }
  input[type='radio']:checked + .radio-content {
    background-color: $logo-green-color;
    color: #fff;
    em {
      color: #fff;
    }
  }
  .score-step {
    em {
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}

.buy-online-over {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  z-index: 998;
}

.buy-online-container {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: none;
  z-index: 999;
  &:before {
    content: "";
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: -1;
    opacity: 0;
  }
  .popups-header {
    padding-top: 35px;
    .display-flex.row {
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    h2 {
      text-transform: none;
      padding-right: 70px;
    }
    .car-photo {
      min-width: 100px;
      width: 100px;
      height: 100px;
      @include border-radius(50px);
    }
    .price {
      border: 2px solid $logo-green-color;
      border-left: none;
      @include border-radius(10px);
      color: $logo-green-color; 
      padding: 20px 10px;
      float: right;
      line-height: 1;
      .circle {
        width: 20px;
        height: 20px;
        @include border-radius (10px);
        border: 2px solid $logo-green-color;
        display: inline-block;
        float: left;
        margin-left: -10px;
        margin-right: 10px;
        position: relative;
        z-index: 2;
      }
      .grey {
        color: $grey-color;
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-size: 0.6em;
        font-weight: 500;
      }
      &:before {
        content: "";
        width: 50px;
        background: url(../img/price-triangle-bg.png) no-repeat 100% 0;
        background-size: auto 100%;
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -40px;
        display: inline-block;
      }
    }
  }
  .buy-onliny-steps {
    ul {
      margin-bottom: 0;
      background: #ececec;
      overflow: hidden;
      li {
        float: left;
        width: 16.66%;
        line-height: 40px;
        color: #9f9f9f;
        position: relative;
        text-align: center;
        &.done {
          background-color: $logo-green-color;
          color: #fff;
          &:after {
            border-left-color: $logo-green-color;
          }
        }
        &:before {
          content: "";
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 10px solid #fff;
          position: absolute;
          top: 0;
          right: -12px;
        }
        &:after {
          content: "";
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 10px solid #ececec;
          position: absolute;
          top: 0;
          right: -10px;
        }
        &:last-child {
        &:before,
        &:after {
            display: none;
          }
        }
      } 
    }
  }
}

.buy-online-form {
  padding: 20px;
  background-color: #fff;
  position: absolute;
  top: 0; 
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 999;
  form {
    @media only screen and (min-width: 1200px) {
      overflow: hidden;
    }
  }
  > .btn {
    color: $logo-green-color;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.1em; 
    text-align: left;
    padding: 0 20px 0 67px;
    font-size: 1.375em;
    font-weight: 500;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    background-size: auto 25px;
    background-image: url(../img/buy_online.svg);
    &:before {
      content: "";
      position: absolute;
      top: 25px;
      left: -15px;
      border-top: 15px solid transparent;
      border-right: 15px solid #fff;
      border-bottom: 15px solid transparent; 
      @include transition(all 0.3s);
    }
    span {
      font-size: 0.68em;
      text-transform: capitalize;
      display: inline-block;
      padding-top: 6px;
      letter-spacing: 0;
    }
  }
  .checkbox-wrap .checkbox-icon {
    width: 20px;
    height: 20px;
    @include border-radius(2px);
    line-height: 20px;
    float: left;
  }
  .checkbox-wrap .checkbox-icon:after {
    line-height: 18px; 
    font-size: 0.9em;
  }
  .checkbox-wrap input:checked + .checkbox-icon {
    background-color: $logo-green-color;
    border-color: $logo-green-color;
  }
  .checkbox-wrap .name {
    float: left;
    width: calc(100% - 30px);
    line-height: 20px;
  }
  .total-info {
    font-weight: 500;
    > div {
      padding-top: 15px;
    }
  }
  .grey {
    color: $grey-color;
  }
}

@media only screen and (max-width: 1366px) {
  .detailed-popup,
  .popups-content,
  .buy-online-form {
    input[type='text'],
    input[type='tel'],
    input[type='email'],
    textarea,
    select:not(.simple-select),
    .bootstrap-select>.dropdown-toggle {
      margin-bottom: 15px;
    }
  }
  .finance-form-wrap .col-term {
    padding-left: 5px;
    padding-right: 5px;
  }

  .finance-form-wrap .estimate-step, 
  .buy-online-form .estimate-step {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .buy-online-container .popups-header .car-photo {
    width: 75px;
    height: 75px;
    min-width: 75px;
  }
  .buy-online-container .popups-header h2 {
    padding-right: 30px;
  }
  .buy-online-container .popups-header .price {
    font-size: 1em;
  }
  
}

@media only screen and (max-width: 1199px) {
  header {
    position: relative;
    height: inherit;
  }
  #content.detailed-page {
    padding-top: 25px;
  }

  .finance-form-wrap {
    .price-detail {
      > div {
        width: 100%;
      }
    }
  }

  .buy-online-form .estimate-step{
    display: inline-block;
    width: 100%;
    margin: 0;
    > div {
      padding-right: 0;
      padding-left: 0;
      width: 100%;
    }
  }

  .buy-online-form .total-info {
    margin: 0;
    > div {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .buy-online-container .popups-header h2 {
    font-size: 1em;
  }

  .buy-online-container .popups-header .price {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .buy-online-form .estimate-step .dol {
    left: 11px;
  }
  .buy-online-form form {
    overflow: auto;
    max-height: calc(100% - 75px);
  }

  .popup-btns.affix, 
  .popup-btns.affix-bottom {
    top: 20px !important;
    //position: relative !important;
  }

  .buy-online-container .popups-header .price .circle {
    display: none;
  }

  .excusive-price-modal .contact-dealer-form .btn {
    margin-top: 0;
  }

  .finance-form-wrap .popup-price-detail > div {
    padding: 10px 15px;
  }

  .other-cars-slider-row {
    .slick-next {
      right: -30px;
    }
    .slick-prev {
      left: -30px; 
    }
  }
}

@media only screen and (max-width: 991px) {

  .car-details {
    padding-left: 15px;
    .display-flex {
      -webkit-box-align: flex-start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      .price {
        margin-top: 15px;
      }
    }
    h1 {
      padding-right: 0;
      padding-bottom: 5px;
    }
  }
  .vehicle-overview .accordion-content .drop-wrap {
    padding: 0 15px;
  }
  .vehicle-overview .accordion-content .drop-wrap .drop-btn {
    font-size: 1em;
  }

  .car-photos .main-photo-wrap .main-photo-slider .slick-arrow {
    bottom: 60px;
  }

  .car-photos--avis-background .main-photo-wrap .main-photo-slider .slick-arrow {
    bottom: 0;
  }

  /*.detailed-popup .modal-header {
    padding-top: 40px;
  }

  .detailed-popup .modal-header,
  .detailed-popup .modal-body {
    padding-left: 15px;
    padding-right: 15px;
  }*/
  .finance-form-wrap .col-term {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .buy-online-form .estimate-step {
    display: inline-block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    h4 {
      margin-bottom: 10px;
    }
    > div {
      padding-right: 0;
      padding-left: 0;
    }
    .dol {
      left: 9px;
    }
  }

  .test-drive-form-wrap {
    .select-wrap {
      display: inline-block;
      width: 100%;
    }
  }
  
  .car-photos .nav-main-photo-slider {
    height: 60px;
  }
  .car-photos .nav-main-photo-slider .main-slide-item {
    width: 70px !important;
    height: 50px;
  }

  .popups-wrap .popups-header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .car-details .price {
    font-size: 1.6em;
  }
  .popups-wrap .popups-header h2 {
    font-size: 1.4em;
  }
  .popups-wrap .popups-header .price,
  .popups-wrap .popups-content h3 {
    font-size: 1.2em;
  }
  
  .finance-form-wrap .popup-price-detail {
    display: inline-block;
    width: 100%;
  }
  .finance-form-wrap .popup-price-detail .popup-price-text {
    width: 100%;
  }
  .finance-form-wrap .popup-price-detail .popup-price {
    text-align: center;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    display: block;
    max-width: 100%;
    width: 100%; 
  }


  #content .finance-form-wrap .popup-price-detail p {
    font-size: 0.813em;
  }

  .finance-form-wrap h4 {
    font-size: 1em;
  }

  .finance-form-wrap .slider-val-wrap {
    position: absolute;
    right: 15px;
    top: -20px;
    .slider-val {
      top: -2px;
    }
  }
  .finance-form-wrap .range-slider-wrap {
    margin-top: 20px;
  }
  .finance-form-wrap .estimate-step + .estimate-step {
    border-top: 0;
  }
  .finance-form-wrap .estimate-step > .col-md-6 + .col-md-6 {
    margin-top: 30px;
  }
  .finance-form-wrap .estimate-step {
    margin-right: -3px;
    margin-left: -3px;
  }
  .finance-form-wrap .estimate-step > div {
    padding-right: 3px;
    padding-left: 3px;
  }
  .finance-form-wrap .radio-content {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 0.65em;
  }
  .finance-form-wrap .radio-content em {
    line-height: 1.5;
  }

  .other-cars-slider-row {
    .other-cars-slider {
      padding-left: 30px;
      padding-right: 30px;
    }
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  #content.detailed-page {
    padding-top: 0;
  }
  .buy-online-over {
    background-color: rgba(0,0,0,0.85);
    top: -100px;
  }

  .mobile-networks.visible {
    display: block;
  }

  .car-photos .main-photo-wrap .photo-count,
  .car-photos .like-btn {
    top: 15px;
  }
  .car-photos .main-photo-wrap .photo-count {
    left: 10px;
  }
  .car-photos .main-photo-wrap .share-btn {
    top: 13px;
  }
  .car-photos .like-btn {
    right: 10px;
  }
  .mobile-socials {
    margin-top: -50px;
    width: 50px;
  }
  .car-photos .nav-main-photo-slider-wrap .slider-action-btn {
    left: 90%;
    display: none;
  }
  .car-photos .main-photo-wrap .main-photo-slider .slick-arrow {
    bottom: 0;
  }
  .car-photos {
    .car-photo-buttons {
      position: relative;
      box-shadow: 0 0 2px rgba(0,0,0,0.25);
    }
    .main-photo-wrap {
      .video-wrap {
        height: 275px;
      }
    }
  }
  .car-details {
    min-height: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .car-details .display-flex {
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    min-height: inherit;
  }
    .car-details h1 { 
    line-height: 1.2;
    font-size: 1.2em;
    text-transform: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .car-details .price {
    font-size: 1.2em;
    margin-top: 8px !important;
    .old-price {
      top: -10px;
    }
    .est-price {
      margin-top: 7px;
    }
  }

  .detailed-page#content .contact-dealer-wrap {
    background: #fff;
    padding: 10px 15px;
    z-index: 98;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    transition: top 0.3s;
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    > .btn {
      width: 48%;
      font-weight: 500;
      text-transform: none;
      margin-top: 0 !important;
      -webkit-animation-duration: 4s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: linear;
      -webkit-animation-delay: 1s;
      animation-duration: 4s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-delay: 1s;
      &:before {
        content: "";
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 5px;
        background-position: 50% 50%;
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: relative;
        top: 5px; 
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-delay: 1s;
        animation-duration: 4s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-delay: 1s;
      }
      &.btn-white-green {
        -webkit-animation-name: changeWhiteColor;
        animation-name: changeWhiteColor;
        &:before {
          background-image: url(../img/floating_2.svg);
          -webkit-animation-name: changeCarImage;
          animation-name: changeCarImage;
        }
      }
      &.btn-green {
        -webkit-animation-name: changeGreenColor;
        animation-name: changeGreenColor; 
        &:before {
          background-image: url(../img/floating_1.svg);
          -webkit-animation-name: changeInfoImage;
          animation-name: changeInfoImage;
        }
      }
      + .btn {
        float: right;
      }
    }
    &.affix {
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
    }
  }

  .popups-wrap {
    margin-right: -15px;
    margin-left: -15px;
    &.carfax-form {
      margin-left: 15px;
      margin-right: 15px;
      position: relative;
      top: 28px;
      padding-left: 0;
      padding-right: 0;
      .popups-header {
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 15px;
        padding-right: 15px;
        > .display-flex {
          display: block;
          > div {
            padding-left: 0;
            padding-right: 0;
          }
        }
        h2 {
          line-height: 1.2;
        }
        .exclusive-price {
          margin-top: 25px;
        }
      }
      .popups-content {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 15px;
        padding-right: 15px;
        .btn.btn-green {
          line-height: 1;
        }
      }
    }
  }

  .popups-wrap .popups-close {
    top: 10px;
    right: 10px;
  }

  .popups-wrap .popups-content .popup-item-head h3 {
    display: none;
  }

  .popups-content .header-add-info {
    width: 100%;
  }

  #finance .header-add-info {
    text-align: center;
    font-size: 1.4em;
    strong {
      color: $logo-green-color;
      font-weight: 500;
    }
  }
  .popups-wrap .popups-container {
    position: fixed;
    //top: auto;
    width: 100%;
    height: 100vh;
    left: 0;
    bottom: 0;
    background-color: transparent;
    box-shadow: none;
    &.visible {
      z-index: 999;
    }
    .popups-header {
      display: none !important;
    }
    .modal-mobile-title {
      display: block;
      font-size: 1.4em;
      padding: 30px 40px 20px 15px;
      border-radius: 15px 15px 0 0;
      color: $logo-green-color;
      width: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.3) 100%);
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.3) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.3) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4dffffff',GradientType=0 ); 
    }
    .popups-content {
      padding: 0;
      .btn {
        margin-bottom: 0;
      }
    }
    .popups-content-item {
      background-color: #fff;
      position: fixed;
      left: 0;
      right: 0;
      bottom: -100%;
      display: block;
      border-radius: 15px 15px 0 0;
      width: 100%;
      opacity: 1;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      &.visible {
        bottom: 0;
        z-index: 999;
      }
    }
    .mobile-scroll {
      position: absolute; 
      top: 0;
      bottom: 0;
      right: 0;
      left: 0; 
      -webkit-overflow-scrolling: touch;
      overflow: auto;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 20px;
      padding-top: 70px;
    }

    .btn { 
      height: inherit;
      line-height: 1;
      &.btn-green {
        line-height: inherit;
        min-width: inherit;
      }
    }
    input[type='text'],
    input[type='tel'],
    input[type='email'],
    textarea,
    select:not(.simple-select),
    .bootstrap-select>.dropdown-toggle {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 20px;
    }
    .btn-pink {
      min-width: 60%;
    }
    .excusive-price-modal {
      .modal-mobile-title {
        color: $pink-color;
        font-weight: 700;
      }
      .contact-dealer-form {
        .btn.btn-green {
          line-height: inherit;
        }
      }
    }
  }  

  .finance-form-wrap .slider.slider-horizontal {
    width: 250px;
  }

  .finance-form-wrap .estimate-step, 
  .buy-online-form .estimate-step {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .popup-btns {
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
    .btn {
      height: inherit;
      line-height: inherit;
      padding-top: 15px;
      padding-bottom: 15px;
      &.active {
        &:after {
          opacity: 0;
        }
      }
    }
    .btn.exclusive-price-btn:before {
      top: -14px;
      margin-top: 0;
      left: auto;
      right: 15px;
      border-top: none;
      border-bottom: 15px solid #E82D52;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent; 
    }
    .btn:not(.exclusive-price-btn):before {
      content: "\f107";
      font-family: 'FontAwesome';
      font-weight: normal;
      font-style: normal;
      opacity: 1;
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
      background-color: transparent;
      box-shadow: none;
      left: auto;
      right: 0;
      margin-top: -12px;
      line-height: 25px;
    }
  }

  .finance-form-wrap .estimate-step .dol, 
  .buy-online-form .estimate-step .dol {
    left: 6px;
  }
  .popup-btns > .btn {
    padding-left: 60px;
    background-position: 20px 50%;
  }
  .test-drive-form-wrap .bootstrap-select.btn-group {
    display: inline-block;
  }
}

@media only screen and (max-width: 479px) {
  .detailed-page#content .contact-dealer-wrap > .btn {
    font-size: 0.875em;
    &.btn-white-green {
      width: 42%;
    }
    &.btn-green {
      width: 54%;
    }
  }

  .finance-form-wrap .slider-val-wrap {
    right: 3px;
  }

  #content.detailed-page .car-details {
    p {
      font-size: 0.75em;
    }
  }

  .popups-wrap .popups-container .modal-mobile-title {
    font-size: 1.2em;
  }
  .popup-btns {
    > .btn {
      padding-left: 60px;
    }
    .popup-btn-icon {
      left: 20px;
    }
  } 
  .finance-form-wrap h4 {
    font-size: 0.875em;
  }
  .finance-form-wrap .radio-content {
    font-size: 0.55em;
    em {
      font-size: 1.1em;
    }
  }
  #content .finance-form-wrap .popup-price-detail p {
    font-size: 0.65em;
  }
}