@import 'variables.scss';

.filters-wrap {
  .new-search,
  .filters {
    background-color: rgba($white-color,1);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  .filters {
    margin-top: 43px;
  }
  .title {
    display: inline-block;
    width: 100%;
    color: #2c3e50;
    padding: 15px 8px 11px;
    overflow: hidden;
    h5 {
      float: left; 
    }
    .reset {
      float: right;
      color: #92979c;
      text-transform: uppercase;
      font-size: 0.775em;
      line-height: 1.5;
    } 
  }
  /* nav tabs */
  .nav-tabs {
    border-bottom: 1px solid #f6f6f7;
    margin-top: 5px;
    li {
      width: 33.33%;
      text-align: center;
    }
    > li > a {
      border: none;
      padding: 0;
      line-height: 35px;
      color: #4e6777;
      display: block;
      border-bottom: 3px solid transparent;
    }
    > li.active a,
    > li > a:hover {
      border: none;
      border-bottom: 3px solid rgba(44,62,80,1);
      background: transparent;
      color: #2c3e50;
    }
    > li.active a {
      font-weight: 600;
    }
  }
  .tab-pane {
    padding-top: 25px;
    h5 {
      margin-bottom: 10px;
    }
  }

  .filter-item + .filter-item {
    margin-top: 25px;
  }

  /* custom checkbox */
  .checkbox-wrap {
    em {
      font-style: normal;
      color: #8394a0;
      font-weight: 400;
    }
    input:checked + .checkbox-icon {
      & + .name {
        font-weight: 600;
      }
    }
  }

  .drop-wrap .drop-btn {
    color: rgba(30,139,195,1);
    font-size: 0.875em;
    margin-top: 5px;
    display: inline-block;
  }
  .drop-wrap .drop-content {
    display: none;
  }
}

/* range slider */

.range-slider-wrap {
  padding: 0 14px 0 10px;
  .slider {
    &.slider-horizontal {
      width: 100%;
    }
    .slider-track {
      border: 1px solid rgba(243,243,243,1);
      height: 10px;
      margin-top: -4px;
      background: -webkit-linear-gradient(#DDD -50%, #FFF 150%);
      background: -o-linear-gradient(#DDD -50%, #FFF 150%);
      background: linear-gradient(#DDD -50%, #FFF 150%);
      width: auto;
      left: -10px;
      right: -10px;
    }
    .slider-selection {
      background: rgba(22,120,59,1);
    }
    .slider-handle {
      @include border-radius(12px);
      width: 23px;
      height: 23px;
      background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(220,220,220,1) 20%, rgba(255,255,255,1) 100%);
      background: -o-linear-gradient(rgba(255,255,255,1) 0%, rgba(220,220,220,1) 20%, rgba(255,255,255,1) 100%);
      background: linear-gradient(rgba(255,255,255,1) 0%, rgba(220,220,220,1) 20%, rgba(255,255,255,1) 100%);
      box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
      cursor: pointer;
      margin-top: -8px;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -4px;
        left: 50%;
        margin-left: -4px;
        width: 0;
        height: 0;
        border-radius: 4px;
        background: rgba(44,62,80,1);
      }
    }
  }
  input.range-slider {
    height: inherit;
  }
}
.range-slider-value {
  margin-top: 13px;
  display: inline-block;
  width: 100%;
  font-size: 0.875em;
  font-weight: 600;
  color: #4e6777;
}

/* colored input */
.colored-filter-row { 
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: -20px;
  .color {
    position: relative;
    float: left;
    padding: 0 6px 10px;
    margin: 0;
    input {
      position: absolute;
      top: 0;
      left: 6px;
      width: 26px;
      height: 26px;
      opacity: 0;
      margin: 0;
      z-index: 2;
      cursor: pointer;
    }
    .checkbox-over {
      width: 26px;
      height: 26px;
      border-radius: 13px;
      position: relative;
      display: inline-block;
      &:after {
        @extend .absolute-position;
        content: "";
        border: 2px solid #fff;
        display: inline-block;
        border-radius: 13px;
        opacity: 0;
        z-index: 1;
      }
    }
    input:checked + .checkbox-over {
      border: 2px solid rgba(44,62,80,1);
      &:after {
        opacity: 1;
      }
    }
  }
}

.colored-filter-row .red .checkbox-over {
  background: rgba(221,50,62,1);
}
.colored-filter-row .brown .checkbox-over {
  background: rgba(219,180,113,1);
}
.colored-filter-row .light-green .checkbox-over {
  background: rgba(158,213,166,1);
}
.colored-filter-row .violet .checkbox-over {
  background: rgba(150,117,235,1);
}
.colored-filter-row .pink .checkbox-over {
  background: rgba(244,133,107,1);
}
.colored-filter-row .orange .checkbox-over {
  background: rgba(244,175,107,1);
}
.colored-filter-row .blue .checkbox-over {
  background: rgba(16,20,210,1);
}
.colored-filter-row .green .checkbox-over {
  background: rgba(49,143,63,1);
}
.colored-filter-row .light-blue .checkbox-over {
  background: rgba(117,235,234,1);
}
.colored-filter-row .lime .checkbox-over {
  background: rgba(218,242,16,1);
}
.colored-filter-row .black .checkbox-over {
  background: rgba(54,56,57,1);
}