@import 'variables.scss';

.filters-wrap .filter-row .dropdown-toggle, 
.filters-wrap .filter-row .dropdown-toggle:hover, 
.filters-wrap .filter-row.zip-input input {
  background-color: #fff !important;
  padding: 0 15px;
}
.filters-wrap .filter-row.zip-input .dropdown-toggle .filter-option {
  font-size: 1em;
}

.switch-wrap {
  padding: 10px 0;
}

.switch {
  height: 17px;
  position: relative;
  width: 31px;
  float: right;
  margin-bottom: 0;
  margin-top: 4px;
}

.switch input {
  display:none;
}

.switch .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.switch .slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 13px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 13px;
}

.switch input:checked + .slider {
  background-color: $blue-new-color;
}

.switch input:checked + .slider:before {
  transform: translateX(13px);
}

.switch .slider.round {
  border-radius: 9px;
}

.switch .slider.round:before {
  border-radius: 7px;
}

.filters-wrap {
  font-family: $monserrat-font-family;
  h3,
  h4 {
    text-transform: none;
    font-weight: 400;
  }
  h4 {
    margin-bottom: 10px;
  }
  .reset {
    text-transform: uppercase;
    color: #a1a1a1;
    font-weight: 400;
    font-size: 0.5em;
    line-height: 1;
    margin-top: 12px;
    float: right;
  }
  .sub-title {
    font-size: 1.15em; 
  }
  .range-slider-value {
    font-size: 0.75em;
    padding-top: 10px;
  }
  .nav-tabs {
    border-bottom: none;
    margin-top: 5px;
    margin-left: -10px;
    margin-right: -10px;
    > li {
      width: 33.33%;
      text-align: center;
      border: none !important; 
      > a {
        border: none;
        border-bottom: 2px solid #ccc;
        line-height: 40px;
        padding: 0;
        background-color: transparent !important;
        margin-right: 0;
        font-size: 0.9em;
        font-weight: 400;
        color: #ccc;
        &:hover {
          color: $logo-green-color;
          border-bottom-color: $logo-green-color;
        }
      }
      &.active {
        > a{
          color:$logo-green-color;
          border-bottom-color: $logo-green-color;
          &:hover,
          &:focus {
            border: none;
            border-bottom: 2px solid; 
          }
        }
      }
    }
    .finance-icon {
      border: 1px solid;
      border-radius: 10px;
      width: 16px;
      font-style: normal;
      height: 16px;
      display: inline-block;
      margin-left: 5px;
      line-height: 14px;
      font-size: 0.9em;
      cursor: pointer;
    }
    .finance-tooltip {
      position: absolute;
      top: 50%;
      @include transform-translate(0,-50%);
      @include border-radius(5px);
      @include box-shadow(0 3px 10px rgba(0,0,0,0.1));
      background-color: #fff;
      padding: 10px;
      font-size: 0.75em;
      color: #333;
      left: calc(100% + 10px);
      line-height: 1.25;
      width: 150px;
      text-align: left;
      z-index: 99;
      display: none;
      &:before {
        content: "";
        width: 15px;
        height: 15px;
        display: inline-block;
        position: absolute;
        left: -8px;
        top: 50%;
        margin-top: -8px;
        background-color: #fff;
        @include box-shadow(-3px 3px 3px 0 rgba(0, 0, 0, 0.05));
        @include transform-rotate (45deg);
      }
    }
  }
  .tab-pane {
    padding-top: 15px;
  }

  .drop-content {
    display: none;
  }
  .drop-btn {
    font-size: 0.9em;
  }

  .range-slider-wrap {
    margin-top: 7px;
  }
  .slider.slider-horizontal {
    width: 93%;
  }
  .slider.slider-horizontal .slider-track {
    height: 8px;
  }
  .slider-track {
    background: #9c9c9c;
  }
  .slider-selection {
    background: $logo-green-color;
  }
  .slider-handle {
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.3);
    margin-top: -6px;
    cursor: pointer;
    background-color: $logo-green-color;
    background-image: none;
  }

  .checkbox-wrap {
    color: #333;
    font-weight: 400;
  }
  .checkbox-wrap .checkbox-icon {
    border: none;
    width: 13px;
    height: 13px;
    background: url(../img/checkbox-bg.png) no-repeat 0 0;
  }
  .checkbox-wrap .checkbox-icon:after {
    content: "\f046";
    color: #333;
    font-size: 15px;
    line-height: 13px;
    left: 1px;
  }
  .checkbox-wrap input:checked + .checkbox-icon {
    background: transparent;
    border-color: transparent
  }

  strong {
    font-weight: 500;
    font-size: 0.9em;
  }
}

.new-search {
  padding-top: 10px;
  .title {
    margin-bottom: 5px;
  }
  .dropdown-toggle,
  .zip-input input {
    border-radius: 0;
  }
  .btn-wrap.filter-row {
    .btn {
      font-size: 1.15em;
      padding: 0;
      line-height: 30px;
      margin-top: 6px;
      border-radius: 4px;
    }
  }
  .filter-row {
    margin-top: 6px;
    .year-item {
      background: #fff;
      position: relative;
      &:before { 
        position: absolute;
        left: 15px;
        line-height: 35px;
        font-size: 0.9em;
      } 
      &.from {
        padding-left: 61px;
        &:before {
          content: "From:";
        }
      }
      &.to {
        padding-left: 39px;
        &:before {
          content: "To:";
        }
      }
      .dropdown-toggle {
        padding-left: 0;
      }
    }
  }

}

.filters {
  margin-top: 20px;
  .filter-item {
    margin-top: 10px;
    a {
      color: $logo-green-color;
      &:hover {
        color: darken($logo-green-color,10%);
      }
    }
  }
  em {
    font-style: normal;
  }
  .filter-row {
    margin-top: 0;
    line-height: 1;
  }
}

/****** TABLET ******/

@media only screen and (max-width: 1199px) {
  .switch {
    float: none;
  }
  .new-search .filter-row .year-item:before {
    font-size: 0.75em;
  }
  .new-search .filter-row .year-item.to {
    padding-left: 34px;
  }
  .new-search .filter-row .year-item.from {
    padding-left: 52px; 
  }
}

@media only screen and (max-width: 991px) {
  .switch {
    top: 4px;
  }
  .new-search .filter-row .year-item:before {
    font-size: 1em;
  }
  .new-search .filter-row .year-item.to {
    padding-left: 40px;
  }
  .new-search .filter-row .year-item.from {
    padding-left: 62px;
  }

  .filters-wrap .reset {
    float: none; 
  }
  .filters-wrap #search,
  .filters-wrap #filters {
    background-color: #ececec;
    .filters-body {
      padding-left: 20px;
      padding-right: 20px;
    }
    .search-close {
      color: $logo-green-color; 
      font-size: 0.875em;
      position: relative;
      float:right;
      top: 0;
      right: 0;
    }
    .title {
      border-bottom: none;
      padding-left: 0;
      padding-right: 0;
    }
    > .title {
      line-height: 50px;
      display: inline-block;
      width: 100%;
      padding: 0 10px;
      border-bottom: 1px solid #cccccc;
      h3 {
        line-height: 50px;
        float: left;
      }
    }
    .filter-row {
      margin-top: 10px;
    }
    .filter-row .half-item {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0;
      & + .half-item {
        margin-left: 0;
        
      }
    }
    .filter-row.zip-input input,
    .filter-row .dropdown-toggle {
      font-size: 1em;
    }
  } 
}

/****** MOBILE -******/

@media only screen and (max-width: 767px) {
  .new-search .filter-row .year-item:before {
    line-height: 40px; 
  }
  .filters-wrap .reset {
    display: none;
  }
}
