@import 'variables.scss';

.find-cars-wrap {
	background: url(../img/find-image.jpg) no-repeat 50% 100%;
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 70px; 
	h6 {
		margin-bottom: 15px;
		span {
			text-transform: none;
			font-size: 0.875em;
			color: #999;
		}
	}
	.advanced-form {
		max-width: 760px;
		margin: 0 auto;
		color: $dark-blue-color;
		font-family: $monserrat-font-family;
		background: rgba(255, 255, 255, 0.9);

		.text-center {
			padding: 10px 0;
			border-top: 1px solid #c4c9cf;
			.btn {
				width: 260px;
			}
		}

		.bootstrap-select .btn.dropdown-toggle {
			font-size: 0.875em;
			background: transparent !important;
		}
		.form-item input:not([class=btn]) {
			font-size: 0.813em;
		}
		.btn-green {
			@include border-radius(27px);
		}
	}
	.form-elements-wrap,
	.price-range,
	.body-styles {
		padding-left: 20px;
		padding-right: 0;
		position: relative;
	}
	.price-range,
	.body-styles {
		label {
			margin-bottom: 0;
		}
	}
	.search-wrap .advanced-options {
		padding-left: 0;
		padding-right: 0;
		.price-range .checkbox-content,
		.body-styles .checkbox-content em,
		.all-wrap .checkbox-content {
			border: 1px solid transparent;
			padding: 2px 15px;
			@include border-radius(15px); 
		}
		.all-wrap .checkbox-content {
			padding: 3px 30px;
			text-transform: none;
			border-color: #e8eaeb;
			font-size: 1em;
		}
		.price-range input:checked + .checkbox-content,
		.body-styles input:checked  + .checkbox-content em,
		.all-wrap input:checked  + .checkbox-content {
			border-color: $logo-green-color;
		}

		.all-wrap .checkbox-content {
			opacity: 0.75;
			&:after {
				width: 62%;
			}
		}
		.all-wrap input:checked + .checkbox-content {
			opacity: 1;
			padding: 3px 20px 3px 40px;
		}
		
		.body-styles {
			.all-wrap {
				position: absolute;
				left: 20px;
				bottom: 0;
				top: 30px;
				label {
					position: absolute;
					top: 50%; 
					width: 80px;
					max-width: 80px;
					input {
						cursor: pointer;
					}
				}
			} 
		}

		.price-range,
		.body-styles {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
	.search-wrap .advanced-options .body-styles ul {
		margin-left: 0;
		margin-right: 0;
		padding-left: 70px;
	}
	.search-wrap .advanced-options .price-range ul {
		margin-left: -37px;
		margin-right: 0;
	}
	.advanced-options .price-range li {
		width: 20%;
	}

	.advanced-options li {
		text-align: center;
	}

	.advanced-options label:hover span,
	.advanced-options .price-range li:not(.all-wrap) input:checked + .checkbox-content, 
	.advanced-options .body-styles input:checked + .checkbox-content .car {
		opacity: 0.5;
	}

	.colors-wrap,
	.ranges-wrap {
		padding: 20px 20px 0;	
	}

	.range-slider-value {
		text-transform: none;
		color: #999;
		font-size: 0.75em;
		font-weight: 400s;
	}

	.range-slider-wrap .slider .slider-handle {
		margin-top: -2px;
	}

}