@import 'variables.scss';

/***** HELP BANNER *****/

.help-banner {
	background-color: #fdb813;
	color: #fff;
	padding: 7px 25px;
	position: relative;
	font-size: 18px;
	text-align: center;
	box-shadow: 0 3px 5px rgba(0,0,0,0.15);
	a {
		color: #fff;
		text-decoration: underline;
		font-weight: bold;
	}
	.close {
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -14px;
		font-size: 25px;
		color: #fff;
		z-index: 2;
		opacity: 1;
	}
}

/***** TOP SECTION *****/

.top-section {
	min-height: 620px;
	background: url(../img/banner.jpg) no-repeat 50% 80%;
	background-size: cover;
	padding-top: 60px;
	text-align: center;
	color: $white-color;
	font-family: $monserrat-font-family;
	position: relative;
	z-index: 9;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba($black-color,0.16);
		z-index: 1;
	}
	h1 {
		color: #fff;
		text-shadow: 0 0 4px rgba(0,0,0,0.5);
	}
	.container {
		position: relative;
		z-index: 2;
	}
	p {
		font-size: 1.125em;
		line-height: 1.8;
		text-shadow: 0 0 4px rgba($black-color,0.45);
		margin-top: 40px;
	}
	.advanced-form {
		form {
			/*padding-right: 80px;*/
		}
		.btn-green {
			position: absolute;
			top: 4px;
			right: 4px;
			height: 47px;
			padding-left: 10px;
			padding-right: 10px;
			min-width: 110px;
			text-align: center;
			font-size: 0.9em;
		}
	}
	.open>.dropdown-toggle.btn-default:hover,
	.btn-group .dropdown-toggle,
	.btn-group.open .dropdown-toggle,
	.bootstrap-select .dropdown-toggle:hover,
	.bootstrap-select .dropdown-toggle:focus {
		background: transparent !important;
	}
}

.banner-slider {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	&.slick-initialized {
		display: block;
	}
	.slick-list,
	.slick-track {
		height: 100%;
	}
	.banner-slide {
		height: 100%;
		background-position: 50% 80%;
		background-size: cover;
		background-repeat: no-repeat;
		&.slide1 {
			background-image: url(../img/banner.jpg);
		}
		&.slide2 {
			background-image: url(../img/banner-slide2.jpg);
		}
		&.slide3 {
			background-image: url(../img/banner-slide3.jpg);
		}
	}
	.slick-prev {
		left: 20px;
		&:before {
			content: '\f104';
			font-size: 55px;
		}
	}
	.slick-next {
		right: 20px;
		&:before {
			content: '\f105';
			font-size: 55px; 
		}
	}
	.slick-dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 15px; 
		z-index: 5;
		text-align: center;
		li {
			display: inline-block;
			padding-left: 10px;
			padding-right: 10px;
			button {
				width: 15px;
				height: 15px;
				border-radius: 8px;
				text-indent: -99999px;
				position: relative;
				overflow: hidden;
				background-color: rgba(255,255,255,0.5);
				border: none;
			}
			&.slick-active {
				button {
					background-color: #fff;
				}
			}
		}
	}
}

.search-wrap {
	max-width: 700px;
	margin: 32px auto 0;
	.nav-tabs {
		border-bottom: none;
		padding: 0 36px;
		li {
			padding-bottom: 10px;
			& + li {
				padding-left: 25px;
			}
			&.active {
				a {
					&:before {
						background-color: $logo-green-color;
						border-color: $logo-green-color;
						width: 12px;
						height: 12px;
						margin-top: -6px;
					}
				}
			}
		}
		a {
			text-transform: uppercase;
			padding: 0;
			border: none;
			color: #fff;
			position: relative;
			padding-left: 15px;
			font-size: 0.9em;
		    letter-spacing: 0.1em;
		    font-weight: 200;
		    &:before {
		    	@include border-radius(6px)
		    	content: "";
				width: 10px;
				height: 10px;
				border: 2px solid;
				display: inline-block;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -5px;
		    }
		}

		span,
		.active a,
		.active a:hover,
		.active a:focus,
		a:hover {
			background-color: transparent;
			border: none;
			color: $white-color;
		}
		.active a,
		.active a:hover,
		.active a:focus {
			font-weight: 400;
		}
	}

	.tab-pane {
		position: relative;
		> * {
			position: relative;
			z-index: 5;
		}
	}
}

/*-------------*/
.manufacturer,
.dealer,
.rental,
.manufacturer a,
.dealer a,
.rental a {
	color: $white-color;
}

.title-with-icon {
	position: relative;
}
.title-with-icon:before {
	@include transform-translate(-50%, 0);
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	background-image: url(../img/content-icons-sprite.png);
	background-repeat: no-repeat;
	background-size: 112px auto;
	display: inline-block;
}

.car-logos a:after,
.rental-cars-item:after,
.news-item:after {
	content: "";
	position: absolute;
	background: rgba($black-color,0.2);
	opacity: 0;
}
.car-logos a:after {
	@extend .absolute-position;
}
.rental-cars-item:after,
.news-item:after {
	top: -10px;
	bottom: -10px;
	left: -10px;
	right: -10px;
}

/* why */
.why {
	/*padding: 0 0 10px;
	h2 {
		margin-bottom: 40px;
		font-size: 1.8em;
	}*/
	.certified-cars-btns {
		text-align: center;
		li {
			float: left;
			width: 25%;
			img {
				-ms-transform: scale(0.98);
			    -webkit-transform: scale(0.98);
			    transform: scale(0.98);
			}
		}
	}
}

/* featured manufacturer */

.featured-manufacturers {
	.title-with-icon {
		margin-bottom: 35px;
	}
	.container {
	    padding-bottom: 30px !important;
	}
	.featured-manufacturers-list {
		display: inline-table;
		li {
			display: inline-block;
			background: #fff;
			border-radius: 3px;
			padding: 5px;
			margin: 0 4px;
			margin-bottom: 10px;
			.featured-manufacturers-logo {
			    width: 108px;
			}
			a {
				padding: 5px;
				display: inline-block;
			}
		}
	}

}

/* featured deals */
.featured-deals {
	h2 + p {
		max-width: 890px;
		margin: 0 auto;
	}
	h6 {
		font-size:0.90em;
		a {
			color: inherit;
		}
	}
	p {
		font-size:0.80em;
	}

	.slider-wrap {
		background: rgba($white-color,0.03);
		@include border-radius(8px);
		padding: 63px 0 40px;
		position: relative;
		margin-top: 53px;
		&:before {
			@include transform-translate(0,-50%);
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			height: 105px;
			width: 100%;
			background: url(../img/featured-shadow.png) no-repeat 50% 50% / 100% auto;
		}
	}
	.slick-slide {
		text-align: center;
		padding: 0 50px;
		h6 {
			text-transform: uppercase;
		}
		img {
			display: inline-block;
			margin-bottom: 30px;
		}
		p {
			margin-top: 20px;
			margin-bottom: 0;
		}
	}
}

.featured-deals.featured-deals-new  {
	.slick-prev:before, .slick-next:before {
		opacity: 1;
		color: #1f2f3e;
	}
	.slick-slide {
		padding: 0 15px;
		margin-bottom: 10px;
		img {
			height: 260px;
			object-fit: cover;
			margin-bottom: 0;
			border-radius: 3px 3px 0 0;
		}
		h6 {
			text-align: left;
			color: #222;
			font-weight: 400;
			text-transform: capitalize;
		}
		p {
			color: #333;
			margin-top: 10px;
			text-transform: capitalize;
		}
	}
	.slider-wrap {
		padding-top: 0;
		padding-right: 5px;
		padding-bottom:0;
		padding-left: 5px;
		margin-top:25px;
		&:before {
			background:none;
		}
	}
	a {
		display: inline-block;
		border-radius: 3px;
		box-shadow: 0 0 12px rgba(0,0,0,.2);
	}
	.featured-deals-details {
		padding: 25px 20px 25px 30px;
		overflow: hidden;
		button {
			margin-top:-15px;
		}
	}
}

/* manufacturer */

.manufacturer {
	.title-with-icon {
		padding-top: 70px;
		&:before {
			width: 90px;
			height: 45px;
			background-position: 0 0;
		}
	}
	.car-logos {
		margin-top: 35px;
	}
}

/* dealer */

.dealer {
	.title-with-icon {
		padding-top: 71px;
		&:before {
			width: 114px;
			height: 42px;
			background-position: 0 -52px;
		}
	}
	.dealer-form-wrap {
		margin-top: 50px;
		text-align: center;
		.bootstrap-select.btn-group .dropdown-menu {
			min-width: inherit;
		}
		div.dropdown-menu {
			left: 25px;
			right: 25px;
			width: auto;
		}
		.form-item {
			width: 33%;
			max-width: 300px;
			padding: 0 15px;
			&.search-icon {
				position: relative;
				&:after {
					content: "\f002";
				    text-decoration: inherit;
				    position: absolute;
				    right: 30px;
				    top: 50%;
				    margin-top: -12px;
				    height: 20px;
				    color: rgb(161,177,188);
				}
			}
		}
		.btn {
			height: 46px;
			font-size: 0.9em;
			color: rgb(161,177,188);
			padding: 0 25px;
			text-transform: none;
		}

		input::-webkit-input-placeholder {
		  color: rgb(161,177,188);
		}
		input::-moz-placeholder {
		  color: rgb(161,177,188);
		}
		input:-ms-input-placeholder {
		  color: rgb(161,177,188);
		}
		input:-moz-placeholder {
		  color: rgb(161,177,188);
		}
	}
	.dealer-result {
		margin-top: 50px;
		ul {
			-webkit-column-count: 5;
		    -moz-column-count: 5;
		    column-count: 5;
		    min-height: 170px;
		    li {
				line-height: 2.1;
				text-align: left;
				padding: 0 30px;
			}
		}
	}
	.dealer-pagination {
		text-align: center;
		.slick-dots {
			text-align: center;
			display: inline-block;
			margin-top: 53px;
			margin-bottom: -20px;
			padding: 0 2px;
			li {
				display: inline-block;
				padding: 0 2px;
				width: 38px;
			}
			button {
				font-size: 0.875em;
				width: 34px;
				height: 34px;
				border-radius: 17px;
				background: transparent;
			    color: $white-color;
			    border: 2px solid transparent;
			    padding: 0;
			}
		}
		.pag-prev {
			padding-right: 12px;
		}
		.pag-next {
			padding-left: 12px;
		}
		.pag-prev,
		.pag-next {
			font-size: 0.7em;
			line-height: 32px;
			color: $white-color;
			background: none;
			border: none;
		}
		.slick-active button {
			background: $white-color;
		    border-color: $white-color;
		    color: $dealer-color;
		}
	}
}

/* rental */

.rental {
	.title-with-icon {
		padding-top: 80px;
		&:before {
			width: 61px;
			height: 60px;
			background-position: 0 -100px;
		}
	}
	.rental-cars {
		margin-top: 61px;
		.rental-cars-item {
			position: relative;
			padding-left: 115px;
			min-height: 100px;
			line-height: 1.5;
			font-size: 0.9em;
			display: inline-block;
			width: 100%;
			&:hover {
				text-decoration: none;
				&:after {
					opacity: 0.3;
				}
				h4 {
					text-decoration: underline;
				}
			}
			.thumb {
				position: absolute;
				left: 0;
				top: 50%;
				@include transform-translate(0, -50%);
			}
			.desc {
				@extend .display-flex;
				padding-top: 5px;
				min-height: 100px;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				-ms-flex-pack: center;
				justify-content: center;
			}
			p {
				margin-bottom: 0;
			}
		}
	}
	.button-wrap {
		margin-top: 74px;
	}
}

/* featured video */

.featured-video {
	.main-video {
		padding: 5px;
		border: 1px solid #d7d7d7;
	}
	iframe {
		width: 100%;
		min-width: 100%;
		height: 250px;
		border: none;
		display: block;
	}
	.video-row {
		margin-top: 65px;
	}
	h3 + p {
		margin-top: 20px;
		line-height: 1.75;
		& + ul {
			margin-top: 32px;
			li + li {
				margin-top: 16px;
			}
			a {
				color: #1b6fb7;
				margin-left: 10px;
			}
			i {
				font-size: 0.65em;
				color: #2c3e50;
			}
		}
	}
	.video-thumbs li {
		float: left;
		width: 33.333%;
		padding: 2px 1px 0;
		a {
			position: relative;
			display: inline-block;
			width: 100%;
			&:before {
				content: "";
				position: absolute;
				border-top: 15px solid #fff;
			    border-right: 15px solid transparent;
			    border-left: 15px solid transparent;
			    top: 0;
			    left: 50%;
			    margin-left: -10px;
			    display: none;
			}
		}
		&.active {
			a:before {
				display: block;
			}
			.over {
				display: none;
			}
		}
	}
	.over {
		@extend .absolute-position;
		background: rgba(44,62,80,0.5) url(../img/video-thumb-triangle.png) no-repeat 50% 50%;
	}
}

/* latest news */

.latest-news .news-row {
	margin-top: 40px;
}
.main-news .over,
.news-item .news-thumb .over {
	background: rgba(38,166,91,0.15);
}
.main-news:hover h5,
.news-item:hover h6 {
	text-decoration: underline;
}
.news-list li + li {
	padding-top: 19px;
}

.news-item:hover {
	text-decoration: none;
}
.news-item:hover:after {
	opacity: 2;
}
.main-news:hover h5,
.news-item:hover h6 {
	text-decoration: underline;
}
.main-news {
	position: relative;
	width: 100%;
	min-height: 405px;
	display: inline-block;
	.over {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.news-detail {
		@extend .display-flex;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 50%;
		background: rgba(38,166,91,0.9);
		padding: 20px;
		-webkit-flex-direction: column;
		-webkit-justify-content: space-around;
		flex-direction: column;
		justify-content: space-around;
	}
	h5 {
		font-family: 'Open Sans', sans-serif;
		text-transform: none;
		font-size: 1.125em;
		margin-bottom: 15px;
		line-height: 1.7;
	}
	.meta {
		margin-top: 30px;
		margin-bottom: 0;
	}
}

.news-item {
	position: relative;
	padding-left: 120px;
	display: inline-block;
	width: 100%;
	min-height: 120px;
	&:hover {
		text-decoration: none;
	}
	h6 {
		margin-top: 0;
		font-size: 1.2em;
		line-height: 1.6;
	}
	.news-thumb {
		position: absolute;
		top: 0;
		left: 0;
		width: 100px;
		min-height: 124px;
		display: inline-block;
		overflow: hidden;
		background: rgba(22,118,9,0.5);
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
		.month {
			display: inline-block;
			position: relative;
			width: 100%;
			background: #30a059;
			text-align: center;
			line-height: 34px;
			font-family: 'Montserrat', sans-serif;
		}
		.over {
			position: relative;
			display: inline-block;
			width: 100%;
			font-size: 1.875em;
			font-style: normal;
			line-height: 90px;
			text-align: center;
		}
	}
	.news-desc {
		font-size: 0.8em;
		line-height: 1.9;
		h6 {
			text-transform: none;
		}
		p {
			margin-bottom: 0;
		}

	}
}

/* info text */
.info-text {
	padding: 20px 0 28px;
	line-height: 1.6;
	h5 {
		font-size: 1.25em;
		margin-bottom: 20px;
		line-height: inherit;
	}
	p {
		margin-bottom: 0;
		font-size: 0.9em;
		& + h5 {
			margin-top: 42px;
		}
	}
}

/* popular cars */

.popular-cars {
	background: rgba($dealer-color,0.1);
	font-size: 0.8em;
	h3 {
		font-weight: 400;
		margin-bottom: 10px;
		margin-top: 30px;
	}
	h5 {
		margin-top: 30px;
	}
	.cars-list {
		&.titles {
			padding-top: 54px;
			li {
				line-height: 22px;
			}
		}
		li {
			margin-top: 5px;
		}
		a {
			display: inline-block;
			max-width: 100%; 
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

@media only screen and (max-width: 991px) {
	.top-section {
		min-height: 500px;
	}
	.banner-slider {
		.banner-slide {
			&.slide2 {
				background-position: 100% 80%;
			}
		}
	}
}
