@import 'variables.scss';

#back-top {
	background: $dark-blue-color; 
	width: 40px;
	height: 40px;
	@include border-radius(20px);
	position: fixed;
	right: 20px;
	bottom: 20px; 
	z-index: 1000;
	color: #fff;
	text-align: center;
	line-height: 39px;
	display: none;
	cursor: pointer;
}

.inner-page .inner-page-top {
	position: relative;
	padding-right: 100px;
	.btn {
		position: absolute;
		top: 0;
		right: 0;
		em {
			font-style: normal;
			& + em {
				display: none; 
			}
		}
	}

	& + .row {
		margin-top: 15px;
	}
}

/* result-sorting */

.result-sorting {
	display: inline-block;
	width: 100%;
	padding: 5px 10px;
	background-color: rgba($white-color,1);
	.view {
		float: left;
		color: $light-grey-color;
		margin-top: 5px;
		> *:first-child {
			margin-right: 13px;
		}
		a {
			color: #2c3e50;
		}
		label {
			border-bottom: 0;
			font-weight: 400;
			font-size: 0.9em;
			color: #909090;
		}
	}
	.sort-by,
	.show-count {
		float: right;
		color: #000;
		font-size: 0.875em;
		select {
			border: 1px solid $dark-blue-color;
			font-size: inherit;
			color: $dark-blue-color; 
			height: 32px;
			min-width: 80px;
			padding: 0 15px 0 5px;
			border-radius: 5px;
			background: #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='4' fill='black'><polygon points='0,0 8,0 4,4'/></svg>") no-repeat 95% 50% !important;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			outline: none !important;
		}
	}
	.show-count {
		margin-right: 70px;
	}
}

/* result filters */
.result-filters {
	display: inline-block;
	width: 100%;
	margin: 15px 0;
	li {
		display: inline-block;
		&+ li {
			padding-left: 8px;
		}
		a {
			display: inline-block;
			line-height: 29px;
			border-width: 2px;
			border-style: solid;
			padding: 0 50px 0 15px;
			color: rgba(78,103,119,1);
			position: relative;
			border-radius: 15px;
			font-size: 0.875em;
			text-decoration: none;
			&.disabled {
				border-color: #4e6777 !important;
				color: rgba(78,103,119,0.5);
				&:hover {
					color: rgba(78,103,119,0.5) !important;
				}
				span,
				em {
					opacity: 1;
				}
			}
			&:hover {
				text-decoration: none;
			}
			span {
				opacity: 0.5;
				font-size: 0.9em;
				position: relative;
				top: -1px;
				font-weight: 600;
			}
			em {
				position: absolute;
				line-height: 30px;
				top: 0;
				right: 15px;
				opacity: 0.5;
				font-size: 0.8em;
				z-index: 5;
			}
		}
	}
}

/* result container */
.result-container {
	margin-top: 10px;
		a {
		color: #1b6fb7;
	}
	.result-item {
		@include border-radius(5px);
		border-width: 2px;
		border-style: solid;
		width: 100%;
		padding: 10px;
		color: #4e6777;
		position: relative;
		font-size: 0.875em;
		background-color: $white-color;
		&:hover {
			text-decoration: none;
		}
		&:before {
			@extend .absolute-position;
			content: "";
			cursor: pointer;
			z-index: 1;
			display: none;
		}
		&:hover:before {
			display: block;
		}
		&:after {
			content: "";
			position: absolute; 
			width: 136px;
			height: 137px;
			top: -25px;
			right: -24px;
			background: url(../img/featured-icon.png) no-repeat 50% 50%;
			display: none;
			-webkit-transform: scale(0.75);
			-moz-transform: scale(0.75);
			transform: scale(0.75);
			z-index: 2;
		}
		&.featured {
			&:after {
				display: block;
			}
		}
		h6 {
			text-transform: none;
			font-size: 1.15em;
			line-height: 1.25;
			margin-top: 2px;
			padding-right: 10px;
			& + p {
				color: #7892a3;
				margin-top: 3px;
				margin-bottom: 8px;
				font-size: 0.9em;
			}
		}

		.marker {
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 1px;
			font-size: 0.9em;
		}
		.item-filter-detail {
			li {
				line-height: 1.45;
				font-size: 0.95em;
			}
			.dealer-name {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: calc(100% - 50px);
				display: inline-block;
				line-height: 1.25;
				color: inherit;
			}
			.hidden-xs {
				.dealer-name {
					position: relative;
					top: 3px;
				}
			}
		}
		.stars-wrap {
			display: inline-block;
			height: 14px;
			position: relative;
			top: 2px;
		}

	}
	.img-wrap {
		position: relative;
		border-radius: 3px;
		background: #ccd1d5;
		min-height: 130px;
		/*max-height: 140px;*/
		.view-wrap {
			top: 5px;
			text-transform: uppercase;
			font-size: 0.8em;
			color: #fff;
			background: #f5b65a;
			display: none;
		}
		img {
			display: block;
			width: 100%;
			border-radius: 3px;
		}
	}
	.item-logos {
		@extend .display-flex;
		-webkit-box-align: center;
		-webkit-align-items: center;	
		align-items: center;
		-webkit-box-pack: flex-end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: flex-end;
		justify-content: flex-end;
		/*position: absolute; 
		top: 28px;
		right: 10px;*/
		float: right;
		margin-top: 18px;
		margin-left: 10px;
		height: 40px;
		.carfax {
			max-width: 82px;
		}
		img {
			max-height: 40px;
			width: auto;
			max-width: 49%;
			& + img {
				margin-left: 10px;
			}
		}
	}
	&.view-list {
		.result-item {
			@extend .display-flex;
			&.view-tags {
				padding-bottom: 50px;
			}	
			& + .result-item {
				margin-top: 10px;
			}

		}
		.item-img {
			padding-right: 20px;
			min-width: 215px;
			max-width: 215px;
		}
		.item-desc {
			position: relative;
			width: 100%;
			max-width: 74%;
			padding-bottom: 5px;
			border-bottom: 1px solid #cacfd3;
		}
		.item-filter-detail {
			float: left;
			white-space: nowrap;
			ul {
				display: inline-block;
				padding-right: 25px;
				max-width: 225px;
				+ ul {
					padding-right: 0;
					width: 100%;
				}
			}
		}
		.price-detail {
			position: absolute; 
			right: 0;
			bottom: 5px;
			.fee {
				margin-top: 4px;
				text-align: left;
			}
			&.exclusive-price {
				text-align: center;
				.price {
					text-transform: uppercase;
					font-size: 1.1em;
					display: block;
					padding-bottom: 5px;
					font-family: Arial;
					font-weight: bold;
				}
				.btn {
					padding-right: 15px;
					padding-left: 15px;
					@include border-radius(5px); 
					position: relative;
					z-index: 999;
				}
			}
			
		}
	}
	&.view-grid {
		.result-item {
			margin-bottom: 20px;
			display: inline-block;
			width: 100%;
			.item-img {
				margin-bottom: 14px;
				.img-wrap {
					min-height: 150px;
					/*max-height: 160px;*/
				}
			}
			.price-detail {
				margin-top: 13px;
				display: inline-block;
			}
		}
	}
}

.result-container .item-img .view-wrap {
	top: 5px;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #fff;
	background: #f5b65a;
	display: none;
}
.result-container .viewed .item-img .view-wrap {
	display: block;

}
.result-container .item-img .photo-count {
	bottom: 5px;
}
.result-container .result-item .save-wrap {
	width: auto;
	text-align: center;
	bottom: 5px;
	right: 5px;
	left: auto;
	z-index: 998;
	cursor: pointer;
	padding: 0;
}
.result-container .save-wrap:before {
	content: "";
	display: inline-block;
	width: 13px;
	height: 12px;
	background: url(../img/heart.png) no-repeat 0 50%;
	position: absolute;
	top: 50%;
	left: 7px;
	margin-top: -6px;
}
.result-container .saved .save-wrap:before {
	background-position: 100% 50%;
}
.result-container .save-wrap > * {
	padding: 0 7px 0 25px;
}
.result-container .save-wrap span {
	display: none;
	color: #ef1b61;
}
.result-container .save-wrap em {
	color: #4e6777;
	font-style: normal;
}
.result-container .saved .save-wrap span {
	display: inline-block;
}
.result-container .saved .save-wrap em {
	display: none;
}
.result-container .like-btn {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: rgba($white-color,1); 
  display: inline-block;
  float: left;
  font-size: 18px;
  text-align: center;
  line-height: 33px;
  color: #1f2f3e;
  cursor: pointer;
	position: absolute;
	right: 5px;
	bottom: 5px;
	z-index: 998; 
} 
.result-container .like-btn:after {
	@extend .font-awesome;
  content: "\f004";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 34px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.result-container .liked .like-btn:after {
  opacity: 1;
  color: #ef1b61;
}

.result-container .item-tags {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 0;
	padding-bottom: 10px;
	z-index: 999;
}
.result-container .item-tags .tag {
	@include border-radius(5px);
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	& + .tag {
		margin-left: 20px;
	}
	i {
		margin-right: 10px;
	}
}

.inventory-cpo-program {
	background: #fff;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 30px;
	display: inline-block;
	width: 100%;
	line-height: 2;
	cursor: pointer;
	&:hover {
		.btn {
			background: darken($logo-green-color, 10%);
		}
	}
	.cpo-program-logo {
		float: left;
		background: #acacac;
		text-align: center;
		margin-right: 10px;
		width: 200px;
		height: 135px;
		line-height: 135px;
		padding: 10px;
	}
	.btn {
		float: right;
		padding-right: 15px;
		padding-left: 15px;
	}
	p {
		font-size: 0.9em;
	}
}

.inventory-top-dealer {
	background: #fff;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 30px;
	display: inline-block;
	width: 100%;
	line-height: 2;
	p {
		font-size: .875em;
	}
	h5 {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.dealer-logo {
		float: left;
		background: #fff;
		text-align: center;
		margin-right: 10px;
		width: 200px;
		height: 135px;
		line-height: 115px;
		padding: 10px;
		border-radius: 3px;
		border: 1px solid #e9eaeb;
	}
	.rates-count {
		color: #859dac;
	}
	> div {
		float: left;
		width: 30%;
		&.inventory-dealer-detail {
			width: 40%;
		}
		&.inventory-dealer-contact {
			padding-top: 35px;
		}
	}
	p {
		margin-bottom: 0;
	}
	.drop-wrap {
		padding-left: 17px;
	}
	.drop-content {
		margin-bottom: -5px;
		line-height: 1.75;
		display: none;
	}
	.drop-btn {
		font-size: .875em;
		i {
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}
	}
	.content-opened {
		.drop-btn {
			i {
				@include transform-rotate (-90deg);
			}
		}
	}
	i {
		margin-right: 3px;
		width: 12px;
		text-align: center;
	}
}

.close-modal {
	cursor: pointer;
}

#exclusive-price-modal .modal-header {
  background: #e3e3e3; 
}
#exclusive-price-modal .modal-header h3 {
  font-weight: 400;
  margin-bottom: 10px; 
}
#exclusive-price-modal .modal-header p {
  font-size: 0.875em; 
}

.contact-dealer-form {
  padding: 15px; 
}
.contact-dealer-form h3 {
  font-weight: 400;
  font-size: 0.979em;
  margin-bottom: 15px; 
}

.dealer-form-fields p {
  margin-bottom: 14px; 
}

.dealer-form-fields p:nth-child(2) {
  margin-bottom: 30px; 
}

.dealer-form-fields input {
  display: inline-block;
  height: 40px;
  color: rgb(44, 62, 80);
  font-weight: 400;
  font-size: 0.906em;
  width: 49%;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(119, 118, 118);
  border-image: initial;
  padding: 3px 5px;
}

.exclusive-price-wrapper h4 {
  font-size: 0.875em;
  margin-top: 10px;
  margin-bottom: 5px; 
}

.exclusive-price-wrapper h3 {
  font-weight: 500;
  font-size: 2em;
  color: #167609; 
}
