@import 'variables.scss'; 

.news-wrap {
	padding-top: 10px;
	.news-item {
		@extend .display-flex;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #d2d2d2;
		cursor: pointer;
		&:last-child {
			border-bottom: 0;
			margin-bottom: 0;
		}
		&:hover {
			h4 {
				text-decoration: underline;
			}
		}
		h4 {
			text-transform: none;
			padding-top: 0;
			padding-bottom: 0;
		}
		.news-thumb {
			min-width: 145px;
			max-width: 145px;
		}
		.news-description {
			padding-left: 30px;
		}
	}
}

.single-page .article .meta {
	margin-bottom: 0.2em;
	margin-top: 0.4em;
}
.single-page {
	.article {
		.news-item-body {
			p,
			ul {
				margin-bottom: 20px;
			}
			h5 {
				padding-bottom: 20px;
			}
			li {
				&:before {
					content: "-";
					margin-right: 3px;
				}
			} 
		}
	}
}

.result-pagination {
	margin-top: 60px;
	margin-bottom: -25px;
}
