@import 'variables.scss'; 
 
.contact-form-wrap {
	.drop-content {
		display: none;
		padding-top: 20px;
	}
	.drop-btn {
		color: $blue-color;
		cursor: pointer;
		display: inline-block;
	}
	.form-group {
		input + span {
			font-size: 0.813em;
			margin-top: 10px;
			display: block;
		}
	}
}
