@import 'colors.scss';
/***** TBALET *****/

@media only screen and (max-width: 1366px) {
	/*header nav .drop-wrap.content-opened .drop-content,
	header .account-detail-list.content-opened .drop-content {
		display: block;
	}*/
}

/* Landscape */
@media only screen and (max-width: 1199px) {
	header .menus-wrap { 
		//padding-top: 0;
		position: static;
	}
	header .top-menu {
		//top: 30px;
		/*right: 25px;*/
		right: -10px;
	}
	header nav > ul {
		margin-top: 0;
	}
	header nav > ul li {
		padding-left: 15px;
		padding-right: 15px;
	}

	.top-section p {
		margin-top: 25px;
	}

	.main-news .news-detail {
		font-size: 0.9em;
	}
	.main-news .meta {
		margin-top: 15px;
	}

	.news-list li + li {
		padding-top: 20px;
	}

	.featured-deals .slick-prev,
	.dealer .dealer-result .slick-prev {
		left: -15px;
	}
	.featured-deals .slick-next,
	.dealer .dealer-result .slick-next {
		right: -15px;
	}

	/* inventory */
	.filters-wrap .title {
		padding-right: 0;
		padding-left: 0;
	}
	.filters-wrap .color {
		padding: 0 3px 5px;
	}

	.result-container.view-list .item-desc {
		display: inline-block;
		max-width: 76%;
	}
	.result-container.view-list .price-detail {
		margin-top: 0;
		min-height: inherit;
	}
	.result-container.view-list .item-title h6 {
		width: 100%;
	}

	.result-container.view-grid .result-item .item-img .img-wrap {
		min-height: 120px;
	}
	.result-container .result-item h6 {
		padding-right: 0;
	}

	.filters-wrap .filter-row .dropdown-toggle,
	.filters-wrap .filter-row.zip-input input {
		padding: 0 4px 0 12px;
		font-size: 0.75em;
	}

	.filters-wrap .bootstrap-select.btn-group .dropdown-toggle .caret {
		right: 6px;
	}

	.result-container.view-list .item-filter-detail {
		width: 100%;
	}

	.result-container.view-list .item-filter-detail ul {
		float: left;
	}

	.result-container .item-tags .tag {
		padding-left: 10px;
		padding-right: 10px;
	}
	.result-container .item-tags .tag + .tag {
		margin-left: 10px;
	}
	.result-container .item-tags .tag i {
		margin-right: 5px;
	}

	/********/

	/*---- detail page -----*/
	.request-form-wrap small {
		margin-top: 25px;
	}

	.car-photos .main-photo-wrap {
		min-height: 460px;
	}

	/*---- car dealer --*/
	.price-plans-wrap .plans-label li,
	.price-plans-wrap .plan-content li {
		min-height: 50px;
		line-height: 1.5;
	}

	.price-plans-wrap .plan-item .plan-header .plan-icon-wrap {
		height: 100px;
	}

	/*--- cpo-program ---*/

	.cpo-program .check-list,
	.cpo-program-reviews .check-list {
		width: 55%
	}
	.cpo-program .check-list.has-sub-list,
	.cpo-program-reviews .check-list.has-sub-list {
		width: 45%;
	}

	.cpo-program .search-form-wrap .form-elements-wrap input, 
	.cpo-program .search-form-wrap .form-elements-wrap select, 
	.cpo-program .search-form-wrap .form-elements-wrap > .btn-form-item .btn, 
	.cpo-program .search-form-wrap .form-elements-wrap .btn-group .dropdown-toggle {
		padding-left: 10px; 
	}

}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	#content.authentication {
		min-height: calc(100vh - 405px);
	}
 }


/* Portrait */

@media only screen and (max-width: 991px) {
	header nav > ul {
		margin-top: 10px;
	}
	header .top-menu li + li  {
		//padding-left: 20px;
	}
	header nav > ul li {
		padding-left: 5px;
		padding-right: 5px;
	}
	header nav > ul > li + li {
		//margin-left: 15px;
	}
	header .top-menu { 
		//top: 35px;
		right: 10px;
	}
	header .account-detail-list {
		position: relative;
	}
	header .account-detail-list .drop-content {
		right: 0;
		left: auto;
	}

	.top-section {
		padding-top: 30px;
	}
	.body-styles .car {
		-webkit-transform: scale(0.75);
		transform: scale(0.75);
	}
	.search-wrap .advanced-options .body-styles ul {
	    margin-left: -20px;
	    margin-right: -22px;
	}
	.search-wrap .advanced-options .price-range ul {
	    margin-left: -69px;
	    margin-right: -63px;
	}
	.search-wrap,
	.news-list {
		margin-top: 20px;
	}
	.search-wrap .form-item + .form-item {
		padding-left: 10px;
	}
	.search-wrap .form-elements-wrap,
	.search-wrap .nav-tabs {
		padding-left: 15px;
	}
	.bootstrap-select.btn-group .dropdown-toggle .caret {
		right: 7px;
	}

	.featured-deals .slider-wrap {
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 50px;
	}

	.rental-cars > div + div {
		margin-top: 15px;
	}
	.dealer .dealer-form-wrap .form-item {
		width: 32%;
	}
	.dealer .dealer-form-wrap .form-item div.dropdown-menu {
		left: 15px;
		right: 15px;
	}
	.dealer .dealer-result ul {
	    -webkit-column-count: 4;
	    -moz-column-count: 4;
	    column-count: 4;
	}

	.rental-carscars > div + div {
		margin-top: 15px;
	}

	.main-news img,
	.video-thumbs img {
		width: 100%;
	}

	.main-video iframe {
		height: 400px;
	}
	.main-video {
		margin-bottom: 20px;
	}

	.main-news .news-detail {
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
	}

	/* inventory */

	.filters-opened,
	.search-opened {
		overflow: hidden;
	}

	.result-container.view-grid .result-item .item-img .img-wrap{
		width: 100%;
		margin: 0 auto;
		min-height: 161px;
		max-height: inherit;
	}

	.inner-page .filters-wrap .filters,
	.inner-page .filters-wrap .new-search {
		position: fixed;
    width: 100%;
    right: -100%;
   	top: 0;
   	bottom: 0;
   	margin-top: 0;
    background: #fff;
    z-index: 1001;
    padding: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
	}

	.inner-page .filters-wrap .new-search {
		right: auto;
		left: -100%;
		z-index: 1002;
	}

	.inner-page .filters-wrap .title {
		border-bottom: 1px solid #bfc5ca;
		padding-right: 50px;
		padding-left: 15px;
	}

	.filters-opened .inner-page .filters-wrap .filters {
		right: 0;
	}
	.search-opened .inner-page .filters-wrap .new-search {
		left: 0;
	}

	.inner-page .filters-wrap .filters-body {
		overflow: auto;
		max-height: 100%;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 65px;
	}

	.inner-page .filters-wrap .filers-close,
	.inner-page .filters-wrap .search-close {
		position: absolute;
		top: 4px;
		right: 15px;
		font-size: 1.5em;
		cursor: pointer;
	}

	.inner-page .filters-wrap .new-search {
		padding: 0;
	}

	.result-sorting .sort-by {
		margin-right: 10px;
	}

	.mobile-menu-over {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		-webkit-transition: all 0.6s;
		transition: all 0.6s;
		z-index: 99;
		visibility: hidden;
		opacity: 0;
	}
	.menu-opened .mobile-menu-over {
		background: rgba(0,0,0,0.5);
	}
	.menu-opened .mobile-menu-over,
	.mobile-menu-over.filters-over {
		opacity: 1;
		visibility: visible;
	}

	.inner-page #filters-side-btn {
		position: absolute;
		top: 35%;
		left: -64px;
		background: $dark-blue-color;
		color: #fff;
		text-align: center;
		border-radius: 5px 5px 0 0;
		display: inline-block;
		font-size: 0.875em;
		line-height: 1;
		padding: 10px 25px;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		z-index: 3;
		text-transform: uppercase;
	}

	.inner-page #new-search-side-btn {
		line-height: 30px;
		padding: 0 10px;
		text-transform: uppercase;
		font-size: 0.825em;
		font-weight: bold;
		background: #ffffff;
		border: 1px solid $dark-blue-color;
		border-radius: 5px;
		color: $dark-blue-color;
	}
	.dashboard-content  .filters-wrap .filters {
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 0;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-radius: 15px;
	}
	.dashboard-content  .filters.filters-opened {
		border-radius: 15px 15px 0 0;
	}

	/*----- detailed page ---*/

	.car-photos .main-photo-wrap {
		width: 100%;
		min-height: 300px;
	}

	.car-photos .nav-main-photo-slider {
	    padding-bottom: 10px;
	}

	.test-drive-form-wrap .form-group .bootstrap-select.btn-group.select-day {
		margin-right: 0;
		margin-bottom: 20px;
		display: inline-block;
		width: 100%;
	}
	.test-drive-form-wrap .form-group .bootstrap-select.btn-group.select-time {
		margin-left: 0;
	}

	/*------ single page -----*/
	#content.single-page {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.single-page .container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.compare-table-wrap table td {
		padding-left: 15px;
		padding-right: 15px;
	}

	/*------ news list ----*/

	.news-wrap .news-item .news-thumb {
		min-width: 150px;
		max-width: 150px;
	}
	.news-wrap .news-item .news-description {
		padding-left: 15px;
	}

	/*----- what is ----*/

	.single-page .video-wrap .video iframe {
		width: 100% !important;
		height: 185px !important;
		max-width: 100% !important;
	}

	.single-page .video-wrap > iframe {
		height: 300px !important;
	}

	/*---- car dealer ---*/
	.price-plans-wrap .plans-label li,
	.price-plans-wrap .plan-content li {
		font-size: 0.75em;
	}
	.price-plans-wrap .btn-order {
		padding-right: 15px;
		padding-left: 15px;
	}
	.price-plans-wrap .plan-item .plan-header {
		height: 130px;
	}

	.single-page .article-banner.article-cpo-banner .banner-img {
		min-width: 30%;
		height: auto;
	}
	.single-page .article-banner.article-cpo-banner .banner-img img {
		max-width: 100%;
		width: auto;
		min-width: inherit;
	}

	.single-page .article-banner p {
		padding-left: 15px;
	}

	.saved-search-wrap ul li {
		font-size: 0.9em;
	}

	.inventory-top-dealer > div {
		width: 45%;
	}
	.inventory-top-dealer > div.inventory-dealer-detail {
		width: 55%;
	}
	.inventory-top-dealer > div.inventory-dealer-contact {
		padding-top: 0;
	}

	/*----- CPO program ----*/

	.cpo-program .search-form-wrap h3 {
		padding-left: 15px;
		padding-bottom: 10px;
	}
	.cpo-program .search-form-wrap .form-elements-wrap {
		border-radius: 0;
		display: inline-block;
		padding: 8px 15px;
		width: 100%;
	}
	.cpo-program .form-elements-wrap > * {
		width: 100%; 
	}
	.cpo-program .form-elements-wrap > .mobile-half {
		width: 49%;
	} 
	.cpo-program .form-elements-wrap .mobile-half + .mobile-half {
		margin-left: 2%;
	} 
	.cpo-program .search-form-wrap .form-elements-wrap .form-item + .form-item, 
	.cpo-program .search-form-wrap .form-elements-wrap .btn-form-item {
		padding-left: 0;
		margin-top: 8px;
	}

	.cpo-program .search-form-wrap .form-elements-wrap > .btn-form-item .btn {
		text-align: center;
		padding-left: 0;
	}

	/*--------------- UPDATED STYLES ---------------*/

	.exclusive-price-modal .modal-content {
    padding: 15px;
  }

  .exclusive-price-modal .contact-dealer-form p {
    font-size: 1em;
  }

  .dealer-form-fields input:not(.btn) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.car-logos li {
		width: 25%;
	}
	.car-logos .logos-row li:nth-child(4n + 1){
		border-left: 0;
	}

	.car-logos .logos-row li {
		border-top: 1px solid #1dd2a1;
	}
	.car-logos .logos-row:first-child li:nth-child(1),
	.car-logos .logos-row:first-child li:nth-child(2),
	.car-logos .logos-row:first-child li:nth-child(3),
	.car-logos .logos-row:first-child li:nth-child(4) {
		border-top: 0;
	}
}

@media only screen and (min-width: 992px) {
	.car-logos li {
		width: 12.5%;
	}

	.detailed-inner-container .car-photos .main-photo-wrap {
	  min-height: 409px;
	}

	.detailed-inner-container .car-photos .nav-main-photo-slider {
		min-height: 85px;
	}
}

@media only screen and (min-width: 1367px) {
	header nav .drop-wrap:hover .drop-content,
	header .account-detail-list:hover .drop-content {
		display: block !important;
	}
}

/***** MOBILE *****/

/* Landscape */

@media only screen and (max-width: 767px)  {
	/****** MAIN COLOR *****/
	header .menus-wrap .drop-main-menu .manufacturer-color a {
		color: rgba($manufacturer-color,1);
	}
	header .menus-wrap .drop-main-menu .dealer-color a {
		color: rgba($dealer-color,1);
	}
	header .menus-wrap .drop-main-menu .rental-color a {
		color: rgba($rental-color,1);
	}


	/*******/

	h1,
	h2,
	.why h2,
	#content .detail-page-top h1  {
		font-size: 1.3em;
		line-height: 1.6em
	}
	h3 {
		font-size: 1em;
	}
	h4 {
		font-size: 0.90em;
	}
	h5,
	h6 {
		font-size: .80em;
	}

	p {
		margin-bottom: 5px;
	}

	.m-top-100 {
	    margin-top: 50px;
	}

	.btn,
	input,
	.dealer .dealer-form-wrap .btn,
	.search-wrap .form-item input:not([class=btn]),
	.search-wrap .bootstrap-select .btn.dropdown-togglem
	.contact-form-wrap .btn-group.bootstrap-select .btn,
	.authentication-form-wrap .btn-group.bootstrap-select .btn {
		border-radius: 10px;
		height: 35px;
		line-height: 35px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.btn.small-btn,
	.btn.btn-smaller {
		line-height: 29px;
		height: 30px;
		padding-top: 0;
		padding-bottom: 0;
	}
	footer .btn,
	.search-wrap .btn-green  {
		padding: 0 20px;
		line-height: 40px;
		height: inherit;
	}

	.filters-wrap .filter-row .dropdown-toggle,
	.filters-wrap .filter-row.zip-input input {
		height: 40px;
	}

	header {
		padding: 10px 15px;
		z-index: 101;
	}
	header .menus-wrap {
		position: fixed;
		right: -280px;
		top: 0;
		bottom: 0;
		width: 280px;
		background: #fff;
		z-index: 1001;
		padding: 15px 0;
		-webkit-transition: all 0.6s;
		transition: all 0.6s;
		overflow: auto;
	}
	.menu-opened header .menus-wrap {
		right: 0;
	}
	header .menus-wrap li,
	header .menus-wrap span,
	header .menus-wrap li.drop-wrap li:last-child {
		width: 100%;
		border-bottom: 1px solid rgb(219, 225, 228);
		border-left: none;
		border-right: none;
		border-top: none;
	}
	header .menus-wrap li.drop-wrap,
	.drop-main-menu li:last-child {
		border-bottom: none;
	}
	header .top-menu {
		position: static;
	}
	header .menus-wrap ul {
		width: 100%;
	}
	header nav {
		display: inline-block;
	}
	header nav > ul > li + li {
		margin-left: 0;
	}
	header .top-menu li + li {
		padding-left: 0;
	}
	header .menus-wrap a,
	header .menus-wrap .drop-main-menu li a,
	header .menus-wrap span {
		padding: 20px 15px;
		display: inline-block;
		width: 100%;
		line-height: 1;
	}
	header .menus-wrap .drop-btn {
		padding-top: 19px;
		padding-bottom: 16px;
	}
	header .menus-wrap .content-opened .drop-btn:after {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	header nav ul {
		margin-top: 0;
	}
	header .mobile-btn {
		width: 35px;
		float: right;
		margin-top: 15px;
	}

	header .mobile-btn em {
		float: left;
		width: 100%;
		height: 4px;
		background: #1f2f3e;
		border-radius: 2px;
	}
	header .mobile-btn em + em {
		margin-top: 4px;
	}

	header .menus-wrap .drop-content {
		position: relative;
		top: 0;
		display: block;
	}
	header .menus-wrap .drop-main-menu {
		border: none !important;

	}

	header .menus-wrap .drop-main-menu li {
		text-align: left;
		font-size: 1em;
	}

	header .account-detail-list .drop-content {
		width: 100%;
		border: none;
	}
	header .account-detail-list .drop-content li {
		padding: 0;
	}
	header .account-detail-list .drop-content li + li {
		border-top: none;
	}
	header .account-detail-list .drop-btn:after {
		top: -2px;
		margin-bottom: -6px;
	}
	header .account-detail-list .drop-content a {
		color: #919ea7;
	}

	header .top-menu a:hover,
	header .top-menu span:hover {
		text-decoration: none;
	}

	.bootstrap-select>select.mobile-device {
		color: #2c3e50;
	}
	.search-wrap {
		padding-top: 0;
	}

	.search-wrap-new .tab-pane {
		background: $body-bg;
		border-bottom: 1px solid #919ea7;
	}

	/*.search-wrap .form-item.zip-input label,*/
	.search-wrap .form-item + .form-item:before,
	header .menus-wrap .drop-main-menu:before,
	header .menus-wrap .drop-main-menu:after,
	.car-logos:before,
	.car-logos:after,
	header .account-detail-list .drop-content:before,
	header .account-detail-list .drop-content:after  {
		display: none;
	}

	.search-wrap-new .tab-pane {
		border-radius: 0;
	}

	.search-wrap .advanced-form .btn-green {
		border-radius: 10px;
	}
	.search-wrap .form-elements-wrap,
	.search-wrap .advanced-form .form-elements-wrap {
		padding: 0;
		display: inline-block;
		width: 100%;
	}
	.search-wrap.search-wrap-new .advanced-options {
		padding-left: 0;
		padding-right: 0;
	}
	.search-wrap .form-item {
		height: 56px;
	}
	.search-wrap .form-item + .form-item {
		padding-left: 20px;
	}
	.search-wrap .form-item {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
	}
	.search-wrap .form-elements-wrap > *,
	.search-wrap .advanced-form .form-elements-wrap > * {
		width: 100%;
	}
	.search-wrap .form-elements-wrap > *.mobile-half,
	.search-wrap .advanced-form .form-item + .form-item.zip-input {
		width: 50%;
	}
	.search-wrap .form-item + .form-item.zip-input {
		max-width: inherit;
		text-align: right;
		padding-right: 29px;
	}
	.search-wrap .form-elements-wrap  .form-item + .form-item.zip-input {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.search-wrap .form-elements-wrap .zip-input input {
		padding-left: 15px;
		height: 35px;
		line-height: 35px;
		max-width: 100px;
	}
	.search-wrap .form-item .select-title {
		left: 0;
		line-height: 35px;
	}
	.search-wrap .form-item {
		border-bottom: 1px solid #919ea7;
		padding-bottom: 15px;
	}
	.search-wrap .btn-green {
		margin-top: 25px;
	}
	
	.select-tooltip em {
		margin-left: 5px;
	}
	.form-elements-wrap .select-tooltip em {
		top: -15px;
		float: left;
	}
	.form-elements-wrap .select-tooltip em:after {
		left: 10%;
	}

	.top-section .search-wrap-new .advanced-options {
		padding-left: 0;
		padding-right: 0;
		display: inline-block;
		width: 100%; 
		padding-bottom: 0;
	}

	.top-section .search-wrap-new .advanced-options .body-styles {
		border-bottom: 1px solid #919ea7
	}

	.search-wrap-new .advanced-options .price-range {
		z-index: 0;
	}

	.search-wrap .advanced-options .body-styles ul li {
		width: 50%;
		height: 100px;
	}

	.top-section .search-wrap-new .advanced-options .body-styles li {
		padding-bottom: 15px;
		padding-top: 0;
		margin-top: 15px;
	}
	.top-section .search-wrap-new .advanced-options .price-range li {
		padding-top: 20px;
		padding-bottom: 15px;
		border-top: 1px solid #919ea7;
	}
	.top-section .search-wrap-new .advanced-options .price-range {
		padding-top: 0;
		border-bottom: 1px solid #919ea7;
		position: relative;
		top: 1px;
	}

	.top-section .search-wrap-new .advanced-options .advanced-options-head {
		text-transform: capitalize;
		color: #4e6777;
		width: 50%;
		padding: 0 20px;
	}
	.search-wrap-new .advanced-options .advanced-options-head h6 {
		padding-bottom: 20px;
		padding-top: 15px;
	}
	.top-section .search-wrap-new .advanced-options .caret {
		margin: 3px -4px 3px 0;
	}
	.search-wrap-new .advanced-options > * {
		border-top: none;
		width: 100%;
		float: left;
		position: static;
	}
	.top-section .search-wrap-new .advanced-options {
		position: relative;
	}
	.top-section .search-wrap-new .advanced-options .body-styles .advanced-options-head {
		position: absolute;
		top: 0;
		right: 0;
	}
	.top-section .search-wrap-new .collapsing {
		-webkit-transition: none;
		transition: none;
	}
	
	/*.top-section.top-section-new + #content {
		padding-top: 310px;
	}*/
	.top-section .search-wrap .advanced-options .price-range ul,
	.top-section .search-wrap .advanced-options .body-styles ul {
		margin-left: 0;
		margin-right: 0;
		overflow: hidden;
	}
	.search-wrap .advanced-options .price-range label {
		font-size: 0.8em;
	}
	.search-wrap .advanced-form form {
		padding-right: 0;
	}
	.search-wrap .advanced-form .btn-green {
		position: relative;
		width: inherit;
		right: 0;
		top: 0;
		width: calc(100% - 30px);
		margin: 0 15px 20px;
	}

	.search-wrap-new .drop-btn {
		position: relative;
		color: $logo-green-color;
		text-align: left;
		padding: 10px 20px; 
		margin-bottom: 10px;
		margin-top: 0;
	}
	.search-wrap-new .drop-btn:after {
		content: "\f078";
		position: absolute;
		right: 25px;
		top: 50%;
		margin-top: -2px; 
		font-family: 'FontAwesome';
		font-weight: normal;
		font-style: normal;
		line-height: 1;
		font-size: 0.75em;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}
	.search-wrap-new .content-opened .drop-btn:after {
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}

	.advanced-options .select-tooltip em {
		top: 0;
	}

	/*---------- content ------*/

	.why,
	.info-text {
		padding: 0;
	}

	#content .container,
	#content.single-page .container {
		padding-top: 15px;
		padding-bottom: 30px;
	}

	.why h2 {
		margin-bottom: 14px;
	}

	.why .certified-cars-btns li {
		width: 50%;
		margin-top: 10px !important;
	}

	.why .certified-cars-btns li img {
		max-width: 200px;
		width: 100%;
	}

	#content h2 + p, .featured-video h3 + p {
		font-size: 0.9em;
	}

	.dealer .dealer-form-wrap .form-item {
		width: 100%;
		padding: 0;
		max-width: none;
	}
	.dealer .dealer-form-wrap .form-item + .form-item {
		margin-top: 10px;
	}

	.dealer .dealer-result ul {
	    -webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	}

	.rental .button-wrap {
		margin-top: 20px;
	}

	.main-news {
		min-height: inherit;
	}

	.main-news .news-detail {
		width: 100%;
		top: inherit;
		position: relative;
	}

	.news-row .news-item {
		font-size: 1.2em;
	}

	.info-text p {
		line-height: 1.5;
	}

	.car-logos {
		width: 100%;
		padding: 0 20px;
	}
	.car-logos li {
		min-height: inherit;
		height: 136px;
	}
	.car-logos .logos-row li:nth-child(2n + 1) {
		border-left: none !important;
	}
	.car-logos .logos-row li {
		border-top: 1px solid #1dd2a1;
	}

	.car-logos .slick-next,
	.car-logos .slick-prev {
		margin-top: -22px;
	}

	.dealer .dealer-form-wrap {
		max-width: 100%;
	}

	.dealer .dealer-result .slick-prev,
	.car-logos .slick-prev {
		left: 0;
	}
	.dealer .dealer-result .slick-next,
	.car-logos .slick-next {
		right: 0;
	}
	.car-logos .slick-disabled {
		opacity: 0;
	}

	.car-logos .logos-row li {
		width: 50%;
	}
	.car-logos .logos-row li:first-child,
	.car-logos .logos-row li:nth-child(2) {
		border-top: 0 !important;
	}

	.car-logos .slick-dots {
		width: 100%;
		text-align: center;
		display: inline-block;
		margin-top: 25px;
	}

	.car-logos .slick-dots li {
		border: none;
		height: inherit;
		padding: 0 10px;
		display: inline-block;
		float: none;
	}
	.car-logos .slick-dots li button {
	    font-size: 0;
	    line-height: 0;
	    display: block;
	    width: 10px;
	    height: 10px;
	    border-radius: 5px;
	    cursor: pointer;
	    border: 2px solid #fff;
	    outline: none;
	    background: #fff;
	    padding: 0;
	}
	.car-logos .slick-dots .slick-active button {
		background: transparent;
	}

	.news-list {
		margin-top: 25px;
	}

	.featured-video .video-thumbs a:before {
		border-width: 10px;
		top: -1px;
	}

	.featured-video #mobile-title {
		margin-bottom: 25px;
	}

	.main-video {
		margin-bottom: 0;
	}

	.info-text h5 {
		font-size: 0.90em;
	}



	/***** Inventory ***/

	.inner-page .inner-page-top + .row {
		margin-top: 0;
	}
	.inner-page .inner-page-top {
		padding-right: 0;
	}
	.inner-page .inner-page-top .btn {
		top: -2px;
	}
	.result-sorting {
		background: transparent;
		padding: 0;
	}

	.result-sorting .sort-by select {
		border: none;
		min-width: 110px;
		background-position: 90% 50% !important;
		border: 1px solid $dark-blue-color;
		height: 32px;
		text-transform: uppercase;
		color: $dark-blue-color;
		font-weight: 600;
	}
	.zip-input-single {
		display: inline-block;
	}
	.zip-input-single input {
		padding: 0 5px;
		border-radius: 5px;
		border: 1px solid #919ea7;
    width: 94px;
    font-size: 0.82em;
		color: $dark-blue-color;
		position: relative;
		top: -2px;
	}
	.zip-input-single input::-webkit-input-placeholder {
	  	color: $dark-blue-color;
	 }
	.zip-input-single input::-moz-placeholder {
	 	color: $dark-blue-color;
	}
	.zip-input-single input:-ms-input-placeholder {
	  	color: $dark-blue-color;
	}
	.zip-input-single input:-moz-placeholder {
	  	color: $dark-blue-color;
	}

	.result-sorting .show-count {
		margin-right: 30px;
	}

	.inner-page .filters-wrap {
		top: 22%;
	}

	.result-filters li {
		width: 100%;
	}
	.result-filters li + li {
		padding-left: 0;
		margin-top: 15px;
	}
	.result-filters a {
		width: 100%;
	}

	.result-container .item-filter-detail .dealer-name {
		width: auto;
	}

	.result-container.view-list .result-item {
		display: inline-block;
	}
	.result-container .item-logos,
	.result-container .result-item .marker,
	.item-filter-detail li > span:not([class='rates-count']) {
		display: none;
	}
	.result-container .stars-wrap {
		height: 12px;
	}
	.result-container .stars-wrap .star {
		width: 10px;
		height: 10px;
		background-size: auto 10px;
		float: left;
	}

	.result-container.view-list .item-img {
		min-width: 100%;
		max-width: 100%;
		margin-bottom: 20px;
		padding-right: 0;
	}
	.result-container .img-wrap,
	.result-container.view-grid .img-wrap {
		width: auto;
		max-height: inherit;
		margin-top: -10px;
		margin-right: -10px;
		margin-left: -10px;
	}
	.result-container.view-list .item-desc {
		max-width: 100%;
		width: 100%;
	}
	.result-container.view-list .item-title h6 {
		width: 100%;
	}

	.result-container.view-list .item-filter-detail {
		width: 60%;
	}
	.result-container.view-list .item-filter-detail ul {
		clear: left;
		float: left;
		max-width: inherit;
		width: 100%;
		padding-right: 0;
	}

	.result-container.view-list .price-detail {
		/*margin-top: -5px;*/ 
		position: relative;
		min-height: inherit;
		min-width: inherit;
		float: right;
		margin-top: 10px;
	}
	.result-container.view-list .price-detail.exclusive-price  {
		width: 100%;
		margin-top: 0;
		padding-top: 10px;
	}
	.result-container.view-list .price-detail.exclusive-price .price {
		padding-bottom: 0;
		font-size: 1.25em;
		font-weight: bold;
		text-transform: none;
	}
	.result-container.view-list .price-detail.exclusive-price .btn {
		width: 100%;
		margin-top: 10px;
	}
	.price-detail .price {
		font-size: 1.2em;
	}
	.price-detail .badge {
		font-size: 0.6em;
	}
	.price-detail .fee {
		font-size: 0.8em;
	}

	.result-sorting .show-count,
	.result-sorting .view {
		display: none;
	}

	.result-sorting .sort-by {
		float: left;
		font-size: 0.825em;
	}

	#content.inner-page h2 {
		font-size: 1em;
	}
	#content.inner-page h2 .change-link {
		font-size: 0.65em;
	}

	.result-container .result-item h6 + p,
	.result-container .item-filter-detail li {
		font-size: 0.9em;
	}

	.filters-wrap .filter-row.zip-input .dropdown-toggle .filter-option {
		line-height: 40px;
	}

	.result-container.view-list .item-filter-detail {
		white-space: normal;
		display: none;
	}


	.inventory-cpo-program .cpo-program-logo {
		width: 100%;
		height: inherit;
		margin-bottom: 10px;
		min-height: 135px;
	}

	.inner-page #filters-side-btn {
		top: 16%;
	}

	.result-container.view-list .price-detail.exclusive-price .btn {
		font-weight: normal;
	}

	.result-container.view-list .result-item.view-tags {
		padding-bottom: 10px;
	}
	.result-container .item-tags {
		position: relative;
		padding-bottom: 0;
		padding-top: 10px;
		left: 0;
		right: 0;
		text-align: center;
		margin-right: -2px;
		margin-left: -2px;
	}
	.result-container .item-tags .tag,
	.result-container .item-tags .tag + .tag {
		margin-left: 2px;
		margin-right: 2px;
	}
	.result-container .item-tags .tag {
		margin-bottom: 5px;
		font-size: 0.75em;
		padding-right: 5px;
		padding-left: 5px;
		height: inherit;
		line-height: 28px;
		padding-bottom: 0;
		padding-top: 0;
	}

	.result-container .item-tags .tag i {
		margin-right: 5px;
	}

	/*----- detailed page ---*/
	#content .detail-page-top h1 {
		text-align: center;
	}
	#content .detail-page-top h1 span {
		display: inline !important;
	}

	.dealer-details h3 {
		font-size: 1.3em;
	}

	.car-photos {
		width: 100%;
		padding: 0;
		border: none;
	}

	.car-photos .nav-main-photo-slider .main-slide-item {
		max-width: inherit;
	}

	.car-photos .main-photo-wrap {
		min-height: 413px;
		max-width: 100%;  
	}

	.mobile-request-form a:hover,
	.detailed-page a:hover {
		text-decoration: none;
	}

	.detail-page-top,
	#content .detail-page-top h2 {
		margin-bottom: 0;
	}
	.main-photo-slider,
	.main-photo-slider .slick-slide {
		height: inherit;
	}
	.request-detail .main-photo-slider img {
		width: 100%;
	}
	.dealer-info .dealer-info-list {
		width: 100%;
		margin-top: 10px;
	}
	.listing-summary {
		padding-bottom: 20px;
		border-width: 2px;
	}
	.listing-summary ul li,
	.dealer-info li  {
		width: 100%;
		border-top: 1px solid #d2dbe0;
		margin-bottom: 0;
		padding-top: 7px;
    	padding-bottom: 7px;
		padding-right: 5px;
		background: #fff;
	}
	.listing-summary ul li:last-child,
	.dealer-info li:last-child {
		border-bottom: 1px solid #d2dbe0;
	}
	.dealer-info li {
		padding-left: 35px;
	}
	.listing-summary ul li {
		padding-left: 5px;
	}
	.listing-summary h6 {
		display: inline-block;
		font-size: 0.85em;
		font-weight: 600;
		width: 35%;
	}
	.listing-summary ul li span {
		display: inline;
		width: inherit;
	}
	.dealer-info li {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.dealer-info li > i {
		top: 12px;
		font-size: 1.2em;
		left: 10px;
	}
	.accordion-content .drop-wrap {
		padding: 0 10px;
	}
	.accordion-content .drop-wrap p {
		text-align: left;
	}
	.accordion-content .drop-wrap .drop-btn {
		font-size: 0.9em;
	}
	.accordion-content .drop-wrap .drop-btn:after {
		right: -2px;
		top: 20px;
		margin-top: 0;
	}
	.mobile-hide {
		display: none;
	}
	.read-btn:hover {
		text-decoration: none;
	}
	.detailed-page .price-detail {
		float: none;
		display: inline-block;
		border-bottom: 2px solid rgba(44,62,80,1);
		margin-right: 0;
		padding: 15px 0;
	}
	.request-detail .rates {
		border-bottom: none;
		margin-bottom: 0;
		font-size: 1em;
	}

	.detailed-page .price-detail,
	.detailed-page .visible-xs .view-phone {
		display: inline-block;
		width: 100%;
    border-radius: 3px;
    margin-top: 10px;
	}
	.detailed-page .visible-xs .view-phone {
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		padding: 0;
	}
	.detailed-page .visible-xs .view-phone.btn-green {
		color: #fff;
	}
	.detailed-page .btn.btn-orange {
		height: inherit;
		line-height: 40px;
	}
	.detailed-page .btn.btn-green,
	.detailed-page .btn.btn-white-green {
		height: inherit;
		line-height: 40px;
		border: 2px solid $logo-green-color;
	}
	.detailed-page .visible-xs .view-phone {
		height: inherit;
		line-height: 40px;
		border: 1px solid #999;
	}
	.detailed-page .btn.btn-green,
	.detailed-page .btn.btn-white-green,
	.detailed-page .get-price-wrapper .btn.btn-orange  {
		position: relative; 
		width: 100%;
		font-size: 1em;
		border-radius: 3px;
		margin-top: 10px;
	}
	.price-detail .get-price-wrapper .scroll-down {
		padding-top: 0;
	}
	.detailed-page .listing-summary,
	.detailed-page .dealer-info  {
		border-bottom: 2px solid rgba(44,62,80,1);
	}
	.detailed-page .dealer-info,
    .detailed-page .chart-wrap{
		border-top: 2px solid rgba(44,62,80,1);
	}
	.detailed-page .price-detail .price {
		font-size: 1.6em;
	}
	.detailed-page .price-detail .fee {
		font-size: 1em;
	}
	.dealer-info a,
	.detailed-page .price-detail a,
	.detailed-page .view-phone em  {
		display: block;
	}
	.detailed-page .dealer-info {
		position: relative;
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.detailed-page .dealer-info .rates {
		position: absolute;
		top: 30px;
		right: 0;
	}

	.detailed-page .accordion-content h6 {
		font-size: 0.9em;
	}
	.detailed-page .listing-summary h6 {
		font-weight: 700;
	}
	.detailed-page .listing-summary span {
		font-size: 0.9em;
	}
	.request-detail .slick-prev,
	.request-detail  .slick-next {
		opacity: 1;
	}
	.request-detail .slick-prev:before,
	.request-detail  .slick-next:before {
		font-size: 24px;
		color: #fff;
	}

	#res-tabs-container {
    text-align: initial;
    margin-top: 30px;
	} 

	#exclusive-price-modal .modal-dialog {
		margin: 0;
	}
	#exclusive-price-modal .modal-content {
	    height: 100vh;
	}

	
	.mobile-networks {
		position: fixed;
		background: rgba(0,0,0,0.5);
		bottom: -100%;
		left: 0;
		right: 0;
		padding: 35px 20px 20px;
		text-align: center;
		transition: all 0.3s;
		z-index: 999;
	}
	.mobile-networks.visible {
		bottom: 0;
		transition: all 0.3s;
	}
	.mobile-networks .close-btn {
		color: #fff;
		position: absolute;
		top: 5px;
		right: 20px;
		font-size: 1.2em;
	}
	.mobile-networks .jssocials-share {
		width: 100%;
		margin-left: 0;
	}
	.mobile-networks .jssocials-shares .jssocials-share-link {
		line-height: 36px;
		height: 42px;
		width: 100%;
	}
	.mobile-networks-over {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 998;
		display: none;
	}
	.mobile-networks-over.visible {
		display: block;
	}

	.mobile-request-form .modal-content {
		/*padding: 20px;*/
	}
	.mobile-request-form .drop-content {
		display: none;
	}
	.mobile-request-form .btns-wrap {
		overflow: hidden;
	}
	.mobile-request-form .btns-wrap .btn {
		border-radius: 3px;
		padding: 0;
		width: 100%;
	}

	.detailed-page .view-phone {
		color: #2c3e50;
	}

	.mobile-request-form .close-modal {
		float: right;
		margin-top: -10px;
		font-size: 1.5em;
		right: 13px;
	}

	.fancybox-stage .fancybox-image-wrap {
		border-width: 5px;
		max-width: 100%;
	}

	.fancybox-stage .fancybox-slide {
		left: 10px;
		right: 10px;
		width: auto;
	}

	.fancybox-stage .button-close {
		top: -18px;
		right: -15px;
	}
	/*----- single page ----*/

	#content.single-page {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.single-page-title {
		text-align: center;
		height: inherit;
		min-height: 75px;
		padding: 15px;
	}
	.single-page .article p {
		margin-bottom: 25px;
	}
	.single-page h3 {
		text-transform: uppercase;
		font-weight: 600;
	}

	#search-side-btn {
		position: absolute;
		top: 23px;
		left: -47px;
		background: $dark-blue-color;
		color: #fff;
		width: 70px;
		text-align: center;
		border-radius: 5px 5px 0 0;
		display: inline-block;
		font-size: 0.875em;
		line-height: 1.75;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		z-index: 3;
	}

	.single-page:not(.dashboard-content) .filters-wrap {
		position: fixed;
		width: 280px;
		right: -280px;
		bottom: 0;
		background: #fff;
		z-index: 1001;
		padding: 10px;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	.single-page .filters-wrap.opened {
		right: 0;
	}

	.compare-table-wrap {
		padding: 0;
		margin-top: 50px;
		margin-left: -15px;
		margin-right: -15px;
	}

	.compare-table-wrap table,
	.compare-table-wrap thead,
	.compare-table-wrap tbody,
	.compare-table-wrap tr,
	.compare-table-wrap th,
	.compare-table-wrap td {
		display: inline-block;
	}

	.compare-table-wrap table,
	.compare-table-wrap table th:nth-child(3),
	.compare-table-wrap table td:nth-child(3) {
		background: #fff;
	}

	.compare-table-wrap .table-head .select-wrap,
	.compare-table-wrap .table-head.sponsored .select-wrap {
		padding: 15px;
	}
	.compare-table-wrap table th:nth-child(3) .head-car-logo {
		border-top-color: #eeeded;
	}
	.compare-table-wrap thead,
	.compare-table-wrap table tr {
		width: 100%;
	}
	.compare-table-wrap table td,
	.compare-table-wrap table th {
		width: 50%;
		float: left;
	}
	.compare-table-wrap table td.empty,
	.compare-table-wrap table th.empty,
	.compare-table-wrap .table-head .sponsored-program {
		display: none;
	}
	.compare-table-wrap table td.td-title,
	.compare-table-wrap table td.sub-title {
		width: 100%;
		text-align: center;
		padding: 10px;
	}
	.compare-table-wrap table .btns-wrap,
	.compare-table-wrap table td.td-title {
		background: $body-bg;
		border-top: 1px solid $light-grey-color;
		border-bottom: 1px solid $light-grey-color;
		font-size: 1em;
		margin-top: -1px;
	}

	.compare-table-wrap.sticky-header {
		padding-top: 152px;
	}
	.compare-table-wrap.sticky-header .table-header {
		position: fixed;
		top: 0;
		left: 0;
		background: #fff;
		z-index: 99;
		border-bottom: 1px solid $light-grey-color;
	}
	.compare-table-wrap.sticky-header .table-header .head-car-logo {
		display: none;
	}

	.single-page .border-bottom {
		line-height: 24px;
	}

	.single-page .border-bottom > h3 {
		float: none;
	}
	.cpo-program-reviews .text-right .btn,
	.single-page .border-bottom .btn {
		float: none;
		margin: 15px auto;
		width: 215px;
		display: block;
		bottom: 0;
	}


	/*---- what is ---*/

	.single-page .article-banner {
		display: inline-block;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}

	.single-page .article-banner img,
	.single-page .article-banner.article-cpo-banner img {
		max-width: 100%;
		width: auto;
		min-width: inherit;
		margin: 0 auto;
		display: block;
	}

	.single-page .article-banner p {
		padding-left: 0;
		padding-top: 15px;
		margin-bottom: 20px;
	}

	.single-page .article > div.below-banner-wrap {
		padding-top: 0;
	}

	.single-page .video-wrap .video {
		margin-left: 0;
		width: 100%;
		text-align: center;
		padding-bottom: 15px;
	}

	.single-page .video-wrap .video iframe {
		width: 480px !important;
		height: 270px !important;
	}

	/*---- news list ----*/

	.news-wrap {
		padding-top: 0;
	}

	.news-wrap .news-item {
		position: relative;
	}

	.news-wrap .news-item .news-thumb {
		min-width: 120px;
		max-width: 120px;
	}

	.news-wrap .news-item h4 {
		font-size: 1em;
		padding-bottom: 20px;
	}

	.news-wrap .news-item .meta {
		position: absolute;
		right: 0;
		bottom: 15px;
		display: inline-block;
		margin-bottom: 0;
		margin-top: 0;
	}

	.single-page .result-pagination {
		margin-top: 30px;
	}

	/*----- car dealer ----*/
	.price-plans-wrap {
		padding-bottom: 30px;
	}

	.price-plans-wrap .btn-order {
		font-size: 12px;
	}
	.price-plans-wrap .plan-item {
		width: 100%;
	}
	.price-plans-wrap .plan-item + .plan-item,
	.price-plans-wrap .plan-item + .plan-item + .plan-item {
		left: 0;
	}
	.price-plans-wrap .plan-item + .plan-item {
		margin-top: 15px;
	}

	.price-plans-wrap .plan-item ul {
		float: left;
		width: 50%;
	}
	.price-plans-wrap .plan-item ul.visible-xs li {
		padding-left: 15px;
		font-weight: 600;
		text-align: left;
	}

	.accordion-content .drop-wrap .drop-btn {
		padding-right: 5px;
	}

	.single-page .faqs-wrap {
		margin-top: 30px;
	}

	/*---- sign up ---*/

	.authentication-form-wrap {
		padding: 20px 15px;
	}
	.authentication-form-wrap .form-title h3,
	.authentication-form-wrap .form-title p {
		width: 100%;
		text-align: center;
	}
	.authentication-form-wrap .form-title h3 {
		margin-bottom: 20px;
	}
	.authentication-form-wrap .form-title p {
		line-height: 1.25;
		font-size: 0.75em;
		margin-bottom: 0;
	}
	.authentication-form-wrap .sign-social a {
		width: 140px;
	}

	/*--- cpo program ---*/
	.reviews-wrap .review-item .review-meta p em {
		font-size: 1em;
	}

	.single-page.cpo-program-reviews .cpo-program-reviews-banner,
	.single-page.cpo-program-reviews .cpo-raiting-detail p {
		text-align: center;
	}

	.cpo-program .check-list,
	.cpo-program-reviews .check-list,
	.cpo-program .check-list.has-sub-list,
	.cpo-program-reviews .check-list.has-sub-list,
	.single-page.cpo-program-reviews .cpo-raiting-detail {
		width: 100%;
	}
	.cpo-program .check-list.has-sub-list,
	.cpo-program-reviews .check-list.has-sub-list {
		margin-top: -25px;
	}

	.cpo-program .check-list.has-sub-list span.bold,
	.cpo-program-reviews .check-list.has-sub-list span.bold {
		width: 165px;
	}

	.single-page.cpo-program-reviews .cpo-raiting-detail {
		margin-top: 10px;
	}

	.single-page.cpo-program-reviews .cpo-program-reviews-banner img {
		max-width: 50%;
	}

	.saved-search-wrap ul {
		width: 100%;
	}

	.cpo-program .search-form-wrap {
		margin-right: -15px;
		margin-left: -15px;
	}

	/*---- find a car ----*/

	.find-cars {
		padding-bottom: 63px;
	}

	.find-cars-wrap {
		padding-bottom: 0;
		padding-top: 0;
		background: #f8f8f8;
		border-top: 1px solid #d8d8d9;
	}
	.find-cars-wrap .search-wrap {
		margin-top: 0;
	}

	.find-cars-wrap .container {
		width: 100%;
	}

	.find-cars-wrap .advanced-form {
		border-radius: 0;
		background: transparent;
	}
	.find-cars-wrap .price-range,
	.find-cars-wrap .body-styles {
		padding-right: 20px;
	}

	.find-cars-wrap .search-wrap .advanced-options .price-range ul {
		margin-left: 0;
		text-align: left;
	}
	.find-cars-wrap .search-wrap .advanced-options .price-range li {
		width: inherit;
		display: inline-block;
		float: none;
		margin-right: 12px;
	}
	.find-cars-wrap .search-wrap .advanced-options .price-range li:last-child {
		margin-right: 0;
	}
	.find-cars-wrap .search-wrap .advanced-options .price-range label .checkbox-content {
		padding: 5px 20px;
		border-color: #e8eaeb;
		min-width: 82px;
	}

	.find-cars-wrap .search-wrap .advanced-options .body-styles ul {
		padding-left: 0;
		margin-left: -15px;
		margin-right: -15px;
	}
	.find-cars-wrap .search-wrap .advanced-options .body-styles .all-wrap {
		position: relative;
		width: 100%;
		left: 0;
		top: 0;
		padding: 20px 0 0;
		text-align: center;
	}
	.find-cars-wrap .search-wrap .advanced-options .body-styles .all-wrap label {
		position: relative;
		top: 0;
	    max-width: inherit;
	    width: 80%;
	}
	.find-cars-wrap .search-wrap .advanced-options .body-styles .all-wrap label .checkbox-content {
		width: 100%;
	}

	.find-cars-wrap .advanced-form .text-center .btn {
		margin-bottom: 0;
	}

	.find-cars-wrap .text-center.fixed-bottom {
		position: relative;
		z-index: 9999;
		position: fixed;
		width: 100%;
		bottom: 0;
        background: #f8f8f8;
	}
	
	.find-cars-wrap .colors-wrap, 
	.find-cars-wrap .ranges-wrap {
		border-top: 1px solid #c4c9cf;
		padding-bottom: 20px;
	}

	.find-cars-wrap .colors-wrap .col-sm-6 + .col-sm-6, 
	.find-cars-wrap .ranges-wrap .col-sm-6 + .col-sm-6 {
		padding-top: 20px; 
	}

	/*.find-cars-wrap .search-wrap .advanced-options {
		padding-right: 15px;
		padding-left: 15px;
	}*/
	.find-cars-wrap .search-wrap .advanced-options .price-range {
		border-bottom: 1px solid #919ea7;
	}


	.inventory-top-dealer .dealer-logo {
		width: 100%;
		margin-bottom: 10px;
	}

	.inventory-top-dealer > div,
	.inventory-top-dealer > div.inventory-dealer-detail {
		width: 100%;
	}

	.inventory-top-dealer .drop-content {
		margin-bottom: 0;
	}

	.inventory-top-dealer .view-phone em {
		display: none !important;
	}
	.inventory-top-dealer .view-phone a {
		display: inline-block !important;
	}

	.saved-search-wrap ul li {
		width: 100%;
	}


	footer .btn {
		font-size: 0.90em;
		padding: 0 40px;
	}

	footer {
    .col-sm-6 {
      text-align: center;
      width: 100%;
      + .col-sm-6 {
        margin-top: 15px;
      }
    }
    .socials-list {
      display: inline-block;
      width: 100%;
      text-align: center;
      li {
        display: inline-block;
      }
      span {
        display: none; 
      }
    }
  }

	.top-section {
		padding-top: 0;
	}

	.top-section:before {
		z-index: -1;
	}

	.top-section > .container {
		padding: 0;
	}
	.top-section .top-section-title {
		padding: 30px 15px;
		background: url(../img/banner.jpg) no-repeat 40% 100%;
		background-size: cover;
		min-height: 150px;
		position: relative;
	}
	.top-section .top-section-title > * {
		position: relative;
		z-index: 2;
	}
	.top-section .top-section-title:before {
		content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.16);
	}
	.top-section .search-wrap-new {
		margin-top: 0;
		max-width: 100%;
	}

	/*-------------UPDATED STYLES-------------------*/

	#exclusive-price-modal .modal-content {
    padding: 25px;
    height: 100% !important; 
    border-radius: 0; 
  }

  #exclusive-price-modal .modal-dialog {
    height: 100%;
  }

  .exclusive-price-modal .contact-dealer-form h3 {
    font-size: 1.1em;
  }
  
  .exclusive-price-modal .contact-dealer-form {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .exclusive-price-modal .dealer-form-fields {
    margin-top: 10px;
  }
  .exclusive-price-modal .dealer-form-fields input {
    margin-bottom: 15px !important;
  }

  .exclusive-price-modal .dealer-form-fields input:not(.btn) {
    width: 100%;
    + input {
      margin-left: 0;
    }
  }
  .exclusive-price-modal .get-price-btn {
    height: inherit;
    position: relative;
    line-height: inherit;
    font-size: 1em;
    padding: 9px 15px;
    width: 100%;
    right: 0;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0; 
  }
  .exclusive-price-modal .close-modal {
    font-size: 1.5em; 
    line-height: 1;
  } 
  .exclusive-price-modal .close-modal {
    padding: 5px;
    right: 10px; 
    top: 5px;   
  }

}

@media only screen and (max-width: 767px) and (orientation: landscape) {
	.top-section {
		min-height: inherit;
	}

	/*-------------UPDATED STYLES-------------------*/

	#exclusive-price-modal { 
    padding: 10px;
  }
	
}

@media only screen and (max-width: 767px) and (orientation: portrait) {

	.top-section {
		min-height: calc(100vh - 110px);
	}
	.top-section,
	.top-section > .container {
		display: -webkit-box;   
		display: -moz-box;         
		display: -ms-flexbox;   
		display: -webkit-flex;     
		display: flex;	
	}
	.top-section > .container {
		flex-direction: column;
		justify-content: flex-end;
	}
	.top-section .top-section-title {
		height: calc(100vh - 400px);
	}
	.top-section .search-wrap-new {
		width: 100%;

	} 
	


	/*-------------UPDATED STYLES-------------------*/
	#exclusive-price-modal {
    padding: 30px 10px; 
  }
}

@media only screen and (max-width: 320px) and (orientation: portrait) { 
	.top-section {
		min-height: calc(100vh - 180px);
	}
	.top-section .top-section-title {
		height: inherit;
		min-height: inherit;
	}
}

@media only screen and (max-width: 568px) {
	.car-photos .main-photo-wrap {
		min-height: 340px;
	}
	.dealer-form-fields p input {
		width: 100%;
	}
	.dealer-form-fields p:first-child input:first-child, 
	.dealer-form-fields p:nth-child(2) input:first-child {
	  margin-bottom: 15px;
	}
}

@media only screen and (max-width: 479px) {

	.btn,
	.filters-wrap .filter-row.zip-input input  {
		font-size: 13px;
		padding: 0 10px;
	}

	header .logo img {
		width: 175px;
	}
	header .mobile-btn {
		margin-top: 8px;
	}
	.top-section .search-wrap {
		bottom: 0;
	}

	.search-wrap .nav-tabs span {
		display: none;
	}
	.search-wrap .nav-tabs li + li {
		padding-left: 0;
		padding-right: 20px;
	}

	.search-wrap .advanced-options .body-styles ul {
	    margin-left: -5px;
	    margin-right: -5px;
	}

	.search-wrap .advanced-options .body-styles ul li {
		height: 75px;
		padding-bottom: 15px;
	}
	.search-wrap .advanced-options .body-styles ul li:last-child {
		margin-bottom: 15px;
	}

	.top-section .search-wrap-new .advanced-options .advanced-options-head {
		padding-right: 10px;
		padding-left: 10px;
	}
	.search-wrap .advanced-options .price-range label {
	    font-size: 0.875em;
	}
	.body-styles .car {
		-webkit-transform: scale(0.65);
		transform: scale(0.65);
	}

	.search-wrap-new .drop-btn {
		padding-left: 10px;
		padding-right: 10px;
	}
	.search-wrap-new .drop-btn:after {
		right: 15px;
	}

	.dealer .dealer-result ul {
	    -webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
	}

	.result-container > div {
		margin-top: 0;
	}

	.main-video iframe {
		height: 200px;
	}
	.news-list,
	.rental-carscars  {
		margin-top: 25px;
	}
	.news-item .news-desc {
	    font-size: 0.675em;
	    line-height: 1.5;
	}

	.rental-cars-item {
		padding-left: 110px;
	}

	.dealer-pagination .slick-dots li {
		width: 34px;
	}
	.dealer-pagination button {
		width: 30px;
		height: 30px;
	}

	.dealer-pagination .pag-prev,
	.dealer-pagination .pag-next {
		line-height: 28px;
	}

	.featured-video p + ul li + li {
		margin-top: 10px;
	}
	.featured-video p + ul a {
		font-size: 0.8em;
		margin-left: 5px;
	}
	.featured-video i {
		position: relative;
		top: -1px;
	}

	.featured-deals .slick-slide {
		padding-left: 25px;
		padding-right: 25px;
	}

	/**** Inverntory ***/

	#content.inner-page h2 {
	    line-height: 2em;
	}
	.inner-page .inner-page-top .btn {
		top: 1px;
	}
	.filters-wrap {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
	}
	.filters-wrap h5 {
		font-size: 0.8em;
	}
	.result-sorting {
		margin-top: 0;
	}

	.result-pagination a,
	.result-pagination span {
		font-size: 0.7em;
		line-height: 25px;
		padding: 0 7px;
	}

	.result-container .col-xs-6 {
		width: 100%;
	}

	/*.result-container.view-list .item-filter-detail {
		width: 100%;
	}
	.result-container.view-list .price-detail {
		margin-top: -38px;
	}/*

	/*--- detailed ---*/

	.car-photos .main-photo-wrap {
		min-height: 230px;
	}

	/*---- news list ----*/

	.news-wrap .news-item .news-thumb {
		min-width: 100px;
		max-width: 100px;
	}

	.news-wrap .news-item .meta {
		line-height: 1
	}

	/*--- what is ---*/

	.single-page .video-wrap .video iframe {
		width: 280px !important;
		height: 160px !important;
	}

	.single-page .video-wrap > iframe {
		height: 250px !important;
	}

	.single-page p + ul {
		margin-top: -15px;
	}

	.authentication-form-wrap .sign-social a {
		width: 100%;
	}

	.authentication-form-wrap .sign-social a + a{
		margin-top: 15px;
	}

	.single-page .find-cars-list ul li {
		font-size: 0.8em;
	}

	.testimonials, .line-up {
		margin-top: 30px;
	}

	 .reviews-wrap .review-item {
	 	padding-bottom: 40px;
	 }

	.reviews-wrap .review-item .review-meta,
	.reviews-wrap .review-item .review-body {
		width: 100%;
	}

	.reviews-wrap .review-item .review-meta {
		padding-bottom: 15px;
	}

	.reviews-wrap .review-item .review-meta p {
		text-align: left;
	}

	.find-cars-wrap .search-wrap .advanced-options .price-range li {
		margin-right: 10px;
	}

	.find-cars-wrap .search-wrap .advanced-options .price-range label .checkbox-content {
		padding-left: 10px;
		padding-right: 10px;
		min-width: 60px;
	}

	.search-wrap.search-wrap-new .form-item,
	.search-wrap.search-wrap-new .form-item + .form-item {
		padding-left: 10px;
		padding-right: 10px;
	}
	.search-wrap .form-item + .form-item.zip-input {
		padding-right: 16px;
	}
}

@media only screen and (max-width: 320px) {
	.search-wrap .advanced-options .body-styles ul {
	    margin-left: -5px;
	    margin-right: -16px;
	}
	.search-wrap .advanced-options .price-range label {
	    font-size: 0.75em;
	}
	.top-section .top-section-title {
		padding: 15px;
	}
	.result-container .item-tags .tag,
	.result-container .item-tags .tag + .tag {
		margin-left: 0;
		margin-right: 0;
		font-size: 0.7em;
	}
}

@media only screen and (max-width: 767px)  and (orientation: landscape) {
	.filters-wrap .filter-row .dropdown-toggle,
	.filters-wrap .filter-row.zip-input input {
		height: 30px;
		line-height: 30px;
	}
	.filters-wrap .filter-row.zip-input .dropdown-toggle .filter-option {
		line-height: 32px;
	}
	.result-sorting .sort-by {
		padding-right: 15px;
	}

	.inner-page .filters-wrap {
		top: auto;
		bottom: 0;
	}

	.inner-page #filters-side-btn {
		top: 30%;
	}
}

@media only screen and (min-width: 992px) {
	.filters-wrap .filter-item-body,
	.filters-wrap .filters-body {
		display: block !important;
		height: inherit !important;
	}
}
