@import 'variables.scss';

.single-page .saved-search-wrap ul {
	margin-bottom: 0;
}
.saved-search-wrap {
	margin-bottom: -20px;
	ul {
		display: inline-block;
		width: 100%;
		li {
			font-size: 0.93em;
			font-family: $monserrat-font-family;
			font-weight: 400;
			width: 50%;
			float: left;
			&:nth-child(2n) {
				float: right;
				clear: right;
			}
			&:hover {
				background: $body-bg;
				cursor: pointer;
			}
			a {
				display: inline-block;
				padding: 10px;
				width: 100%;
				&:link,
				&:focus,
				&:visited,
				&:hover {
					color: #1b6fb7;
				}
				em {
					text-decoration: underline;
				}
				&:hover {
					text-decoration: none;
					em {
						text-decoration: underline;
					}
				}
			}
			span {
				color: $light-grey-color;
				font-size: 0.8em;
				display: block;
				padding-left: 15px;
			}
			em {
				font-style: normal;
			}
		} 
	}
	.drop-btn {
		text-transform: uppercase;
		font-size: 0.9em;
		margin-top: 25px;
		&:hover {
			text-decoration: none;
		}
		i {
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
			margin-right: 15px;
		}
	}
	.drop-content {
		display: none;
	}
}