@import 'variables.scss';

.search-wrap input::-webkit-input-placeholder {
  	color: $dark-blue-color;
 }
.search-wrap input::-moz-placeholder {
 	color: $dark-blue-color;
}
.search-wrap input:-ms-input-placeholder {
  	color: $dark-blue-color;
}
.search-wrap input:-moz-placeholder {
  	color: $dark-blue-color;
}

.body-styles .car {
	@include transform-scale(0.75);
	display: inline-block;
	width: 125px;
	height: 57px;
	background-image: url(../img/body-styles-sprite.png);
	background-repeat: no-repeat; 

}
.body-styles .car.suv {
	background-position: 4px 0; 
}
.body-styles .car.sedan {
	background-position: -127px 0;
}
.body-styles .car.hybrid {
	background-position: -260px 0;
}
.body-styles .car.pickup {
	background-position: -393px 0;
}
.body-styles .car.wagon {
	background-position: -525px 0;
}
.body-styles .car.minivan {
	background-position: -660px 0;
}
.body-styles .car.convertible {
	background-position: -798px 0;
}
.body-styles .car.coupe {
	background-position: -933px 0;
}

.form-elements-wrap {
	@extend .display-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 7px 4px 4px 15px;
	min-height: 55px;
	> * {
		width: 20%;
		float: left;
	}
	> .btn-form-item {
		min-width: 23%;
		padding-left: 30px;
		padding-right: 0;
		.btn {
			width: 100%;
			height: 50px;
			margin-top: -2px;
		}
	}
	> .zip-input {
		width: 17%;
	}
}


.search-wrap {
	.form-item input:not([class=btn]),
	.bootstrap-select .btn.dropdown-toggle,
	.form-item .select-title {
		@include border-radius(0); 
		padding: 0;
		height: 25px;
		line-height: 25px;
		color: #4e6777;
		text-transform: none;
		background: transparent;
		border: none;
		text-align: left;
		font-weight: 500;
		font-size: 0.90em;
	}
	.btn.disabled {
		opacity: 1;
	}
	.bootstrap-select.btn-group .dropdown-menu {
		min-height: 65px !important;
		color: #333;
		label {
			padding: 0 10px;
			text-transform: none;
		}
		input {
			float: left;
			margin-right: 5px;
			height: 14px;
		}
	}
	.bootstrap-select.btn-group .caret {
		right: 10px;
	}
	.form-item {
		& + .form-item {
			position: relative;
			padding-left: 15px;
			&.zip-input {
				/*max-width: 15%;*/
				&:before {
					display: none;
				}
			}
			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -8px;
				color: #c5cacd;
				width: 1px;
			    height: 16px;
			    background: #c5cacd;
			}
		}
		.select-title {
			position: absolute;
			left: 15px;
			top: 0;
		}
	}
}

.advanced-form {
	@include border-radius(10px);
	color: #4e6777;
	text-transform: uppercase; 
	h6 {
		font-size: 0.875em;
		color: rgba($dark-blue-color, 0.7);
		text-align: left;
		margin: 0;
	}
}
.advanced-options {
	/*padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;*/
	label {
		font-size: 0.85em;
		font-weight: 500;
		position: relative;
		&:hover {
			span {
				opacity: 0.75;
			}
		}
		input[type=checkbox] {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    z-index: 2;
		    opacity: 0;
		    cursor: pointer;
		    margin-top: 0;
		}
		.checkbox-content {
			text-align: center;
			position: relative;
			display: inline-block;
			em {
				display: block;
				font-size: 0.87em;
			}
			&:after {
				@include transform-translate(0,-50%);
				content: "\f00c";
			    font-size: 1.25em;
			    line-height: 18px;
			    position: absolute;
			    top: 50%;
			    left: 0;
			    width: 100%;
			    color: #167609;
			    opacity: 0;
			}
		}
		input:checked + .checkbox-content:after {
			opacity: 1;
		}
	}
	.price-range input:checked + .checkbox-content,
	.body-styles input:checked + .checkbox-content .car{
		opacity: 0.75;
	}
	em {
		font-style: normal;
	}
	> * {
		border-top: 1px solid #c4c9cf;
		display: inline-block;
		width: 100%;
		padding-top: 15px;
	}
	.body-styles ul {
		margin-left: -10px;
		margin-right: -30px;
		overflow: hidden;
		li {
			height: 90px;
		}
		label {
			font-weight: 600;
			.checkbox-content:after {
				top: 30%;
			}
		}
	}
	.price-range {
		padding-bottom: 10px;
		ul {
			margin-left: -67px;
			margin-right: -67px;
		}
		label {
			font-size: 0.875em;
		}
	}
	li {
		float: left;
		width: 25%;
		padding-top: 5px;
		font-weight: 600; 
	}
}

.search-wrap-new {
	.tab-pane {
		background: rgba(255, 255, 255, 0.9);
	}
	.filter-option,
	.caret {
		text-transform: uppercase;
		color: rgba($dark-blue-color, 0.7);
	}
	.form-item input:not([class=btn]),
	.makes-select .filter-option, 
	.makes-select .caret, 
	.models-select .filter-option, 
	.models-select .caret {
		color: $dark-blue-color;
	}
	.form-item input:not([class=btn]) {
		background: transparent;
		@include border-radius(10px);
		padding: 0 5px;
		border: 1px solid rgba($dark-blue-color, 0.3);
    	height: 30px;
		font-size: 0.813em 
	}

	.advanced-options {
		padding-bottom: 10px;
		> * {
		  padding-top:0;
			position: relative;
		}
		.price-range {
		  	padding-top: 0;
		  	padding-bottom: 0;
		  	z-index: 6; 
		}
		.advanced-options-head {
			position: relative;
			padding-left: 15px;
	  	h6 {
	  		padding-top:15px;
		 		padding-bottom: 10px;
	  		text-transform: capitalize;
	  	}
		}
		.caret {
			right: 10px;
		}
	}
		/*.tab-pane {
			border-radius: 10px;
		}*/
		.advanced-form {
		.btn-green {
		  	border-radius: 10px;
		  	font-size: 1em;
		}
		.body-styles:hover,
		.price-range:hover{
		    cursor: pointer;
		}
		.body-styles.disabled {
			ul {
				opacity: 0.5;
			}
		}
	}
	.drop-wrap {
	}
	.drop-content {
		display: none; 
	}
	.drop-btn {
		margin-top: 10px;
		position: absolute;
		color: #fff;
		cursor: pointer;
		font-size: 0.813em;
		text-transform: none;
	}

	.body-styles-wrap {
		position: relative;
	}
}

.select-tooltip {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 3;
	cursor: default;
	opacity: 0;
	-webkit-transition: all 0.3s; 
	transition: all 0.3s;
}
.select-tooltip.opened {
	opacity: 1;
}

.select-tooltip em {
	font-style: normal;
	line-height: 1.1;
	font-size: 0.7em;
	text-transform: none;
	color: #fff;
	background-color: $dark-blue-color;
	border-radius: 3px;
	display: inline-block;
	width: 100%;
	max-width: 150px;
	padding: 3px;
	position: relative;
}
.advanced-options .select-tooltip {
	z-index: -1;
}
.select-tooltip em:after {
	content: "";
	position: absolute;
  margin-left: -3px;
  bottom: -3px;
  left: 50%;
	border-top: 3px solid $dark-blue-color;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}
.form-elements-wrap .select-tooltip em {
	top: -40px;
}
.advanced-options .select-tooltip em {
	top: -20px;
}
/*.form-elements-wrap .select-tooltip em:after {	
	left: 50%;
}
.advanced-options .select-tooltip em:after {
	left: 10%;
}*/
.advanced-options .body-styles .select-tooltip.opened {
	z-index: 6 !important;
}
