@import 'variables.scss'; 

.single-page {
	.filters-wrap {
		.title {
			padding-top: 0;
			padding-bottom: 0;
			h5 {
				float: none;
			}
		}
		.new-search {
			padding: 0; 
		}
	} 
	.article {
		p,
		ul {
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.why-buy-article-banner {
		text-align: center;
		img {
			max-width: 100%;
		}
	}

	.right-sidebar {
		.links-wrap {
			+ .filters-wrap {
				margin-top: 30px;
			}
		} 
	}
}