@import 'variables.scss'; 

#content.sitemap-content {
	h2 {
		text-align: left;
		a {
			color: inherit;
			&:hover {
				text-decoration: none;
				cursor: inherit;
			}
		} 
	}
	h3 {
		font-size: 1em;
	}
	span {
		font-size: 0.9em;
	}
	.sitemap-item {
		border-bottom: 1px solid #d2d2d2;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	 ul {
	 	margin-top: -10px;
	 }
}