@import 'colors.scss';

@mixin transform-translate($x,$y) {
	-webkit-transform: translate($x, $y);
	 -moz-transform: translate($x, $y);
	  -ms-transform: translate($x, $y);
	      transform: translate($x, $y);
}
@mixin transform-rotate ($deg) {
	-webkit-transform: rotate($deg);
	   -moz-transform: rotate($deg);
		 -o-transform: rotate($deg);
		    transform: rotate($deg);
}
@mixin transform-scale($scale) {
	-webkit-transform: scale($scale); 
	    -ms-transform: scale($scale);
	    -o-transform: scale($scale);
	       transform: scale($scale);
}
@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	   -moz-box-shadow: $shadow;
	        box-shadow: $shadow;
}
@mixin transition($transition...) {
	-webkit-transition: $transition;
       -moz-transition: $transition;
         -o-transition: $transition;  
    	    transition: $transition;
}
@mixin transition-property($property...) {
	-webkit-transition-property: $property;
       -moz-transition-property: $property;
         -o-transition-property: $property;
            transition-property: $property;
}
@mixin transition-duration($duration...) {
	-webkit-transition-property: $duration;
       -moz-transition-property: $duration;
         -o-transition-property: $duration;
    	    transition-property: $duration;
}
@mixin border-radius($radius) {
	-webkit-border-radius: ($radius);
	   -moz-border-radius: ($radius);
 	        border-radius: ($radius);
}


.font-awesome {
    font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
}
.absolute-position {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.display-flex {
	display: -webkit-box;   
	display: -moz-box;         
	display: -ms-flexbox;   
	display: -webkit-flex;     
	display: flex;
}