@import 'variables.scss'; 

.single-page {
	.article {		
		p {
			margin-bottom: 25px;
		}
		> div:not(.article-banner) {
			padding-top: 20px;
			display: inline-block;
			width: 100%;
			&.article-banner,
			&.article-banner + div {
				padding-top: 0;
			}
		}

	}
	.article-banner {
		background: none;
		padding: 0; 
		h3 {
			padding: 15px;
		}
		img {
			width: 22%;
			min-width: 22%;
		}
	}
	.qa-wrap {
		p:last-child {
			margin-bottom: 0;
		}
		strong {
			display: block;
		}
	}
}